

@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "Layouts/_Layout";
}

@section Styles
    {
    <!--page injected css-->
    @RenderSection("Styles", required: false)
}

<partial name="_Breadcrums" />

<!-- Section: About -->
<!-- Section: Divider Video -->
<section class="divider">
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</section>

@section Scripts
    {
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
    (Load Extensions only on Local File Systems !
    The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>

    <script src="~/js/modals.js"></script>

    @RenderSection("Scripts", required: false)
}
