@model FaqAddEditModel


@inherits FaqIndexModel

@{
    ViewData["Title"] = "Question List";
}





<!-- FAQ Section Start -->
<section class="request-a-call-back pdt-110 pdb-95" data-background="img/bg/6.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h5 class="sub-title-side-line text-primary-color mrt-0 mrb-15">Frequently Asked Question</h5>
                <h2 class="faq-title mrb-30">Have Any Questions?</h2>
                <p class="mrb-40">Distinctively exploit revolutionary catalysts for chang the Seamlessly optimal rather than just in web & apps development optimal alignments for intuitive.</p>
                <a asp-page="/Contact" class="cs-btn-one btn-gradient-color btn-md mrb-lg-60">More Question?</a>
            </div>

            @if (Model.All.Any())
            {
                foreach (var item in Model.All)
                {
                    <div class="col-lg-7">
                        <div class="faq-block">
                            <div class="accordion">
                                <div class="accordion-item">
                                    <div class="accordion-header active">
                                        <h5 class="title">@Html.DisplayFor(modelItem => item.QuestionString)</h5>
                                        <span class="fas fa-arrow-right"></span>
                                    </div>
                                    <div class="accordion-body">
                                        <p>A: Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                                    </div>
                                </div>
                                }
                                }
                                else
                                {
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <h5 class="title">Q: What is the transfer application process?</h5>
                                        <span class="fas fa-arrow-right"></span>
                                    </div>
                                    <div class="accordion-body">
                                        <p>A: Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                                    </div>
                                </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FAQ Section End -->