{{ define "main" }}
<head>
    <!-- <script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="olympiahld" ></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<section id="introduction">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="olympia-introduction">
                    <div>
                        <div class="logo-wrapper">
                            <img class="logo" style="max-height: 33vh"
                                src="img/diamond-logo.svg" alt="" />
                        </div>
                        <h1>Olympia</h1>
                        <p>
                            Designed for the team, <strong>Olympia</strong>
                            is a team
                            engagement platform the leverages gamification
                            to increase team
                            member performance, recognition and engagement.
                        </p>
                        <p class="text-center d-none">
                            <a
                                href='https://play.google.com/store/apps/details?id=com.olympiahld.v1'>
                                <img style="height: 46px"
                                    alt='Get it on Google Play'
                                    src="img/play-store.png" />
                            </a> <img style="height: 46px; cursor: not-allowed;"
                                src="img/app-store.svg" class=""
                                title="Coming Soon ..." />
                        </p>
                    </div>
                    <a class="next-section-btn d-block d-md-none"
                        href="#video-introduction"><i
                            class="fa fa-chevron-down"></i></a>
                </div>
            </div>
            <div class="col-md-6">
                <div id="video-introduction">
                    <div>
                        <div class="video-wrapper">
                            <div
                                class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/ESdc4ruF07c"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <a class="next-section-btn d-block d-md-none"
                        href="#benefits"><i class="fa fa-chevron-down"></i></a>
                </div>
            </div>
        </div>
    </div>
    <a class="next-section-btn d-none d-md-block" href="#benefits"><i
            class="fa fa-chevron-down"></i></a>
</section>
<section id="benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="company-benefits">
                    <div>
                        <div class="logo">
                            <i class="fa fa-bank"></i>
                        </div>
                        <h3>Company Benefits</h3>
                        <div class="mini-logo-wrapper">
                            <span class="mini-logo bg-success text-white"><i
                                    class="fa fa-line-chart"></i></span>
                        </div>
                        <h5>Improved Revenue</h5>
                        <div class="mini-logo-wrapper">
                            <span class="mini-logo bg-success text-white"><i
                                    class="fa fa-user-plus"></i></span>
                        </div>
                        <h5>Longer Employee Retention</h5>
                        <div class="mini-logo-wrapper">
                            <span class="mini-logo bg-success text-white"><i
                                    class="fa fa-shopping-basket"></i></span>
                        </div>
                        <h5>More Satisfied Customers</h5>
                    </div>
                    <a class="next-section-btn d-block d-md-none"
                        href="#team-benefits"><i
                            class="fa fa-chevron-down"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div id="team-benefits">
                    <div>
                        <div class="logo">
                            <i class="fa fa-users"></i>
                        </div>
                        <h3>Team Benefits</h3>
                        <div class="mini-logo-wrapper">
                            <span class="mini-logo bg-success text-white"><i
                                    class="fa fa-handshake-o"></i></span>
                        </div>
                        <h5>Improved Collaboration</h5>
                        <div class="mini-logo-wrapper">
                            <span class="mini-logo bg-success text-white"><i
                                    class="fa fa-graduation-cap"></i></span>
                        </div>
                        <h5>Encourage Mentorship</h5>
                        <div class="mini-logo-wrapper">
                            <span class="mini-logo bg-success text-white"><i
                                    class="fa fa-thumbs-o-up"></i></span>
                        </div>
                        <h5>Better Team Spirit</h5>
                    </div>
                    <a class="next-section-btn d-block d-md-none"
                        href="#employee-benefits"><i
                            class="fa fa-chevron-down"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div id="employee-benefits">
                    <div>
                        <div class="logo">
                            <i class="fa fa-user"></i>
                        </div>
                        <h3>Employee Benefits</h3>
                        <div class="mini-logo-wrapper">
                            <span class="mini-logo bg-success text-white"><i
                                    class="fa fa-key"></i></span>
                        </div>
                        <h5>More Engaged</h5>
                        <div class="mini-logo-wrapper">
                            <span class="mini-logo bg-success text-white"><i
                                    class="fa fa-flag"></i></span>
                        </div>
                        <h5>Highly Motivated</h5>
                        <div class="mini-logo-wrapper">
                            <span class="mini-logo bg-success text-white"><i
                                    class="fa fa-futbol-o"></i></span>
                        </div>
                        <h5>Goal Orientated</h5>
                    </div>
                    <a class="next-section-btn d-block d-md-none"
                        href="#leaderboards"><i
                            class="fa fa-chevron-down"></i></a>
                </div>
            </div>
        </div>
    </div>
    <a class="next-section-btn d-none d-md-block" href="#leaderboards"><i
            class="fa fa-chevron-down"></i></a>
</section>
<section id="leaderboards">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="description">
                    <article>
                        <h2>Leaderboards</h2>
                        <p>Leaderboards correlates with your company visions
                            and
                            goals, and makes them highly visible, attainable
                            and also to
                            regularly confirm them.</p>
                        <p style="color: #888">
                            <i class="fa fa-eye"></i> Vision &bull; <i
                                class="fa fa-futbol-o"></i> Goals &bull; <i
                                class="fa fa-sun-o"></i>
                            Daily, Weekly and
                            All Time Rankings
                        </p>
                        <h3>Milestones</h3>
                        <p>Celebrate long term and short term achievements
                            with
                            milestones, you can choose to use the popular
                            Bronze, Silver and
                            Gold milestones, or create your own custom
                            milestones.
                        <p style="color: #888">
                            <i class="fa fa-paint-brush"></i> Custom
                            Colours &bull; <i class="fa fa-archive"></i>
                            Predefined Bouquets
                        </p>
                        <h3>Ad Hoc Points</h3>
                        <p>Recognise long term loyalty, exceptional
                            performances and
                            other achievements.</p>
                        <p style="color: #888">
                            <i class="fa fa-history"></i> Explicit
                            History of Changes
                        </p>
                    </article>
                </div>
            </div>
            <div class="col-md-6">
                <div class="visualization">
                    <div>
                        <div class="track-lables">
                            <div>Start</div>
                            <div>Bronze</div>
                            <div>Silver</div>
                            <div>Gold</div>
                        </div>
                        <div class="track">
                            <div class="lane lane-1">
                                <span class="user user-1"><img
                                        src="../img/user-1.png" /></span>
                            </div>
                            <div class="lane lane-2">
                                <span class="user user-2"><img
                                        src="../img/user-2.png" /></span>
                            </div>
                            <div class="lane lane-3">
                                <span class="user user-3"><img
                                        src="../img/user-3.png" /></span>
                            </div>
                            <div class="lane lane-4">
                                <span class="user user-4"><img
                                        src="../img/user-4.png" /></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="next-section-btn d-none d-md-block" href="#activities"><i
            class="fa fa-chevron-down"></i></a>
</section>
<section id="activities">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <div class="description">
                    <article>
                        <h2>Activities</h2>
                        <p>
                            Users earn <a href="#leaderboards">Leaderboard</a>
                            points
                            by
                            completing their activities.
                        </p>
                        <p style="color: #888">
                            <i class="fa fa-eye"></i> Real Time Leaderboard
                            Points &bull; <i class="fa fa-futbol-o"></i>
                            Long Term Archives for Referencing
                        </p>
                        <h3>Once-off Activities</h3>
                        <p>Once-off activities are ideal for employees who
                            are not
                            involved in repetitive tasks, for example those
                            employees
                            working on projects.</p>
                        <h3>Recurring Activities</h3>
                        <p>Recurring activities makes it easy for users to
                            earn points
                            who might be involved with repetitive tasks and
                            is also a nice
                            way to change old habits.</p>
                        <p style="color: #888">
                            <i class="fa fa-repeat"></i> Daily, Weekly, On
                            Demand, Birthday,
                            Anniversary and Onboarding Activities
                        </p>
                        <h3>Workflows</h3>
                        <p>
                            Olympia supports from simple <em>Todo Done</em>
                            workflows to
                            more complex workflows that includes multiples
                            stages, manager
                            or peer checks and/or form attachments.
                        </p>
                        <p style="color: #888">
                            <i class="fa fa-ellipsis-h"></i> Multiple Stages
                            &bull; <i class="fa fa-check-circle"></i>
                            Manager Checks &bull; <i
                                class="fa fa-file-text-o"></i>
                            Attach Forms
                        </p>
                    </article>
                </div>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="visualization">
                    <div class="activity activity-1">
                        <div class="user user-1">
                            <img src="../img/user-1.png" />
                        </div>
                        <div class="details">
                            <div class="row-1">
                                <span></span><span></span>
                            </div>
                            <div class="row-2">
                                <span></span><span></span>
                            </div>
                            <div class="progress">
                                <div
                                    class="progress-bar progress-bar-animated progress-bar-striped">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="activity activity-2">
                        <div class="user user-2">
                            <img src="../img/user-2.png" />
                        </div>
                        <div class="details">
                            <div class="row-1">
                                <span></span><span></span>
                            </div>
                            <div class="row-2">
                                <span></span><span></span>
                            </div>
                            <div class="progress">
                                <div
                                    class="progress-bar progress-bar-animated progress-bar-striped">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="activity activity-3">
                        <div class="user user-3">
                            <img src="../img/user-3.png" />
                        </div>
                        <div class="details">
                            <div class="row-1">
                                <span></span><span></span>
                            </div>
                            <div class="row-2">
                                <span></span><span></span>
                            </div>
                            <div class="progress">
                                <div
                                    class="progress-bar progress-bar-animated progress-bar-striped">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="activity activity-4">
                        <div class="user user-4">
                            <img src="../img/user-4.png" />
                        </div>
                        <div class="details">
                            <div class="row-1">
                                <span></span><span></span>
                            </div>
                            <div class="row-2">
                                <span></span><span></span>
                            </div>
                            <div class="progress">
                                <div
                                    class="progress-bar progress-bar-animated progress-bar-striped">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="next-section-btn d-none d-md-block" href="#pricing"><i
            class="fa fa-chevron-down"></i></a>
</section>
<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="description">
                    <article>
                        <table class="table" id="table">
                            <thead>
                              <tr>
                                <th scope="col">What we have to offer!</th>
                                <th scope="col">Monthly</th>
                                <th scope="col">Annually<p style="font-size: small;margin:0;" class="text-danger">(Discounted)</p></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Olympia Performance and Engagement Platform</th>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                              </tr>
                              <tr>
                                <th scope="row">Leaderboards*</th>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                              </tr>
                              <tr>
                                <th scope="row">Billboard</th>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                              </tr>
                              <tr>
                                <th scope="row">Colleagues</th>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                              </tr>
                              <tr>
                                <th scope="row">Teams</th>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                              </tr>
                              <tr>
                                <th scope="row">Organogram</th>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                              </tr>
                              <tr>
                                <th scope="row">Activities</th>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                              </tr>
                              <tr>
                                <th scope="row">Workflow</th>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                              </tr>
                              <tr>
                                <th scope="row">Forms</th>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                              </tr>
                              <tr>
                                <th scope="row">Media</th>
                                <td ><img alt="correct check" src="/img/check.svg"></td>
                                <td ><img alt="correct check" src="/img/check.svg"></td>
                              </tr>
                              <tr>
                                <th scope="row">Time & Attendance</th>
                                <td ><img alt="correct check" src="/img/check.svg"></td>
                                <td ><img alt="correct check" src="/img/check.svg"></td>
                              </tr>
                              <tr>
                                <th scope="row">Social & News</th>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                              </tr>
                              <tr>
                                <th scope="row">Olympia Online Academy**</th>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                                <td><img alt="correct check" src="/img/check.svg"></td>
                              </tr>
                            </tbody>
                          </table>
                          <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: small;">*Maximum of 50 leaderboards </p>
                          <a href="#contact-us"> <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: small;color:black;text-decoration: underline;">**Contact Us</p></a>
                    </article>
                </div>
            </div>
            <div class="col-md-6">
                <div class="plans">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="card shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">Monthly
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <h1
                                            class="card-title pricing-card-title text-danger">
                                            $9.99
                                        </h1>
                                        <p> / user / month</p>
                                        
                                        <p><strong>Free trial for 14 days!</p></strong>
                                        <a type="button"
                                            class="btn btn-lg btn-block btn-primary"
                                            href="#sign-up" id="monthButton">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">Annually
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <h1
                                            class="card-title pricing-card-title text-danger">
                                            $107.88
                                        </h1>
                                        <p> / user / year</p>
                                        <p><strong>Free trial for 14 days!</p></strong>
                                            <a type="button"
                                            class="btn btn-lg btn-block btn-primary"
                                            href="#sign-up" id="yearButton">Sign Up</a>
                                    </div>
                                    <div class="save">SAVE 10%</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                 <div class="card shadow-sm">
                                     <div class="card-header">
                                       <h4 class="my-0 font-weight-normal">Estimate
                                        </h4>
                                     </div>
                                 <div class="card-body">
                                     <div class="dropdown">
                                         <p> Select your plan</p>
                                           <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#007bff;">
                                            <span id="estimatePlan">
                                              Plan
                                            </span>
                                            </button>
                                             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" onclick="setEstimateMonth()" id="estimateMonth">Monthly</a>
                                            <a class="dropdown-item" onclick="setEstimateYear()" id="estimateYear">Annually</a>
                                       </div>
                                 </div>
                                        <p>Amount of users</p>
                                        <input type=number style="max-width:90px; margin-bottom:10px;" id="estimateUsers">
                                        <p><strong>Estimate cost :  <span id="estimateAmount" class="text-danger"></span></strong> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="next-section-btn d-none d-md-block" href="#sign-up"><i
            class="fa fa-chevron-down"></i></a>
</section>
<section id="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="description">
                    <article>
                        <h2>Sign Up</h2>
                        <ul class="list-group">
                            <li class="list-group-item"><i
                                    class="fa fa-fw fa-music"></i> All Plans
                                Include a 14 Day Free Trial
                            </li>
                            <li class="list-group-item"><i
                                    class="fa fa-fw fa-credit-card"></i> You
                                Don't Need a Credit Card
                            </li>
                            <li class="list-group-item"><i
                                    class="fa fa-fw fa-fighter-jet"></i> Your
                                Server Will Be Ready In Minutes
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
            <div class="col-md-6">
                <div class="registration">
                    <form>
                        <div class="form-group">
                            <label id="instanceNameLabel"
                                for="instanceName"><span
                                    class="badge badge-warning">1</span>
                                Select your Olympia team URL</label>
                            <div class="input-group">
                                <div class="input-group-addon">https://
                                </div>
                                <input type="text" class="form-control"
                                    id="instanceName"
                                    aria-describedby="instanceNameHelp"
                                    placeholder="your-olympia-team-url" />
                                <div class="input-group-addon">.olympia.team
                                </div>
                            </div>
                            <p id="instanceNameHelp"
                                class="form-text text-muted">Tip: make it
                                memorable if
                                possible.</p>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label id="emailAddressLabel"
                                for="emailAddress"><span
                                    class="badge badge-warning">2</span>
                                Enter your administrator details</label> 
                                <div class="d-flex justify-content-around row" style="margin-bottom:20px;margin-left:auto;margin-right:auto;">								
                                    <div class="col-md-4" style="margin-bottom:5px;">
                                    <input
                                    type="text" class="form-control"
                                    id="firstName"
                                    aria-describedby="nameAddressHelp"
                                    placeholder="First Name"
                                    />
                                    </div>
                                    <div class="col-md-4">
                                    <input
                                    type="text" class="form-control"
                                    id="lastName"
                                    aria-describedby="nameAddressHelp"
                                    placeholder="Last Name" 
                                    />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control"
                                        id="username" placeholder="Username"
                                        />  
                                 </div>
                                </div>
                                <div class="d-flex justify-content-around row" style="margin-left:auto;margin-right:auto;margin-bottom:5px;">	
                                    <div class="col-md-6" style="margin-bottom:5px;">
                                        <input type="email" class="form-control"
                                        id="emailAddress"
                                        aria-describedby="emailAddressHelp"
                                        placeholder="Email address"
                                        />  
                                    </div>
                                    <div class="col-md-6" style="margin-bottom:5px;">
                                        <input type="password" 
                                        class="form-control"
                                        id="password1"
                                        placeholder="Password" 
                                        />
                                        <p id="passwordTip"class="form-text text-muted" style="font-size:small"></p>
                                        </div>
                                </div>
                                <p id="emailAddressHelp"
                                class="form-text text-muted">We'll never
                                share your email
                                address with anyone else.
                            
                           </div>
                        <hr />
                        <div>
                            <label id="reserveInstanceBtnLabel"
                                for="reserveInstanceBtn"><span
                                    class="badge badge-warning">3</span>
                                Click the
                                button</label>
                                <div class="d-flex" >
                                    <input type="checkbox" id="privacyandterms" style="zoom:1.5; vertical-align: middle;margin-right:5px" >
                                    <label for="privacyandterms" style="vertical-align: middle;"> Agree to the <a href="/terms"><strong>Terms and Conditions </strong></a> and <a href="/privacy"><strong>Privacy Policy </strong></a></label><br>
                                </div>
                                <div id="defaultLink">
                                    <button id="reserveInstanceBtnDefault"  
                                    class="btn btn-warning btn-block" type="button"
                                    disabled="disabled" >
                                    <i class="fa fa-envelope"></i> Send pin for activation
                                    </button>
                                </div>  
                            <p id="reserveInstanceBtnHelp"
                                class="form-text text-muted"></p>
                        </div>                        
                          <hr />
                        <div>
                            <label id="checkYourEmailLabel"><span
                                    class="badge badge-warning">4</span>
                                Check your email</label>
                            <p id="checkYourEmailHelp"
                                class="form-text text-muted">
                                We send all of our emails from
                                <strong>no-reply@olympia.team</strong>, if you
                                use Gmail you might find our activation email
                                lying under <strong>Promotions</strong> or
                                <strong>Updates</strong>, other times you might
                                have to check your spam folder.
                            </p>
                        </div>
                        <hr />
                        <div>
                            <label id="checkYourEmailLabel"><span
                                    class="badge badge-warning">5</span>
                               Paste your pin</label>
                        <div class="row" style="justify-content: center;" id="pincode">
                            <input type="text" maxlength=1 style="width:20px; margin-left:15px; margin-right:15px;" id="pin1">
                            -
                            <input type="text" maxlength=1 style="width:20px; margin-left:15px; margin-right:15px;" id="pin2">
                            -
                            <input type="text" maxlength=1 style="width:20px;  margin-left:15px; margin-right:15px;" id="pin3">
                            -
                            <input type="text" maxlength=1 style="width:20px ;  margin-left:15px; margin-right:15px;" id="pin4">
                            -
                            <input type="text" maxlength=1 style="width:20px ;  margin-left:15px; margin-right:15px;" id="pin5">
                            -
                            <input type="text" maxlength=1 style="width:20px ;  margin-left:15px; margin-right:15px;" id="pin6">
                        </div>
                          <br>
                          <div style="justify-content: center;text-align: center;" >
                            <div class="spinner-border" role="status" id="loader">
                              </div>
                                <div id="successText">
                                </div>
                          </div>
                          <div class="progress" id="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" id="progressBar"
                            aria-valuemin="0" aria-valuemax="100" style="width:0%;" >
                              0%
                            </div>
                            
                          </div>
                          <div class="progress" id="failBar">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">FAILED</div>
                          </div>
                        </div>
                        <div class="coming-soon">EASY PEASY!</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <img class="cloud cloud-1" src="../img/cloudy.svg" /> <img
        class="cloud cloud-2" src="../img/cloudy.svg" /> <img
        class="cloud cloud-3" src="../img/cloudy.svg" /> <img
        class="cloud cloud-4" src="../img/cloudy.svg" /> <a
        class="next-section-btn d-none d-md-block" href="#press"><i
        class="fa fa-chevron-down"></i></a>
</section>
<section id="press">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h2>Hot Off the Press</h2>
                <hr>
            </div>
            <div class="w-100"></div>
        {{ range where $.Site.RegularPages ".Params.tag" "!=" "legal" }}
            <div class="col-md-4">
                <div class="card">
                    {{ $img := index (.Resources.ByType "image") 0 }}
                    {{ if $img }}
                    <img src="{{ $img.RelPermalink }}" class="card-img-top">
                    {{ end }}
                    <div class="card-body">
                        <h5 class="card-title">{{ .Title }}</h5>
                        <p>{{ .Description }}</p>
                        <a class="btn btn-primary btn-block"
                            href="{{ .RelPermalink }}">More</a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<section id="contact-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 text-center">
                <div class="video-wrapper">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.327291462064!2d18.62342955135751!3d-33.85545512570387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc57517431becf%3A0xb602e69f03fc6860!2s99+Jip+De+Jager+Dr%2C+De+Bron%2C+Cape+Town%2C+7530!5e0!3m2!1sen!2sza!4v1523022461478"
                            frameborder="0" style="border: 0"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-1">
                <div class="p-5">
                    <h2 class="display-4">Contact Us</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="width: 1%"><i
                                        class="fa fa-phone"></i></td>
                                <td><a href="tel:0027730082739">+27 73 008
                                        2739</a></td>
                            </tr>
                            <tr>
                                <td style="width: 1%"><i
                                        class="fa fa-envelope"></i></td>
                                <td><a
                                        href="email:info@olympiahld.com">info@olympiahld.com</a>
                                    &bull; <a
                                        href="email:support@olympiahld.com">support@olympiahld.com</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 1%"><i
                                        class="fa fa-map-marker"></i></td>
                                <td>Olympia Holdings<br />The Vineyards
                                    Office Estate<br />
									Manor House<br />
									99
                                    Jip De Jager<br />Bellville<br />Cape
                                    Town<br />7530<br />South
                                    Africa
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}