<section class="banner-section">
    <div class="home-carousel owl-theme owl-carousel">
        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide2.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Make a Good Plan & <br> Grow Your Business</h1>
                            <p>We have almost 35+ years of experience for <br>providing consulting services solutions</p>
                            <div class="btn-box">
                                <a href="#" class="cs-btn-one btn-gradient-color">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide1.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Make a Good Plan & <br> Grow Your Business</h1>
                            <p>We have almost 35+ years of experience for <br>providing consulting services solutions</p>
                            <div class="btn-box">
                                <a href="#" class="cs-btn-one btn-gradient-color">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide3.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Make a Good Plan & <br> Grow Your Business</h1>
                            <p>We have almost 35+ years of experience for <br>providing consulting services solutions</p>
                            <div class="btn-box">
                                <a href="#" class="cs-btn-one btn-gradient-color">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>