<div class="header-bottom">
    <div class="container">
        <div class="row">
            <div class="sidebar-menu col-md-3 col-sm-6 col-xs-12  ">
                @await Component.InvokeAsync("SidebarShopCategoryMenu")
            </div>
            <div class="megamenu-hori header-bottom-right col-md-9 col-sm-6 col-xs-12 ">
                <partial name="Menus/_MainMenu" />
            </div>
        </div>
    </div>
</div>