<section id="mainslider" class="light_section">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="~/images/sliders/mainSlide01.jpg" alt="">
                <div class="slide_description_wrapper right text-right">
                    <div class="slide_description">
                        <p data-animation="fadeInLeft">Enviro Metsi</p>

                        <h4 data-animation="fadeInLeft">Celebrating 25 years</h4>

                        <h4 data-animation="fadeInLeft">of commitment to helping you</h4>
                        <h4 data-animation="fadeInLeft">protect our <span class="highlight"> most</span> precious resource</h4>
                        <p class="text-right"><a class="theme_button" asp-area="Services" asp-controller="Home" asp-action="Index">All Services</a></p>

                    </div>
                </div> 
            </li>
            <li>
                <img src="~/images/sliders/mainSlide02.jpg" alt="">
                <div class="slide_description_wrapper right text-right">
                    <div class="slide_description">
                        <div data-animation="fadeInRight">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/5Isz-xJT6gY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="slide_description_wrapper">
                    <div class="slide_description">
                        <p data-animation="fadeInLeft">Water sustains Life</p>

                        <h4 data-animation="fadeInLeft">Your Water & Wastewater</h4>

                        <h4 data-animation="fadeInLeft"><span class="highlight">Process Control Specialists</span></h4>

                        <p><a class="theme_button" asp-area="Services" asp-controller="Home" asp-action="Index">All Services</a></p>

                    </div>
                </div>
            </li>
               
                
        </ul>
    </div>

</section>