
@model Olympia.Web.Site.Areas.Home.Views.Home.IndexModel



<section class="banner-section" style="margin-bottom: 100px;">

    <div class="home-carousel  owl-carousel">
        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide1.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Software <br> Development</h1>
                            <p>Turn-key solutions for every need</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide2.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Continous Performance <br> Management</h1>
                            <p>Ensure your software and apps are working as intended</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide3.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Performance Management <br>Sytems</h1>
                            <p>Get your software working optimally in the least amount of time</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide4.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Digital Project  <br> Management</h1>
                            <p>Benefit from our expert knowledge and project management skills</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide5.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Discover our Signature <br>Employee Engagement Tool</h1>
                            <p>Improve performance and engage your team with this turn-key tool</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


<div style="display: flex; justify-content: center; position: relative; -ms-transform: translateY(-50%); transform: translateY(-50%);bottom:70px;">

    <input class="btn btn-primary " type="button" id="btnpopu" value="Change Word" onclick="ShowPopup();" style="margin:10px;" />
    <input class="btn btn-primary " type="button" id="btnpopu" value="Upload Picture" onclick="ShowPopup();" style="margin:10px;" />
    <input class="btn btn-danger " type="button" id="btnpopu" value="Cancel" onclick="ShowPopup();" style="margin:10px;" />
    <input class="btn btn-primary " type="button" id="btnpopu" value="Submit" onclick="ShowPopup();" style="margin:10px;" />

</div>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-xl-6">
                <div class="about-image-block mrb-lg-60">
                    <img class="img-full" src="/images/content/AboutUsImage.png" alt="About Olympia Holdings">
                </div>
            </div>
            <div class="col-md-12 col-xl-6">
                <h2 class="title-under-line mrb-70">Software development, testing <span class="f-weight-400"> and implementation</span></h2>
                <h5 class="mrb-30 text-primary-color">for companies who are serious about getting things right first time</h5>
                <p class="mrb-40">If you’re looking for a team that’s innovative, has extensive knowledge and thinks outside the box, you’ve come to the right place. We offer turn-key software development solutions and leading products that are designed to help your business succeed.</p>
                <a class="cs-btn-one btn-gradient-color btn-lg">Read More</a>
            </div>
        </div>
    </div>
    
</section>

<div style="display: flex; justify-content: center; position: relative; -ms-transform: translateY(-50%); transform: translateY(-50%);top:50px;">

    <input class="btn btn-primary " type="button" id="btnpopu" value="Change Word" onclick="ShowPopup();" style="margin:10px;" />
    <input class="btn btn-primary " type="button" id="btnpopu" value="Upload Picture" onclick="ShowPopup();" style="margin:10px;" />
    <input class="btn btn-danger " type="button" id="btnpopu" value="Cancel" onclick="ShowPopup();" style="margin:10px;" />
    <input class="btn btn-primary " type="button" id="btnpopu" value="Submit" onclick="ShowPopup();" style="margin:10px;" />

</div>


<br />
<br />




<!-- Feature Section Start -->
<section class="feature-section pdt-110 pdb-130 bg-silver-light bg-no-repeat" style="margin-top: -40px;" data-background="/images/bg/abs-bg5.png">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="feature-box mrb-lg-60">
                    <div class="feature-thumb">
                        <img class="img-full" src="/images/content/featured/AboutOlympia1.jpg" alt=" features">
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Olympia</h3>
                        </div>
                        <div class="para">
                            <p>Leading the way in digital innovation with turn-key products and services.</p>
                        </div>
                        <div class="link">
                            <a><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="feature-box mrb-lg-60">
                    <div class="feature-thumb">
                        <img class="img-full" src="/images/content/featured/AboutOlympia2.jpg" alt="feature-thumb">
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Olympia Digital</h3>
                        </div>
                        <div class="para">
                            <p>Software development, performance testing and implementation.</p>
                        </div>
                        <div class="link">
                            <a><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="feature-box">
                    <div class="feature-thumb">
                        <img class="img-full" src="/images/content/featured/AboutOlympia3.jpg" alt="">
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Olympia Engage</h3>
                        </div>
                        <div class="para">
                            <p>Our signature software. A cutting-edge employee engagement platform.</p>
                        </div>
                        <div class="link">
                            <a><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group" style="display: flex; justify-content: center; position: relative; -ms-transform: translateY(-50%); transform: translateY(-50%);top:50px;">

        <input class="btn btn-primary" name="main" type="submit" value="Change Word" style="margin:10px;" />
        <input class="btn btn-primary" name="finnish" type="submit" value="Upload Picture" style="margin:10px;" />
        <button class="btn btn-danger" style="margin:10px;">Cancel</button>
        <input class="btn btn-primary" name="finnish" type="submit" value="Submit" style="margin:10px;" />
    </div>
</section>
<!-- Feature Section End -->
<!-- Service Section Start -->
<section data-background="/images/bg/abs-bg7.png">
    <div class="section-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title-left-part mrb-sm-30">
                        <div class="section-left-sub-title mb-20">
                            <h5 class="sub-title text-primary-color">Software Development and Customisation</h5>
                        </div>
                        <h2 class="title">Olympia Digital</h2>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-6">
                    <div class="section-title-right-part">
                        <p>No matter what software application you need, we have the skills to design and develop the tools you need.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-benchmark"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a><h3>Website Development</h3></a>
                            </div>
                            <div class="para" style="font-size:13px">
                                <p>When it comes to developing advanced,database driven web applications we have the skills required to create a solution that is secure and functions perfectly.   </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-growth"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a>
                                    <h3>Performance Testing</h3>
                                </a>
                            </div>
                            <div class="para" style="font-size:13px">
                                <p>Ensuring your software is stable and works as intended is critical. We run diagnostic and performance tests to make sure everything functions as it should.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-meeting"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a>
                                    <h3>Project Architecture</h3>
                                </a>
                            </div>
                            <div class="para" style="font-size:13px">
                                <p>We help you develop a detailed development and software solutions plan that meets your business or individual requirements.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-plan"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a>
                                    <h3>Project Management</h3>
                                </a>
                            </div>
                            <div class="para">
                                <p>We work with your resources and ours to manage your development project from start to finish..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" style="display: flex; justify-content: center; position: relative; -ms-transform: translateY(-50%); transform: translateY(-50%);top:30px;">

        <input class="btn btn-primary" name="main" type="submit" value="Change Word" style="margin:10px;" />
        <input class="btn btn-primary" name="finnish" type="submit" value="Upload Picture" style="margin:10px;" />
        <button class="btn btn-danger" style="margin:10px;">Cancel</button>
        <input class="btn btn-primary" name="finnish" type="submit" value="Submit" style="margin:10px;" />
    </div>
</section>

<!-- Testimonials Section Start   data-background="/images/bg/abs-bg7.png" -->
<section class="request-a-call-back pdt-80 pdb-110 pdb-lg-70">
    <div class="section-title text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8">
                    <div class="title-box-center">
                        <h5 class="shadow-text">Studies</h5>
                        <h2 class="sub-title-center text-primary-color line-top-center mrb-30">Case Studies</h2>
                        <!--<h2 class="title">What People and Clients Think About Us?</h2>-->
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="owl-carousel testimonial-items-2col mrb-lg-40">
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>

                        <h6 class="client-designation">RTT</h6>
                        <div class="testimonial-content">
                            <img src="~/images/casestudies/casestudies (1).jpg" />
                            <p class="comments">
                                The RTT Group is a leading logistics company specialising in multiple distribution strategies The group employs over 6000 personnel in South
                                Africa and internationally which is made up
                                of executive, senior and middle management,
                                supervisory staff and a large compliment of blue
                                collar workers
                            </p>

                        </div>
                        <a class="cs-btn-one btn-gradient-color btn-lg" href="/RTT Case Study_March 2021.pdf" target="_blank">Case Studies</a>
                    </div>
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>


                        <h6 class="client-designation">SQIM</h6>
                        <div class="testimonial-content">
                            <img src="/images/casestudies/casestudies (2).jpg" />
                            <p class="comments">
                                SQIM is a Technology Consulting company
                                specialising in application integrations for blue
                                chip companies across the banking, retail and
                                insurance industries in South Africa.
                                With a 20 year history, SQIM remains a leading
                                technology consulting company.

                            </p>

                        </div>
                        <a class="cs-btn-one btn-gradient-color btn-lg" href="/Sqim Case Study_April 2021.pdf" target="_blank">Case Studies</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="form-group" style="display: flex; justify-content: center; position: relative; -ms-transform: translateY(-50%); transform: translateY(-50%);top:70px;">

        <input class="btn btn-primary" name="main" type="submit" value="Change Word" style="margin:10px;" />
        <input class="btn btn-primary" name="finnish" type="submit" value="Upload Picture" style="margin:10px;" />
        <button class="btn btn-danger" style="margin:10px;">Cancel</button>
        <input class="btn btn-primary" name="finnish" type="submit" value="Submit" style="margin:10px;" />
    </div>
</section>



<script type="text/javascript">
    ShowPopup = function () {
        window.open('/Home/OpenPopup', "PopupWindow", 'width=400px,height=400px,top=150,left=250');
    }
</script>

<!-- Testimonials Section End -->
@*For Edit model*@

<!-- Service Section End -->
<!--<section class="about-section anim-object pdt-110 pdb-50 pdb-lg-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-xl-6">
                <div class="about-image-block mrb-lg-60">
                    <img class="img-full" src="/images/content/AboutUsImage.png" alt="About Olympia Holdings">
                </div>
            </div>
            <div class="col-md-12 col-xl-6">
                <h2 class="title-under-line mrb-70">Software development, testing <span class="f-weight-400"> and implementation</span></h2>
                <h5 class="mrb-30 text-primary-color">for companies who are serious about getting things right first time</h5>
                <p class="mrb-40">If you’re looking for a team that’s innovative, has extensive knowledge and thinks outside the box, you’ve come to the right place. We offer turn-key software development solutions and leading products that are designed to help your business succeed.</p>
                <!-- <div class="signature mrb-30"><img src="https://envato-shoebox-0.imgix.net/1697/800b-9910-4126-8a45-5ee7b772303a/DSC_2133.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=800&s=74f4f7de4cbdc5486db7f5e403e552a1" alt="Signature"></div>
                -->
<!--<a class="cs-btn-one btn-gradient-color btn-lg" asp-page="/Engage">Read More</a>
            </div>
        </div>
    </div>


</section>-->
@* Picture Editing Section *@
<!--<section class="section-title text-center">
    <div class="section-title text-center">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8 col-xl-6">
                    <div class="section-title-block">
                        <h5 class="text-primary-color anim-box-objects line-both-side mrb-15">Home</h5>

                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>-->
@* Picture editing  *@
<!--<table class="table">

            <thead>
                <tr>
                    <th>
                        First Picture
                    </th>
                    <th>
                        Second Picture
                    </th>
                    <th>
                        Third Picture
                    </th>
                    <th>
                        Fourth Picture
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <button class="btn btn-success btn-icon btn-circle" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><i class="fa fa-plus"></i></button>
                        <a class="btn btn-success btn-icon btn-circle" style="padding-right: 10px"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-success btn-icon btn-circle"><i class="fa fa-edit"></i></a>
                        <button type="button" onclick="removeUpload()" class="btn btn-warning btn-icon btn-circle"><i class="fa fa-trash"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-success btn-icon btn-circle" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><i class="fa fa-plus"></i></button>
                        <a class="btn btn-success btn-icon btn-circle" style="padding-right: 10px"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-success btn-icon btn-circle"><i class="fa fa-edit"></i></a>
                        <button type="button" onclick="removeUpload()" class="btn btn-warning btn-icon btn-circle"><i class="fa fa-trash"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-success btn-icon btn-circle" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><i class="fa fa-plus"></i></button>
                        <a class="btn btn-success btn-icon btn-circle" style="padding-right: 10px"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-success btn-icon btn-circle"><i class="fa fa-edit"></i></a>
                        <button type="button" onclick="removeUpload()" class="btn btn-warning btn-icon btn-circle"><i class="fa fa-trash"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-success btn-icon btn-circle" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><i class="fa fa-plus"></i></button>
                        <a class="btn btn-success btn-icon btn-circle" style="padding-right: 10px"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-success btn-icon btn-circle"><i class="fa fa-edit"></i></a>
                        <button type="button" onclick="removeUpload()" class="btn btn-warning btn-icon btn-circle"><i class="fa fa-trash"></i></button>
                    </td>

                    <td>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>
</section>


<br />
<br />

<div class="section-title text-center">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-8 col-xl-6">
                <div class="section-title-block">
                    <h5 class="text-primary-color anim-box-objects line-both-side mrb-15">Edit Picture Headres</h5>

                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>-->
@* Picture header Setting *@
<!--<sectiion>

    <div class="section-title text-center">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        First Picture Header Words
                    </th>
                    <th>
                        Second Picture Header Words
                    </th>
                    <th>
                        Third Picture Header Words
                    </th>
                    <th>
                        Fourth Picture Header Words
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <textarea rows="1" placeholder="First Picture Header " class="form-control" label="Type Here"> </textarea>
                    </td>
                    <td>
                        <textarea rows="1" placeholder="Second Picture Header" class="form-control" label="Type Here"> </textarea>
                    </td>
                    <td>
                        <textarea rows="1" placeholder="Second Picture Header" class="form-control" label="Type Here"> </textarea>
                    </td>
                    <td>
                        <textarea rows="1" placeholder="Second Picture Header" class="form-control" label="Type Here"> </textarea>
                    </td>

                    <td>
                    </td>
                </tr>

            </tbody>

        </table>
    </div>
</sectiion>

<div class="form-group" style="   position: relative;text-align: center;margin-top:50px;align-content: center;display: flex;justify-content: center;position: relative;-ms-transform: translateY(-50%);transform: translateY(-50%);">
    <input class="btn btn-primary" name="finnish" type="submit" value="Submit" style="margin:10px;" />
    <input class="btn btn-primary" name="main" type="submit" value="Save" style="margin:10px;" />
    <input class="btn btn-primary" name="finnish" type="submit" value="Create" style="margin:10px;" />

    <button class="btn btn-danger" asp-area="Faqs" asp-controller="Home" asp-action="List" style="margin:10px;">Cancel</button>
</div>


<section class="about-section anim-object pdt-110 pdb-50 pdb-lg-80">-->
@* Picture Upload *@
<!--<div class="container">
        <div class="row text-center ">
            <div class="col"></div>
            <div class="col-lg-8 col-xl-6">
                <div class="section-title-block">
                    <h5 class="text-primary-color anim-box-objects line-both-side mrb-15">Second Section</h5>

                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 col-xl-6">
                <div class="about-image-block mrb-lg-60">

                    <box>
                        <h2 style="">
                            Section Picture
                        </h2>
                        <small> Add two pictures</small>
                        <label class="container">
                            Picture one
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>

                        <label class="container">
                            Picture two
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>

                        <div class="card-columns">
                            <button class="btn btn-success btn-icon btn-circle" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><i class="fa fa-plus"></i></button>
                            <a class="btn btn-success btn-icon btn-circle" style="padding-right: 10px"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-success btn-icon btn-circle"><i class="fa fa-edit"></i></a>
                            <button type="button" onclick="removeUpload()" class="btn btn-warning btn-icon btn-circle"><i class="fa fa-trash"></i></button>
                        </div>

                    </box>
                </div>
            </div>
            <div class="col-md-12 col-xl-6">

                <h2 class="title-under-line mrb-70">  <textarea style="height:60px; width:350px; border:ridge;" rows="1" placeholder="First Header"></textarea></h2>
                <h5 class="mrb-30 text-primary-color">  <textarea style="height:60px; width:150px; border:ridge;" rows="2" placeholder="Second Header"></textarea></h5>
                <p class="mrb-40">
                    <textarea rows="3" placeholder="Paragraph words" class="form-control"></textarea>

                </p>


            </div>
        </div>
    </div>

    <div class="form-group" style="   position: relative;text-align: center;margin-top:50px;align-content: center;display: flex;justify-content: center;position: relative;-ms-transform: translateY(-50%);transform: translateY(-50%);">
        <input class="btn btn-primary" name="finnish" type="submit" value="Submit" style="margin:10px;" />
        <input class="btn btn-primary" name="main" type="submit" value="Save" style="margin:10px;" />


        <button class="btn btn-danger" asp-area="Faqs" asp-controller="Home" asp-action="List" style="margin:10px;">Cancel</button>
    </div>
</section>-->
@* Third Section Heading *@-->

<!--<!-- Feature Section Start -->
<!--<section class="feature-section pdt-110 pdb-130 bg-silver-light bg-no-repeat">
    <div class="row text-center ">
        <div class="col"></div>
        <div class="col-lg-8 col-xl-6">
            <div class="section-title-block">
                <h5 class="text-primary-color anim-box-objects line-both-side mrb-15">Third Section</h5>

            </div>
        </div>
        <div class="col"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4">

                <div class="feature-box mrb-lg-60">

                    <div class="feature-thumb">
                        <div class="title">
                            <h6> Add Picture</h6>
                        </div>
                        <button class="btn btn-success btn-icon btn-circle" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><i class="fa fa-plus"></i></button>
                        <a class="btn btn-success btn-icon btn-circle" style="padding-right: 10px"><i class="fa fa-eye"></i></a>
                        <button type="button" onclick="removeUpload()" class="btn btn-warning btn-icon btn-circle"><i class="fa fa-trash"></i></button>
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Olympia</h3>
                        </div>
                        <p class="mrb-40">
                            <textarea rows="3" placeholder="Olympia Heading" class="form-control"></textarea>

                        </p>
                        <div class="link">
                            <a asp-page="/Digital"><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="feature-box mrb-lg-60">
                    <div class="feature-thumb">
                        <div class="title">
                            <h6> Add Picture</h6>
                        </div>
                        <button class="btn btn-success btn-icon btn-circle" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><i class="fa fa-plus"></i></button>
                        <a class="btn btn-success btn-icon btn-circle" style="padding-right: 10px"><i class="fa fa-eye"></i></a>
                        <button type="button" onclick="removeUpload()" class="btn btn-warning btn-icon btn-circle"><i class="fa fa-trash"></i></button>
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Olympia Digital</h3>
                        </div>
                        <p class="mrb-40">
                            <textarea rows="3" placeholder="Olympia Digital Heading" class="form-control"></textarea>

                        </p>
                        <div class="link">
                            <a asp-page="/Engage"><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="feature-box">
                    <div class="feature-thumb">
                        <div class="title">
                            <h6> Add Picture</h6>
                        </div>
                        <button class="btn btn-success btn-icon btn-circle" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><i class="fa fa-plus"></i></button>
                        <a class="btn btn-success btn-icon btn-circle" style="padding-right: 10px"><i class="fa fa-eye"></i></a>
                        <button type="button" onclick="removeUpload()" class="btn btn-warning btn-icon btn-circle"><i class="fa fa-trash"></i></button>
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Olympia Engage</h3>
                        </div>
                        <p class="mrb-40">
                            <textarea rows="3" placeholder="Olympia Engage Heading" class="form-control"></textarea>

                        </p>
                        <div class="link">
                            <a asp-page="/Engage"><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- Feature Section End -->
<!-- Service Section Start --
<section >
    <div class="section-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title-left-part mrb-sm-30">
                        <div class="section-left-sub-title mb-20">
                            <h5 class="sub-title text-primary-color">   <textarea rows="3" placeholder="Olympia Digital Heading" class="form-control"></textarea></h5>
                        </div>

                    </div>
                </div>
                <div class="offset-lg-1 col-lg-6">
                    <div class="section-title-right-part">
                        <p>  <textarea rows="3" placeholder="Olympia Digital Paragraph" style="Height:70px; width:250px;" "></textarea></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-benchmark"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a><h3>  <textarea rows="3" placeholder="Heading" style="Height:70px; width:100px;"></textarea></h3></a>
                            </div>
                            <div class="para" style="font-size:13px">
                                <p><textarea rows="3" placeholder="Heading" style="Height:70px; width:100px;"> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-growth"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a>
                                    <h3><textarea rows="3" placeholder="Heading" style="Height:70px; width:100px;"></h3>
                                </a>
                            </div>
                            <div class="para" style="font-size:13px">
                                <p><textarea rows="3" placeholder="Heading" style="Height:70px; width:100px;"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-meeting"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a>
                                    <h3><textarea rows="3" placeholder="Heading" style="Height:70px; width:100px;"></h3>
                                </a>
                            </div>
                            <div class="para" style="font-size:13px">
                                <p><textarea rows="3" placeholder="Heading" style="Height:70px; width:100px;"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-plan"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a>
                                    <h3><textarea rows="3" placeholder="Heading" style="Height:70px; width:100px;"></h3>
                                </a>
                            </div>
                            <div class="para">
                                <p><textarea rows="3" placeholder="Heading" style="Height:70px; width:100px;"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End -->
-->
<!--@* Picture Editing Section *@
<!--<section class="section-title text-center">
    <div class="section-title text-center">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8 col-xl-6">
                    <div class="section-title-block">
                        <h5 class="text-primary-color anim-box-objects line-both-side mrb-15">Form Submission</h5>

                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>-->
@* Picture editing  *@
<!--<table class="table">

            <thead>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Second  Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Massage
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>

                    <td>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>
</section>-->
@* Scripts *@
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->



