@page
@model Olympia.Web.Site.Areas.Home.Views.Home.IndexModel
@{
}



<!-- Team Section Titile Start -->
<section class="pdt-110 pdb-150 section-white-typo" data-background="/images/content/slider/Slide1.jp" data-overlay-dark="8">
    <div class="section-title text-center">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8 col-xl-6">
                    <div class="section-title-block">
                        <h5 class="text-primary-color anim-box-objects line-both-side mrb-15">Picture Scrolling Section</h5>
                        <h2>Coming Soon</h2>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section Titile End -->
<!-- Team Section Start -->
<section class="pdt-0 pdb-110 pdb-md-110 minus-mrt-130 bg-pos-center-bottom" data-background="/images/content/slider/Slide1.jp">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Section 1  [Pictures]</a></h4>
                            <h6 class="designation">Upload Pictures</h6>
                            <ul class="social-list vertical-style list-sm">
                                <button> Picture 01</button>
                                <button> Picture 02</button>
                                <button> Picture 03</button>
                                <button> Picture 04</button>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Section 2  [Pictures]</a></h4>
                            <h6 class="designation">Upload Pictures</h6>
                            <ul class="social-list vertical-style list-sm">
                                <button> Picture 01</button>
                                <button> Picture 02</button>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Section 1  [Pictures]</a></h4>
                            <h6 class="designation">Upload Pictures</h6>
                            <ul class="social-list vertical-style list-sm">
                                <button> Picture 01</button>
                                <button> Picture 02</button>
                                <button> Picture 03</button>
                            </ul>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-6 col-lg-6 col-xl-3">
        <div class="team-block mrb-30">
            <div class="team-upper-part">
                <img class="img-full" src="http://placehold.it/365x385" alt="">
            </div>
            <div class="team-bottom-part">
                <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                <h6 class="designation">Engineer</h6>
                <ul class="social-list vertical-style list-sm">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>*@
        </div>
     </div>
        </div>
    </section><div class="col-xl-8 col-lg-7">
    <div class="row">
        <div class="col-lg-12 col-xl-6">
            <div class="news-wrapper mrb-30 mrb-sm-40">
                <div class="news-thumb">
                    <img class="img-full" src="http://placehold.it/375x275" alt="">
                    <div class="news-top-meta">
                        <span class="entry-category">Business</span>
                    </div>
                </div>
                <div class="news-details">
                    <div class="news-description mb-20">
                        <h4 class="the-title mrb-30"><a href="#">Tech Entrepreneur Credits Paper For Success</a></h4>
                        <div class="news-bottom-meta">
                            <span class="entry-date mrr-20"><i class="far fa-calendar-alt mrr-10 text-primary-color"></i>01 Jan, 2020</span>
                            <span class="entry-author"><i class="far fa-user mrr-10 text-primary-color"></i>Admin</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xl-6">
            <div class="news-wrapper mrb-30 mrb-sm-40">
                <div class="news-thumb">
                    <img class="img-full" src="http://placehold.it/375x275" alt="">
                    <div class="news-top-meta">
                        <span class="entry-category">Business</span>
                    </div>
                </div>
                <div class="news-details">
                    <div class="news-description mb-20">
                        <h4 class="the-title mrb-30"><a href="#">Tech Entrepreneur Credits Paper For Success</a></h4>
                        <div class="news-bottom-meta">
                            <span class="entry-date mrr-20"><i class="far fa-calendar-alt mrr-10 text-primary-color"></i>01 Jan, 2020</span>
                            <span class="entry-author"><i class="far fa-user mrr-10 text-primary-color"></i>Admin</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xl-6">
            <div class="news-wrapper mrb-30 mrb-sm-40">
                <div class="news-thumb">
                    <img class="img-full" src="http://placehold.it/375x275" alt="">
                    <div class="news-top-meta">
                        <span class="entry-category">Business</span>
                    </div>
                </div>
                <div class="news-details">
                    <div class="news-description mb-20">
                        <h4 class="the-title mrb-30"><a href="#">Tech Entrepreneur Credits Paper For Success</a></h4>
                        <div class="news-bottom-meta">
                            <span class="entry-date mrr-20"><i class="far fa-calendar-alt mrr-10 text-primary-color"></i>01 Jan, 2020</span>
                            <span class="entry-author"><i class="far fa-user mrr-10 text-primary-color"></i>Admin</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xl-6">
            <div class="news-wrapper mrb-30 mrb-sm-40">
                <div class="news-thumb">
                    <img class="img-full" src="http://placehold.it/375x275" alt="">
                    <div class="news-top-meta">
                        <span class="entry-category">Business</span>
                    </div>
                </div>
                <div class="news-details">
                    <div class="news-description mb-20">
                        <h4 class="the-title mrb-30"><a href="#">Tech Entrepreneur Credits Paper For Success</a></h4>
                        <div class="news-bottom-meta">
                            <span class="entry-date mrr-20"><i class="far fa-calendar-alt mrr-10 text-primary-color"></i>01 Jan, 2020</span>
                            <span class="entry-author"><i class="far fa-user mrr-10 text-primary-color"></i>Admin</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
