<section class="page_toplogo ls section_padding_top_15 section_padding_bottom_15 table_section table_section_md">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-md-push-4 text-center">
                
                <a href="./" class="logo top_logo top_offset_logo" style="padding-bottom: 80px;">
                    <img src="/images/images/logo.png" alt="">
                    
                </a>
                <h4 class="h4">Hash Coin</h4>
           <span class="toggle_menu"><span></span></span>
            </div>
            <div class="col-md-4 col-sm-6 col-md-pull-4 text-center text-md-left">
                
                <div>
                    <a class="social-icon border-icon rounded-icon color-icon soc-facebook" href="#" title="Facebook"></a> <a class="social-icon border-icon rounded-icon color-icon soc-twitter" href="#" title="Twitter"></a> <a class="social-icon border-icon rounded-icon color-icon soc-google"
                                                                                                                                                                                                                                   href="#" title="Google"></a> <a class="social-icon border-icon rounded-icon color-icon soc-linkedin" href="#" title="Linkedin"></a> <a class="social-icon border-icon rounded-icon color-icon soc-youtube" href="#" title="Youtube"></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center text-md-right hidden-xs">
                <div>
                    <div class="intro-layer" data-animation="fadeInUp">
                        <h2 class="small"> <a href="#"> <span class="highlight semibold">Register</span></a><br> <a href="#"><span class="weight-black">&amp; Login</span></a> </h2>
                    </div>                                                                                                                                                                                                             
                </div>    
            </div>
           
        </div>
    </div>
</section>

<header class="page_header header_white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <!-- main nav start -->
                <nav class="mainmenu_wrapper">
                    <ul class="mainmenu nav sf-menu">
                        <li class="active">
                            <a asp-page="/Index">Home</a>
                          
                        </li>
                        <li>
                            <a asp-area="Prices" asp-controller="Home" asp-action="Index">Prices</a>
                        </li>
              
                        <li> <a asp-area="Shop" asp-controller="Home" asp-action="Index">Shop</a> </li>
                        <li>
                                <a asp-area="Blog" asp-controller="Home" asp-action="Index">Blog</a>
                        </li>
                
                        <li>
                            <a asp-area="Team" asp-controller="Home" asp-action="Index">Team</a>
                   
                        </li>
                      
                        <li>
                            <a asp-area="Faqs" asp-controller="Home" asp-action="Index">FAQ</a>
                    
                        </li>
                      
                    </ul>
        
                </nav>
                <!-- eof main nav -->
            </div>
        </div>
    </div>
</header>