@page
@model Olympia.Web.Site.Areas.Admin.Views.Home.AdminSettingModel
@{
}

<section class="pdt-110 pdb-150 section-white-typo bg-pos-center-bottom" data-background="https://elements-cover-images-0.imgix.net/3246c997-d49f-4321-a2f1-1d98f5851518?auto=compress%2Cformat&fit=max&w=2038&s=5d4d3c8fa10b23c91f1ca4f4e6c36b3d" data-overlay-dark="8">
    <div class="section-title text-center">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8 col-xl-6">
                    <div class="section-title-block">
                        <h5 class="text-primary-color anim-box-objects line-both-side mrb-15">Add Roles</h5>
                        <h2>Welcome @User.Identity.Name!</h2>
                        <br />
                        <br />
                        <h6 type="submit" class="cs-btn-one btn-md btn-round btn-primary-color element-shadow">Add Roles</h6>
                    </div>
                </div>
                <div class="col">
                   
                </div>
            </div>
        </div>
    </div>
</section>