
<ul class="hr_list main_menu type_2 fw_light">
    <li class="current container3d relative f_xs_none m_xs_bottom_5">
        <a class="color_dark fs_large relative r_xs_corners" asp-area="" asp-controller="Home" asp-action="Index">
            Home
        </a>
    </li>
    <li class="current container3d relative f_xs_none m_xs_bottom_5">
        <a class="color_dark fs_large relative r_xs_corners" asp-area="" asp-controller="Home" asp-action="About">
            About Us
        </a>
    </li>
    <li class="current container3d relative f_xs_none m_xs_bottom_5">
        <a class="color_dark fs_large relative r_xs_corners" asp-area="Projects" asp-controller="Home" asp-action="Index">
            Portfolio
        </a>
    </li>
    @*<li class="current container3d relative f_xs_none m_xs_bottom_5">
        <a class="color_dark fs_large relative r_xs_corners" asp-area="Products" asp-controller="Home" asp-action="Index">
            Shop
        </a>
    </li>*@
    <li class="current container3d relative f_xs_none m_xs_bottom_5">
        <a class="color_dark fs_large relative r_xs_corners" href="#">
            Services
            <i class="icon-angle-down d_inline_m"></i>
        </a>
        <ul class="sub_menu r_xs_corners bg_light vr_list tr_all tr_xs_none trf_xs_none bs_xs_none d_xs_none">
            <li>
                @*<partial name="Menus/_ServiceMenuPartial" />*@
            </li>
        </ul>
    </li>
    <li class="current container3d relative f_xs_none m_xs_bottom_5">
        <a class="color_dark fs_large relative r_xs_corners" asp-area="Support" asp-controller="Home" asp-action="Create">
            Contact Us
        </a>
    </li>
    <li class="current container3d relative f_xs_none m_xs_bottom_5">
        <a class="color_dark fs_large relative r_xs_corners" asp-area="Blog" asp-controller="Home" asp-action="Index">
            Blog
        </a>
    </li>
    <li class="current container3d relative f_xs_none m_xs_bottom_5">
        <a class="color_dark fs_large relative r_xs_corners" href="http://clients.iqtechsolutions.co.za">
            <strong>Client Zone</strong>
        </a>
    </li>
</ul>
