<!DOCTYPE html>
<html bgcolor="#ffffff" style="margin: 0; padding: 0; background-color: #ffffff">
    <head>
        
        <style type="text/css">
        /*<![CDATA[*/
            /* iOS automatically adds a link to addresses */
            /* Style the footer with the same color as the footer text */
            #footer a, #contact a {
                color: #898989;
                -webkit-text-size-adjust: none;
                text-decoration: underline;
                font-weight: normal
            }
        </style>
    </head>
    <body bgcolor="#ffffff" style="margin: 0; padding: 0; background-color: #ffffff" marginheight="0" marginwidth="0" topmargin="0">
        <table bgcolor="#ffffff" style="background-color: #ffffff; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; padding-top: 10px;" cellpadding="0" cellspacing="0" border="0" width="100%">
            
			<!-- start logo -->
            <tr>
				<td>
					<div align="center">
						<table cellpadding='0' cellspacing='0' border='0' width="600">
							<tr>
								<td style="background-color: #ffffff; border-width: 1px; border-style: solid; border-color: #e6e6e6; box-shadow: 0 0 9px 2px #f3f3f3 inset; padding: 20px;">
									
									
                                    <a href="http://www.iqtechsolutions.co.za" id="hs-link-logo_image" style="border-width: 0px; border: 0px;">
                                        <img src="http://www.iqtechsolutions.co.za/images/email/Email-Logo.png" class="hs-image-widget " style="border-width: 0px; border: 0px;" alt="IQ Tech Solutions Email Logo Banner" hspace="0" id="hs-image-logo_image" title="IQ Tech Solutions Email Logo Banner">
                                    </a>
									
								</td>
							</tr>
							<tr>
								<td height='10'></td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
			<!-- end logo -->
			<!-- start content -->
			<tr>
				<td>
					<div align="center">
						<table cellpadding='0' cellspacing='0' border='0' width="600">
							<tr>
								<td>
									
                                    <table cellpadding='0' cellspacing='0' border='0' width="100%">
                                    	<tr>
	                                		<td style="background-color: #ffffff; border-width: 1px; border-style: solid; border-color: #e6e6e6; box-shadow: 0 0 9px 2px #f3f3f3 inset; padding: 20px; font-family: Arial, sans-serif; color: #929292; font-size: 14px;">
	                                			<div data-hubspot-form-id="emailbody" class="hubspot-editable">
	                                				<div id="hs_cos_wrapper_email_body" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_rich_text" data-hs-cos-general-type="meta_field" data-hs-cos-type="rich_text">						<p>Hi&nbsp;,</p>
	                                				    <p>--Title-- &nbsp;</p>
	                                				    <p>
	                                				        --Content1--
	                                				    </p>

	                                				    <p>
	                                				        --Content2--
	                                				    </p>

	                                				    <p style="text-align: center">
	                                				        <a href="--ButtonUrl--" target="_blank" style="border-radius: 16px; border-width: 1px; border-style: solid; border-color: #929292; color: #929292; padding-top: 16px; padding-bottom: 16px; padding-right: 32px; padding-left: 32px; text-decoration: none; display: inline-block;">--ButtonText--</a>
	                                				    </p>
                                                    </div>
	                                			</div>
	                                		</td>
	                                	</tr>
	                                </table>

								</td>
							</tr>
							<tr>
								<td height='10'></td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
			<!-- end content -->
			<!-- start footer -->
			<tr>
				<td>
				    <div align="center">
				        <table cellpadding='0' cellspacing='0' border='0' id="contact" width="600" style="background-color: #ffffff; border-width: 1px; border-style: solid; border-color: #e6e6e6; box-shadow: 0 0 9px 2px #f3f3f3 inset; padding: 20px; font-family: Arial, sans-serif; color: #929292; font-size: 14px; line-height: 21.0px">
				            <tr>
				                <td>
                                    <a href="http://www.iqtechsolutions.co.za" id="hs-link-logo_image" style="border-width:0px;border:0px;"><img src="http://www.iqtechsolutions.co.za/images/email/Full-Logo.png" class="hs-image-widget " style="border-width:0px;border:0px;" hspace="0" id="hs-image-logo_image" alt="IQ Tech Solutions Full Logo" title="IQ Tech Solutions Full Logo"></a>
				                </td>
				                <td>
				                    <table>
				                        <tr>
				                            <td colspan="2">
				                                <strong style="font-size: 20px; color: #393838">IQ Tech Solutions</strong>
				                            </td>
				                        </tr>
				                        <tr>
				                            <td><strong>Web: </strong></td>
				                            <td>
                                                <a href="http://www.iqtechsolutions.co.za" style="color: #898989;">http://www.iqtechsolutions.co.za</a>
				                            </td>
				                        </tr>
				                        <tr>
				                            <td><strong>Email: </strong></td>
				                            <td>
                                                <a href="mailto:ivanrossouw@iqtechsolutions.co.za" style="color: #898989;">ivanrossouw@iqtechsolutions.co.za</a>
				                            </td>
				                        </tr>
				                        <tr>
				                            <td><strong>Office: </strong></td>
				                            <td>
				                                (021) 006 2221
				                            </td>
				                        </tr>
				                        <tr>
				                            <td><strong>Cell: </strong></td>
                                            <td>
                                                066 393 0813 / 072 811 7155
                                            </td>
				                        </tr>
				                        <tr>
				                            <td><strong>Address: </strong></td>
				                            <td>
				                                Unit 6 Clarendon Hills, Saronsberg Close
				                            </td>
				                        </tr>
				                        <tr>
				                            <td></td>
				                            <td>
				                                Buh-Rein Estates, Durbanville
				                            </td>
				                        </tr>
				                        <tr>
				                            <td></td>
				                            <td>
				                                Cape Town, 7560
				                            </td>
				                        </tr>
				                    </table>
				                </td>
				            </tr>
				        </table>
				    </div>
				</td>
			<tr>
			<tr>
				<td>
					<div align="center">
						<table cellpadding='0' cellspacing='0' border='0' width="600">
							<tr>
							    <td align="left" id="footer" style="padding-top:20px; font-family: Arial, sans-serif; color: #898989; font-size: 12px;">
                                    <p style="text-align: center;">
                                        DISCLAIMER: The views and opinions expressed in this message are those of the individual sender of this message and do not necessarily represent the views and opinions of IC Web Designs & Data Development t/a
                                        IQ Tech Solutions. Consequently, IQ Tech Solutions does not accept responsibility for such views and opinions and this message should not be read as representing the views and opinions of 
                                        IQ Tech Solutions without subsequent written confirmation. Each page attached hereto must also be read in conjunction with this disclaimer.
                                    </p>
                                    <p style="text-align: center;">
                                        CONFIDENTIALITY:  This e-mail transmission contains confidential information that is the property of the sender and which is legally privileged. The information is intended for the use of the addressee only.
                                        If you are not the intended recipient, you are hereby notified that any disclosure, copying or distribution of the contents of this e-mail transmission, or the taking of any action in reliance thereon or 
                                        pursuant thereto, is strictly prohibited. Should you have received this e-mail in error, please delete it and notify the sender immediately.
                                    </p>
							        <p style="text-align: center;">
							            Copyright 2019 <a href="https://www.iqtechsolutions.co.za" target="_blank">IQ Tech Solutions</a>- Powered by ASP.NET
							        </p>
							    </td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
			<!-- end footer -->
			
        </table>
        
        <!-- end container -->
    </body>
</html>