
<footer class="footer-wrapper">
    <div class="footer-container container">
        <div class="footer-column four columns" id="footer-widget-1">
            <div id="text-5" class="widget widget_text gdlr-item gdlr-widget">
                <div class="textwidget">
                    <p><img src="/images/apple-touch-icon.png" style="height:100px; width:100px;" alt="Footer logo" /></p>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
            </div>
        </div>
        <div class="footer-column four columns" id="footer-widget-2">
        
        </div>
        <div class="footer-column four columns" id="footer-widget-3">
            <div id="text-4" class="widget widget_text gdlr-item gdlr-widget">
                <h3 class="gdlr-widget-title">Contact Info</h3>
                <div class="clear"></div>
                <div class="textwidget">
                    <p><i class="gdlr-icon fa fa-phone" style="color: #bbbbbb; font-size: 16px; "></i> 1800-222-222 </p>
                    <div class="clear"></div>
                    <div class="gdlr-space" style="margin-top: -10px;"></div>
                    <p><i class="gdlr-icon fa fa-envelope" style="color: #bbbbbb; font-size: 16px; "></i> contact@DuplesisLegal.com </p>
                    <div class="clear"></div>
                    <div class="gdlr-space" style="margin-top: -10px;"></div>
                    <p><i class="gdlr-icon fa fa-clock-o" style="color: #bbbbbb; font-size: 16px; "></i> Everyday 9:00-17:00</p>
                    <div class="clear"></div>
                    <div class="gdlr-space" style="margin-top: 30px;"></div>

                    <p>
                        <a href="">
                            <i class="gdlr-icon fa fa-facebook" style="color: #bbbbbb; font-size: 20px; "></i>
                        </a>
                        <a href="">
                            <i class="gdlr-icon fa fa-twitter" style="color: #bbbbbb; font-size: 20px; "></i>
                        </a>
                        <a href="#">
                            <i class="gdlr-icon fa fa-dribbble" style="color: #bbbbbb; font-size: 20px; "></i>
                        </a>
                        <a href="#">
                            <i class="gdlr-icon fa fa-pinterest" style="color: #bbbbbb; font-size: 20px; "></i>
                        </a>
                        <a href="#">
                            <i class="gdlr-icon fa fa-google-plus" style="color: #bbbbbb; font-size: 20px; "></i>
                        </a>
                        <a href="#">
                            <i class="gdlr-icon fa fa-instagram" style="color: #bbbbbb; font-size: 20px; "></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

    <div class="copyright-wrapper">
        <div class="copyright-container container">
            <div class="copyright-left">
                <a asp-page="/Index" style="margin-right: 8px">Home</a> | <a asp-page="/Index" style="margin-left: 8px;margin-right: 8px">Pages</a> | <a asp-area="WhoWeAre" asp-controller="Home" asp-action="Index" style="margin-left: 8px;margin-right: 8px">Who we are</a> | <a asp-area="Contact" asp-controller="Home" asp-action="Index" style="margin-left: 8px;margin-right: 8px">Contact</a>
            </div>
            <div class="copyright-right">
                Made By <a href="https://www.iqtechsolutions.co.za/">IQ Tech Solutions</a> , Copyright 2021 All Right Reserved
            </div>
            <div class="clear"></div>
        </div>
    </div>
</footer>