@{
    ViewData["Title"] = "Our Firm";
    Layout = "_Layout";
}

<div id="main">

    <div class="breadcrumb-section">
        <div class="container">
            <h1> Our Firm </h1>
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
                <span class="current"> Our Firm </span>
            </div>
        </div>
    </div>

    <!--primary starts-->
    <section id="primary" class="content-full-width">
        <!--container starts-->
        <div class="container">
            <p class="alignleft"><span class="dt-sc-highlight skin-color"> <strong> STATE ATTORNEY, LLC </strong> </span> qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
        </div>
        <!--container ends-->
        <div class="dt-sc-hr-invisible-medium"></div>

        <!--fullwidth-background starts-->
        <div class="fullwidth-background dt-sc-parallax-section trust_section">
            <div class="container">
                <h5> Our Trust & Leadership has Led us this far </h5>
            </div>
        </div>
        <!--fullwidth-background ends-->
        <!--container starts-->
        <div class="container">
            <div class="dt-sc-one-third column first">
                <div class="dt-sc-colored-box">
                    <h5> Practice Areas </h5>
                    <div class="dt-sc-colored-box-content">
                        <ul class="dt-sc-fancy-list caret">
                            <li> <a href="#"> Child Custody & Visitation </a> </li>
                            <li> <a href="#"> Employment Law </a> </li>
                            <li> <a href="#"> Discrimination </a> </li>
                            <li> <a href="#"> Asset & Wealth identification </a> </li>
                            <li> <a href="#"> Retaliation </a> </li>
                            <li> <a href="#"> Flsa Overtime </a> </li>
                            <li> <a href="#"> Business Law </a> </li>
                            <li> <a href="#"> Estate Planning </a> </li>
                            <li> <a href="#"> Trust Administration </a> </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="dt-sc-one-third column">
                <div class="dt-sc-colored-box">
                    <h5> Our Mission </h5>
                    <div class="dt-sc-colored-box-content">
                        <p class="aligncenter"><i> Omnis voluptas assumenda est, omnis dolor repellendus. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque pena tibus duis sunon et magnis dis. </i></p>
                        <div class="dt-sc-hr-invisible-small"></div>
                        <p class="aligncenter"> This feature is good for displaying important message to the clients and users. </p>
                    </div>
                </div>
            </div>

            <div class="dt-sc-one-third column">
                <div class="dt-sc-colored-box">
                    <h5> Our Articles </h5>
                    <div class="dt-sc-colored-box-content">
                        <ul>
                            <li> <span class="fa fa-file-text"></span> <a href="#"> Law and Justice can be created together without any hassle. </a> </li>
                            <li> <span class="fa fa-file-text"></span> <a href="#"> Assessing damages in dollars - a new system </a> </li>
                            <li> <span class="fa fa-file-text"></span> <a href="#"> Law and Justice can be created together without any hassle. </a> </li>
                            <li> <span class="fa fa-file-text"></span> <a href="#"> Assessing damages in dollars - a new system </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dt-sc-hr-invisible-large"></div>

            <h5 class="dt-sc-highlight aligncenter"> Get a Free Consultation if you have any question </h5>
            <div class="dt-sc-hr-invisible-very-small"></div>
            <div class="dt-sc-hr-image"></div>
            <div class="dt-sc-hr-invisible-very-small"></div>
            <span class="dt-sc-highlight aligncenter">A State Attorney Association Limited</span>
            <div class="dt-sc-hr-invisible-medium"></div>
            <div class="aligncenter">
                <a class="dt-sc-bordered-button" href="#"> Get a Free Consultation </a>
                <a class="dt-sc-bordered-button" href="#"> Call us today: (212) 742 1414 </a>
            </div>
            <div class="dt-sc-hr-invisible-medium"></div>
            <p class="aligncenter"> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat <br> facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.  </p>
            <div class="dt-sc-hr-invisible"></div>

            <div class="dt-sc-two-third column first">
                <h2 class="dt-sc-bordered-title"> Why Us? </h2>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <!--dt-sc-toggle-frame-set starts-->
                <div class="dt-sc-toggle-frame-set">
                    <div class="dt-sc-toggle-frame">
                        <h5 class="dt-sc-toggle-accordion active"><a href="#"> Highly Experienced Attorneys </a></h5>
                        <div class="dt-sc-toggle-content">
                            <div class="block">
                                Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-toggle-frame">
                        <h5 class="dt-sc-toggle-accordion"><a href="#"> We have high success rates </a></h5>
                        <div class="dt-sc-toggle-content">
                            <div class="block">
                                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at.
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-toggle-frame">
                        <h5 class="dt-sc-toggle-accordion"><a href="#"> Asset and Time Managements </a></h5>
                        <div class="dt-sc-toggle-content">
                            <div class="block">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                            </div>
                        </div>
                    </div>
                </div>
                <!--dt-sc-toggle-frame-set ends-->
            </div>

            <div class="dt-sc-one-third column">
                <h2 class="dt-sc-bordered-title"> Spot Light </h2>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <div class="dt-sc-team">
                    <div class="dt-sc-team-thumb">
                        <img src="http://placehold.it/120x130" alt="" title="">
                    </div>
                    <div class="dt-sc-team-content">
                        <h5> Carl Danny </h5>
                        <span> Associate </span>
                        <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                        <p class="dt-sc-team-phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-user"></span> View Bio </a>
                    </div>
                </div>
            </div>

        </div>
        <!--container ends-->

        <div class="dt-sc-hr-invisible-large"></div>

        <!--fullwidth-background starts-->
        <div class="fullwidth-background dt-sc-parallax-section benefits_section">
            <div class="container">

                <!--dt-sc-one-half starts-->
                <div class="dt-sc-one-half column first">
                    <h5> Benefits from our Company </h5>
                    <div class="column dt-sc-one-half first">
                        <div class="dt-sc-ico-content type3">
                            <div class="icon">
                                <img src="images/bookmark.png" alt="" title="">
                            </div>
                            <h6><a href="#" target="_blank"> Updated Practices </a></h6>
                        </div>

                        <div class="dt-sc-ico-content type3">
                            <div class="icon">
                                <img src="images/staff.png" alt="" title="">
                            </div>
                            <h6><a href="#" target="_blank"> Experienced Staffs </a></h6>
                        </div>
                    </div>

                    <div class="column dt-sc-one-half">
                        <div class="dt-sc-ico-content type3">
                            <div class="icon">
                                <img src="images/chatting.png" alt="" title="">
                            </div>
                            <h6><a href="#" target="_blank"> Better Communication </a></h6>
                        </div>

                        <div class="dt-sc-ico-content type3">
                            <div class="icon">
                                <img src="images/shield.png" alt="" title="">
                            </div>
                            <h6><a href="#" target="_blank"> Success Guranteeed </a></h6>
                        </div>
                    </div>
                    <div class="dt-sc-clear"></div>
                    <p> This video is about any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure. </p>
                </div>
                <!--dt-sc-one-half ends-->
                <!--dt-sc-one-half starts-->
                <div class="dt-sc-one-half column">
                    <iframe src="http://player.vimeo.com/video/48840476" width="570" height="312"></iframe>
                </div>
                <!--dt-sc-one-half ends-->

            </div>
        </div>
        <!--fullwidth-background ends-->
        <div class="dt-sc-hr-invisible-large"></div>
        <!--container starts-->
        <div class="container">

            <!--dt-sc-tabs-container starts-->
            <div class="dt-sc-tabs-container">
                <ul class="dt-sc-tabs-frame">
                    <li><a href="#"> Free Consultation </a></li>
                    <li><a href="#"> Awards </a></li>
                    <li><a href="#"> Expert Attorneys </a></li>
                    <li><a href="#"> Integrity </a></li>
                </ul>
                <div class="dt-sc-tabs-frame-content">
                    <h5> Free Initial Consultation </h5>
                    <img src="images/badge.png" alt="" title="" class="alignleft">
                    <p> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. </p>
                    <ul class="dt-sc-ico-list">
                        <li><span class="fa fa-coffee"></span> We Plan </li>
                        <li><span class="fa fa-book"></span> We Study </li>
                        <li><span class="fa fa-bar-chart-o"></span> We Analyse </li>
                        <li><span class="fa fa-bullhorn"></span> We Speak </li>
                        <li><span class="fa fa-flag"></span> We Win </li>
                    </ul>
                    <div class="dt-sc-clear"></div>
                    <p> Omnis voluptas assumenda est, omnis dolor repellendus. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. </p>
                </div>
                <div class="dt-sc-tabs-frame-content">
                    <h5> Awards Achieved </h5>
                    <p> <img class="alignright" alt="" src="images/tabs4.png"> Nunc euismod nibh sit amet justo porta, at blandit metus bibendum. Nunc pharetra justo sed nulla imperdiet, quis adipiscing turpis bibendum. Nulla venenatis vehicula augue. Praesent vulputate ipsum assumenda est, omnis dolor repellendus. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoqu  vel consectetur tincidunt. Aliquam egestas, velit malesuada sagittis iaculis, tortor erat vestibulum velit, eu malesuada assumenda est, omnis dolor repellendus. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoqu metus lorem a metus. </p>
                </div>
                <div class="dt-sc-tabs-frame-content">
                    <h5> Expert Attorneys </h5>
                    <p>
                        <img class="alignleft" alt="" src="images/tabs3.png">
                        Nunc euismod nibh sit amet justo porta, at blandit metus bibendum. Nunc pharetra justo sed nulla imperdiet, quis adipiscing assumenda est, omnis dolor repellendus. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoqu turpis bibendum. Nulla venenatis vehicula augue. Praesent vulputate ipsum vel consectetur tincidunt. Aliquam egestas, velit malesuada sagittis iaculis, tortor erat vestibulum assumenda est, omnis dolor repellendus. Cum sociis natoque penatibus duis sunon et magnis dis. Cum assumenda est, omnis dolor repellendus. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoqu sociis natoqu velit, eu malesuada metus lorem a metus.
                    </p>
                </div>
                <div class="dt-sc-tabs-frame-content">
                    <h5> Law is Our Policy </h5>
                    <p> <img class="alignright" alt="" src="images/tabs2.png"> Nunc euismod nibh sit assumenda est, omnis dolor repellendus. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoqu amet justo porta, at blandit metus bibendum. Nunc pharetra justo sed nulla imperdiet, quis adipiscing turpis bibendum. Nulla venenatis vehicula assumenda est, omnis dolor repellendus. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoqu augue. Praesent vulputate ipsum vel consectetur assumenda est, omnis dolor repellendus. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoqu tincidunt. Aliquam egestas, velit malesuada sagittis iaculis, tortor erat vestibulum velit, eu malesuada metus lorem a metus. </p>
                </div>
            </div>
            <!--dt-sc-tabs-container ends-->

            <div class="dt-sc-hr-invisible-large"></div>

            <!--dt-sc-one-half starts-->
            <div class="dt-sc-one-half column first">
                <h2 class="dt-sc-bordered-title"> Get a Consultation Request </h2>
                <form name="frmconsultation" method="post" class="consultation-form" action="php/consultation.php">
                    <p class="dt-sc-one-half column first">
                        <input type="text" name="name" required="" placeholder="Name">
                    </p>
                    <p class="dt-sc-one-half column">
                        <input type="email" name="emailid" required="" placeholder="Email">
                    </p>
                    <p class="dt-sc-one-half column first select-sort date-to-consult">
                        <span class="select-sort">
                            <input type="text" id="datepicker" placeholder="Date to Consult" />
                        </span>
                    </p>

                    <p class="dt-sc-one-half column">
                        <input name="phone" type="text" placeholder="Phone" required />
                    </p>
                    <p class="dt-sc-full-width-content">
                        <span class="select-sort">
                            <select name="consult_incident">
                                <option value="">Practice Area</option>
                                <option value="Divorce Cases">Divorce Cases</option>
                                <option value="Local Asset Management">Local Asset Management</option>
                                <option value="Health Insurance">Health Insurance</option>
                                <option value="Business Law">Business Law</option>
                                <option value="Pregnancy">Pregnancy</option>
                                <option value="Estate Planning">Estate Planning</option>
                            </select>
                        </span>
                    </p>
                    <p class="dt-sc-full-width-content">
                        <textarea name="message" placeholder="Optional Message"></textarea>
                    </p>
                    <div id="ajax_consultation_msg"> </div>
                    <p class="alignright">
                        <input type="submit" name="direct_consult" id="direct_consult" class="dt-sc-bordered-button" value="Direct Consultation">
                        <input type="submit" name="phone_consult" id="phone_consult" class="dt-sc-bordered-button" value="Phone Consultation">
                    </p>
                </form>
            </div>
            <!--dt-sc-one-half ends-->
            <!--dt-sc-one-half starts-->
            <div class="column dt-sc-one-half">
                <h2 class="dt-sc-bordered-title"> Spot Light </h2>
                <div class="dt-sc-bar-text"> Divorce Cases - 95% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="95" class="dt-sc-bar" data-bg-color="#8d1812">  </div>
                </div>
                <div class="dt-sc-bar-text"> Local Asset Management - 60% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="60" class="dt-sc-bar" data-bg-color="#ffd200">  </div>
                </div>
                <div class="dt-sc-bar-text"> Health Insurance - 70% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="70" class="dt-sc-bar" data-bg-color="#76a84b">  </div>
                </div>
                <div class="dt-sc-bar-text"> Business Law - 90% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="90" class="dt-sc-bar" data-bg-color="#f65339">  </div>
                </div>
                <div class="dt-sc-bar-text"> Pregnancy - 70% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="70" class="dt-sc-bar" data-bg-color="#21c2f8">  </div>
                </div>
                <div class="dt-sc-bar-text"> Estate Planning - 90% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="90" class="dt-sc-bar" data-bg-color="#022444">  </div>
                </div>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <p> <i> <sup>*</sup> Omnis voluptas assumenda est, omnis dolor repellendus. Aenean commodo ligula eget dolor. Aenean massa. Duis sunon et magnis dis. Cum sociis natoque pena tibus duis sunon et magnis dis. </i> </p>
            </div>
            <!--dt-sc-one-half ends-->

            <div class="dt-sc-hr-invisible-large"></div>

            <h2 class="dt-sc-hr-title"> Testimonials </h2>

            <!--dt-sc-one-third starts-->
            <div class="dt-sc-one-third column first">
                <div class="dt-sc-testimonial">
                    <blockquote><q> Omnis voluptas assumenda est, omnis dolor repellendus. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque pena tibus duis sunon et magnis dis. </q></blockquote>
                    <div class="author">
                        <img src="http://placehold.it/56x56" alt="" title="">
                    </div>
                    <div class="author-meta">
                        <p> Mike Patton </p>
                        <span> Marketing Manager / <strong> Zigma Brothers </strong> </span>
                    </div>
                </div>
            </div>
            <!--dt-sc-one-third ends-->
            <!--dt-sc-one-third starts-->
            <div class="dt-sc-one-third column">
                <div class="dt-sc-testimonial">
                    <blockquote><q> But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure. Aenean commodo ligula Aenean massa. </q></blockquote>
                    <div class="author">
                        <img src="http://placehold.it/56x56" alt="" title="">
                    </div>
                    <div class="author-meta">
                        <p> Kurt Russel </p>
                        <span> Business Consultant / <strong> Sherlock Doors </strong> </span>
                    </div>
                </div>
            </div>
            <!--dt-sc-one-third ends-->
            <!--dt-sc-one-third starts-->
            <div class="dt-sc-one-third column">
                <div class="dt-sc-testimonial">
                    <blockquote><q> Omnis voluptas assumenda est, omnis dolor repellendus. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque pena tibus duis sunon et magnis dis. </q></blockquote>
                    <div class="author">
                        <img src="http://placehold.it/56x56" alt="" title="">
                    </div>
                    <div class="author-meta">
                        <p> Jason Shane </p>
                        <span> Business Consultant / <strong> Magick Wall </strong> </span>
                    </div>
                </div>
            </div>
            <!--dt-sc-one-third ends-->
            <div class="dt-sc-hr-invisible-large"></div>
            <div class="mailchimp">
                <p> <span class="fa fa-envelope-o"></span> Subscribe to Newsletter </p>
                <form name="frmnewsletter" method="post" class="mailchimp-form" action="php/subscribe.php">
                    <input type="email" placeholder="Email" name="mc_email" required />
                    <input type="submit" value="Submit" class="nl-submit" name="btnsubscribe">
                </form>
                <div id="ajax_subscribe_msg"></div>
            </div>

        </div>
        <!--container ends-->

    </section>
    <!--primary ends-->
    <!--office_locations starts-->
    <div class="office_locations">
        <div class="container">
            <p> Our Offices: </p>
            <ul class="dt-sc-locations">
                <li>
                    <a href="#"> Princeton, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Princeton, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Flemington, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 1rd Floor, Sedrik Street, <br>
                            Flemington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Red Bank, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Aslan Street, <br>
                            Red Bank, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Wilmington, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Wilmington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Georgetown, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Georgetown, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> New York, NY </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 4th Floor, Moro Street, <br>
                            New York, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Haddonfield, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Haddonfield, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Philadelphia, PA </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 32nd Floor, Hagid Street, <br>
                            Philadelphia, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--office_locations ends-->

</div>