@{
    ViewData["Title"] = "Our People Detail";
}
<div id="main">

    <div class="breadcrumb-section">
        <div class="container">
            <h1> Our People </h1>
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>                
                <span class="current"> Our People </span>
            </div>
        </div>
    </div>

    <!--container starts-->
    <div class="container">
        <!--primary starts-->
        <section id="primary" class="page-with-sidebar with-right-sidebar">

            <div class="our-people-detail">
                <div class="image">
                    <img src="http://placehold.it/1170x1260" alt="" title="">
                </div>
                <div class="our-people-detail-info">
                    <h4> Robert James </h4>
                    <span> Associate / Crime </span>
                    <div class="dt-sc-hr-invisible-very-small"></div>
                    <ul>
                        <li> <span class="fa fa-envelope-o"></span> <a href="#"> robertjames@federal.com </a> </li>
                        <li> <span class="fa fa-phone"></span> 032 - 166 - 3524 </li>
                        <li> <span class="fa fa-fax"></span> 032 - 166 - 3524 </li>
                        <li> <span class="fa fa-linkedin"></span> <a href="#"> Linked in Profile </a> </li>
                    </ul>
                    <div class="dt-sc-hr-invisible-very-small"></div>
                    <a class="dt-sc-bordered-button" href="#"> Get a Free Consultation </a>
                </div>

            </div>

            <div class="dt-sc-hr-invisible-medium"></div>
            <div class="dt-sc-hr-invisible-very-small"></div>

            <!--dt-sc-tabs-container starts-->
            <div class="dt-sc-tabs-container">
                <ul class="dt-sc-tabs-frame">
                    <li><a href="#"> Overview </a></li>
                    <li><a href="#"> Awards </a></li>
                    <li><a href="#"> Seminars </a></li>
                    <li><a href="#"> Media </a></li>
                </ul>
                <div class="dt-sc-tabs-frame-content">

                    <p> <span class="dt-sc-highlight skin-color"><strong>Robert James</strong></span> est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. </p>

                    <div class="dt-sc-hr-invisible-small"></div>
                    <div class="dt-sc-clear"></div>

                    <ul class="dt-sc-fancy-list caret">
                        <li> Quisque euismod nunc a feugiat viverra. </li>
                        <li> Vestibulum maximus metus sit amet lectus ullamcorper scelerisque. </li>
                        <li> Nulla ac dui eget diam interdum ullamcorper. </li>
                        <li> Maecenas eget urna in sem commodo fringilla. </li>
                        <li> Nullam facilisis ligula sed ligula suscipit, in pharetra felis scelerisque. </li>
                        <li> Aenean volutpat metus sit amet purus porttitor, ut convallis orci tincidunt. </li>
                    </ul>

                </div>
                <div class="dt-sc-tabs-frame-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.Lorem ipsum dolor sit amet, consectetur adipisicing elit
                </div>
                <div class="dt-sc-tabs-frame-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ex fb aute in esse eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                </div>
                <div class="dt-sc-tabs-frame-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia
                </div>
            </div>
            <!--dt-sc-tabs-container ends-->

            <div class="dt-sc-hr-invisible-medium"></div>
            <div class="dt-sc-clear"></div>

            <h5> Related Attorneys </h5>

            <div class="dt-sc-hr-invisible-medium"></div>

            <div class="dt-sc-attorney-carousel-wrapper">
                <ul class="dt-sc-attorney-carousel">

                    <li>
                        <div class="dt-sc-team type2">
                            <div class="dt-sc-team-thumb">
                                <img src="http://placehold.it/120x120" alt="" title="">
                            </div>
                            <div class="dt-sc-team-content">
                                <h5> Robert James </h5>
                                <span> Associate / Crime </span>
                                <p class="dt-sc-team-phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="dt-sc-team type2">
                            <div class="dt-sc-team-thumb">
                                <img src="http://placehold.it/120x120" alt="" title="">
                            </div>
                            <div class="dt-sc-team-content">
                                <h5> Craig Thompson </h5>
                                <span> Associate / Estate Planning </span>
                                <p class="dt-sc-team-phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="dt-sc-team type2">
                            <div class="dt-sc-team-thumb">
                                <img src="http://placehold.it/120x120" alt="" title="">
                            </div>
                            <div class="dt-sc-team-content">
                                <h5> Carl Danny </h5>
                                <span> Accident and Insurance </span>
                                <p class="dt-sc-team-phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dt-sc-team type2">
                            <div class="dt-sc-team-thumb">
                                <img src="http://placehold.it/120x120" alt="" title="">
                            </div>
                            <div class="dt-sc-team-content">
                                <h5> Daniel Craig </h5>
                                <span> Associate / Estate Planning </span>
                                <p class="dt-sc-team-phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="dt-sc-team type2">
                            <div class="dt-sc-team-thumb">
                                <img src="http://placehold.it/120x120" alt="" title="">
                            </div>
                            <div class="dt-sc-team-content">
                                <h5> Robert James </h5>
                                <span> Associate </span>
                                <p class="dt-sc-team-phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                                <a href="#" class="dt-sc-button"> <span class="fa fa-user"></span> View Bio </a>
                            </div>
                        </div>
                    </li>

                </ul>

                <div class="carousel-arrows">
                    <a class="attorney-prev" href=""> <span class="fa fa-angle-left"></span> </a>
                    <a class="attorney-next" href=""> <span class="fa fa-angle-right"></span> </a>
                </div>
            </div>

        </section>
        <!--primary ends-->
        <!--secondary starts-->
        <section id="secondary" class="type2">

            <aside class="widget widget_categories">
                <h3 class="widgettitle"> <span class="fa fa-book"></span> Our Practices </h3>
                <ul class="dt-sc-fancy-list caret">
                    <li> <a href="#"> Child Custody &amp; Visitation </a> </li>
                    <li> <a href="#"> Employment Law </a> </li>
                    <li> <a href="#"> Discrimination </a> </li>
                    <li> <a href="#"> Asset &amp; Wealth identification </a> </li>
                    <li> <a href="#"> Retaliation </a> </li>
                    <li> <a href="#"> Flsa Overtime </a> </li>
                    <li> <a href="#"> Business Law </a> </li>
                    <li> <a href="#"> Estate Planning </a> </li>
                    <li> <a href="#"> Trust Administration </a> </li>
                </ul>
            </aside>

            <aside class="widget widget_text">
                <h3 class="widgettitle"> <span class="fa fa-clock-o"></span> Business Hours </h3>
                <div class="dt-sc-business-hours">
                    <p> Monday - Friday <span> : 0900 - 1700hrs </span> </p>
                    <p> Saturday & Sunday <span> : 0900 - 1300hrs </span> </p>
                </div>
            </aside>

            <aside class="widget widget_text clear-background">
                <a href="#"><img src="images/add1.jpg" alt="" title=""></a>
            </aside>

            <aside class="widget widget_text clear-background">
                <a class="dt-sc-bordered-button" href="#"> Give us a Call: (552) 226 3314 </a>
            </aside>

        </section>
        <!--secondary ends-->
        <div class="dt-sc-hr-invisible-large"></div>
        <div class="mailchimp">
            <p> <span class="fa fa-envelope-o"></span> Subscribe to Newsletter </p>
            <form name="frmnewsletter" method="post" class="mailchimp-form" action="php/subscribe.php">
                <input type="email" placeholder="Email" name="mc_email" required />
                <input type="submit" value="Submit" class="nl-submit" name="btnsubscribe">
            </form>
            <div id="ajax_subscribe_msg"></div>
        </div>
    </div>
    <!--container ends-->
    <!--office_locations starts-->
    <div class="office_locations">
        <div class="container">
            <p> Our Offices: </p>
            <ul class="dt-sc-locations">
                <li>
                    <a href="#"> Princeton, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Princeton, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Flemington, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 1rd Floor, Sedrik Street, <br>
                            Flemington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Red Bank, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Aslan Street, <br>
                            Red Bank, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Wilmington, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Wilmington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Georgetown, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Georgetown, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> New York, NY </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 4th Floor, Moro Street, <br>
                            New York, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Haddonfield, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Haddonfield, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Philadelphia, PA </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 32nd Floor, Hagid Street, <br>
                            Philadelphia, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--office_locations ends-->

</div>
