@{
    ViewData["Title"] = "Progress Bars";
}
<div id="main">

    <div class="breadcrumb-section">
        <div class="container">
            <h1> Progress Bars </h1>
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
                <a asp-area="" asp-controller="Home" asp-action="ShortCodes"> Shortcodes </a>
                <span class="current"> Progress Bars </span>
            </div>
        </div>
    </div>

    <!--container starts-->
    <div class="container">

        <!--primary starts-->
        <section id="primary" class="content-full-width">

            <h2 class="dt-sc-hr-title"> Standard Progress Bars </h2>
            <!--dt-sc-one-half starts-->
            <div class="column dt-sc-one-half first">
                <div class="dt-sc-bar-text"> Divorce Cases - 95% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="95" class="dt-sc-bar" data-bg-color="#8d1812">  </div>
                </div>
                <div class="dt-sc-bar-text"> Local Asset Management - 60% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="60" class="dt-sc-bar" data-bg-color="#ffd200">  </div>
                </div>
                <div class="dt-sc-bar-text"> Health Insurance - 70% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="70" class="dt-sc-bar" data-bg-color="#76a84b">  </div>
                </div>
                <div class="dt-sc-bar-text"> Business Law - 90% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="90" class="dt-sc-bar" data-bg-color="#f65339">  </div>
                </div>
                <div class="dt-sc-bar-text"> Pregnancy - 70% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="70" class="dt-sc-bar" data-bg-color="#21c2f8">  </div>
                </div>
                <div class="dt-sc-bar-text"> Estate Planning - 90% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="90" class="dt-sc-bar" data-bg-color="#022444">  </div>
                </div>
            </div>
            <!--dt-sc-one-half ends-->
            <!--dt-sc-one-half starts-->
            <div class="column dt-sc-one-half">
                <div class="dt-sc-bar-text"> Divorce Cases - 95% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="95" class="dt-sc-bar" data-bg-color="#564847">  </div>
                </div>
                <div class="dt-sc-bar-text"> Local Asset Management - 60% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="60" class="dt-sc-bar" data-bg-color="#bc8d5f">  </div>
                </div>
                <div class="dt-sc-bar-text"> Health Insurance - 70% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="70" class="dt-sc-bar" data-bg-color="#d97d59">  </div>
                </div>
                <div class="dt-sc-bar-text"> Business Law - 90% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="90" class="dt-sc-bar" data-bg-color="#568645">  </div>
                </div>
                <div class="dt-sc-bar-text"> Pregnancy - 70% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="70" class="dt-sc-bar" data-bg-color="#5c5c5c">  </div>
                </div>
                <div class="dt-sc-bar-text"> Estate Planning - 90% </div>
                <div class="dt-sc-progress dt-sc-progress-standard">
                    <div data-value="90" class="dt-sc-bar" data-bg-color="#3b689f">  </div>
                </div>
            </div>
            <!--dt-sc-one-half ends-->

            <div class="dt-sc-hr-invisible"></div>

            <h2 class="dt-sc-hr-title"> Striped Progress Bars </h2>

            <!--dt-sc-one-half starts-->
            <div class="column dt-sc-one-half first">
                <div class="dt-sc-bar-text"> Divorce Cases - 95% </div>
                <div class="dt-sc-progress dt-sc-progress-striped">
                    <div data-value="95" class="dt-sc-bar" data-bg-color="#8d1812">  </div>
                </div>
                <div class="dt-sc-bar-text"> Local Asset Management - 60% </div>
                <div class="dt-sc-progress dt-sc-progress-striped">
                    <div data-value="60" class="dt-sc-bar" data-bg-color="#ffd200">  </div>
                </div>
                <div class="dt-sc-bar-text"> Health Insurance - 70% </div>
                <div class="dt-sc-progress dt-sc-progress-striped active">
                    <div data-value="70" class="dt-sc-bar" data-bg-color="#76a84b">  </div>
                </div>
                <div class="dt-sc-bar-text"> Business Law - 90% </div>
                <div class="dt-sc-progress dt-sc-progress-striped">
                    <div data-value="90" class="dt-sc-bar" data-bg-color="#f65339">  </div>
                </div>
                <div class="dt-sc-bar-text"> Pregnancy - 70% </div>
                <div class="dt-sc-progress dt-sc-progress-striped">
                    <div data-value="70" class="dt-sc-bar" data-bg-color="#21c2f8">  </div>
                </div>
                <div class="dt-sc-bar-text"> Estate Planning - 90% </div>
                <div class="dt-sc-progress dt-sc-progress-striped">
                    <div data-value="90" class="dt-sc-bar" data-bg-color="#022444">  </div>
                </div>
            </div>
            <!--dt-sc-one-half ends-->
            <!--dt-sc-one-half starts-->
            <div class="column dt-sc-one-half">
                <div class="dt-sc-bar-text"> Divorce Cases - 95% </div>
                <div class="dt-sc-progress dt-sc-progress-striped">
                    <div data-value="95" class="dt-sc-bar" data-bg-color="#564847">  </div>
                </div>
                <div class="dt-sc-bar-text"> Local Asset Management - 60% </div>
                <div class="dt-sc-progress dt-sc-progress-striped">
                    <div data-value="60" class="dt-sc-bar" data-bg-color="#bc8d5f">  </div>
                </div>
                <div class="dt-sc-bar-text"> Health Insurance - 70% </div>
                <div class="dt-sc-progress dt-sc-progress-striped active">
                    <div data-value="70" class="dt-sc-bar" data-bg-color="#d97d59">  </div>
                </div>
                <div class="dt-sc-bar-text"> Business Law - 90% </div>
                <div class="dt-sc-progress dt-sc-progress-striped">
                    <div data-value="90" class="dt-sc-bar" data-bg-color="#568645">  </div>
                </div>
                <div class="dt-sc-bar-text"> Pregnancy - 70% </div>
                <div class="dt-sc-progress dt-sc-progress-striped">
                    <div data-value="70" class="dt-sc-bar" data-bg-color="#5c5c5c">  </div>
                </div>
                <div class="dt-sc-bar-text"> Estate Planning - 90% </div>
                <div class="dt-sc-progress dt-sc-progress-striped">
                    <div data-value="90" class="dt-sc-bar" data-bg-color="#3b689f">  </div>
                </div>
            </div>
            <!--dt-sc-one-half ends-->

            <div class="dt-sc-hr-invisible-large"></div>
            <div class="mailchimp">
                <p> <span class="fa fa-envelope-o"></span> Subscribe to Newsletter </p>
                <form name="frmnewsletter" method="post" class="mailchimp-form" action="php/subscribe.php">
                    <input type="email" placeholder="Email" name="mc_email" required />
                    <input type="submit" value="Submit" class="nl-submit" name="btnsubscribe">
                </form>
                <div id="ajax_subscribe_msg"></div>
            </div>

        </section>
        <!--primary ends-->

    </div>
    <!--container ends-->
    <!--office_locations starts-->
    <div class="office_locations">
        <div class="container">
            <p> Our Offices: </p>
            <ul class="dt-sc-locations">
                <li>
                    <a href="#"> Princeton, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Princeton, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Flemington, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 1rd Floor, Sedrik Street, <br>
                            Flemington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Red Bank, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Aslan Street, <br>
                            Red Bank, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Wilmington, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Wilmington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Georgetown, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Georgetown, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> New York, NY </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 4th Floor, Moro Street, <br>
                            New York, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Haddonfield, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Haddonfield, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Philadelphia, PA </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 32nd Floor, Hagid Street, <br>
                            Philadelphia, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--office_locations ends-->

</div>