<section class="color_section table_section action_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Don't Wait! Contact Us Now!</h2>
                <p>Our friendly and professional representatives can't wait for you to get in touch. Please feel free to contact us now!</p>
            </div>
            <div class="col-sm-4">
                <a asp-area="Support" asp-Controller="Home" asp-action="Create" class="theme_button block_button"><i class="rt-icon-pen-alt-stroke"></i> Contact Us Now!</a>
            </div>

        </div>
    </div>
</section>