@{
    Layout = "Layouts/_Layout";
}

@section Styles
{
    <link href='/css/summernote.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/css/bs-filestyle.css">

    @RenderSection("Styles", required: false)
}

<section class="about-section anim-object pdt-110 pdb-50 pdb-lg-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">

                @RenderBody()

            </div>
        </div>
    </div>
</section>

@section Scripts
    {
    <!-- Summer Note JS -->
    <script src="/js/summernote/summernote.js"></script>
    <script src="/js/bs-filestyle.js"></script>

    <script type="text/javascript">
        // Default
        $(document).ready(function () {
            var HomeIndex = function () {

                var $this = this;

                function initialize() {
                    $('#Entity_Description').summernote({
                        height: 250,
                        codemirror: { // codemirror options
                            theme: 'monokai'
                        }
                    });
                }

                $this.init = function () {
                    initialize();
                }
            };
            var self = new HomeIndex();
            self.init();
        });

    </script>

    @RenderSection("Scripts", required: false)
}