@page
@model Olympia.Web.Site.Pages._404Model
@{
}

<!-- Team Section Titile Start -->
<section class="pdt-110 pdb-150 section-white-typo bg-pos-center-bottom" data-background="http://placehold.it/1920x1280" data-overlay-dark="8">
    <div class="section-title text-center">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8 col-xl-6">
                    <div class="section-title-block">
                        <h5 class="text-primary-color anim-box-objects line-both-side mrb-15">Dashboard Setting</h5>
                        <h2>Welcome @User.Identity.Name!</h2>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section Titile End -->
<!-- Team Section Start -->
<section class="pdt-0 pdb-110 pdb-md-110 minus-mrt-130 bg-pos-center-bottom" data-background="images/bg/abs-bg1.png">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-3 "  >
                    <div class="team-block mrb-30">
                       
                        <div class="team-bottom-part" >
                            <h4 class="team-title mrb-5">
                            <a
                               href="#">
                                    <i class="fa fa-cog"></i>
                                        </i>
                            </a></h4>
                            <h6 class="designation">Setting</h6>
                          
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3" >
                    <div class="team-block mrb-30">
                        
                        <div class="team-bottom-part" >
                            <h4 class="team-title mrb-5"><a  ><i class="fa fa-user-circle" aria-hidden="true"></i></a></h4>
                            <h6 class="designation">Password Change</h6>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3" >
                    <div class="team-block mrb-30">
                       
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a ><i class="fa fa-info" aria-hidden="true"></i></a></h4>
                            <h6 class="designation">Case Studies</h6>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                       
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a ><i class="fa fa-opencart" aria-hidden="true"></i></i></a></h4>
                            <h6 class="designation">Faqs</h6>
                         
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Team Section End -->

<script src="https://use.fontawesome.com/d9158b7faf.js"></script>