@page
@model ContactModel
@{
    ViewData["Title"] = "Get in Touch";
}


<!-- Page Title Start -->
<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="page-title-content">
                    <h3 class="title text-white">Contact Us</h3>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Title End -->


<!-- Contact Section Start -->
<section class="contact-section pdt-110 pdb-95 pdb-lg-90" data-background="images/bg/abs-bg1.png">
    <div class="container">
       
        <div class="row">
            <div class="col-lg-5 col-xl-5">
                <h5 class="sub-title-side-line text-primary-color mrt-0 mrb-15">Get In Touch</h5>
                <h2 class="faq-title mrb-30">Have Any Questions?</h2>
                <p class="mrb-40">Distinctively exploit revolutionary catalysts for chang the Seamlessly optimal rather than just in web &amp; apps development optimal alignments for intuitive.</p>
              
                <a @*asp-area="Faqs" asp-controller="Home" asp-action="Faqs"*@>


                    <h6 class="cs-btn-one btn-md btn-round btn-primary-color element-shadow">Frequently Asked Quesions</h6>

                </a>
                <br />
                <br />
                @* Social Media *@
                <ul class="social-list list-lg list-primary-color list-flat mrb-md-60 clearfix">
                    <li><a href="https://www.facebook.com/olympia.team" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/olympia.team" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/olympia-team" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/Olympiateam1" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-7 col-xl-7">
                <div class="contact-form">


                    @*  Contact Form *@
                    @* <a href="mailto:Support@contoso.com">Support@contoso.com</a> *@
                    <form method="post" id="contactForm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mrb-25">
                                    <input type="text" placeholder="Name" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mrb-25">
                                    <input type="text" placeholder="Phone" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mrb-25">
                                    <input type="email" placeholder="Email" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group mrb-25">
                                    <textarea rows="4" placeholder="Messages" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <button type="submit" class="cs-btn-one btn-md btn-round btn-primary-color element-shadow">Submit Now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section End -->