@page
@model Locate_usModel
@{
}


<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="page-title-content">
                    <h3 class="title text-white">Find Continuous Performance Management in your Region   </h3>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section Start -->
<section class="about-section pdt-165 pdt-lg-100 pdb-100 ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-xl-12">
                <div class="skills mrb-lg-60">
                    <div class="col-lg-12">
                        <div class="section-title-left-part mrb-sm-30">
                            <h1 style="line-height: 30px; font-size: 25px" class="title">No matter where in the world you are, our team is ready to help you with the continuous performance management and employee engagement solution that your business needs </h1>

                        </div>
                    </div>


                    <p class="mrb-40">
                        Launched in South Africa in 2017, Olympia Engage has helped companies across all industries to engage their employees at the highest level and help drive productivity and self-mastery in the workplace. Designed to engage every employee at every level of the organisation, Olympia Engage allows people to be their best.

                        No matter where you are in the world, Olympia Engage is a global solution and our team of consultants is ready to help you.
                    </p>
                    <a class="cs-btn-one btn-gradient-color btn-lg" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
                    
                </div>

            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<section>
    <div class="row mrb-40" style="padding-top:50px;">
        <div class="col-lg-6 col-xl-4">
            <div class="contact-block d-flex mrb-30">
                <div class="contact-icon">
                    <i class="webex-icon-map1"></i>
                </div>
                <div class="contact-details mrl-30">
                    <h5 class="icon-box-title mrb-10">Our Address</h5>
                    <p class="mrb-0"> The Vineyards Office Estate, Manor House, 99 Jip De Jager, Bellville</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="contact-block d-flex mrb-30">
                <div class="contact-icon">
                    <i class="webex-icon-Phone2"></i>
                </div>
                <div class="contact-details mrl-30">
                    <h5 class="icon-box-title mrb-10">Phone Number</h5>
                    <p class="mrb-0">(+27) 73 008 2739</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="contact-block d-flex mrb-30">
                <div class="contact-icon">
                    <i class="webex-icon-envelope"></i>
                </div>
                <div class="contact-details mrl-30">
                    <h5 class="icon-box-title mrb-10">Email Us</h5>
                    <p class="mrb-0">info@olympiahd.com</p>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="contact-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <!-- Google Map Start -->
                <div class="mapouter fixed-height">
                    <div class="gmap_canvas">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5060.688008844403!2d18.62342441612275!3d-33.85379642571359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc57517431becf%3A0xb602e69f03fc6860!2s99%20Jip%20De%20Jager%20Dr%2C%20De%20Bron%2C%20Cape%20Town%2C%207530!5e1!3m2!1sen!2sza!4v1619097379446!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    </div>
                <!-- Google Map End -->
            </div>
        </div>
    </div>
</div>
    </div>
