@page
@model who_we_areModel
@{
    ViewData["Title"] = "who_we_are";
}



<section class="banner-section">
    <div class="home-carousel owl-theme owl-carousel">
        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide1.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Software <br> Development</h1>
                            <p>Turn-key solutions for every need</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color" asp-page="/Contact">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide2.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Performance <br> Management</h1>
                            <p>Ensure your software and apps are working as intended</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color" asp-page="/Contact">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide3.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Employee<br>Management</h1>
                            <p>Get your software working optimally in the least amount of time</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color" asp-page="/Contact">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<!-- About Section Start -->
<section class="about-section anim-object pdt-110 pdb-50 pdb-lg-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <h2 class="title-under-line mrb-70">Our services support your success!</h2>
                <h5 class="mrb-30 text-primary-color">We provide a range of software development services and the world’s top performance management system</h5>
                <p class="mrb-40">Since 2015, we’ve provided companies with software development solutions and our industry-leading performance management and employee engagement platform – all designed to help your business grow and succeed.  </p>
               
                <br/>
                <a class="cs-btn-one btn-gradient-color btn-lg" asp-area="Identity"  asp-page="/Account/Register">Sign Up</a>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- About Section Start -->
<section class="about-section anim-object pdt-110 pdb-50 pdb-lg-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-xl-6">
                <div class="about-image-block mrb-lg-60">
                    <img class="img-full" src="images/content/AboutUsImage.png" alt="About Olympia Holdings">
                </div>
            </div>
            <div class="col-md-12 col-xl-6">
                <h2 class="title-under-line mrb-70">What drives us?</h2>
                <h5 class="mrb-30 text-primary-color">Trusted Business Consulting Service Provider</h5>
                <p class="mrb-40">
                    We’re a solutions orientated team, dedicated to using our extensive skills and experience to secure the best, most efficient ways to help your business with software development solutions that ensure
                    your software programs and applications run optimally and are geared to helping your users and clients enjoy the best possible experience.
                </p>
                <a class="cs-btn-one btn-gradient-color btn-lg" asp-page="/Engage">Read More</a>
            </div>
        </div>

    </div>
</section>
<!-- About Section End -->

<!-- Feature Section Start -->
<section class="feature-section pdt-110 pdb-130 bg-silver-light bg-no-repeat" data-background="images/bg/abs-bg5.html">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="feature-box mrb-lg-60">
                    <div class="feature-thumb">
                        <img class="img-full" src="images/content/featured/AboutOlympia1.jpg" alt="">
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Olympia</h3>
                        </div>
                        <div class="para">
                            <p>Leading the way in digital innovation with turn-key products and services.</p>
                        </div>
                        <div class="link">
                            <a asp-page="/Contact"><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="feature-box mrb-lg-60">
                    <div class="feature-thumb">
                        <img class="img-full" src="images/content/featured/AboutOlympia2.jpg" alt="">
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Olympia Digital</h3>
                        </div>
                        <div class="para">
                            <p>Software development, performance testing and implementation.</p>
                        </div>
                        <div class="link">
                            <a asp-page="/Contact"><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="feature-box">
                    <div class="feature-thumb">
                        <img class="img-full" src="images/content/featured/AboutOlympia3.jpg" alt="">
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Olympia Engage</h3>
                        </div>
                        <div class="para">
                            <p>Our signature software. A cutting-edge employee engagement platform.</p>
                        </div>
                        <div class="link">
                            <a asp-page="/Contact"><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Section End -->

<!-- Team Section Start -->
<section class="pdt-0 pdb-210 pdb-md-110 minus-mrt-130 bg-pos-center-bottom" data-background="images/bg/abs-bg1.png">
    <div class="section-content">
        <div class="container">
            <br />
            <br />

            <div class="row align-items-center pdt-80">
                <div class="col-md-12 col-xl-6">
                    <h5 class="mrb-15 text-primary-color sub-title-side-line">Our Professional Skills</h5>
                    <h2 class="mrb-30">We Help You to Grow <br><span class="f-weight-400">Your Business</span> Quickly</h2>
                    <p class="mrb-30">Our team is highly skilled in providing software planning and software development solutions that help your business processes and applications to function optimally. Here is the range of software development and management services that we provide:</p>
                    <div class="skills mrb-lg-60">
                        <div class="skill-item">
                            <div class="skill-header">
                                <h6 class="skill-title">Product Development	</h6>
                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="2100" data-stop="95">0</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="95"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-header">
                                <h6 class="skill-title">Software Needs Analysis</h6>
                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="2000" data-stop="92">0</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="92"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-header">
                                <h6 class="skill-title">Project  Management</h6>
                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="1900" data-stop="96">0</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="96"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-header">
                                <h6 class="skill-title">Project Architecture and Planning</h6>
                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="1800" data-stop="90">0</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="90"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-header">
                                <h6 class="skill-title">Performance Testing</h6>
                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="1800" data-stop="98">0</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="98"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-header">
                                <h6 class="skill-title">Automation Testing</h6>
                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="1800" data-stop="92">0</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="92"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-header">
                                <h6 class="skill-title">Functional Testing</h6>
                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="1800" data-stop="91">0</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="91"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-header">
                                <h6 class="skill-title">Continuous Performance Management</h6>
                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="1800" data-stop="99">0</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="99"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-header">
                                <h6 class="skill-title">Employee Engagement Systems </h6>
                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="1800" data-stop="97">0</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="97"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12 col-xl-6">
                    <div class="img-full d-none d-lg-block">
                        
                        <img class="img-full" src="/images/development-8WB2LSV.jpg" alt="Development" style="padding-top:200px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->