<div class="module clearfix modLine subscribe-home">
    <h3 class="modtitle">Sign up for newsletter	</h3>
    <div class="modcontent align-center">
        <form class="form subscribe" novalidate="novalidate" action="http://magento2.magentech.com/themes/sm_market/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
            <div class="input-group">
                <input name="email" type="email" class="form-control" onfocus="if(this.value=='Your email address') this.value='';" onblur="if(this.value=='') this.value='Your email address';" value="Your email address" data-validate="{required:true, 'validate-email':true}">
                <span class="input-group-btn">
                    <button type="submit" class="button-search btn btn-primary" name="submit_search">Subscribe</button>
                </span>
            </div>
        </form>
    </div>
</div>