@model EmailAddress<Supplier>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add Email Address</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <form id="CreateEmailAddressForm">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="EntityId" />
                <div class="form-group">
                    @*<label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Default" /> @Html.DisplayNameFor(model => model.Default)
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
            <a href="javascript:;" onclick="ConfirmEmailAddress()" class="btn btn-sm btn-primary">Submit & Add</a>
        </div>
    </div>
</div>

<script>

    function ConfirmEmailAddress() {

        var myformdata = $("#CreateEmailAddressForm").serialize();
        var url = "@Url.Action("CreateEmailAddress", "Home", new {area= "Customers" })";

        $.ajax({
            type: "POST",
            data: myformdata,
            url: url,
            success: function (data) {

                $("#ModalPlaceHolder").modal("hide");

                var tableBody = document.getElementById("emailAddressTableBody");

                var tableRow = document.createElement("tr");

                var tableAddressColumn = document.createElement("td");
                var tableAddressDefaultColumn = document.createElement("td");
                var tableAddressButtonColumn = document.createElement("td");

                var defaultIcon = document.createElement("i");

                var tableAddressEditButton = document.createElement("a");
                var tableAddressDeleteButton = document.createElement("a");

                var tableAddressEditButtonIcon = document.createElement("i");
                var tableAddressDeleteButtonIcon = document.createElement("i");


                tableBody.append(tableRow);
                tableRow.append(tableAddressColumn);
                tableRow.append(tableAddressDefaultColumn);
                tableRow.append(tableAddressDefaultColumn);
                tableRow.append(tableAddressButtonColumn);
                tableAddressDefaultColumn.append(defaultIcon);
                tableAddressButtonColumn.append(tableAddressEditButton);
                tableAddressEditButton.append(tableAddressEditButtonIcon);
                tableAddressButtonColumn.append(tableAddressDeleteButton);
                tableAddressDeleteButton.append(tableAddressDeleteButtonIcon);


                tableRow.id = "row_" + data.id;
                tableRow.classList.add("row_" + data.id);

                tableAddressColumn.id = "emailAddress_" + data.id;
                tableAddressColumn.innerHTML = data.address;


                tableAddressColumn.id = "emailDefault_" + data.id;

                defaultIcon.classList.add("fa");
                if (data.defaultEntry) {
                    defaultIcon.classList.add("fa-check");
                } else {
                    defaultIcon.classList.add("fa-close");
                }

                tableAddressEditButton.href = "javascript:;";
                tableAddressEditButton.onclick = function () { ShowEditEmailAddressModel(data.id) };

                tableAddressEditButtonIcon.classList.add("fa", "fa-edit");

                tableAddressDeleteButton.href = "javascript:;";
                tableAddressDeleteButton.onclick = function () { ShowDeleteEmailAddressModel(data.id) };


                tableAddressDeleteButtonIcon.classList.add("fa", "fa-trash");
                tableAddressDeleteButtonIcon.style.paddingLeft = "5px";

                //var markup = "<tr id='row_" + data.id + " class='row_" + data.id + "'>" +
                //    "<td>" + data.address + "</td> " +
                //    "<td></td> " +
                //    "<td>" +
                //    "<a href=\"javascript:;\" onclick=\"ShowEditContactModal('" + data.id + "," + data.parentId + "')\"><i class=\"fa fa-edit\" style=\"padding-right: 5px;\"></i></a>" +
                //    "<a href=\"javascript:;\" onclick=\"ShowDeleteContactModal('" + data.id + "')\"><i class=\"fa fa-trash\"></i></a> " +
                //    "</td>" +
                //    "</tr>";


                $("#EmailAddressList").append(markup);

            },
            error: function (xhr, textStatus, err) {
                alert("An error with the following detials occured : "
                    + "\r\n == readyState: " + xhr.readyState
                    + "\r\n == responseText: " + xhr.responseText
                    + "\r\n == status: " + xhr.status
                    + "\r\n == text status: " + textStatus
                    + "\r\n == error: " + err);
            }
        });
    }
</script>