@model IEnumerable<Messaging.Base.Entities.Notification>

<div class="panel panel-inverse" data-sortable-id="index-5">
    <div class="panel-heading">
        <h4 class="panel-title">Notifications</h4>
    </div>
    <div class="panel-body">
        <div class="height-sm" data-scrollbar="true">
            <ul class="media-list media-list-with-divider media-messaging">
                @if(Model.Any())
                {
                
                    foreach (var item in Model)
                    {
                        <li class="media media-sm">
                            <a href="javascript:;" class="pull-left">
                                <img src="@item.ImageUrl" alt="" class="media-object rounded-corner"/>
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading">@item.Name</h5>
                                <p>@item.MessageString</p>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li class="media media-sm">
                        <div class="media-body">
                            <h4 class="media-heading">No notifications currently available!</h4>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>