<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Novaly">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Novaly Business Consulting HTML5 Template">
    <meta name="keywords" content=" Business, Consulting, Marketing, Agency, Creative, multipage, template" />
    <title>Olympia - Team Engagement Platform</title>
    <link href="/images/favicon.png" rel="shortcut icon" type="image/png">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    @await RenderSectionAsync("Styles", required: false)

</head>
<body>

    <!-- Preloader Start -->
    <div class="preloader"></div>

    @Html.Partial("Headers/Default")

    @RenderBody()

    @Html.Partial("Footers/Default")

    <!-- BACK TO TOP SECTION -->
    <div class="back-to-top bg-gradient-color">
        <i class="fab fa-angle-up"></i>
    </div>

    <!-- Integrated important scripts here -->
    <script src="/js/jquery.v1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-core-plugins.js"></script>
    <script src="/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>