<footer id="footer">

    <!-- Visible when footer positions are fixed -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="show-fixed pull-right">
        <ul class="footer-list list-inline">
            <li>
                <p class="text-sm">SEO Proggres</p>
                <div class="progress progress-sm progress-light-base">
                    <div style="width: 80%" class="progress-bar progress-bar-danger"></div>
                </div>
            </li>

            <li>
                <p class="text-sm">Online Tutorial</p>
                <div class="progress progress-sm progress-light-base">
                    <div style="width: 80%" class="progress-bar progress-bar-primary"></div>
                </div>
            </li>
            <li>
                <button class="btn btn-sm btn-dark btn-active-success">Checkout</button>
            </li>
        </ul>
    </div>



    <div class="row">
        <div class="col-sm-5 copyright-text">
            &copy; Copyright @DateTime.Now.Year - Created by <a href="https://www.iqtechsolutions.co.za" target="_blank"><strong style="color: blue !important">IQ Tech Solutions</strong></a>
        
        </div>
        <div class="col-sm-7">
            <div class="block-payment text-right">
                <span><a asp-area="" asp-controller="Home" asp-action="Terms"> Terms and Conditions</a></span> |
                <span><a asp-area="" asp-controller="Home" asp-action="Privacy"> Privacy Policy</a></span> |
                <span><a asp-area="" asp-controller="Home" asp-action="CommingSoon"> Affiliates</a></span> |
                <span><a asp-area="Faqs" asp-controller="Home" asp-action="Index"> FAQ</a></span>
            </div>
        </div>

    </div>



</footer>