@inject ChatContext _Service;

@using Messaging.Core.Context.Services
@model IEnumerable<Identity.Base.Entities.UserInfo>

@{
    ViewData["Title"] = "Friends";
}

    <!--<div id="page-content">

        foreach (var item in Model)
        {
            <div class="row">
                <div class="col-lg-12">-->
					
                    <!--Profile Heading-->
                    <!--===================================================-->
                    <!--<div class="panel">
                        <div class="panel-bg-cover">
                            <img class="img-responsive" src="/img/thumbs/img1.jpg" alt="Image">
                        </div>
                        <div class="panel-media">
                            <img class="panel-media-img img-circle img-border-light" alt="Profile Picture">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h3 class="panel-media-heading">item.FriendUser.FirstName item.FriendUser.LastName</h3>
                                    <a  class="btn-link">item.FriendUser.UserName</a>
                                    <p class="text-muted mar-btm">item.FriendUser.Email</p>
                                </div>
                                <div class="col-lg-5 text-lg-right">
                                    <button asp-area="Chats" asp-controller="Home" asp-action="RemoveFriend" asp-route-id="item.Id" class="btn btn-sm btn-primary">Remove Friend</button>
                                    <button asp-area="Chats" asp-controller="Home" asp-action="CreatePrivateChat" asp-route-id="item.Id" class="btn btn-sm btn-mint btn-icon">Message</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h4>Personal Description</h4>
                            item.FriendUser.PersonalDetails.PersonalDescription
                        </div>
                    </div>-->
                    <!--===================================================-->
					
                <!--</div>
            </div>
        }
    </div>-->