@model CorrectiveActionAddEditViewModel

@section Styles
{
    <link href="~/css/summernote.css" rel="stylesheet" type="text/css" />
}

<div class="profile-container">

<div class="profile-section">

    <form asp-area="Troubleshooting" asp-controller="CorrectiveActions" asp-action="Create" enctype="multipart/form-data" method="post">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <h3>Create Corrective action for :</h3>
                    <h5>@Model.Cause.Description.HtmlToPlainText()</h5>
                    <hr />
                    <div class="form-group">
                        <label class="control-label">Short Description</label>
                        <textarea asp-for="Entity.Description" class="form-control" style="height: 100px"></textarea>
                        <span asp-validation-for="Entity.Description" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Entity.CauseId" />
                    <input type="hidden" asp-for="Entity.Id" />
                </div>
            </div>
        </div>
        <!-- ================== FORM BUTTON ================== -->
        <div class="row" style="padding-bottom: 50px">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-right">
                    <input type="submit" value="Save" class="btn btn-primary" formmethod="post" />
                    <a href="@Model.ReturnUrl" class="btn btn-sm btn-danger" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
        <!-- ================== END FORM BUTTON ================== -->

    </form>

</div>

</div>

@section Scripts
{
    <!-- Summer Note JS -->
    <script src="~/js/summernote/summernote.js"></script>

    <script type="text/javascript">
        // Default
        $(document).ready(function () {
            var HomeIndex = function () {

                var $this = this;
                function initialize() {
                    $('#Action_Description').summernote({
                        height: 250,
                        codemirror: { // codemirror options
                            theme: 'monokai'
                        }
                    });
                }

                $this.init = function () {
                    initialize();
                }
            };
            var self = new HomeIndex();
            self.init();
        });

    </script>

}