@using System.Security.Claims
<nav class="side-navbar box-scroll sidebar-scroll">
    <!-- Begin Main Navigation -->
    <ul class="list-unstyled">
        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index"><i class="la la-dashboard"></i><span>Dashboard</span></a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="la la-home"></i><span>Homepage</span></a></li>
    </ul>

    <span class="heading">Administration</span>
    <ul class="list-unstyled">
        <li>
            <a href="#dropdown-customers" aria-expanded="false" data-toggle="collapse"><i class="la la-user"></i><span>Profile</span></a>
            <ul id="dropdown-customers" class="collapse list-unstyled pt-0">
                <li><a asp-area="Scheduling" asp-controller="Calendar" asp-action="Index" asp-route-userId="@ClaimTypes.NameIdentifier">Calendar</a></li>
                <li><a asp-area="Scheduling" asp-controller="Tasks" asp-action="List" asp-route-id="@ClaimTypes.NameIdentifier">Recurring Tasks</a></li>
            </ul>
        </li>
        @*<li>
            <a href="#dropdown-salesleads" aria-expanded="false" data-toggle="collapse"><i class="la la-users"></i><span>Customers</span></a>
            <ul id="dropdown-salesleads" class="collapse list-unstyled pt-0">
                <li><a asp-area="Customers" asp-controller="Home" asp-action="List">List</a></li>
                <li><a asp-area="SalesLeads" asp-controller="Home" asp-action="List">Sales Leads</a></li>
            </ul>
        </li>*@
        <li>
            <a href="#dropdown-salesleads" aria-expanded="false" data-toggle="collapse"><i class="la la-users"></i><span>Inventory</span></a>
            <ul id="dropdown-salesleads" class="collapse list-unstyled pt-0">
                <li><a asp-area="Suppliers" asp-controller="Home" asp-action="List">Suppliers</a></li>
                <li><a asp-area="Inventory" asp-controller="GoodsReceived" asp-action="Index">Goods Received Voucher</a></li>
            </ul>
        </li>
        <li>
            <a asp-area="FileManager" asp-controller="Home" asp-action="Index"><i class="la la-file"></i><span>File Manager</span></a>
        </li>
        <li>
            <a href="#dropdown-projects" aria-expanded="false" data-toggle="collapse"><i class="la la-pied-piper"></i><span>Projects</span></a>
            <ul id="dropdown-projects" class="collapse list-unstyled pt-0">
                <li><a asp-area="Projects" asp-controller="Home" asp-action="List">List</a></li>
                <li><a asp-area="Projects" asp-controller="Categories" asp-action="List">Categories</a></li>
            </ul>
        </li>
        <li>
            <a href="#dropdown-products" aria-expanded="false" data-toggle="collapse"><i class="la la-shopping-cart"></i><span>Products</span></a>
            <ul id="dropdown-products" class="collapse list-unstyled pt-0">
                <li><a asp-area="Products" asp-controller="Home" asp-action="List">List</a></li>
                <li><a asp-area="Products" asp-controller="Categories" asp-action="List">Categories</a></li>
                <li><a asp-area="Products" asp-controller="Brands" asp-action="List">Brands</a></li>
            </ul>
        </li>
        <li>
            <a href="#dropdown-services" aria-expanded="false" data-toggle="collapse"><i class="la la-shield"></i><span>Services</span></a>
            <ul id="dropdown-services" class="collapse list-unstyled pt-0">
                <li><a asp-area="Services" asp-controller="Home" asp-action="List">List</a></li>
                <li><a asp-area="Services" asp-controller="Categories" asp-action="List">Categories</a></li>
                <li><a asp-area="Services" asp-controller="Home" asp-action="Modules">Modules</a></li>
            </ul>
        </li>
        <li>
            <a href="#dropdown-blog" aria-expanded="false" data-toggle="collapse"><i class="la la-book"></i><span>Blog</span></a>
            <ul id="dropdown-blog" class="collapse list-unstyled pt-0">
                <li><a asp-area="Blog" asp-controller="Home" asp-action="List">List</a></li>
                <li><a asp-area="Blog" asp-controller="Categories" asp-action="List">Categories</a></li>
            </ul>
        </li>

    </ul>

    <span class="heading">Need Some Help!</span>
    <ul class="list-unstyled">
        <li>
            <a href="#dropdown-faq" aria-expanded="false" data-toggle="collapse"><i class="la la-question"></i><span>FAQ's</span></a>
            <ul id="dropdown-faq" class="collapse list-unstyled pt-0">
                <li><a asp-area="Faqs" asp-controller="Home" asp-action="List">List</a></li>
                <li><a asp-area="Faqs" asp-controller="Categories" asp-action="List">Categories</a></li>
            </ul>
        </li>
    </ul>
</nav>