#pricing {
  background-color: rgba(138, 247, 180, 0.5);
  color: rgb(49, 0, 0);
  position: relative;
  overflow: hidden;
}

#pricing .description, #pricing .plans {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  position: relative;
}

#pricing .description {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
}

#pricing .description .table td {
  text-align:center;
}

#pricing .description .table td img{
  max-height: 20px;
  max-width:20px;
}

#pricing .plans {
  text-align: center;
}

#pricing .plans h1 {
  font-family: monospace;
}

#pricing .plans .save {
  position: absolute;
  top: -40px;
  right: -30px;
  padding: 16px;
  transform: rotateZ(15deg);
  background-color: #555;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  z-index: 500;
  padding: 16px;
}