<!--====== PAGE TITLE PART START ======-->

<div class="page-title-area bg_cover" style="background-image: url(assets/images/page-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-content">
                    <span>Recent blog</span>
                    <h3 class="title">Fresh Crypten Reads</h3>
                    <form action="#">
                        <div class="input-box">
                            <i class="far fa-search"></i>
                            <input type="text" placeholder="search">
                        </div>
                        <div class="item-1">
                            <select>
                                <option value="1">Category</option>
                                <option value="2">Technology</option>
                                <option value="3">Blockchain</option>
                                <option value="4">Cryptocurrency</option>
                                <option value="5">Consulting</option>
                                <option value="6">The Future</option>
                            </select>
                        </div>
                        <div class="item-2">
                            <select>
                                <option value="1">archive  </option>
                                <option value="2">Technology</option>
                                <option value="3">Blockchain</option>
                                <option value="4">Cryptocurrency</option>
                                <option value="5">Consulting</option>
                                <option value="6">The Future</option>
                            </select>
                        </div>
                        <div class="item-3">
                            <select>
                                <option value="1">Type </option>
                                <option value="2">Technology</option>
                                <option value="3">Blockchain</option>
                                <option value="4">Cryptocurrency</option>
                                <option value="5">Consulting</option>
                                <option value="6">The Future</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="page-thumb">
        <img src="assets/images/page-thumb.png" alt="">
    </div>
</div>

<!--====== PAGE TITLE PART ENDS ======-->
<!--====== BLOG PART START ======-->

<div class="blog-area blog-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="blog-item mt-30">
                    <div class="blog-thumb">
                        <img src="assets/images/blog-1.jpg" alt="">
                    </div>
                    <div class="blog-content text-center">
                        <span><span>BLOCKCHAIN</span>    |    June 19, 2019</span>
                        <a href="#">Decentralized vs. Centralized Exchanges</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="blog-item mt-30">
                    <div class="blog-thumb">
                        <img src="assets/images/blog-2.jpg" alt="">
                    </div>
                    <div class="blog-content text-center">
                        <span><span>BLOCKCHAIN</span>    |    June 19, 2019</span>
                        <a href="#">Cryptocurrencies and The Promising Future</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="blog-item mt-30">
                    <div class="blog-thumb">
                        <img src="assets/images/blog-3.jpg" alt="">
                    </div>
                    <div class="blog-content text-center">
                        <span><span>BLOCKCHAIN</span>    |    June 19, 2019</span>
                        <a href="#">Crypten Blockchain Initiative for 2019</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="blog-item mt-30">
                    <div class="blog-thumb">
                        <img src="assets/images/blog-4.jpg" alt="">
                    </div>
                    <div class="blog-content text-center">
                        <span><span>BLOCKCHAIN</span>    |    June 19, 2019</span>
                        <a href="#">Decentralized vs. Centralized Exchanges</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="blog-item mt-30">
                    <div class="blog-thumb">
                        <img src="assets/images/blog-5.jpg" alt="">
                    </div>
                    <div class="blog-content text-center">
                        <span><span>BLOCKCHAIN</span>    |    June 19, 2019</span>
                        <a href="#">Cryptocurrencies and The Promising Future</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="blog-item mt-30">
                    <div class="blog-thumb">
                        <img src="assets/images/blog-6.jpg" alt="">
                    </div>
                    <div class="blog-content text-center">
                        <span><span>BLOCKCHAIN</span>    |    June 19, 2019</span>
                        <a href="#">Crypten Blockchain Initiative for 2019</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="blog-item mt-30">
                    <div class="blog-thumb">
                        <img src="assets/images/blog-7.jpg" alt="">
                    </div>
                    <div class="blog-content text-center">
                        <span><span>BLOCKCHAIN</span>    |    June 19, 2019</span>
                        <a href="#">Decentralized vs. Centralized Exchanges</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="blog-item mt-30">
                    <div class="blog-thumb">
                        <img src="assets/images/blog-8.jpg" alt="">
                    </div>
                    <div class="blog-content text-center">
                        <span><span>BLOCKCHAIN</span>    |    June 19, 2019</span>
                        <a href="#">Cryptocurrencies and The Promising Future</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="blog-item mt-30">
                    <div class="blog-thumb">
                        <img src="assets/images/blog-9.jpg" alt="">
                    </div>
                    <div class="blog-content text-center">
                        <span><span>BLOCKCHAIN</span>    |    June 19, 2019</span>
                        <a href="#">Crypten Blockchain Initiative for 2019</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pagination-area d-flex justify-content-start mt-50">
                    <nav aria-label="Page navigation ">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fal fa-arrow-left"></i></span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fal fa-arrow-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!--====== BLOG PART ENDS ======-->
