
@model Duplessis_Legal.Areas.About.Views.Home.IndexModel

   <div class="body-wrapper  float-menu gdlr-header-solid" data-home="#">

            <div class="content-wrapper">
                <div class="gdlr-content">

                    
                    <!-- Sidebar With Content Section-->
                    <div class="with-sidebar-wrapper">
                        <section id="content-section-1">
                            <div class="gdlr-parallax-wrapper gdlr-background-image gdlr-show-all no-skin" id="gdlr-parallax-wrapper-1" data-bgspeed="0.25" style="        background-image: url('/images/judge-gavel-with-justice-lawyers-having-team-meeti-HMWWXEN.jpg');
        padding-top: 85px;
        padding-bottom: 50px;">
                                <div class="container">
                                    <div class="one-fifth column"></div>
                                    <div class="three-fifth columns">
                                        <div class="gdlr-item gdlr-about-us-item">
                                            <h3 class="about-us-title">Story About Us</h3>
                                            <div class="about-us-caption">isus Egestas Cursus Elit Vehicula</div>
                                            <div class="about-us-divider"></div>
                                            <div class="about-us-content">
                                                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Cras justo odio.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="one-fifth column"></div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </section>
                        <section id="content-section-2">
                            <div class="gdlr-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; padding-top: 70px; padding-bottom: 20px; ">
                                <div class="container">
                                    <div class="four columns">
                                        <div class="gdlr-ux column-service-ux">
                                            <div class="gdlr-item gdlr-column-service-item gdlr-type-2" style="margin-bottom: 40px;">
                                                <div class="column-service-image"><img src="/images/judge-gavel-with-justice-lawyers-having-team-meeti-HMWWXEN.jpg" alt="" width="40" height="40" /></div>
                                                <div class="column-service-content-wrapper">
                                                    <h3 class="column-service-title">Ligula Nibh Ridiculus</h3>
                                                    <div class="column-service-content gdlr-skin-content">
                                                        <p>Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur Nullam id dolor id.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="four columns">
                                        <div class="gdlr-ux column-service-ux">
                                            <div class="gdlr-item gdlr-column-service-item gdlr-type-2" style="margin-bottom: 40px;">
                                                <div class="column-service-image"><img src="/images/work-of-law-firm-93D65ZT.jpg" alt="" width="39" height="42" /></div>
                                                <div class="column-service-content-wrapper">
                                                    <h3 class="column-service-title">Vulputate Nullam Tristique</h3>
                                                    <div class="column-service-content gdlr-skin-content">
                                                        <p>Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur Nullam id dolor id.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="four columns">
                                        <div class="gdlr-ux column-service-ux">
                                            <div class="gdlr-item gdlr-column-service-item gdlr-type-2" style="margin-bottom: 40px;">
                                                <div class="column-service-image"><img src="/images/police-criminologist.jpg" alt="" width="52" height="36" /></div>
                                                <div class="column-service-content-wrapper">
                                                    <h3 class="column-service-title">Ridiclus Eumod Peenue</h3>
                                                    <div class="column-service-content gdlr-skin-content">
                                                        <p>Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur Nullam id dolor id.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="four columns">
                                        <div class="gdlr-ux column-service-ux">
                                            <div class="gdlr-item gdlr-column-service-item gdlr-type-2" style="margin-bottom: 40px;">
                                                <div class="column-service-image"><img src="/images/police-officers-reads-law-to-female-driver-JZKG5ML.jpg" alt="" width="39" height="52" /></div>
                                                <div class="column-service-content-wrapper">
                                                    <h3 class="column-service-title">Inceptos Venenatis Commodo</h3>
                                                    <div class="column-service-content gdlr-skin-content">
                                                        <p>Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur Nullam id dolor id.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="four columns">
                                        <div class="gdlr-ux column-service-ux">
                                            <div class="gdlr-item gdlr-column-service-item gdlr-type-2" style="margin-bottom: 40px;">
                                                <div class="column-service-image"><img src="/images/law-enforcement.jpg" alt="" width="40" height="39" /></div>
                                                <div class="column-service-content-wrapper">
                                                    <h3 class="column-service-title">Justo Condimentum Purus</h3>
                                                    <div class="column-service-content gdlr-skin-content">
                                                        <p>Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur Nullam id dolor id.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="four columns">
                                        <div class="gdlr-ux column-service-ux">
                                            <div class="gdlr-item gdlr-column-service-item gdlr-type-2" style="margin-bottom: 40px;">
                                                <div class="column-service-image"><img src="/images/dollar-bills-in-criminal-investigation-unit-concep-8WNCYUH.jpg" alt="" width="43" height="48" /></div>
                                                <div class="column-service-content-wrapper">
                                                    <h3 class="column-service-title">Ornare Pellentesque</h3>
                                                    <div class="column-service-content gdlr-skin-content">
                                                        <p>Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur Nullam id dolor id.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </section>
                       
                        <section id="content-section-4">
                            <div class="gdlr-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; padding-top: 50px; padding-bottom: 20px; ">
                                <div class="container">
                                    <div class="gdlr-item gdlr-tab-item vertical">
                                        <div class="tab-title-wrapper">
                                            <div class="gdlr-item-title-wrapper gdlr-item  gdlr-left gdlr-medium ">
                                                <div class="gdlr-item-title-head">
                                                    <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border">Our Services</h3>
                                                </div>
                                                <div class="gdlr-item-title-caption gdlr-skin-info">Bibendum Etiam Venenatis Nibh Magna</div>
                                            </div>
                                            <h4 class="tab-title gdlr-content-font active"><span>Aenean Tellus </span></h4>
                                            <h4 class="tab-title gdlr-content-font"><span>Fermentum Ultricies</span></h4>
                                            <h4 class="tab-title gdlr-content-font"><span>Condimentum Porta</span></h4>
                                            <h4 class="tab-title gdlr-content-font"><span>Tellus Aenscing</span></h4>
                                            <h4 class="tab-title gdlr-content-font"><span>Purus Porta Cursus</span></h4>
                                        </div>
                                        <div class="tab-content-wrapper">
                                            <div class="tab-content active">
                                                <h5>Aenean Tellus </h5>
                                                <p><img src="upload/about-tab-1.html" alt="" style="margin-right: 20px; " /><img src="upload/about-tab-2.html" alt="" style="margin-right: 20px; " /><img src="upload/about-tab-3.html" alt="" style="margin-right: 20px; " /></p>
                                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibu lum at eros. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta. Nullam quis risus eget urna mollis ornare vel eu. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. </p>
                                            </div>
                                            <div class="tab-content">
                                                <h5>Fermentum Ultricies</h5>
                                                <p><img src="upload/about-tab-6.html" alt="" style="margin-right: 20px; " /><img src="upload/about-tab-4.html" alt="" style="margin-right: 20px; " /><img src="upload/about-tab-5.html" alt="" style="margin-right: 20px; " /></p>
                                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibu lum at eros. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta. Nullam quis risus eget urna mollis ornare vel eu. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. </p>
                                            </div>
                                            <div class="tab-content">
                                                <h5>Condimentum Porta</h5>
                                                <p><img src="upload/about-tab-3.html" alt="" style="margin-right: 20px; " /><img src="upload/about-tab-4.html" alt="" style="margin-right: 20px; " /><img src="upload/about-tab-1.html" alt="" style="margin-right: 20px; " /></p>
                                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibu lum at eros. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta. Nullam quis risus eget urna mollis ornare vel eu. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. </p>
                                            </div>
                                            <div class="tab-content">
                                                <h5>Tellus Aenscing</h5>
                                                <p><img src="upload/about-tab-1.html" alt="" style="margin-right: 20px; " /><img src="upload/about-tab-5.html" alt="" style="margin-right: 20px; " /><img src="upload/about-tab-4.html" alt="" style="margin-right: 20px; " /></p>
                                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibu lum at eros. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta. Nullam quis risus eget urna mollis ornare vel eu. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. </p>
                                            </div>
                                            <div class="tab-content">
                                                <h5>Purus Porta Cursus</h5>
                                                <p><img src="upload/about-tab-2.html" alt="" style="margin-right: 20px; " /><img src="upload/about-tab-6.html" alt="" style="margin-right: 20px; " /><img src="upload/about-tab-5.html" alt="" style="margin-right: 20px; " /></p>
                                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibu lum at eros. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta. Nullam quis risus eget urna mollis ornare vel eu. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. </p>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </section>
                        
                        <section id="content-section-6">
                            <div class="gdlr-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; padding-top: 60px; padding-bottom: 5px; ">
                                <div class="container">
                                    <div class="gdlr-personnel-item-wrapper">
                                        <div class="clear"></div>
                                        <div class="four columns">
                                            <div class="gdlr-item gdlr-personnel-item plain-style gdlr-left">
                                                <div class="gdlr-ux gdlr-personnel-ux">
                                                    <div class="personnel-item">
                                                        <div class="personnel-author-image gdlr-skin-border"><img src="/images/close-up-portrait-of-a-young-woman-working-in-offi-9WPNGAT.jpg" alt="" width="650" height="380" /></div>
                                                        <div class="personnel-info">
                                                            <div class="personnel-author gdlr-skin-title">Paul Fisher</div>
                                                            <div class="personnel-position gdlr-skin-info">Financial Advisor</div>
                                                        </div>
                                                        <div class="personnel-content gdlr-skin-content">
                                                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                                        </div>
                                                        <div class="personnel-social"><i class="gdlr-icon fa fa-facebook" style="color: #f38142; font-size: 17px; "></i> <i class="gdlr-icon fa fa-twitter" style="color: #f38142; font-size: 17px; "></i> <i class="gdlr-icon fa fa-linkedin" style="color: #f38142; font-size: 17px; "></i> <i class="gdlr-icon fa fa-skype" style="color: #f38142; font-size: 17px; "></i> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="four columns">
                                            <div class="gdlr-item gdlr-personnel-item plain-style gdlr-left">
                                                <div class="gdlr-ux gdlr-personnel-ux">
                                                    <div class="personnel-item">
                                                        <div class="personnel-author-image gdlr-skin-border"><img src="/images/man-in-office-EVACZPN.jpg" alt="" width="650" height="380" /></div>
                                                        <div class="personnel-info">
                                                            <div class="personnel-author gdlr-skin-title">John Smith</div>
                                                            <div class="personnel-position gdlr-skin-info">Business Planner</div>
                                                        </div>
                                                        <div class="personnel-content gdlr-skin-content">
                                                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                                        </div>
                                                        <div class="personnel-social"><i class="gdlr-icon fa fa-facebook" style="color: #f38142; font-size: 17px; "></i> <i class="gdlr-icon fa fa-twitter" style="color: #f38142; font-size: 17px; "></i> <i class="gdlr-icon fa fa-linkedin" style="color: #f38142; font-size: 17px; "></i> <i class="gdlr-icon fa fa-skype" style="color: #f38142; font-size: 17px; "></i> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="four columns">
                                            <div class="gdlr-item gdlr-personnel-item plain-style gdlr-left">
                                                <div class="gdlr-ux gdlr-personnel-ux">
                                                    <div class="personnel-item">
                                                        <div class="personnel-author-image gdlr-skin-border"><img src="/images/serious-male-judge-working-with-papers-in-office-RKY84XS.jpg" alt="" width="650" height="380" /></div>
                                                        <div class="personnel-info">
                                                            <div class="personnel-author gdlr-skin-title">Simon Cruise</div>
                                                            <div class="personnel-position gdlr-skin-info">Wealth Manager</div>
                                                        </div>
                                                        <div class="personnel-content gdlr-skin-content">
                                                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                                        </div>
                                                        <div class="personnel-social"><i class="gdlr-icon fa fa-facebook" style="color: #f38142; font-size: 17px; "></i> <i class="gdlr-icon fa fa-twitter" style="color: #f38142; font-size: 17px; "></i> <i class="gdlr-icon fa fa-linkedin" style="color: #f38142; font-size: 17px; "></i> <i class="gdlr-icon fa fa-skype" style="color: #f38142; font-size: 17px; "></i> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </section>
                    </div>
                    <!-- Below Sidebar Section-->

                </div>
                <!-- gdlr-content -->
                <div class="clear"></div>
            </div>
            <!-- content wrapper -->

        </div>