<li class="megamenu-wrapper">
    <a asp-area="Products" asp-controller="Home" asp-action="Index">products</a>
    <div class="menu-toggle"></div>
    <div class="megamenu">
        <div class="links">
            <a class="active" asp-area="Products" asp-controller="Home" asp-action="Index">Products Landing 1</a>
            <a asp-area="Products" asp-controller="Home" asp-action="ProductList2">Products Landing 2</a>
            <a asp-area="Products" asp-controller="Home" asp-action="ProductList3">Products Landing 3</a>
            <a asp-area="Products" asp-controller="Home" asp-action="Details">Product Detail</a>
        </div>
        <div class="content">
            <div class="row nopadding">
                <div class="col-xs-6">
                    <div class="product-shortcode style-5">
                        <div class="product-label green">best price</div>
                        <div class="icons">
                            <a class="entry"><i class="fa fa-check" aria-hidden="true"></i></a>
                            <a class="entry open-popup" data-rel="3"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a class="entry"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                        <div class="preview">
                            <div class="swiper-container" data-loop="1">
                                <div class="swiper-button-prev style-1"></div>
                                <div class="swiper-button-next style-1"></div>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="img/product-59.jpg" alt="" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/product-61.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-animate">
                            <div class="title">
                                <div class="shortcode-rate-wrapper">
                                    <div class="rate-wrapper align-inline">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="h6 animate-to-green"><a href="product.html">modern beat nine</a></div>
                            </div>
                            <div class="description">
                                <div class="simple-article text size-2">Mollis nec consequat at In feugiat molestie tortor a malesuada</div>
                            </div>
                            <div class="price">
                                <div class="simple-article size-4 dark">$630.00</div>
                            </div>
                        </div>
                        <div class="preview-buttons">
                            <div class="buttons-wrapper">
                                <a class="button size-2 style-2" href="product.html">
                                    <span class="button-wrapper">
                                        <span class="icon"><img src="img/icon-1.png" alt=""></span>
                                        <span class="text">Learn More</span>
                                    </span>
                                </a>
                                <a class="button size-2 style-3" href="#">
                                    <span class="button-wrapper">
                                        <span class="icon"><img src="img/icon-3.png" alt=""></span>
                                        <span class="text">Add To Cart</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="product-shortcode style-5">
                        <div class="product-label green">best price</div>
                        <div class="icons">
                            <a class="entry"><i class="fa fa-check" aria-hidden="true"></i></a>
                            <a class="entry open-popup" data-rel="3"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a class="entry"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                        <div class="preview">
                            <div class="swiper-container" data-loop="1">
                                <div class="swiper-button-prev style-1"></div>
                                <div class="swiper-button-next style-1"></div>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="img/product-60.jpg" alt="" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/product-61.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-animate">
                            <div class="title">
                                <div class="shortcode-rate-wrapper">
                                    <div class="rate-wrapper align-inline">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="h6 animate-to-green"><a href="product.html">modern beat nine</a></div>
                            </div>
                            <div class="description">
                                <div class="simple-article text size-2">Mollis nec consequat at In feugiat molestie tortor a malesuada</div>
                            </div>
                            <div class="price">
                                <div class="simple-article size-4 dark">$630.00</div>
                            </div>
                        </div>
                        <div class="preview-buttons">
                            <div class="buttons-wrapper">
                                <a class="button size-2 style-2" href="product.html">
                                    <span class="button-wrapper">
                                        <span class="icon"><img src="img/icon-1.png" alt=""></span>
                                        <span class="text">Learn More</span>
                                    </span>
                                </a>
                                <a class="button size-2 style-3" href="#">
                                    <span class="button-wrapper">
                                        <span class="icon"><img src="img/icon-3.png" alt=""></span>
                                        <span class="text">Add To Cart</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
<li>
    <a asp-area="Services" asp-controller="Home" asp-action="Index">Services</a>
</li>
<li>
    <a asp-area="Blog" asp-controller="Home" asp-action="Index">blog</a>
    <div class="menu-toggle"></div>
    <ul>
        <li>
            <a asp-area="Blog" asp-controller="Home" asp-action="Index">Blog Landing Pages</a>
            <div class="menu-toggle"></div>
            <ul>
                <li><a asp-area="Blog" asp-controller="Home" asp-action="Index">Blog Landing 1</a></li>
            </ul>
        </li>
        <li>
            <a asp-area="Blog" asp-controller="Home" asp-action="Details">Blog Detail Pages</a>
            <div class="menu-toggle"></div>
            <ul>
                <li><a asp-area="Blog" asp-controller="Home" asp-action="Details">Blog Detail 1</a></li>
            </ul>
        </li>
    </ul>
</li>