<li>
    <a href="">Products</a>
    <div class="menu-toggle"></div>
    <ul>
        <li><a asp-area="Products" asp-controller="Home" asp-action="List">Products</a></li>
        <li><a asp-area="Products" asp-controller="Categories" asp-action="List">Categories</a></li>
    </ul>
</li>
<li>
    <a href="">Services</a>
    <div class="menu-toggle"></div>
    <ul>
        <li><a asp-area="Services" asp-controller="Home" asp-action="List">Services</a></li>
        <li><a asp-area="Services" asp-controller="Categories" asp-action="List">Categories</a></li>
    </ul>
</li>
<li>
    <a href="">Blogs</a>
    <div class="menu-toggle"></div>
    <ul>
        <li><a asp-area="Blog" asp-controller="Home" asp-action="List">Blogs</a></li>
        <li><a asp-area="Blog" asp-controller="Categories" asp-action="List">Categories</a></li>
    </ul>
</li>