@model ModuleAssessmentElementAnswerUpdateModel
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add Contact Number to a Contact</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <form id="EditModuleAssessmentAnswerForm">
                <input type="hidden" asp-for="AssessmentElementId" />
                <input type="hidden" asp-for="AssessmentElementAnswerId" />
                <div class="form-group">
                    <label asp-for="Answer" class="control-label"></label>
                    <input asp-for="Answer" class="form-control" />
                    <span asp-validation-for="Answer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsCorrect" /> @Html.DisplayNameFor(model => model.IsCorrect)
                        </label>
                    </div>
                </div>
                <hr />
            </form>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
            <a href="javascript:;" onclick="ConfirmContact()" class="btn btn-sm btn-primary">Submit & Add</a>
        </div>
    </div>
</div>

<script>

    function ConfirmContact() {

        var myformdata = $("#EditModuleAssessmentAnswerForm").serialize();
        var url = "@Url.Action("EditModuleAssessmentElementAnswer", "Modules", new{area="Courses"})";

        $.ajax({
            type: "POST",
            data: myformdata,
            url: url,
            success: function(data) {
                $("#ModalPlaceHolder").modal("hide");
            },
            error: function(xhr, textStatus, err) {
                alert("An error with the following detials occured : " +
                    "\r\n == readyState: " +
                    xhr.readyState +
                    "\r\n == responseText: " +
                    xhr.responseText +
                    "\r\n == status: " +
                    xhr.status +
                    "\r\n == text status: " +
                    textStatus +
                    "\r\n == error: " +
                    err);
            }
        });
    }
</script>