@model IEnumerable<Grouping.Base.Entities.Category<Products.Base.Entities.Product>>

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li>
                <a asp-area="Products" asp-controller="Home" asp-action="List" asp-route-category="@category.Name">@category.Name</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-area="Products" asp-controller="Home" asp-action="List" asp-route-category="">View all Products</a>
        </li>
    </ul>
</li>