@{
    ViewData["Title"] = "Buttons";
}
<div id="main">

    <div class="breadcrumb-section">
        <div class="container">
            <h1> Buttons </h1>
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
                <a asp-area="" asp-controller="Home" asp-action="ShortCodes"> Shortcodes </a>
                <span class="current"> Buttons </span>
            </div>
        </div>
    </div>

    <!--container starts-->
    <div class="container">

        <!--primary starts-->
        <section id="primary" class="content-full-width">

            <h2 class="dt-sc-hr-title">Buttons with Icon</h2>
            <div class="column dt-sc-one-fourth first">
                <a href="#" class="dt-sc-button small"> <span class="fa fa-pencil"> </span> Small Button </a>
                <div class="dt-sc-clear"></div>
                <a href="#" class="dt-sc-button medium"> <span class="fa fa-pencil"> </span> Medium Button </a>
                <div class="dt-sc-clear"></div>
                <a href="#" class="dt-sc-button large"> <span class="fa fa-pencil"> </span> Large Button </a>
                <div class="dt-sc-clear"></div>
                <a href="#" class="dt-sc-button xlarge"> <span class="fa fa-pencil"> </span> XLarge Button </a>
            </div>

            <div class="column dt-sc-one-fourth">
                <a href="#" class="dt-sc-button small lightblue"> <span class="fa fa-thumbs-o-up"> </span> Small Button </a>
                <div class="dt-sc-clear"></div>
                <a href="#" class="dt-sc-button medium lightblue"> <span class="fa fa-thumbs-o-up"> </span> Medium Button </a>
                <div class="dt-sc-clear"></div>
                <a href="#" class="dt-sc-button large lightblue"> <span class="fa fa-thumbs-o-up"> </span> Large Button </a>
                <div class="dt-sc-clear"></div>
                <a href="#" class="dt-sc-button xlarge lightblue"> <span class="fa fa-thumbs-o-up"> </span> XLarge Button </a>
            </div>

            <div class="column dt-sc-one-fourth">
                <a href="#" class="dt-sc-button small palebrown"> <span class="fa fa-chevron-circle-right"> </span> Small Button </a>
                <div class="dt-sc-clear"></div>
                <a href="#" class="dt-sc-button medium palebrown"> <span class="fa fa-chevron-circle-right"> </span> Medium Button </a>
                <div class="dt-sc-clear"></div>
                <a href="#" class="dt-sc-button large palebrown"> <span class="fa fa-chevron-circle-right"> </span> Large Button </a>
                <div class="dt-sc-clear"></div>
                <a href="#" class="dt-sc-button xlarge palebrown"> <span class="fa fa-chevron-circle-right"> </span> XLarge Button </a>
            </div>

            <div class="column dt-sc-one-fourth">
                <a href="#" class="dt-sc-button small brown"> <span class="fa fa-legal"> </span> Small Button </a>
                <div class="dt-sc-clear"></div>
                <a href="#" class="dt-sc-button medium brown"> <span class="fa fa-legal"> </span> Medium Button </a>
                <div class="dt-sc-clear"></div>
                <a href="#" class="dt-sc-button large brown"> <span class="fa fa-legal"> </span> Large Button </a>
                <div class="dt-sc-clear"></div>
                <a href="#" class="dt-sc-button xlarge brown"> <span class="fa fa-legal"> </span> XLarge Button </a>
            </div>

            <div class="dt-sc-hr-invisible-large"></div>
            <h2 class="dt-sc-hr-title">Buttons with Border</h2>
            <div class="column dt-sc-one-fourth first">
                <a href="#" class="dt-sc-bordered-button small"> Small Button </a>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <a href="#" class="dt-sc-bordered-button medium"> Medium Button </a>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <a href="#" class="dt-sc-bordered-button large"> Large Button </a>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <a href="#" class="dt-sc-bordered-button xlarge"> XLarge Button </a>
            </div>

            <div class="column dt-sc-one-fourth">
                <a href="#" class="dt-sc-bordered-button small lightblue"> Small Button </a>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <a href="#" class="dt-sc-bordered-button medium lightblue"> Medium Button </a>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <a href="#" class="dt-sc-bordered-button large lightblue"> Large Button </a>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <a href="#" class="dt-sc-bordered-button xlarge lightblue"> XLarge Button </a>
            </div>

            <div class="column dt-sc-one-fourth">
                <a href="#" class="dt-sc-bordered-button small palebrown"> Small Button </a>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <a href="#" class="dt-sc-bordered-button medium palebrown"> Medium Button </a>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <a href="#" class="dt-sc-bordered-button large palebrown"> Large Button </a>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <a href="#" class="dt-sc-bordered-button xlarge palebrown"> XLarge Button </a>
            </div>

            <div class="column dt-sc-one-fourth">
                <a href="#" class="dt-sc-bordered-button small brown"> Small Button </a>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <a href="#" class="dt-sc-bordered-button medium brown"> Medium Button </a>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <a href="#" class="dt-sc-bordered-button large brown"> Large Button </a>
                <div class="dt-sc-clear"></div>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <a href="#" class="dt-sc-bordered-button xlarge brown"> XLarge Button </a>
            </div>
            <div class="dt-sc-hr-invisible-large"></div>
            <div class="mailchimp">
                <p> <span class="fa fa-envelope-o"></span> Subscribe to Newsletter </p>
                <form name="frmnewsletter" method="post" class="mailchimp-form" action="php/subscribe.php">
                    <input type="email" placeholder="Email" name="mc_email" required />
                    <input type="submit" value="Submit" class="nl-submit" name="btnsubscribe">
                </form>
                <div id="ajax_subscribe_msg"></div>
            </div>

        </section>
        <!--primary ends-->

    </div>
    <!--container ends-->
    <!--office_locations starts-->
    <div class="office_locations">
        <div class="container">
            <p> Our Offices: </p>
            <ul class="dt-sc-locations">
                <li>
                    <a href="#"> Princeton, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Princeton, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Flemington, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 1rd Floor, Sedrik Street, <br>
                            Flemington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Red Bank, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Aslan Street, <br>
                            Red Bank, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Wilmington, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Wilmington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Georgetown, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Georgetown, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> New York, NY </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 4th Floor, Moro Street, <br>
                            New York, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Haddonfield, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Haddonfield, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Philadelphia, PA </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 32nd Floor, Hagid Street, <br>
                            Philadelphia, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--office_locations ends-->

</div>