@{
    ViewData["Title"] = "Lists";
}
<div id="main">

    <div class="breadcrumb-section">
        <div class="container">
            <h1> Lists </h1>
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
                <a asp-area="" asp-controller="Home" asp-action="ShortCodes"> Shortcodes </a>
                <span class="current"> Lists </span>
            </div>
        </div>
    </div>

    <!--container starts-->
    <div class="container">

        <!--primary starts-->
        <section id="primary" class="content-full-width">

            <h2 class="dt-sc-hr-title">Ordered Lists</h2>
            <div class="column dt-sc-one-third first">
                <ol class="dt-sc-fancy-list decimal">
                    <li> <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ex fb aute in esse eiusmod incididunt </span> </li>
                    <li><span>Praesent convallis nibh minim veniam, quis nostruder aute exercitation ullamco laboris nisi ut aliquip </span></li>
                    <li><span>Nullam ac sapien sit aute in cd commodo consequat. Duis aute irure dolor in eprehenderit in voluptate </span></li>
                    <li><span>Phasellus auctor augue velit esse cillum dolore eu fugiat nulla pariatur aute in etict esse eiusmod </span></li>
                </ol>
            </div>

            <div class="column dt-sc-one-third">
                <ol class="dt-sc-fancy-list decimal-leading-zero ocean">
                    <li> <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ex fb aute in esse eiusmod incididunt </span> </li>
                    <li><span>Praesent convallis nibh minim veniam, quis nostruder aute exercitation ullamco laboris nisi ut aliquip </span></li>
                    <li><span>Nullam ac sapien sit aute in cd commodo consequat. Duis aute irure dolor in eprehenderit in voluptate </span></li>
                    <li><span>Phasellus auctor augue velit esse cillum dolore eu fugiat nulla pariatur aute in etict esse eiusmod </span></li>
                </ol>
            </div>

            <div class="column dt-sc-one-third">
                <ol class="dt-sc-fancy-list lower-alpha lightblue">
                    <li> <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ex fb aute in esse eiusmod incididunt </span> </li>
                    <li><span>Praesent convallis nibh minim veniam, quis nostruder aute exercitation ullamco laboris nisi ut aliquip </span></li>
                    <li><span>Nullam ac sapien sit aute in cd commodo consequat. Duis aute irure dolor in eprehenderit in voluptate </span></li>
                    <li><span>Phasellus auctor augue velit esse cillum dolore eu fugiat nulla pariatur aute in etict esse eiusmod </span></li>
                </ol>
            </div>

            <div class="dt-sc-hr-invisible-medium"></div>

            <div class="column dt-sc-one-third first">
                <ol class="dt-sc-fancy-list lower-roman palebrown">
                    <li> <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ex fb aute in esse eiusmod incididunt </span> </li>
                    <li><span>Praesent convallis nibh minim veniam, quis nostruder aute exercitation ullamco laboris nisi ut aliquip </span></li>
                    <li><span>Nullam ac sapien sit aute in cd commodo consequat. Duis aute irure dolor in eprehenderit in voluptate </span></li>
                    <li><span>Phasellus auctor augue velit esse cillum dolore eu fugiat nulla pariatur aute in etict esse eiusmod </span></li>
                </ol>
            </div>

            <div class="column dt-sc-one-third">
                <ol class="dt-sc-fancy-list upper-alpha brown">
                    <li> <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ex fb aute in esse eiusmod incididunt </span> </li>
                    <li><span>Praesent convallis nibh minim veniam, quis nostruder aute exercitation ullamco laboris nisi ut aliquip </span></li>
                    <li><span>Nullam ac sapien sit aute in cd commodo consequat. Duis aute irure dolor in eprehenderit in voluptate </span></li>
                    <li><span>Phasellus auctor augue velit esse cillum dolore eu fugiat nulla pariatur aute in etict esse eiusmod </span></li>
                </ol>
            </div>

            <div class="column dt-sc-one-third">
                <ol class="dt-sc-fancy-list upper-roman chocolate">
                    <li> <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ex fb aute in esse eiusmod incididunt </span> </li>
                    <li><span>Praesent convallis nibh minim veniam, quis nostruder aute exercitation ullamco laboris nisi ut aliquip </span></li>
                    <li><span>Nullam ac sapien sit aute in cd commodo consequat. Duis aute irure dolor in eprehenderit in voluptate </span></li>
                    <li><span>Phasellus auctor augue velit esse cillum dolore eu fugiat nulla pariatur aute in etict esse eiusmod </span></li>
                </ol>
            </div>

            <div class="dt-sc-hr-invisible-large"></div>
            <h2 class="dt-sc-hr-title">Unordered Lists</h2>
            <div class="column dt-sc-one-fourth first">
                <ul class="dt-sc-fancy-list ocean angle-double-right">
                    <li><span> Lorem ipsum dolor sit, consectetur adipisicing elit, sed do ex fb aute esse </span></li>
                    <li><span> Praesent convallis minim veniam, nostruder aute exercitation ullamco </span></li>
                    <li><span>Nullam ac sapien sit aute in commodo consequat. Duis aute irure dolor in</span></li>
                    <li><span>Phasellus auctor augue velit cillum dolore eu fugiat nulla pariatur in etict </span></li>
                </ul>
            </div>

            <div class="column dt-sc-one-fourth">
                <ul class="dt-sc-fancy-list lightblue hand-o-right">
                    <li><span> Lorem ipsum dolor sit, consectetur adipisicing elit, sed do ex fb aute esse </span></li>
                    <li><span> Praesent convallis minim veniam, nostruder aute exercitation ullamco </span></li>
                    <li><span>Nullam ac sapien sit aute in commodo consequat. Duis aute irure dolor in</span></li>
                    <li><span>Phasellus auctor augue velit cillum dolore eu fugiat nulla pariatur in etict </span></li>
                </ul>
            </div>

            <div class="column dt-sc-one-fourth">
                <ul class="dt-sc-fancy-list palebrown gavel">
                    <li><span> Lorem ipsum dolor sit, consectetur adipisicing elit, sed do ex fb aute esse </span></li>
                    <li><span> Praesent convallis minim veniam, nostruder aute exercitation ullamco </span></li>
                    <li><span>Nullam ac sapien sit aute in commodo consequat. Duis aute irure dolor in</span></li>
                    <li><span>Phasellus auctor augue velit cillum dolore eu fugiat nulla pariatur in etict </span></li>
                </ul>
            </div>

            <div class="column dt-sc-one-fourth">
                <ul class="dt-sc-fancy-list brown pencil">
                    <li><span> Lorem ipsum dolor sit, consectetur adipisicing elit, sed do ex fb aute esse </span></li>
                    <li><span> Praesent convallis minim veniam, nostruder aute exercitation ullamco </span></li>
                    <li><span>Nullam ac sapien sit aute in commodo consequat. Duis aute irure dolor in</span></li>
                    <li><span>Phasellus auctor augue velit cillum dolore eu fugiat nulla pariatur in etict </span></li>
                </ul>
            </div>

            <div class="dt-sc-hr-invisible-medium"></div>

            <div class="column dt-sc-one-fourth first">
                <ul class="dt-sc-fancy-list blue book">
                    <li><span> Lorem ipsum dolor sit, consectetur adipisicing elit, sed do ex fb aute esse </span></li>
                    <li><span> Praesent convallis minim veniam, nostruder aute exercitation ullamco </span></li>
                    <li><span>Nullam ac sapien sit aute in commodo consequat. Duis aute irure dolor in</span></li>
                    <li><span>Phasellus auctor augue velit cillum dolore eu fugiat nulla pariatur in etict </span></li>
                </ul>
            </div>

            <div class="column dt-sc-one-fourth">
                <ul class="dt-sc-fancy-list chocolate check-circle">
                    <li><span> Lorem ipsum dolor sit, consectetur adipisicing elit, sed do ex fb aute esse </span></li>
                    <li><span> Praesent convallis minim veniam, nostruder aute exercitation ullamco </span></li>
                    <li><span>Nullam ac sapien sit aute in commodo consequat. Duis aute irure dolor in</span></li>
                    <li><span>Phasellus auctor augue velit cillum dolore eu fugiat nulla pariatur in etict </span></li>
                </ul>
            </div>

            <div class="column dt-sc-one-fourth">
                <ul class="dt-sc-fancy-list grey sun">
                    <li><span> Lorem ipsum dolor sit, consectetur adipisicing elit, sed do ex fb aute esse </span></li>
                    <li><span> Praesent convallis minim veniam, nostruder aute exercitation ullamco </span></li>
                    <li><span>Nullam ac sapien sit aute in commodo consequat. Duis aute irure dolor in</span></li>
                    <li><span>Phasellus auctor augue velit cillum dolore eu fugiat nulla pariatur in etict </span></li>
                </ul>
            </div>

            <div class="column dt-sc-one-fourth">
                <ul class="dt-sc-fancy-list red slack">
                    <li><span> Lorem ipsum dolor sit, consectetur adipisicing elit, sed do ex fb aute esse </span></li>
                    <li><span> Praesent convallis minim veniam, nostruder aute exercitation ullamco </span></li>
                    <li><span>Nullam ac sapien sit aute in commodo consequat. Duis aute irure dolor in</span></li>
                    <li><span>Phasellus auctor augue velit cillum dolore eu fugiat nulla pariatur in etict </span></li>
                </ul>
            </div>
            <div class="dt-sc-hr-invisible-large"></div>
            <div class="mailchimp">
                <p> <span class="fa fa-envelope-o"></span> Subscribe to Newsletter </p>
                <form name="frmnewsletter" method="post" class="mailchimp-form" action="/php/subscribe.php">
                    <input type="email" placeholder="Email" name="mc_email" required />
                    <input type="submit" value="Submit" class="nl-submit" name="btnsubscribe">
                </form>
                <div id="ajax_subscribe_msg"></div>
            </div>

        </section>
        <!--primary ends-->

    </div>
    <!--container ends-->
    <!--office_locations starts-->
    <div class="office_locations">
        <div class="container">
            <p> Our Offices: </p>
            <ul class="dt-sc-locations">
                <li>
                    <a href="#"> Princeton, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Princeton, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Flemington, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 1rd Floor, Sedrik Street, <br>
                            Flemington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Red Bank, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Aslan Street, <br>
                            Red Bank, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Wilmington, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Wilmington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Georgetown, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Georgetown, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> New York, NY </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 4th Floor, Moro Street, <br>
                            New York, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Haddonfield, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Haddonfield, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Philadelphia, PA </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 32nd Floor, Hagid Street, <br>
                            Philadelphia, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--office_locations ends-->

</div>