@{
    ViewData["Title"] = "News Detail";
}
<div id="main">

    <div class="breadcrumb-section">
        <div class="container">
            <h1> News </h1>
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
                <a asp-area="" asp-controller="Home" asp-action="NewsDetail"> News </a>
                <span class="current"> Investigation Training Programme of 2014 Grand Jury </span>
            </div>
        </div>
    </div>

    <!--container starts-->
    <div class="container">
        <!--primary starts-->
        <section id="primary" class="page-with-sidebar with-right-sidebar">

            <div class="dt-sc-one-column dt-sc-full-width-content">
                <article class="blog-entry">
                    <div class="entry-details">
                        <div class="entry-meta">
                            <p class="date"> <span class="fa fa-calendar-o"></span> 25 June 2014 </p>
                            <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                            <div class="alignright">
                                <p class="author"> By <a href="#"> Admin </a> </p>
                                <p class="categories"> <a href="#">Attorney</a>, <a href="#">Case</a> </p>
                            </div>
                        </div>
                        <div class="entry-title">
                            <h5> Investigation Training Programme of 2014 Grand Jury </h5>
                        </div>
                        <!--entry-metadata ends-->
                        <div class="entry-thumb">
                            <a href="news-detail.html"><img src="http://placehold.it/1170x631" alt="" title=""></a>
                        </div>
                        <div class="entry-body">
                            <p>
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                                possimus, omnis voluptas assumenda est, omnis dolor repellendus. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque penatibus duis sunon et magnis dis.
                            </p>
                            <div class="dt-sc-hr-invisible-small"></div>
                            <div class="dt-sc-hr-invisible-very-small"></div>
                            <blockquote class="alignleft"><q> Omnis voluptas assumenda est, omnis dolor repellendus. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque pena tibus duis sunon et magnis dis. </q></blockquote>
                            <h6> Attorneys at Law - Justice in Hands </h6>
                            <p> Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis nats sunonis dis. </p>
                            <div class="dt-sc-hr-invisible-medium"></div>
                            <p> Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque penatibus duis sunon et magnis dis. </p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="dt-sc-hr-invisible"></div>

            <!--about-author starts-->
            <div class="about-author">
                <h2> About the Author </h2>
                <div class="author-details">
                    <div class="author-thumb">
                        <img src="http://placehold.it/66x66" alt="" title="">
                    </div>
                    <div class="author-description">
                        <h6><a href=""> William Dafoe </a></h6>
                        <span> Admin Staff </span>
                        <p> Valiam this ias nam ki astam billas. Cum sociis natoque penatibus duis sunon et magnis dis. Cier masetsociis natoque penatibus duis sunon et magnis dis. </p>
                    </div>
                </div>
            </div>
            <!--about-author ends-->

            <div class="dt-sc-hr-invisible"></div>

            <!--commententries starts-->
            <div class="commententries">
                <h2> Comments (18) </h2>
                <ul class="commentlist">
                    <li>
                        <article class="comment">
                            <header class="comment-author">
                                <img src="http://placehold.it/64x64" alt="" title="">
                            </header>
                            <section class="comment-details">
                                <div class="author-name">
                                    <a href=""> William Dafoe </a>
                                </div>
                                <div class="commentmetadata"> 7 hours ago </div>
                                <div class="alignright">
                                    <a class="comment-like-link" href=""> Like </a>
                                    <a class="comment-reply-link" href=""> Reply </a>
                                </div>
                                <div class="comment-body">
                                    <div class="comment-content">
                                        <p> Valiam this ias nam ki astam billas. Cum sociis natoque penatibus duis sunon et magnis dis. Cier masetsociis natoque penatibus duis sunon et magnis dis. </p><p> Cier masetsociis natoque penatibus duis sunon et magnis dis. </p>
                                    </div>
                                </div>
                            </section>
                        </article>
                        <ul class="children">
                            <li>
                                <article class="comment">
                                    <header class="comment-author">
                                        <img src="http://placehold.it/64x64" alt="" title="">
                                    </header>
                                    <section class="comment-details">
                                        <div class="author-name">
                                            <a href=""> Reena Joseph </a>
                                        </div>
                                        <div class="commentmetadata"> 3 hours ago </div>
                                        <div class="alignright">
                                            <a class="comment-like-link" href=""> Like </a>
                                            <a class="comment-reply-link" href=""> Reply </a>
                                        </div>
                                        <div class="comment-body">
                                            <div class="comment-content">
                                                <p> Cier masetsociis natoque penatibus duis sunon et magnis dis. </p>
                                            </div>
                                        </div>
                                    </section>
                                </article>
                            </li>
                            <li>
                                <article class="comment">
                                    <header class="comment-author">
                                        <img src="http://placehold.it/64x64" alt="" title="">
                                    </header>
                                    <section class="comment-details">
                                        <div class="author-name">
                                            <a href=""> Molly Hanna </a>
                                        </div>
                                        <div class="commentmetadata"> 2 hours ago </div>
                                        <div class="alignright">
                                            <a class="comment-like-link" href=""> Like </a>
                                            <a class="comment-reply-link" href=""> Reply </a>
                                        </div>
                                        <div class="comment-body">
                                            <div class="comment-content">
                                                <p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. </p>
                                            </div>
                                        </div>
                                    </section>
                                </article>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <article class="comment">
                            <header class="comment-author">
                                <img src="http://placehold.it/64x64" alt="" title="">
                            </header>
                            <section class="comment-details">
                                <div class="author-name">
                                    <a href=""> Raana Rishie </a>
                                </div>
                                <div class="commentmetadata"> 2 hours ago </div>
                                <div class="alignright">
                                    <a class="comment-like-link" href=""> Like </a>
                                    <a class="comment-reply-link" href=""> Reply </a>
                                </div>
                                <div class="comment-body">
                                    <div class="comment-content">
                                        <p> Valiam this ias nam ki astam billas. Cum sociis natoque penatibus duis sunon et magnis dis. Cier masetsociis natoque penatibus duis sunon et magnis dis. </p>
                                    </div>
                                </div>
                            </section>
                        </article>
                    </li>
                </ul>
                <!--respond starts-->
                <div id="respond" class="comment-respond">
                    <h4> Give a Reply </h4>
                    <form method="post" action="#" id="commentform" class="comment-form">
                        <p class="column dt-sc-one-half first">
                            <input id="author" name="author" type="text" placeholder="Name" required="">
                        </p>
                        <p class="column dt-sc-one-half">
                            <input id="email" name="email" type="email" placeholder="Email" required="">
                        </p>
                        <p>
                            <textarea id="comment" name="comment" placeholder="Message"></textarea>
                        </p>
                        <p class="alignright">
                            <input name="submit" type="submit" id="submit" class="dt-sc-bordered-button" value="Submit">
                        </p>
                    </form>
                </div>
                <!--respond ends-->
            </div>
            <!--commententries ends-->

        </section>
        <!--primary ends-->
        <!--secondary starts-->
        <section id="secondary" class="type2">

            <aside class="widget widget_text">
                <h3 class="widgettitle"> <span class="fa fa-briefcase"></span> Investigations </h3>
                <div class="investigation_content">
                    <p> <span class="fa fa-calendar-o"></span> 20 June 2014 </p>
                    <h6> <a href="#"> Attorney Mc David Investigates the state law crime division </a> </h6>
                    <p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
                    <a href="#" class="dt-sc-simple-button alignright"> Read More <span class="fa fa-caret-right"> </span></a>
                </div>
                <div class="investigation_content">
                    <p> <span class="fa fa-calendar-o"></span> 19 June 2014 </p>
                    <h6> <a href="#"> Pending Legal Laws that are served to be     done - State Attoney's Initativen </a> </h6>
                </div>
                <div class="investigation_content">
                    <p> <span class="fa fa-calendar-o"></span> 18 June 2014 </p>
                    <h6> <a href="#"> Rules of Legal Advices that are needed to be given </a> </h6>
                </div>
            </aside>

            <aside class="widget widget_categories">
                <h3 class="widgettitle"> <span class="fa fa-book"></span> Our Practices </h3>
                <ul class="dt-sc-fancy-list caret">
                    <li> <a href="#"> Child Custody &amp; Visitation </a> </li>
                    <li> <a href="#"> Employment Law </a> </li>
                    <li> <a href="#"> Discrimination </a> </li>
                    <li> <a href="#"> Asset &amp; Wealth identification </a> </li>
                    <li> <a href="#"> Retaliation </a> </li>
                    <li> <a href="#"> Flsa Overtime </a> </li>
                    <li> <a href="#"> Business Law </a> </li>
                    <li> <a href="#"> Estate Planning </a> </li>
                    <li> <a href="#"> Trust Administration </a> </li>
                </ul>
            </aside>

            <aside class="widget widget_recent_entries">
                <h3 class="widgettitle"> <span class="fa fa-pencil"></span> Recent News </h3>
                <div class="widget_recent_entries">
                    <ul>
                        <li>
                            <div class="entry-meta">
                                <p class="date"> <span class="fa fa-calendar-o"></span> 20 June 2014 </p>
                                <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                            </div>
                            <div class="entry-title">
                                <h6><a href="news-detail.html"> Free consultation makes you decide to pursue the case </a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="entry-meta">
                                <p class="date"> <span class="fa fa-calendar-o"></span> 20 June 2014 </p>
                                <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                            </div>
                            <div class="entry-title">
                                <h6><a href="news-detail.html"> Estimating your Budget in the consultations </a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="entry-meta">
                                <p class="date"> <span class="fa fa-calendar-o"></span> 20 June 2014 </p>
                                <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                            </div>
                            <div class="entry-title">
                                <h6><a href="news-detail.html"> accident cases taken under crime divsions </a></h6>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="dt-sc-simple-button alignright"> View All <span class="fa fa-caret-right"></span> </a>
                </div>
            </aside>

            <aside class="widget widget_text">
                <h3 class="widgettitle"> <span class="fa fa-comment"></span> Testimonials </h3>
                <div class="dt-sc-testimonial">
                    <blockquote><q> But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure. </q></blockquote>
                    <div class="author">
                        <img src="http://placehold.it/56x56" alt="" title="">
                    </div>
                    <div class="author-meta">
                        <p> Jason Shane </p>
                        <span> Business Consultant / Magick Wall </span>
                    </div>
                </div>
            </aside>

        </section>
        <!--secondary ends-->

        <div class="dt-sc-hr-invisible-large"></div>
        <div class="mailchimp">
            <p> <span class="fa fa-envelope-o"></span> Subscribe to Newsletter </p>
            <form name="frmnewsletter" method="post" class="mailchimp-form" action="php/subscribe.php">
                <input type="email" placeholder="Email" name="mc_email" required />
                <input type="submit" value="Submit" class="nl-submit" name="btnsubscribe">
            </form>
            <div id="ajax_subscribe_msg"></div>
        </div>
    </div>
    <!--container ends-->
    <!--office_locations starts-->
    <div class="office_locations">
        <div class="container">
            <p> Our Offices: </p>
            <ul class="dt-sc-locations">
                <li>
                    <a href="#"> Princeton, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Princeton, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Flemington, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 1rd Floor, Sedrik Street, <br>
                            Flemington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Red Bank, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Aslan Street, <br>
                            Red Bank, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Wilmington, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Wilmington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Georgetown, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Georgetown, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> New York, NY </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 4th Floor, Moro Street, <br>
                            New York, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Haddonfield, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Haddonfield, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Philadelphia, PA </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 32nd Floor, Hagid Street, <br>
                            Philadelphia, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--office_locations ends-->

</div>
