@{
    ViewData["Title"] = "News & Events";
}
<div id="main">

    <div class="breadcrumb-section">
        <div class="container">
            <h1> News </h1>
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
                <span class="current"> News </span>
            </div>
        </div>
    </div>

    <!--container starts-->
    <div class="container">
        <!--primary starts-->
        <section id="primary" class="page-with-sidebar with-right-sidebar">

            <div class="dt-sc-one-column">
                <article class="blog-entry">
                    <div class="entry-thumb">
                        <a href="news-detail.html"><img src="http://placehold.it/1170x1204" alt="" title=""></a>
                    </div>
                    <div class="entry-details">
                        <div class="entry-meta">
                            <p class="date"> <span class="fa fa-calendar-o"></span> 25 June 2014 </p>
                            <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                            <div class="alignright">
                                <p class="author"> By <a href="#"> Admin </a> </p>
                                <p class="categories"> <a href="#">Attorney</a>, <a href="#">Case</a> </p>
                            </div>
                        </div>
                        <div class="entry-title">
                            <h5><a href="news-detail.html"> Free consultation makes you decide to Pursue the case </a></h5>
                        </div>
                        <!--entry-metadata ends-->
                        <div class="entry-body">
                            <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
                        </div>
                        <a href="news-detail.html" class="dt-sc-simple-button alignright"> Read More <span class="fa fa-caret-right"> </span></a>
                    </div>
                </article>
            </div>

            <div class="dt-sc-one-column">
                <article class="blog-entry">
                    <div class="entry-thumb">
                        <a href="news-detail.html"><img src="http://placehold.it/1170x1204" alt="" title=""></a>
                    </div>
                    <div class="entry-details">
                        <div class="entry-meta">
                            <p class="date"> <span class="fa fa-calendar-o"></span> 24 June 2014 </p>
                            <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                            <div class="alignright">
                                <p class="author"> By <a href="#"> Admin </a> </p>
                                <p class="categories"> <a href="#">Attorney</a>, <a href="#">Case</a> </p>
                            </div>
                        </div>
                        <div class="entry-title">
                            <h5><a href="news-detail.html"> Estimating your Budget in the consultations </a></h5>
                        </div>
                        <!--entry-metadata ends-->
                        <div class="entry-body">
                            <p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. </p>
                        </div>
                        <a href="news-detail.html" class="dt-sc-simple-button alignright"> Read More <span class="fa fa-caret-right"> </span></a>
                    </div>
                </article>
            </div>

            <div class="dt-sc-one-column dt-sc-full-width-content">
                <article class="blog-entry">
                    <div class="entry-details">
                        <div class="entry-meta">
                            <p class="date"> <span class="fa fa-calendar-o"></span> 23 June 2014 </p>
                            <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                            <div class="alignright">
                                <p class="author"> By <a href="#"> Admin </a> </p>
                                <p class="categories"> <a href="#">Attorney</a>, <a href="#">Case</a> </p>
                            </div>
                        </div>
                        <div class="entry-title">
                            <h5><a href="news-detail.html"> Should Subjects that are out of control and legal statements should brought under consideration? </a></h5>
                        </div>
                        <!--entry-metadata ends-->
                        <div class="entry-body">
                            <p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. </p>
                        </div>
                        <a href="news-detail.html" class="dt-sc-simple-button alignright"> Read More <span class="fa fa-caret-right"> </span></a>
                    </div>
                </article>
            </div>

            <div class="dt-sc-one-column dt-sc-full-width-content">
                <article class="blog-entry">
                    <div class="entry-details">
                        <div class="entry-meta">
                            <p class="date"> <span class="fa fa-calendar-o"></span> 22 June 2014 </p>
                            <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                            <div class="alignright">
                                <p class="author"> By <a href="#"> Admin </a> </p>
                                <p class="categories"> <a href="#">Attorney</a>, <a href="#">Case</a> </p>
                            </div>
                        </div>
                        <div class="entry-title">
                            <h5><a href="news-detail.html"> Investigation Training Programme of 2014 Grand Jury </a></h5>
                        </div>
                        <!--entry-metadata ends-->
                        <div class="entry-body">
                            <p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. </p>
                            <div class="dt-sc-video-wrapper">
                                <iframe src="http://player.vimeo.com/video/48840476" width="770" height="415"></iframe>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="dt-sc-one-column">
                <article class="blog-entry">
                    <div class="entry-thumb">
                        <a href="news-detail.html"><img src="http://placehold.it/1170x1204" alt="" title=""></a>
                    </div>
                    <div class="entry-details">
                        <div class="entry-meta">
                            <p class="date"> <span class="fa fa-calendar-o"></span> 21 June 2014 </p>
                            <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                            <div class="alignright">
                                <p class="author"> By <a href="#"> Admin </a> </p>
                                <p class="categories"> <a href="#">Attorney</a>, <a href="#">Case</a> </p>
                            </div>
                        </div>
                        <div class="entry-title">
                            <h5><a href="news-detail.html"> Jury Sullivan team Chronicle </a></h5>
                        </div>
                        <!--entry-metadata ends-->
                        <div class="entry-body">
                            <p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. </p>
                        </div>
                        <a href="news-detail.html" class="dt-sc-simple-button alignright"> Read More <span class="fa fa-caret-right"> </span></a>
                    </div>
                </article>
            </div>

            <div class="dt-sc-one-column dt-sc-full-width-content">
                <article class="blog-entry">
                    <div class="entry-details">
                        <div class="entry-meta">
                            <p class="date"> <span class="fa fa-calendar-o"></span> 20 June 2014 </p>
                            <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                            <div class="alignright">
                                <p class="author"> By <a href="#"> Admin </a> </p>
                                <p class="categories"> <a href="#">Attorney</a>, <a href="#">Case</a> </p>
                            </div>
                        </div>
                        <div class="entry-title">
                            <h5><a href="news-detail.html"> History of State Attorney Llc celebrated in 5 states of us. Read More for the latest updates. </a></h5>
                        </div>
                        <!--entry-metadata ends-->
                        <div class="entry-body">
                            <p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. </p>
                        </div>
                        <a href="news-detail.html" class="dt-sc-simple-button alignright"> Read More <span class="fa fa-caret-right"> </span></a>
                    </div>
                </article>
            </div>

            <!--pagination starts-->
            <div class="pagination">
                <div class="prev-post active-page"><a href="#"><span class="fa fa-caret-left"></span> Prev </a></div>
                <ul>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                </ul>
                <div class="next-post"><a href="#"> Next <span class="fa fa-caret-right"></span></a></div>
            </div>
            <!--pagination ends-->

        </section>
        <!--primary ends-->
        <!--secondary starts-->
        <section id="secondary" class="type2">

            <aside class="widget widget_text">
                <h3 class="widgettitle"> <span class="fa fa-briefcase"></span> Investigations </h3>
                <div class="investigation_content">
                    <p> <span class="fa fa-calendar-o"></span> 20 June 2014 </p>
                    <h6> <a href="#"> Attorney Mc David Investigates the state law crime division </a> </h6>
                    <p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
                    <a href="#" class="dt-sc-simple-button alignright"> Read More <span class="fa fa-caret-right"> </span></a>
                </div>
                <div class="investigation_content">
                    <p> <span class="fa fa-calendar-o"></span> 19 June 2014 </p>
                    <h6> <a href="#"> Pending Legal Laws that are served to be     done - State Attoney's Initativen </a> </h6>
                </div>
                <div class="investigation_content">
                    <p> <span class="fa fa-calendar-o"></span> 18 June 2014 </p>
                    <h6> <a href="#"> Rules of Legal Advices that are needed to be given </a> </h6>
                </div>
            </aside>

            <aside class="widget widget_categories">
                <h3 class="widgettitle"> <span class="fa fa-book"></span> Our Practices </h3>
                <ul class="dt-sc-fancy-list caret">
                    <li> <a href="#"> Child Custody &amp; Visitation </a> </li>
                    <li> <a href="#"> Employment Law </a> </li>
                    <li> <a href="#"> Discrimination </a> </li>
                    <li> <a href="#"> Asset &amp; Wealth identification </a> </li>
                    <li> <a href="#"> Retaliation </a> </li>
                    <li> <a href="#"> Flsa Overtime </a> </li>
                    <li> <a href="#"> Business Law </a> </li>
                    <li> <a href="#"> Estate Planning </a> </li>
                    <li> <a href="#"> Trust Administration </a> </li>
                </ul>
            </aside>

            <aside class="widget widget_recent_entries">
                <h3 class="widgettitle"> <span class="fa fa-pencil"></span> Recent News </h3>
                <div class="widget_recent_entries">
                    <ul>
                        <li>
                            <div class="entry-meta">
                                <p class="date"> <span class="fa fa-calendar-o"></span> 20 June 2014 </p>
                                <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                            </div>
                            <div class="entry-title">
                                <h6><a href="news-detail.html"> Free consultation makes you decide to pursue the case </a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="entry-meta">
                                <p class="date"> <span class="fa fa-calendar-o"></span> 20 June 2014 </p>
                                <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                            </div>
                            <div class="entry-title">
                                <h6><a href="news-detail.html"> Estimating your Budget in the consultations </a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="entry-meta">
                                <p class="date"> <span class="fa fa-calendar-o"></span> 20 June 2014 </p>
                                <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                            </div>
                            <div class="entry-title">
                                <h6><a href="news-detail.html"> accident cases taken under crime divsions </a></h6>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="dt-sc-simple-button alignright"> View All <span class="fa fa-caret-right"></span> </a>
                </div>
            </aside>

            <aside class="widget widget_text">
                <h3 class="widgettitle"> <span class="fa fa-comment"></span> Testimonials </h3>
                <div class="dt-sc-testimonial">
                    <blockquote><q> But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure. </q></blockquote>
                    <div class="author">
                        <img src="http://placehold.it/56x56" alt="" title="">
                    </div>
                    <div class="author-meta">
                        <p> Jason Shane </p>
                        <span> Business Consultant / <strong> Magick Wall </strong> </span>
                    </div>
                </div>
            </aside>

        </section>
        <!--secondary ends-->

        <div class="dt-sc-hr-invisible-large"></div>
        <div class="mailchimp">
            <p> <span class="fa fa-envelope-o"></span> Subscribe to Newsletter </p>
            <form name="frmnewsletter" method="post" class="mailchimp-form" action="php/subscribe.php">
                <input type="email" placeholder="Email" name="mc_email" required />
                <input type="submit" value="Submit" class="nl-submit" name="btnsubscribe">
            </form>
            <div id="ajax_subscribe_msg"></div>
        </div>
    </div>
    <!--container ends-->
    <!--office_locations starts-->
    <div class="office_locations">
        <div class="container">
            <p> Our Offices: </p>
            <ul class="dt-sc-locations">
                <li>
                    <a href="#"> Princeton, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Princeton, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Flemington, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 1rd Floor, Sedrik Street, <br>
                            Flemington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Red Bank, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Aslan Street, <br>
                            Red Bank, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Wilmington, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Wilmington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Georgetown, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Georgetown, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> New York, NY </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 4th Floor, Moro Street, <br>
                            New York, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Haddonfield, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Haddonfield, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Philadelphia, PA </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 32nd Floor, Hagid Street, <br>
                            Philadelphia, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--office_locations ends-->

</div>