@{
    ViewData["Title"] = "Our Practices";
}
<div id="main">

    <div class="breadcrumb-section">
        <div class="container">
            <h1> Our Practices </h1>
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
 <span class="current"> Our Practices </span>
            </div>
        </div>
    </div>

    <!--primary starts-->
    <section id="primary" class="content-full-width">
        <!--container starts-->
        <div class="container">

            <div class="dt-sc-one-half column first">
                <a href="#"><img src="/images/workerscompensation.jpg" alt="" title=""></a>
            </div>

            <div class="dt-sc-one-half column">
                <h4 class="dt-sc-simple-hr-title"> Worker's Compensation Defense </h4>
                <p class="alignleft"> Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et expedita distinctio. </p>
                <div class="dt-sc-hr-invisible-small"></div>
                <div class="dt-sc-hr-button">
                    <a href="#" class="dt-sc-toggle-practice"> Expand <span class="fa fa-angle-double-down"></span> </a>
                </div>
                <div class="dt-sc-practice-content">
                    <div class="dt-sc-hr-invisible-small"></div>
                    <ul class="dt-sc-disc-list">
                        <li> <span> Workers' compensation </span> - Representing employees who have been injured on the job. </li>
                        <li> <span> Personal injury </span> - Representing people who have been injured due to the careless or reckless acts of other individuals or parties. </li>
                        <li> <span> Workplace discrimination </span> - Representing people who have experienced discrimination or harassment at work. </li>
                    </ul>
                    <div class="dt-sc-clear"></div>
                    <div class="dt-sc-hr-invisible-very-small"></div>
                    <p class="alignleft"> Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et expedita distinctio. </p>
                    <p class="alignleft"> Contact our <span class="dt-sc-highlight skin-color"> State Attorney Law Firm </span> with your questions, comments or concerns. </p>
                </div>
            </div>

            <div class="dt-sc-hr-invisible"></div>

            <div class="dt-sc-one-half column first">
                <h4 class="dt-sc-simple-hr-title"> Volunteer Firefighters and Ambulance Workers </h4>
                <p class="alignleft"> Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et expedita distinctio. </p>
                <div class="dt-sc-hr-invisible-small"></div>
                <div class="dt-sc-hr-button">
                    <a href="#" class="dt-sc-toggle-practice"> Expand <span class="fa fa-angle-double-down"></span> </a>
                </div>
                <div class="dt-sc-practice-content">
                    <div class="dt-sc-hr-invisible-small"></div>
                    <p class="alignleft"> Lorem ipsum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et expedita distinctio. </p>
                </div>
            </div>

            <div class="dt-sc-one-half column">
                <a href="#"><img src="/images/ems.jpg" alt="" title=""></a>
            </div>

            <div class="dt-sc-hr-invisible"></div>

            <div class="dt-sc-one-half column first">
                <a href="#"><img src="/images/Arbitration.jpg" alt="" title=""></a>
            </div>

            <div class="dt-sc-one-half column">
                <h4 class="dt-sc-simple-hr-title"> Subrogation and Arbitration </h4>
                <p class="alignleft"> Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et expedita distinctio. </p>
                <div class="dt-sc-hr-invisible-small"></div>
                <div class="dt-sc-hr-button">
                    <a href="#" class="dt-sc-toggle-practice"> Expand <span class="fa fa-angle-double-down"></span> </a>
                </div>
                <div class="dt-sc-practice-content">
                    <div class="dt-sc-hr-invisible-small"></div>
                    <p class="alignleft"> Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et expedita distinctio. </p>
                    <div class="dt-sc-hr-invisible-very-small"></div>
                    <p class="alignleft"> Contact our <span class="dt-sc-highlight skin-color"> State Attorney Law Firm </span> with your questions, comments or concerns. </p>
                </div>
            </div>

            <div class="dt-sc-hr-invisible"></div>

            <div class="dt-sc-one-half column first">
                <h4 class="dt-sc-simple-hr-title"> Liability and Third-Party Defense </h4>
                <p class="alignleft"> Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et expedita distinctio. </p>
                <div class="dt-sc-hr-invisible-small"></div>
                <div class="dt-sc-hr-button">
                    <a href="#" class="dt-sc-toggle-practice"> Expand <span class="fa fa-angle-double-down"></span> </a>
                </div>
                <div class="dt-sc-practice-content">
                    <div class="dt-sc-hr-invisible-small"></div>
                    <p class="alignleft"> Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et expedita distinctio. </p>
                    <div class="dt-sc-hr-invisible-very-small"></div>
                    <p class="alignleft"> Contact our <span class="dt-sc-highlight skin-color"> State Attorney Law Firm </span> with your questions, comments or concerns. </p>
                </div>
            </div>

            <div class="dt-sc-one-half column">
                <a href="#"><img src="/images/liabilitythematic.jpg" alt="" title=""></a>
            </div>

        </div>
        <!--container ends-->

        <div class="dt-sc-hr-invisible-large"></div>
        <div class="dt-sc-hr-invisible-very-small"></div>

        <!--fullwidth-background starts-->
        <div class="fullwidth-background dt-sc-parallax-section count_section">
            <div class="container">
                <h5> Our Stats - Over these Years </h5>
                <div class="dt-sc-clear"></div>
                <div class="column dt-sc-one-fourth first">
                    <div class="dt-sc-counter" data-counter="546">
                        <div class="dt-sc-counter-border">
                            <div class="dt-sc-counter-number"> 546 </div>
                        </div>
                        <div class="icon">
                            <span class="fa fa-anchor"></span>
                        </div>
                        <div class="dt-sc-hr-invisible-very-small"></div>
                        <h6> Cases Completed </h6>
                    </div>
                </div>

                <div class="column dt-sc-one-fourth">
                    <div class="dt-sc-counter" data-counter="150">
                        <div class="dt-sc-counter-border">
                            <div class="dt-sc-counter-number"> 150 </div>
                            <span> + </span>
                        </div>
                        <div class="icon">
                            <span class="fa fa-bullhorn"></span>
                        </div>
                        <div class="dt-sc-hr-invisible-very-small"></div>
                        <h6> Law Services</h6>
                    </div>
                </div>

                <div class="column dt-sc-one-fourth">
                    <div class="dt-sc-counter" data-counter="30">
                        <div class="dt-sc-counter-border">
                            <div class="dt-sc-counter-number"> 30 </div>
                        </div>
                        <div class="icon">
                            <span class="fa fa-users"></span>
                        </div>
                        <div class="dt-sc-hr-invisible-very-small"></div>
                        <h6> Attorneys </h6>
                    </div>
                </div>

                <div class="column dt-sc-one-fourth">
                    <div class="dt-sc-counter" data-counter="3051">
                        <div class="dt-sc-counter-border">
                            <div class="dt-sc-counter-number"> 3051 </div>
                        </div>
                        <div class="icon">
                            <span class="fa fa-file-text"></span>
                        </div>
                        <div class="dt-sc-hr-invisible-very-small"></div>
                        <h6> Case Studies </h6>
                    </div>
                </div>

            </div>
        </div>
        <!--fullwidth-background ends-->
        <div class="dt-sc-hr-invisible-medium"></div>
        <div class="dt-sc-hr-invisible-small"></div>

        <!--container starts-->
        <div class="container">

            <h2 class="dt-sc-hr-title"> Our Trusted Members </h2>
            <!--dt-sc-one-fourth starts-->
            <div class="column dt-sc-one-fourth first">
                <div class="dt-sc-team">
                    <div class="dt-sc-team-thumb">
                        <img src="http://placehold.it/120x130" alt="" title="">
                    </div>
                    <div class="dt-sc-team-content">
                        <h5> Robert James </h5>
                        <span> Associate </span>
                        <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                        <p class="dt-sc-team-phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-user"></span> View Bio </a>
                    </div>
                </div>
            </div>
            <!--dt-sc-one-fourth ends-->
            <!--dt-sc-one-fourth starts-->
            <div class="column dt-sc-one-fourth">
                <div class="dt-sc-team">
                    <div class="dt-sc-team-thumb">
                        <img src="http://placehold.it/120x130" alt="" title="">
                    </div>
                    <div class="dt-sc-team-content">
                        <h5> Craig Thompson </h5>
                        <span> Associate </span>
                        <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                        <p class="dt-sc-team-phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-user"></span> View Bio </a>
                    </div>
                </div>
            </div>
            <!--dt-sc-one-fourth ends-->
            <!--dt-sc-one-fourth starts-->
            <div class="column dt-sc-one-fourth">
                <div class="dt-sc-team">
                    <div class="dt-sc-team-thumb">
                        <img src="http://placehold.it/120x130" alt="" title="">
                    </div>
                    <div class="dt-sc-team-content">
                        <h5> Lewi Steve </h5>
                        <span> Associate </span>
                        <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                        <p class="dt-sc-team-phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-user"></span> View Bio </a>
                    </div>
                </div>
            </div>
            <!--dt-sc-one-fourth ends-->
            <!--dt-sc-one-fourth starts-->
            <div class="column dt-sc-one-fourth">
                <div class="dt-sc-team">
                    <div class="dt-sc-team-thumb">
                        <img src="http://placehold.it/120x130" alt="" title="">
                    </div>
                    <div class="dt-sc-team-content">
                        <h5> Carl Danny </h5>
                        <span> Associate </span>
                        <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi vel samar this ki last man. </p>
                        <p class="dt-sc-team-phone-no"> <span class="fa fa-phone"></span> (552) 226 3314 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-user"></span> View Bio </a>
                    </div>
                </div>
            </div>
            <!--dt-sc-one-fourth ends-->

            <div class="dt-sc-hr-invisible-large"></div>
            <div class="mailchimp">
                <p> <span class="fa fa-envelope-o"></span> Subscribe to Newsletter </p>
                <form name="frmnewsletter" method="post" class="mailchimp-form" action="php/subscribe.php">
                    <input type="email" placeholder="Email" name="mc_email" required />
                    <input type="submit" value="Submit" class="nl-submit" name="btnsubscribe">
                </form>
                <div id="ajax_subscribe_msg"></div>
            </div>

        </div>
        <!--container ends-->

    </section>
    <!--primary ends-->
    <!--office_locations starts-->
    <div class="office_locations">
        <div class="container">
            <p> Our Offices: </p>
            <ul class="dt-sc-locations">
                <li>
                    <a href="#"> Princeton, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Princeton, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Flemington, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 1rd Floor, Sedrik Street, <br>
                            Flemington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Red Bank, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Aslan Street, <br>
                            Red Bank, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Wilmington, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Wilmington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Georgetown, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Georgetown, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> New York, NY </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 4th Floor, Moro Street, <br>
                            New York, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Haddonfield, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Haddonfield, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Philadelphia, PA </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 32nd Floor, Hagid Street, <br>
                            Philadelphia, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--office_locations ends-->

</div>