@{
    ViewData["Title"] = "Pricing Tables";
}
<div id="main">

    <div class="breadcrumb-section">
        <div class="container">
            <h1> Pricing Tables </h1>
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
                <a asp-area="" asp-controller="Home" asp-action="ShortCodes"> Shortcodes </a>
                <span class="current"> Pricing Tables </span>
            </div>
        </div>
    </div>

    <!--container starts-->
    <div class="container">

        <!--primary starts-->
        <section id="primary" class="content-full-width">

            <h2 class="dt-sc-hr-title"> Pricing Table I </h2>
            <div class="dt-sc-pricing-table no-space">
                <div class="column dt-sc-one-fourth first">
                    <div class="dt-sc-pr-tb-col">
                        <div class="dt-sc-tb-header">
                            <div class="dt-sc-tb-title">
                                <h5>Basic</h5>
                            </div>
                            <div class="dt-sc-price"> $20 <span> month</span> </div>
                        </div>
                        <ul class="dt-sc-tb-content">
                            <li>5 Projects</li>
                            <li>10GB Storage</li>
                            <li>No Time Tracking</li>
                            <li>Enhanced Security</li>
                            <li>Junior Attorneys</li>
                        </ul>
                        <div class="dt-sc-buy-now"> <a class="dt-sc-button small deepblue" target="_blank" href="#"> Buy Now </a> </div>
                    </div>
                </div>
                <div class="column dt-sc-one-fourth">
                    <div class="dt-sc-pr-tb-col selected">
                        <div class="dt-sc-tb-header">
                            <div class="dt-sc-tb-title">
                                <h5>Standard</h5>
                            </div>
                            <div class="dt-sc-price"> $40 <span> month</span> </div>
                        </div>
                        <ul class="dt-sc-tb-content">
                            <li>10 Projects</li>
                            <li>100GB Storage</li>
                            <li>No Time Tracking</li>
                            <li>Enhanced Security</li>
                            <li>Junior Attorneys</li>
                        </ul>
                        <div class="dt-sc-buy-now"> <a class="dt-sc-button small deepblue" target="_blank" href="#"> Buy Now </a> </div>
                    </div>
                </div>
                <div class="column dt-sc-one-fourth">
                    <div class="dt-sc-pr-tb-col">
                        <div class="dt-sc-tb-header">
                            <div class="dt-sc-tb-title">
                                <h5>Premium</h5>
                            </div>
                            <div class="dt-sc-price"> $60 <span> month</span> </div>
                        </div>
                        <ul class="dt-sc-tb-content">
                            <li>15 Projects</li>
                            <li>200GB Storage</li>
                            <li>No Time Tracking</li>
                            <li>Enhanced Security</li>
                            <li>Junior Attorneys</li>
                        </ul>
                        <div class="dt-sc-buy-now"> <a class="dt-sc-button small deepblue" target="_blank" href="#"> Buy Now </a> </div>
                    </div>
                </div>
                <div class="column dt-sc-one-fourth">
                    <div class="dt-sc-pr-tb-col">
                        <div class="dt-sc-tb-header">
                            <div class="dt-sc-tb-title">
                                <h5>Ultimate</h5>
                            </div>
                            <div class="dt-sc-price"> $80 <span> month</span> </div>
                        </div>
                        <ul class="dt-sc-tb-content">
                            <li>20 Projects</li>
                            <li>300GB Storage</li>
                            <li>No Time Tracking</li>
                            <li>Enhanced Security</li>
                            <li>Junior Attorneys</li>
                        </ul>
                        <div class="dt-sc-buy-now"> <a class="dt-sc-button small deepblue" target="_blank" href="#"> Buy Now </a> </div>
                    </div>
                </div>
            </div>

            <div class="dt-sc-hr-invisible-large"></div>

            <h2 class="dt-sc-hr-title"> Pricing Table II </h2>
            <div class="dt-sc-pricing-table">
                <div class="column dt-sc-one-fourth first">
                    <div class="dt-sc-pr-tb-col">
                        <div class="dt-sc-tb-header">
                            <div class="dt-sc-tb-title">
                                <h5>Basic</h5>
                            </div>
                            <div class="dt-sc-price"> $20 <span> month</span> </div>
                        </div>
                        <ul class="dt-sc-tb-content">
                            <li>5 Projects</li>
                            <li>10GB Storage</li>
                            <li>No Time Tracking</li>
                            <li>Enhanced Security</li>
                            <li>Junior Attorneys</li>
                        </ul>
                        <div class="dt-sc-buy-now"> <a class="dt-sc-button small deepblue" target="_blank" href="#"> Buy Now </a> </div>
                    </div>
                </div>
                <div class="column dt-sc-one-fourth">
                    <div class="dt-sc-pr-tb-col selected">
                        <div class="dt-sc-tb-header">
                            <div class="dt-sc-tb-title">
                                <h5>Standard</h5>
                            </div>
                            <div class="dt-sc-price"> $40 <span> month</span> </div>
                        </div>
                        <ul class="dt-sc-tb-content">
                            <li>10 Projects</li>
                            <li>100GB Storage</li>
                            <li>No Time Tracking</li>
                            <li>Enhanced Security</li>
                            <li>Junior Attorneys</li>
                        </ul>
                        <div class="dt-sc-buy-now"> <a class="dt-sc-button small deepblue" target="_blank" href="#"> Buy Now </a> </div>
                    </div>
                </div>
                <div class="column dt-sc-one-fourth">
                    <div class="dt-sc-pr-tb-col">
                        <div class="dt-sc-tb-header">
                            <div class="dt-sc-tb-title">
                                <h5>Premium</h5>
                            </div>
                            <div class="dt-sc-price"> $60 <span> month</span> </div>
                        </div>
                        <ul class="dt-sc-tb-content">
                            <li>15 Projects</li>
                            <li>200GB Storage</li>
                            <li>No Time Tracking</li>
                            <li>Enhanced Security</li>
                            <li>Junior Attorneys</li>
                        </ul>
                        <div class="dt-sc-buy-now"> <a class="dt-sc-button small deepblue" target="_blank" href="#"> Buy Now </a> </div>
                    </div>
                </div>
                <div class="column dt-sc-one-fourth">
                    <div class="dt-sc-pr-tb-col">
                        <div class="dt-sc-tb-header">
                            <div class="dt-sc-tb-title">
                                <h5>Ultimate</h5>
                            </div>
                            <div class="dt-sc-price"> $80 <span> month</span> </div>
                        </div>
                        <ul class="dt-sc-tb-content">
                            <li>20 Projects</li>
                            <li>300GB Storage</li>
                            <li>No Time Tracking</li>
                            <li>Enhanced Security</li>
                            <li>Junior Attorneys</li>
                        </ul>
                        <div class="dt-sc-buy-now"> <a class="dt-sc-button small deepblue" target="_blank" href="#"> Buy Now </a> </div>
                    </div>
                </div>
            </div>

            <div class="dt-sc-hr-invisible-large"></div>
            <div class="mailchimp">
                <p> <span class="fa fa-envelope-o"></span> Subscribe to Newsletter </p>
                <form name="frmnewsletter" method="post" class="mailchimp-form" action="php/subscribe.php">
                    <input type="email" placeholder="Email" name="mc_email" required />
                    <input type="submit" value="Submit" class="nl-submit" name="btnsubscribe">
                </form>
                <div id="ajax_subscribe_msg"></div>
            </div>

        </section>
        <!--primary ends-->

    </div>
    <!--container ends-->
    <!--office_locations starts-->
    <div class="office_locations">
        <div class="container">
            <p> Our Offices: </p>
            <ul class="dt-sc-locations">
                <li>
                    <a href="#"> Princeton, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Princeton, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Flemington, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 1rd Floor, Sedrik Street, <br>
                            Flemington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Red Bank, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Aslan Street, <br>
                            Red Bank, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Wilmington, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Wilmington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Georgetown, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Georgetown, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> New York, NY </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 4th Floor, Moro Street, <br>
                            New York, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Haddonfield, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Haddonfield, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Philadelphia, PA </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 32nd Floor, Hagid Street, <br>
                            Philadelphia, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--office_locations ends-->

</div>