@{
    ViewData["Title"] = "Tabs & Toggles";
}
<div id="main">

    <div class="breadcrumb-section">
        <div class="container">
            <h1> Tabs &amp; Toggles </h1>
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
                <a asp-area="" asp-controller="Home" asp-action="ShortCodes"> Shortcodes </a>
                <span class="current"> Tabs &amp; Toggles </span>
            </div>
        </div>
    </div>

    <!--container starts-->
    <div class="container">

        <!--primary starts-->
        <section id="primary" class="content-full-width">

            <!--dt-sc-one-half starts-->
            <div class="column dt-sc-one-half first">
                <h2 class="dt-sc-bordered-title">Standard Tabs</h2>
                <!--dt-sc-tabs-container starts-->
                <div class="dt-sc-tabs-container">
                    <ul class="dt-sc-tabs">
                        <li><a href="#"> Tab 1 </a></li>
                        <li><a href="#"> Tab 2 </a></li>
                        <li><a href="#"> Tab 3 </a></li>
                    </ul>
                    <div class="dt-sc-tabs-content">
                        Tab 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ex fb aute in esse eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eafb aute in cd commodo
                    </div>
                    <div class="dt-sc-tabs-content">
                        Tab 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    </div>
                    <div class="dt-sc-tabs-content">
                        Tab 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ex fb aute in esse eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    </div>
                </div>
                <!--dt-sc-tabs-container ends-->
            </div>
            <!--dt-sc-one-half ends-->
            <!--dt-sc-one-half starts-->
            <div class="column dt-sc-one-half">
                <h2 class="dt-sc-bordered-title">Framed Tabs</h2>
                <!--dt-sc-tabs-container starts-->
                <div class="dt-sc-tabs-container">
                    <ul class="dt-sc-tabs-frame">
                        <li><a href="#"> Tab 1 </a></li>
                        <li><a href="#"> Tab 2 </a></li>
                        <li><a href="#"> Tab 3 </a></li>
                    </ul>
                    <div class="dt-sc-tabs-frame-content">
                        Tab 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ex fb aute in esse eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  nostrud
                    </div>
                    <div class="dt-sc-tabs-frame-content">
                        Tab 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    </div>
                    <div class="dt-sc-tabs-frame-content">
                        Tab 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ex fb aute in esse eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    </div>
                </div>
                <!--dt-sc-tabs-container ends-->
            </div>
            <!--dt-sc-one-half ends-->

            <div class="dt-sc-hr-invisible"></div>

            <!--dt-sc-one-half starts-->
            <div class="column dt-sc-one-half first">
                <h2 class="dt-sc-bordered-title">Standard Accordion</h2>
                <div class="dt-sc-toggle-frame-set">
                    <h5 class="dt-sc-toggle-accordion active"><a href="#"> Accordion 1 </a></h5>
                    <div class="dt-sc-toggle-content">
                        <div class="block">
                            Consectetur adipiscing elit. Praesent pulvinar massa nec augue malsuada in aliquam odio interdum esse eiusmod tempor incididunt ut labore et dolore.
                        </div>
                    </div>
                    <h5 class="dt-sc-toggle-accordion"><a href="#"> Accordion 2 </a></h5>
                    <div class="dt-sc-toggle-content">
                        <div class="block">
                            Consectetur adipiscing elit. Praesent pulvinar massa nec augue malsuada in aliquam odio interdum.
                        </div>
                    </div>
                    <h5 class="dt-sc-toggle-accordion"><a href="#"> Accordion 3 </a></h5>
                    <div class="dt-sc-toggle-content">
                        <div class="block">
                            Consectetur adipiscing elit. Praesent pulvinar massa nec augue malsuada in aliquam odio interdum.
                        </div>
                    </div>
                    <h5 class="dt-sc-toggle-accordion"><a href="#"> Accordion 4 </a></h5>
                    <div class="dt-sc-toggle-content">
                        <div class="block">
                            Consectetur adipiscing elit. Praesent pulvinar massa nec augue malsuada in aliquam odio interdum.
                        </div>
                    </div>
                    <h5 class="dt-sc-toggle-accordion"><a href="#"> Accordion 5 </a></h5>
                    <div class="dt-sc-toggle-content">
                        <div class="block">
                            Consectetur adipiscing elit. Praesent pulvinar massa nec augue malsuada in aliquam odio interdum.
                        </div>
                    </div>
                </div>
            </div>
            <!--dt-sc-one-half ends-->
            <!--dt-sc-one-half starts-->
            <div class="dt-sc-one-half column">
                <h2 class="dt-sc-bordered-title">Framed Accordion</h2>
                <div class="dt-sc-toggle-frame-set">
                    <div class="dt-sc-toggle-frame">
                        <h5 class="dt-sc-toggle-accordion active"><a href="#"> Accordion 1 </a></h5>
                        <div class="dt-sc-toggle-content">
                            <div class="block">
                                Cum sociis natoque penatibus duis sunon et magnis dis. Cum sociis natoque penatibus duis sunon et magnis dis. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-toggle-frame">
                        <h5 class="dt-sc-toggle-accordion"><a href="#"> Accordion 2 </a></h5>
                        <div class="dt-sc-toggle-content">
                            <div class="block">
                                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at.
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-toggle-frame">
                        <h5 class="dt-sc-toggle-accordion"><a href="#"> Accordion 3 </a></h5>
                        <div class="dt-sc-toggle-content">
                            <div class="block">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--dt-sc-one-half ends-->

            <div class="dt-sc-hr-invisible"></div>

            <!--dt-sc-one-half starts-->
            <div class="column dt-sc-one-half first">
                <h2 class="dt-sc-bordered-title"> Standard Toggle </h2>
                <!--dt-sc-toggle-frame-set starts-->
                <div class="dt-sc-toggle-frame-set">
                    <h5 class="dt-sc-toggle"><span></span><a href="#"> Toggle 1 </a></h5>
                    <div class="dt-sc-toggle-content">
                        <div class="dt-sc-block">
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas nam imperdiet, elit ut pellentesque adipiscing tristique senectus
                        </div>
                    </div>
                    <h5 class="dt-sc-toggle"><span></span><a href="#"> Toggle 2 </a></h5>
                    <div class="dt-sc-toggle-content">
                        <div class="dt-sc-block">
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas nam imperdiet, elit ut pellentesque adipiscing
                        </div>
                    </div>
                    <h5 class="dt-sc-toggle"><span></span><a href="#"> Toggle 3 </a></h5>
                    <div class="dt-sc-toggle-content">
                        <div class="dt-sc-block">
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas nam imperdiet, elit ut pellentesque adipiscing tristique
                        </div>
                    </div>
                    <h5 class="dt-sc-toggle"><span></span><a href="#"> Toggle 4 </a></h5>
                    <div class="dt-sc-toggle-content">
                        <div class="dt-sc-block">
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas nam imperdiet, elit ut pellentesque adipiscing tristique
                        </div>
                    </div>
                </div>
                <!--dt-sc-toggle-frame-set ends-->
            </div>
            <!--dt-sc-one-half ends-->
            <!--dt-sc-one-half starts-->
            <div class="column dt-sc-one-half">
                <h2 class="dt-sc-bordered-title"> Framed Toggle </h2>
                <!--dt-sc-toggle-frame-set starts-->
                <div class="dt-sc-toggle-frame-set">
                    <div class="dt-sc-toggle-frame">
                        <h5 class="dt-sc-toggle"><a href="#"> Toggle 1 </a></h5>
                        <div class="dt-sc-toggle-content">
                            <div class="dt-sc-block">
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas nam imperdiet, elit ut pellentesque adipiscing tristique senectus
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-toggle-frame">
                        <h5 class="dt-sc-toggle"><a href="#"> Toggle 2 </a></h5>
                        <div class="dt-sc-toggle-content">
                            <div class="dt-sc-block">
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas nam imperdiet, elit ut pellentesque adipiscing
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-toggle-frame">
                        <h5 class="dt-sc-toggle"><a href="#"> Toggle 3 </a></h5>
                        <div class="dt-sc-toggle-content">
                            <div class="dt-sc-block">
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas nam imperdiet, elit ut pellentesque adipiscing tristique
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-toggle-frame">
                        <h5 class="dt-sc-toggle"><a href="#"> Toggle 4 </a></h5>
                        <div class="dt-sc-toggle-content">
                            <div class="dt-sc-block">
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas nam imperdiet, elit ut pellentesque adipiscing tristique
                            </div>
                        </div>
                    </div>
                </div>
                <!--dt-sc-toggle-frame-set ends-->
            </div>
            <!--dt-sc-one-half ends-->

            <div class="dt-sc-hr-invisible-large"></div>
            <div class="mailchimp">
                <p> <span class="fa fa-envelope-o"></span> Subscribe to Newsletter </p>
                <form name="frmnewsletter" method="post" class="mailchimp-form" action="php/subscribe.php">
                    <input type="email" placeholder="Email" name="mc_email" required />
                    <input type="submit" value="Submit" class="nl-submit" name="btnsubscribe">
                </form>
                <div id="ajax_subscribe_msg"></div>
            </div>

        </section>
        <!--primary ends-->

    </div>
    <!--container ends-->
    <!--office_locations starts-->
    <div class="office_locations">
        <div class="container">
            <p> Our Offices: </p>
            <ul class="dt-sc-locations">
                <li>
                    <a href="#"> Princeton, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Princeton, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Flemington, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 1rd Floor, Sedrik Street, <br>
                            Flemington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Red Bank, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Aslan Street, <br>
                            Red Bank, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Wilmington, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Wilmington, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Georgetown, DE </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Georgetown, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> New York, NY </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 4th Floor, Moro Street, <br>
                            New York, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Haddonfield, NJ </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 3rd Floor, Sedrik Street, <br>
                            Haddonfield, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
                <li>
                    <a href="#"> Philadelphia, PA </a>
                    <div class="dt-sc-text-overlay">
                        <p class="address">
                            <span class="fa fa-location-arrow"></span> 32nd Floor, Hagid Street, <br>
                            Philadelphia, PA 16103
                        </p>
                        <p> <span class="fa fa-envelope-o"></span> <a href="#"> abc@somemail.com </a> </p>
                        <p> <span class="fa fa-phone"></span> Phone: 224-335-3654 </p>
                        <p> <span class="fa fa-fax"></span> Fax: 112-223-2265 </p>
                        <a href="#" class="dt-sc-button"> <span class="fa fa-map-marker"></span> View on Map </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--office_locations ends-->

</div>