<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Duplesis-Legal</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel='stylesheet' href='/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/plugins/superfish/css/superfish.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/plugins/dl-menu/component.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/plugins/font-awesome-new/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/plugins/fancybox/jquery.fancybox.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/plugins/flexslider/flexslider.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/style-responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/style-custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/plugins/masterslider/public/assets/css/masterslider.main.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/mastercustom.css' type='text/css' media='all' />


    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;subset=greek%2Ccyrillic-ext%2Ccyrillic%2Clatin%2Clatin-ext%2Cvietnamese%2Cgreek-ext&amp;ver=6efe5869748aa765b5a2045c3b70667c' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=ABeeZee%3Aregular%2Citalic&amp;subset=latin&amp;ver=6efe5869748aa765b5a2045c3b70667c' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:regular,700%2CRoboto:300,100' type='text/css' media='all' />


</head>
<body>


    <main role="main">
        <partial name="Headers/_Default" />
        @RenderBody()
        <partial name="Footers/_Default" />
    </main>


    <script type='text/javascript' src='/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='/js/jquery/jquery-migrate.min.js'></script>

    <script>
        var ms_grabbing_curosr = '/plugins/masterslider/public/assets/css/common/grabbing.html',
            ms_grab_curosr = '/plugins/masterslider/public/assets/css/common/grab.html';
    </script>
    <script type="text/javascript">
        (function (url) {
            if (/(?:Chrome\/26\.0\.1410\.63 Safari\/537\.31|WordfenceTestMonBot)/.test(navigator.userAgent)) {
                return;
            }
            var addEvent = function (evt, handler) {
                if (window.addEventListener) {
                    document.addEventListener(evt, handler, false);
                } else if (window.attachEvent) {
                    document.attachEvent('on' + evt, handler);
                }
            };
            var removeEvent = function (evt, handler) {
                if (window.removeEventListener) {
                    document.removeEventListener(evt, handler, false);
                } else if (window.detachEvent) {
                    document.detachEvent('on' + evt, handler);
                }
            };
            var evts = 'contextmenu dblclick drag dragend dragenter dragleave dragover dragstart drop keydown keypress keyup mousedown mousemove mouseout mouseover mouseup mousewheel scroll'.split(' ');
            var logHuman = function () {
                if (window.wfLogHumanRan) {
                    return;
                }
                window.wfLogHumanRan = true;
                var wfscr = document.createElement('script');
                wfscr.type = 'text/javascript';
                wfscr.async = true;
                wfscr.src = url + '&r=' + Math.random();
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(wfscr);
                for (var i = 0; i < evts.length; i++) {
                    removeEvent(evts[i], logHuman);
                }
            };
            for (var i = 0; i < evts.length; i++) {
                addEvent(evts[i], logHuman);
            }
        });
    </script>

    <script type='text/javascript' src='/plugins/superfish/js/superfish.js'></script>
    <script type='text/javascript' src='/js/hoverIntent.min.js'></script>
    <script type='text/javascript' src='/plugins/dl-menu/modernizr.custom.js'></script>
    <script type='text/javascript' src='/plugins/dl-menu/jquery.dlmenu.js'></script>
    <script type='text/javascript' src='/js/jquery.easing.js'></script>
    <script type='text/javascript' src='/js/jquery.transit.min.js'></script>
    <script type='text/javascript' src='/plugins/fancybox/jquery.fancybox.pack.js'></script>
    <script type='text/javascript' src='/plugins/fancybox/helpers/jquery.fancybox-media.js'></script>
    <script type='text/javascript' src='/plugins/fancybox/helpers/jquery.fancybox-thumbs.js'></script>
    <script type='text/javascript' src='/plugins/flexslider/jquery.flexslider.js'></script>
    <script type='text/javascript' src='/js/jquery.isotope.min.js'></script>
    <script type='text/javascript' src='/js/plugins.js'></script>
    <script type='text/javascript' src='/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='/js/jquery/jquery-migrate.min.js'></script>

    <script type='text/javascript' src='/plugins/gdlr-portfolio/gdlr-portfolio-script.js'></script>

    <script>
        (window.MSReady = window.MSReady || []).push(function ($) {

            "use strict";
            var masterslider_9c3d = new MasterSlider();

            // slider controls
            masterslider_9c3d.control('arrows', {
                autohide: true,
                overVideo: true
            });
            masterslider_9c3d.control('bullets', {
                autohide: false,
                overVideo: true,
                dir: 'h',
                align: 'bottom',
                space: 6,
                margin: 20
            });
            // slider setup
            masterslider_9c3d.setup("MS5c0e2bf129c3d", {
                width: 1140,
                height: 630,
                minHeight: 0,
                space: 0,
                start: 1,
                grabCursor: true,
                swipe: true,
                mouse: false,
                keyboard: false,
                layout: "fullwidth",
                wheel: false,
                autoplay: true,
                instantStartLayers: false,
                mobileBGVideo: false,
                loop: true,
                shuffle: false,
                preload: 0,
                heightLimit: true,
                autoHeight: false,
                smoothHeight: true,
                endPause: false,
                overPause: true,
                fillMode: "fill",
                centerControls: true,
                startOnAppear: false,
                layersMode: "center",
                autofillTarget: "",
                hideLayers: false,
                fullscreenMargin: 0,
                speed: 20,
                dir: "h",
                parallaxMode: 'swipe',
                view: "basic"
            });


            window.masterslider_instances = window.masterslider_instances || [];
            window.masterslider_instances.push(masterslider_9c3d);
        });
    </script>
    <script type='text/javascript' src='/plugins/masterslider/public/assets/js/masterslider.min.js'></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
