@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

    <section class="inner-header divider parallax layer-overlay overlay-dark-7" data-bg-img="/images/content/KnightBreadcrum.jpg">
        <div class="container pt-90 pb-50">
            <!-- Section Content -->
            <div class="section-content pt-100">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-white">@ViewData["Title"]</h3>
                        <ul class="list-inline text-white">
                            <li class="text-white"><a asp-area="" asp-controller="Home" asp-action="Index">Home </a> / </li>
                            <li class="text-white">@ViewData["Title"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-3">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="icon-box mb-0 p-0">
                            <a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10">
                                <i class="pe-7s-users"></i>
                            </a>
                            <h4 class="text-gray pt-10 mt-0 mb-30">Don't have an Account? Register Now.</h4>
                        </div>
                        <hr>
                        <p class="text-gray">Register here for your free account if you do not have one already, and have access to even more website content</p>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Input.Name">Name</label>
                                <input asp-for="Input.Name" class="form-control" type="text" required="">
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Input.Surname">Surname</label>
                                <input asp-for="Input.Surname" class="form-control" type="text" required="">
                                <span asp-validation-for="Input.Surname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Input.Cell">Phone Number</label>
                                <input asp-for="Input.Cell" class="form-control" type="text" required="">
                                <span asp-validation-for="Input.Cell" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Input.Email">Email Address</label>
                                <input asp-for="Input.Email" class="form-control" type="email" required="">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label asp-for="Input.Username">Choose Username</label>
                                <input asp-for="Input.Username" class="form-control" type="text" required="">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Input.Password">Choose Password</label>
                                <input asp-for="Input.Password" class="form-control" type="password" required="">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Input.ConfirmPassword">Re-enter Password</label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" type="password" required="">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-dark btn-lg btn-block mt-15" type="submit">Register Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
