@model SupplierAddEditModel

@{
    ViewData["Title"] = "Create New Supplier";
}

<table class="responsive_table">
    <thead>
    <tr>
        <td>Product To Add</td>
        <td><input asp-for="@Model."/></td>
    </tr>
    </thead>
</table>