<nav>
    <ul class="nav nav-list">
        <li>
            <a class="tree-toggler nav-header">Events <i class="fa fa-angle-down"></i></a>
            <ul class="nav nav-list tree">
                <li><a asp-area="Events" asp-controller="Home" asp-action="List">List</a></li>
                <li><a asp-area="Events" asp-controller="Home" asp-action="Create">Create</a></li>
                <li><a asp-area="Events" asp-controller="Contacts" asp-action="List">Contacts</a></li>
            </ul>
        </li>
        <li>
            <a class="tree-toggler nav-header">Gallery <i class="fa fa-angle-down"></i></a>
            <ul class="nav nav-list tree">
                <li><a asp-area="Gallery" asp-controller="PhotoAlbum" asp-action="List">PhotoAlbums</a></li>
                <li><a asp-area="Gallery" asp-controller="PhotoAlbum" asp-action="Create">Create</a></li>
            </ul>
        </li>
        <li>
            <a class="tree-toggler nav-header">Blog Entries <i class="fa fa-angle-down"></i></a>
            <ul class="nav nav-list tree">
                <li><a asp-area="Blog" asp-controller="Home" asp-action="List">List</a></li>
                <li><a asp-area="Blog" asp-controller="Home" asp-action="Create">Create</a></li>
            </ul>
        </li>
        <li>
            <a class="tree-toggler nav-header">Preachers <i class="fa fa-angle-down"></i></a>
            <ul class="nav nav-list tree">
                <li><a asp-area="Preachers" asp-controller="Home" asp-action="List">List</a></li>
                <li><a asp-area="Preachers" asp-controller="Home" asp-action="Create">Create</a></li>
            </ul>
        </li>
        <li>
            <a class="tree-toggler nav-header">Guest Speakers <i class="fa fa-angle-down"></i></a>
            <ul class="nav nav-list tree">
                <li><a asp-area="GuestSpeakers" asp-controller="Home" asp-action="List">List</a></li>
                <li><a asp-area="GuestSpeakers" asp-controller="Home" asp-action="Create">Create</a></li>
            </ul>
        </li>
        <li>
            <a class="tree-toggler nav-header">Products <i class="fa fa-angle-down"></i></a>
            <ul class="nav nav-list tree">
                <li><a asp-area="Products" asp-controller="Home" asp-action="List">List</a></li>
                <li><a asp-area="Products" asp-controller="Home" asp-action="Create">Create</a></li>
            </ul>
        </li>
        <li>
            <a class="tree-toggler nav-header">FAQ's <i class="fa fa-angle-down"></i></a>
            <ul class="nav nav-list tree">
                <li><a asp-area="Faqs" asp-controller="Home" asp-action="List">List</a></li>
                <li><a asp-area="Faqs" asp-controller="Home" asp-action="Create">Create</a></li>
            </ul>
        </li>
    </ul>
</nav>