@{
    ViewData["Title"] = " Innovative Software Development, Testing and Products";
}



<section class="banner-section"style="margin-bottom: 100px;">
    <div class="home-carousel  owl-carousel">
        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide1.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Software <br> Development</h1>
                            <p>Turn-key solutions for every need</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color" asp-page="/Contact">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide2.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Continous Performance <br> Management</h1>
                            <p>Ensure your software and apps are working as intended</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color" asp-page="/Contact">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide3.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Performance Management <br>Sytems</h1>
                            <p>Get your software working optimally in the least amount of time</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color" asp-page="/Contact">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide4.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Digital Project  <br> Management</h1>
                            <p>Benefit from our expert knowledge and project management skills</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color" asp-page="/Contact">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/slider/Slide5.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>Discover our Signature <br>Employee Engagement Tool</h1>
                            <p>Improve performance and engage your team with this turn-key tool</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color" asp-page="/Contact">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-section anim-object pdt-110 pdb-50 pdb-lg-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-xl-6">
                <div class="about-image-block mrb-lg-60">
                    <img class="img-full" src="/images/content/AboutUsImage.png" alt="About Olympia Holdings">
                </div>
            </div>
            <div class="col-md-12 col-xl-6">
                <h2 class="title-under-line mrb-70">Software development, testing <span class="f-weight-400"> and implementation</span></h2>
                <h5 class="mrb-30 text-primary-color">for companies who are serious about getting things right first time</h5>
                <p class="mrb-40">If you’re looking for a team that’s innovative, has extensive knowledge and thinks outside the box, you’ve come to the right place. We offer turn-key software development solutions and leading products that are designed to help your business succeed.</p>
                <!-- <div class="signature mrb-30"><img src="https://envato-shoebox-0.imgix.net/1697/800b-9910-4126-8a45-5ee7b772303a/DSC_2133.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=800&s=74f4f7de4cbdc5486db7f5e403e552a1" alt="Signature"></div>
                -->
                <a class="cs-btn-one btn-gradient-color btn-lg" asp-page="/Engage">Read More</a>
            </div>
        </div>
    </div>


</section>

<!-- Feature Section Start -->
<section class="feature-section pdt-110 pdb-130 bg-silver-light bg-no-repeat" style="margin-top: -40px;" data-background="/images/bg/abs-bg5.png">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="feature-box mrb-lg-60">
                    <div class="feature-thumb">
                        <img class="img-full" src="/images/content/featured/AboutOlympia1.jpg" alt=" features">
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Olympia</h3>
                        </div>
                        <div class="para">
                            <p>Leading the way in digital innovation with turn-key products and services.</p>
                        </div>
                        <div class="link">
                            <a asp-page="/Digital"><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="feature-box mrb-lg-60">
                    <div class="feature-thumb">
                        <img class="img-full" src="/images/content/featured/AboutOlympia2.jpg" alt="feature-thumb">
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Olympia Digital</h3>
                        </div>
                        <div class="para">
                            <p>Software development, performance testing and implementation.</p>
                        </div>
                        <div class="link">
                            <a asp-page="/Engage"><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="feature-box">
                    <div class="feature-thumb">
                        <img class="img-full" src="/images/content/featured/AboutOlympia3.jpg" alt="">
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Olympia Engage</h3>
                        </div>
                        <div class="para">
                            <p>Our signature software. A cutting-edge employee engagement platform.</p>
                        </div>
                        <div class="link">
                            <a asp-page="/Engage"><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Section End -->
<!-- Service Section Start -->
<section class="serivce-section bg-silver-light pdt-105 pdb-80" data-background="/images/bg/abs-bg7.png">
    <div class="section-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title-left-part mrb-sm-30">
                        <div class="section-left-sub-title mb-20">
                            <h5 class="sub-title text-primary-color">Software Development and Customisation</h5>
                        </div>
                        <h2 class="title">Olympia Digital</h2>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-6">
                    <div class="section-title-right-part">
                        <p>No matter what software application you need, we have the skills to design and develop the tools you need.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-benchmark"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a asp-page="/Contact"><h3>Website Development</h3></a>
                            </div>
                            <div class="para" style="font-size:13px">
                                <p>When it comes to developing advanced,database driven web applications we have the skills required to create a solution that is secure and functions perfectly.   </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-growth"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a asp-page="/Contact">
                                    <h3>Performance Testing</h3>
                                </a>
                            </div>
                            <div class="para" style="font-size:13px">
                                <p>Ensuring your software is stable and works as intended is critical. We run diagnostic and performance tests to make sure everything functions as it should.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-meeting"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a asp-page="/Engage">
                                    <h3>Project Architecture</h3>
                                </a>
                            </div>
                            <div class="para" style="font-size:13px">
                                <p>We help you develop a detailed development and software solutions plan that meets your business or individual requirements.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-plan"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a asp-page="/Engage">
                                    <h3>Project Management</h3>
                                </a>
                            </div>
                            <div class="para">
                                <p>We work with your resources and ours to manage your development project from start to finish..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End -->


<br />
<br />

<!-- Divider Section Start -->
<section class="pdb-110" data-background="/images/content/slider/Slide2.jpg" data-overlay-dark="8">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="popup-video-block video-popup" style="padding-top: 100px;">
                        <img class="img-full d-none d-lg-block" src="/images/content/video.jpg" alt="Our video">
                        <a href="https://www.youtube.com/watch?v=ESdc4ruF07c" class="popup-video popup-youtube">
                            <i class="webexflaticon flaticon-play-button-2" aria-hidden="true"></i>
                            <span class="pulse-animation"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 mrb-sm-110">
                    <div class="request-a-call-back-form">
                        <h3 class="mrt-0 mrb-20 solid-bottom-line">Feel Free to Contact Us</h3>
                        <p class="mrb-30">If there is anything you would like to know or you just want to check in, contact us</p>
                        <form method="post" id="indexForm" autocomplete="on">
                            <!---actionhttp://olympiahdpreview.iqtechsolutions.co.za/Support/Home/Create?returnUrl=%2F"-->

                            <input type="hidden" id="captchaInput" name="Captcha" value="" />
                            <p class="contact-form-name">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" aria-required="true" size="30" class="form-control" placeholder="First Name" required="" data-val="true" data-val-required="This is a required field" id="FirstName" name="FirstName" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" aria-required="true" size="30" class="form-control" placeholder="Last Name" required="" data-val="true" data-val-required="This is a required field" id="LastName" name="LastName" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" aria-required="true" size="30" class="form-control" placeholder="Phone Nr" required="" data-val="true" data-val-required="This is a required field" id="PhoneNr" name="PhoneNr" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="PhoneNr" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" aria-required="true" size="30" class="form-control" placeholder="Email Address" required="" data-val="true" data-val-email="The EmailAddress field is not a valid e-mail address." data-val-required="This is a required field" id="EmailAddress" name="EmailAddress" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" aria-required="true" size="30" class="form-control" placeholder="Subject" required="" data-val="true" data-val-required="This is a required field" id="Subject" name="Subject" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea rows="4" placeholder="Message or Description" class="form-control" data-val="true" data-val-required="This is a required field" id="Content" name="Content">
                                           </textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mrb-0">
                                            <button type="submit" class="cs-btn-one btn-primary-color btn-md btn-block">Request for Submit</button>
                                        </div>
                                    </div>
                                </div>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8APKRzbUmFpDqnT9ASw1xDeebQXxfF545s8LywzWnGNNuON2zYO5XTZRyxqxxUp0gEj7IGpZffBeF6hX6cgo2k4IOEY8kKbu_h8Y_NeWGdbFn2b3lN7VD0e-luG3PvapiiS6GY3hzn49j-sIKMGgSwU" />
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Divider Section End -->
<!-- Testimonials Section Start   data-background="/images/bg/abs-bg7.png" -->
<section class="request-a-call-back pdt-80 pdb-110 pdb-lg-70">
    <div class="section-title text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8">
                    <div class="title-box-center">
                        <h5 class="shadow-text">Studies</h5>
                        <h2 class="sub-title-center text-primary-color line-top-center mrb-30">Case Studies</h2>
                        <!--<h2 class="title">What People and Clients Think About Us?</h2>-->
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="owl-carousel testimonial-items-2col mrb-lg-40">
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>

                        <h6 class="client-designation">RTT &amp; Group</h6>
                        <div class="testimonial-content">
                            <img src="~/images/casestudies/casestudies (1).jpg" />
                            <p class="comments">
                                The RTT Group is a leading logistics company specialising in multiple distribution strategies The group employs over 6000 personnel in South
                                Africa and internationally which is made up
                                of executive, senior and middle management,
                                supervisory staff and a large compliment of blue
                                collar workers
                            </p>
                          
                        </div>
                        <a class="cs-btn-one btn-gradient-color btn-lg" href="/RTT Case Study_March 2021.pdf" target="_blank">Case Studies</a>
                    </div>
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>


                        <h6 class="client-designation">SQIM &amp; Company</h6>
                        <div class="testimonial-content">
                            <img src="/images/casestudies/casestudies (2).jpg" />
                            <p class="comments">
                                SQIM is a Technology Consulting company
                                specialising in application integrations for blue
                                chip companies across the banking, retail and
                                insurance industries in South Africa.
                                With a 20 year history, SQIM remains a leading
                                technology consulting company.

                            </p>
                            
                        </div>
                        <a class="cs-btn-one btn-gradient-color btn-lg" href="/Sqim Case Study_April 2021.pdf" target="_blank">Case Studies</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials Section End -->