@{
    ViewData["Title"] = "Image-Upload";
}


<!-- Service Section Start -->
<section data-background="images/bg/abs-bg7.png">
    <div class="section-title text-center">
        <div>
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8 col-xl-6">
                    <div class="section-title-block">
                        <h5 class="text-primary-color anim-box-objects line-both-side mrb-15">Image Upload</h5>

                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        @*<form class="uploader">
            <box>
                <input />
            </box>
            
            
        </form>*@
        
        @*<div>
            <input type="file" onchange="previewFile()"><br>
            <img  id="imagePreview" src="" height="200" alt="Image preview...">
        </div>*@
        @*<div>
            <form method="post" enctype="multipart/form-data" action="/upload"> <input type="file" name="file" accept="image/"> <input type="submit" value="submit"> </form>
        </div>
        <div>
            New Model

            <input id="fileUpload" type="file"   />
            <img id="imagePreview" src="" alt="Preview" />
        </div>*@
        <!-- Upload  -->
    <form id="file-upload-form" class="uploader">

        <input id="file-upload" type="file" name="fileUpload" accept="image/*" />

        <label for="file-upload" id="file-drag">
            <img id="file-image" src="#" alt="Preview" class="hidden">
            <div id="start">
                <i class="fa fa-download" aria-hidden="true"></i>
                <div>Select a file or drag here</div>
                <div id="notimage" class="hidden">Please select an image</div>
                <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
            </div>
            <div id="response" class="hidden">
                <div id="messages"></div>
                <progress class="progress" id="file-progress" value="0">
                    <span>0</span>%
                </progress>
            </div>
        </label>
        <button class="btn btn-danger" style="margin:10px;" onclick="closeWindow()">Cancel</button>
        <button class="btn btn-secordary-color" style="margin:10px;">Save &Aacute; Close</button>
    </form>

</section>
<script>
    function closeWindow() {
        newWindow.close();
    }
</script>
@*<div class="form-group" style="display: flex; justify-content: center; position: relative; -ms-transform: translateY(-50%); transform: translateY(-50%);top:50px;">


        <button class="btn btn-danger" style="margin:10px;">Cancel</button>
        <input class="btn btn-primary" name="finnish" type="submit" value="Save & Close" style="margin:10px;" />
    </div>*@


<!-- Service Section End -->

@*<scripts>
    document.querySelector("#file-upload").addEventListerner("change", function(){
        console.log(this.files);
    });
</scripts>*@