@{
    ViewData["Title"] = "About Olympia";
}



<!-- Service Section Start -->
<section class="serivce-section bg-silver-light pdt-105 pdb-80" data-background="images/bg/abs-bg7.png">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-plan"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Online Business</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-meeting"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Human Resource</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-growth"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Market Research</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-benchmark"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Business Strategy</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-search-1"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Project Managment</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-wallet"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Money Management</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-profits"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Online Marketing</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-medal-1"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Business Insurance</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End -->