@using Messaging.Base.Entities

@model IEnumerable<IGrouping<DateTime, Messaging.Base.Entities.TimelineItem>>

    <div class="timeline">

        @if (Model.Any())
        {
            @foreach (var item in Model.OrderBy(c => c.Key))
            {
                if (item.Key.Date == DateTime.Now.Date)
                {
                    <div class="timeline-header">
                        <div class="timeline-header-title bg-success">Today</div>
                    </div>
                }
                else if (item.Key.Date == DateTime.Now.AddDays(-1).Date)
                {
                    <div class="timeline-header">
                        <div class="timeline-header-title bg-dark">Yesterday</div>
                    </div>
                }
                else
                {
                    <div class="timeline-header">
                        <div class="timeline-header-title bg-dark">@item.Key.ToShortTimeString()</div>
                    </div>
                }

                foreach (var timeLineItem in item)
                {
                    if (timeLineItem.TimeLineType == TimeLineType.SharedImage)
                    {
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon">
                                    <img src="img/av6.png" alt="Profile picture">
                                </div>
                                <div class="timeline-time">30 Min ago</div>
                            </div>
                            <div class="timeline-label">
                                <p class="mar-no pad-btm"><a href="#" class="btn-link text-semibold">Maria J.</a> shared an image</p>
                                <div class="img-holder">
                                    <img src="img/thumbs/img2.jpg" alt="Image">
                                </div>
                            </div>
                        </div>
                    }
                    else if (timeLineItem.TimeLineType == TimeLineType.CalenderItem)
                    {
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon bg-danger">
                                    <i class="fa fa-building fa-lg"></i>
                                </div>
                                <div class="timeline-time">2 Hours ago</div>
                            </div>
                            <div class="timeline-label">
                                <h4 class="mar-no pad-btm"><a href="#" class="text-danger">Job Meeting</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                            </div>
                        </div>
                    }
                    else if (timeLineItem.TimeLineType == TimeLineType.CommentFrom)
                    {
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon">
                                    <img src="img/av4.png" alt="Profile picture">
                                </div>
                                <div class="timeline-time">3 Hours ago</div>
                            </div>
                            <div class="timeline-label">
                                <p class="mar-no pad-btm">
                                    <a href="#" class="btn-link text-semibold">Lisa D.</a> commented on <a href="#">The Article</a>
                                </p>
                                <blockquote class="bq-sm bq-open">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</blockquote>
                            </div>
                        </div>
                    }
                    else if (timeLineItem.TimeLineType == TimeLineType.CommentTo)
                    {
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon">
                                    <img src="img/av4.png" alt="Profile picture">
                                </div>
                                <div class="timeline-time">3 Hours ago</div>
                            </div>
                            <div class="timeline-label">
                                <p class="mar-no pad-btm">
                                    <a href="#" class="btn-link text-semibold">Lisa D.</a> commented on <a href="#">The Article</a>
                                </p>
                                <blockquote class="bq-sm bq-open">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</blockquote>
                            </div>
                        </div>
                    }
                    else if (timeLineItem.TimeLineType == TimeLineType.Follow)
                    {
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon bg-purple">
                                    <i class="fa fa-check fa-lg"></i>
                                </div>
                                <div class="timeline-time">5 Hours ago</div>
                            </div>
                            <div class="timeline-label">
                                <img class="img-xs img-circle" src="img/av3.png" alt="Profile picture">
                                <a href="#" class="btn-link text-semibold">Bobby Marz</a> followed you.
                            </div>
                        </div>
                    }
                    else if (timeLineItem.TimeLineType == TimeLineType.FollowFrom)
                    {
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon bg-purple">
                                    <i class="fa fa-check fa-lg"></i>
                                </div>
                                <div class="timeline-time">5 Hours ago</div>
                            </div>
                            <div class="timeline-label">
                                <img class="img-xs img-circle" src="img/av3.png" alt="Profile picture">
                                <a href="#" class="btn-link text-semibold">Bobby Marz</a> followed you.
                            </div>
                        </div>
                    }
                    else if (timeLineItem.TimeLineType == TimeLineType.Like)
                    {
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon bg-success">
                                    <i class="fa fa-thumbs-up fa-lg"></i>
                                </div>
                                <div class="timeline-time">13:27</div>
                            </div>
                            <div class="timeline-label">
                                <img class="img-xs img-circle" src="img/av2.png" alt="Profile picture">
                                <a href="#" class="btn-link text-semibold">Michael Both</a> Like <a href="#">The Article</a>
                            </div>
                        </div>
                    }
                    else if (timeLineItem.TimeLineType == TimeLineType.Dislike)
                    {
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon bg-success">
                                    <i class="fa fa-thumbs-up fa-lg"></i>
                                </div>
                                <div class="timeline-time">13:27</div>
                            </div>
                            <div class="timeline-label">
                                <img class="img-xs img-circle" src="img/av2.png" alt="Profile picture">
                                <a href="#" class="btn-link text-semibold">Michael Both</a> Like <a href="#">The Article</a>
                            </div>
                        </div>
                    }
                    else if (timeLineItem.TimeLineType == TimeLineType.Message)
                    {
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon bg-info">
                                    <i class="fa fa-envelope fa-lg"></i>
                                </div>
                                <div class="timeline-time">15:45</div>
                            </div>
                            <div class="timeline-label">
                                <h4 class="text-info mar-no pad-btm">Lorem ipsum dolor sit amet</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                            </div>
                        </div>
                    }
                    else if (timeLineItem.TimeLineType == TimeLineType.Feed)
                    {
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon"></div>
                                <div class="timeline-time">11:27</div>
                            </div>
                            <div class="timeline-label">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                            </div>
                        </div>
                    }
                }

            }

        }
        else
        {
            <div class="timeline-header">
                <div class="timeline-header-title bg-success">Today</div>
            </div>

            <div class="timeline-entry">
                <div class="timeline-stat">
                    <div class="timeline-icon"></div>
                    <div class="timeline-time">11:27</div>
                </div>
                <div class="timeline-label">
                    <p>You currently do not have not any timeline entries.</p>
                </div>
            </div>
        }


    </div>