<section class="flat-price-coin bg-browse">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-title center">
                    <h2>CRYPTOCURRENCY PRICES</h2>
                    <p>The Bitcoin ecosystem at a glance. Any of our service with free test credits or actual Bitcoins.</p>
                </div>
                <div class="table-price">
                    <table>
                        <thead>
                            <tr>
                                <th>Symbol</th>
                                <th>Name</th>
                                <th>USD</th>
                                <th>Change 24h</th>
                                <th>Change 7d</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>BTC</td>
                                <td>Bitcoin</td>
                                <td>11,703</td>
                                <td class="color-green">8.63 %</td>
                                <td class="color-green">2.9 %</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>Ethereum</td>
                                <td>1,109</td>
                                <td class="color-green">12.51 %</td>
                                <td class="color-green">8.18 %</td>
                            </tr>
                            <tr>
                                <td>XRP</td>
                                <td>Ripple</td>
                                <td>1.375</td>
                                <td class="color-red">-2.14 %</td>
                                <td class="color-red">-0.79 %</td>
                            </tr>
                            <tr>
                                <td>LTC</td>
                                <td>Litecoin</td>
                                <td>185.8</td>
                                <td class="color-green">4.89 %</td>
                                <td class="color-red">-1.31 %</td>
                            </tr>
                            <tr>
                                <td>XMR</td>
                                <td>Monero</td>
                                <td>328.8</td>
                                <td class="color-red">-5.98 %</td>
                                <td class="color-green">1.15 %</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.table-price -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-price-coin -->
