@{
    ViewData["Title"] = "About Olympia";
}

@Html.Partial("PageTitles/Default")

<!-- Feature Section Start -->
<section class="feature-section pdt-110 pdb-130 bg-silver-light bg-no-repeat" data-background="images/bg/abs-bg5.png">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="feature-box mrb-lg-60">
                    <div class="feature-thumb">
                        <img class="img-full" src="http://placehold.it/375x250" alt="">
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Creative Design</h3>
                        </div>
                        <div class="para">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est amet similique ipsum reprehenderit sed.</p>
                        </div>
                        <div class="link">
                            <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="feature-box mrb-lg-60">
                    <div class="feature-thumb">
                        <img class="img-full" src="http://placehold.it/375x250" alt="">
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Complete Analysis</h3>
                        </div>
                        <div class="para">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est amet similique ipsum reprehenderit sed.</p>
                        </div>
                        <div class="link">
                            <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="feature-box">
                    <div class="feature-thumb">
                        <img class="img-full" src="http://placehold.it/375x250" alt="">
                    </div>
                    <div class="feature-content">
                        <div class="title">
                            <h3>Optimal Solution</h3>
                        </div>
                        <div class="para">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est amet similique ipsum reprehenderit sed.</p>
                        </div>
                        <div class="link">
                            <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Section End -->
<!-- About Section Start -->
<section class="about-section anim-object pdt-110 pdb-50 pdb-lg-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-xl-6">
                <div class="about-image-block mrb-lg-60">
                    <img class="img-full" src="http://placehold.it/575x645" alt="">
                </div>
            </div>
            <div class="col-md-12 col-xl-6">
                <h2 class="title-under-line mrb-70">We have 32+ <span class="f-weight-400">Years Business Experiences</span></h2>
                <h5 class="mrb-30 text-primary-color">Trusted Business Consulting Service Provider</h5>
                <p class="mrb-40">Distinctively exploit optimal alignments for intuitive. Quickly coordinate business applications through revolutionary catalysts for chang the Seamlessly optimal testing procedures whereas processes. Synerg stically evolve 2.0 technologies rather than just in web & apps development optimal alignments for intuitive.</p>
                <div class="signature mrb-30"><img src="images/about/signature.png" alt=""></div>
                <a href="#" class="cs-btn-one btn-gradient-color btn-lg">Read More</a>
            </div>
        </div>
        <div class="row mrt-100 mrt-lg-90">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="funfact mrb-lg-30 mrb-60">
                    <div class="icon">
                        <span class="webexflaticon flaticon-man-2"></span>
                    </div>
                    <h2 class="counter">1450</h2>
                    <h5 class="title">Happy Customers</h5>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="funfact mrb-lg-30 mrb-60">
                    <div class="icon">
                        <span class="webexflaticon flaticon-like-3"></span>
                    </div>
                    <h2 class="counter">1864</h2>
                    <h5 class="title">Peoples Likes</h5>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="funfact mrb-lg-30 mrb-60">
                    <div class="icon">
                        <span class="webexflaticon flaticon-trophy-1"></span>
                    </div>
                    <h2 class="counter">1280</h2>
                    <h5 class="title">Awards Achieved</h5>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="funfact mrb-lg-30 mrb-60">
                    <div class="icon">
                        <span class="webexflaticon flaticon-briefcase-1"></span>
                    </div>
                    <h2 class="counter">32</h2>
                    <h5 class="title">Experiences</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Team Section Titile Start -->
<section class="pdt-110 pdb-150 section-white-typo" data-background="http://placehold.it/1920x1280" data-overlay-dark="8">
    <div class="section-title text-center">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8 col-xl-6">
                    <div class="section-title-block">
                        <h5 class="text-primary-color anim-box-objects line-both-side mrb-15">Meet Our Team</h5>
                        <h2>We Have a Professional Consulting Team</h2>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section Titile End -->
<!-- Team Section Start -->
<section class="pdt-0 pdb-110 pdb-md-110 minus-mrt-130 bg-pos-center-bottom" data-background="images/bg/abs-bg1.png">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center pdt-80">
                <div class="col-md-12 col-xl-6">
                    <h5 class="mrb-15 text-primary-color sub-title-side-line">Professional Skills</h5>
                    <h2 class="mrb-30">We Help You to Grow <br><span class="f-weight-400">Your Business</span> Quickly</h2>
                    <p class="mrb-30">Distinctively exploit optimal alignments for intuitive. Quickly coordinate business applications through revolutionary cataly technologies rather than development optimal alignments for intuitive.</p>
                    <div class="skills mrb-lg-60">
                        <div class="skill-item">
                            <div class="skill-header">
                                <h6 class="skill-title">Business Consulting</h6>
                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="2100" data-stop="85">0</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="85"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-header">
                                <h6 class="skill-title">Market Analysis</h6>
                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="2000" data-stop="96">0</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="96"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-header">
                                <h6 class="skill-title">Money Management</h6>
                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="1900" data-stop="90">0</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="90"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-header">
                                <h6 class="skill-title">Business Growth</h6>
                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="1800" data-stop="88">0</span>%</div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="88"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-6">
                    <div class="about-image-block">
                        <img class="img-full" src="http://placehold.it/575x645" alt="">
                        <div class="call-us-now">
                            <p class="call-us-title mrb-5 text-white">Call Us Now</p>
                            <h3 class="number mrt-0 text-white">+01 225 445</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->
<!-- Clients Section Start -->
<section class="pdt-60 pdb-60 bg-silver-light">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel client-items">
                        <div class="client-item">
                            <img src="images/clients/client1.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client2.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client4.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client5.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client1.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Clients Section End -->