@{
    ViewData["Title"] = "Feaw Things Identity Server";
}

<div class="text-center">
    <img src="~/images/logo/logoInEllipse.png" style="width: 70%; max-width: 250px" title="Feaw Things" alt="Feaw Things">
    <h3>Feaw Things Identity Server</h3>
</div>
