@model Metsi.Web.Admin.Areas.Calendar.Models.CalendarModel

@{
    ViewData["Title"] = "Calendar";
}
    
@section Styles
{
    <link href="~/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
}


    
    <div class="vertical-box">
        <div class="vertical-box-column p-15 bg-silver width-sm">
            @await Component.InvokeAsync("CalendarTaskMenu")
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Main Calendar</h4>
                </div>
                <div id="mainPanel" class="panel-body p-0">
                    <div id="calendar" class="vertical-box-column p-15 calendar"></div>
                </div>
            </div>
            
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                        <h4 class="panel-title">Employee Calendars</h4>
                    </div>
                    <div class="panel-body p-0">
                        <div class="row">
                            @foreach (var item in Model.Employees)
                            {
                                <div class="col-md-6">
                                    <h4 class="text-center" style="padding-right: 10px;">@item.EmpName Calendar</h4>
                                    <div id="calendar_@item.EmpId" class="vertical-box-column p-15 calendar"></div>
                                </div>
                            }
                        </div>
                        
                    </div>
                </div>
            
        }
        else
        {
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Main Calendar</h4>
        </div>
        <div class="panel-body p-0">
            <div id="calendar" class="vertical-box-column p-15 calendar"></div>
        </div>
    </div>
        }
    </div>


@section Scripts
{
    <script src="~/plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <script src="~/js/calendar.demo.min.js"></script>
    

    @if (User.IsInRole("Admin"))
    {
        <script>
            var srcCalendar;

            document.addEventListener('DOMContentLoaded',
                function () {

                    var tags = JSON.parse('@Html.Raw(Json.Serialize(Model.Employees))');
                    for (var i = 0; i < tags.length; i++) {
                        var va = tags[i].empId;
                        var fafa = 'calendar_' + tags[i].empId;
                        var srcCalendarEl = document.getElementById(fafa);
                        srcCalendar = new FullCalendar.Calendar(srcCalendarEl,
                            {
                                headerToolbar: {
                                    left: 'prev,next',
                                    center: 'title',
                                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                                },
                                selectable: true,
                                editable: true,
                                droppable: true,
                                dayMaxEvents: true,
                                contentHeight: 'auto',
                                navLinks: true,
                                initialDate: new Date($.now()),
                                eventLeave: function(arg) {
                                    console.log('event left!', info.event);
                                },
                                eventReceive: function (arg) {

                                    var draggedItem = arg.draggedEl;
                                    var taskVal = "";
                                    var routeVal = "";

                                    alert(va);

                                    if (draggedItem.hasAttribute("data-taskId")) {

                                        taskVal = draggedItem.attributes.getNamedItem("data-taskId").nodeValue;
                                    }
                                    if (draggedItem.hasAttribute("data-routeId")) {
                                        routeVal = draggedItem.attributes.getNamedItem("data-routeId").nodeValue;
                                    }

                                    var data = {
                                        startDate: arg.event.startStr,
                                        endDate: arg.event.startStr,
                                        name: arg.draggedEl.attributes.getNamedItem("data-title").nodeValue,
                                        description: arg.draggedEl.attributes.getNamedItem("data-description").nodeValue,taskId: taskVal,
                                        routeId: routeVal,
                                        employeeId: va
                                    };
                                    $.ajax({
                                        type: "POST",
                                        url: "/Calendar/Appointments/CreateAppointment",
                                        data: data,
                                        contentType: 'application/x-www-form-urlencoded',
                                        success: function(msg) {
                                            console.log(msg);
                                        },
                                        error: function(req, status, error) {
                                            alert(error);
                                        }
                                    });
                                },
                                drop: function(arg) {
                                    // is the "remove after drop" checkbox checked?
                                    if (document.getElementById('drop-remove').checked) {
                                        // if so, remove the element from the "Draggable Events" list
                                        arg.draggedEl.parentNode.removeChild(arg.draggedEl);
                                    }
                                },
                                select: function(arg) {
                                    var title = prompt('Event Title:');
                                    if (title) {
                                        calendar.addEvent({
                                            title: title,
                                            start: arg.start,
                                            end: arg.end,
                                            allDay: arg.allDay
                                        });
                                    }
                                    calendar.unselect();
                                },
                                eventClick: function(arg) {
                                    var url = "/Calendar/Appointments/AppointmentInfo?id=" + arg.event.id;

                                    $("#ModalPlaceHolder").load(url,
                                        function () {
                                            $("#ModalPlaceHolder").modal("show");
                                        });
                                },


                                events: function (fetchInfo, successCallback, failureCallback) {
                                    $.ajax({
                                        type: "POST",
                                        url: "/Calendar/Appointments/GetUserAppointments?id=" + tags[i].empId,
                                        contentType: 'application/x-www-form-urlencoded',
                                        success: function (eventData) {
                                            successCallback(eventData);
                                        },
                                        error: function(req, status, error) {
                                            alert(error);
                                        }
                                    });
                                }
                            });

                        srcCalendar.render();
                    }

                    //$("#mainPanel").hide();
                });
        </script>
    }
    
}
