
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- ============================================ Basic page needs ============================================ -->
    <title>@ViewData["Title"] - Feaw Things</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--  ============================================ favicon ============================================ -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/favicon/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/favicon/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/favicon/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/favicon/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/images/favicon/favicon.png">

    <!-- ============================================ Google web fonts ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- ============================================ Libs CSS ============================================ -->
    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css">
    <link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/css/themecss/lib.css" rel="stylesheet">
    <link href="~/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">

    <!-- ============================================ Theme CSS ============================================ -->
    <link href="~/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="~/css/themecss/so-categories.css" rel="stylesheet">
    <link href="~/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    @RenderSection("Styles", required: false)

</head>

<body class="">

    <ejs-scripts></ejs-scripts>

    @RenderBody()

    <partial name="SocialMedia/_SocialSidebar" />
    
    <link rel='stylesheet' property='stylesheet' href='~/css/themecss/cpanel.css' type='text/css' media='all' />

    <script type="text/javascript" src="~/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/themejs/libs.js"></script>
    <script type="text/javascript" src="~/js/unveil/jquery.unveil.js"></script>
    <script type="text/javascript" src="~/js/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
    <script type="text/javascript" src="~/js/datetimepicker/moment.js"></script>
    <script type="text/javascript" src="~/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/modernizr/modernizr-2.6.2.min.js"></script>

    <!-- ============================================ Theme files ============================================ -->
    <script type="text/javascript" src="~/js/themejs/application.js"></script>
    <script type="text/javascript" src="~/js/themejs/so_megamenu.js"></script>
    <script type="text/javascript" src="~/js/themejs/addtocart.js"></script>

    <script type="text/javascript">
        <!--
        // Check if Cookie exists
        if ($.cookie('display')) {
            view = $.cookie('display');
        } else {
            view = 'list';
        }
        if (view) display(view);
            //-->
    </script>


    @RenderSection("Scripts", required: false)

</body>
</html>