@{
    Layout = "Layouts/_LayoutBase";
}

@section Styles
{
    <link href="~/css/footer4.css" rel="stylesheet">
    <link href="~/css/header1.css" rel="stylesheet">
    <link id="color_scheme" href="~/css/theme.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
}



<div id="wrapper" class="wrapper-full">

    <partial name="Headers/_HeaderDefault" />

    @RenderBody()

    <div class="modal modal-message fade" id="ModalPlaceHolder"></div>

    <partial name="Footers/_Footer" />

</div>


@section Scripts
{
    <script>
        var body = document.body;
        body.classList.add("res");
        body.classList.add("layout-subpage");
    </script>

    @RenderSection("Scripts", required: false)
}