<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!DOCTYPE html>
<html lang="en-US">
<!--<![endif]-->

<head>
    <title>@ViewData["Title"] - Feaw Things</title>
    <meta charset="utf-8">
    <meta name="keywords" content="boostrap, responsive, html5, css3, jquery, theme, multicolor, parallax, retina, business" />
    <meta name="author" content="Magentech">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"><!-- Core Meta Data -->
    <meta content="IQ Tech Solutions" name="author">
    <meta content="Shop as much as you need for as much as you want!" name="description">
    <meta content="Sales, Custom Products" name="keywords"><!-- Open Graph Meta Data -->
    <meta content="The most spectacular coming soon template!">
    <meta content="IQ Tech Solutions">
    <meta content="IQ Tech Solutions">
    <meta content="website">
    <meta content="index.html"><!-- Twitter Card Meta Data -->
    <meta content="summary" name="twitter:card">
    <meta content="@@iqtechSolutions" name="twitter:site">
    <meta content="iqtechSolutions.co.za" name="twitter:creator">
    <meta content="IQ Tech Solutions" name="twitter:title">
    <meta content="If you can dream it we can design it" name="twitter:description">
    <meta name="robots" content="index, nofollow" />

    <link href="~/images/logo/logoOnly.png" rel="shortcut icon" type="image/png">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,900' rel='stylesheet' type='text/css'><!-- Styles -->
    <link href="~/css/loader.css" rel="stylesheet" type="text/css">
    <link href="~/css/normalize.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->
    <!-- Javascript -->

    <script src="~/js/jquery.js"></script>
</head>
<body>

<div class="preloader">
    <div class="loading">
        <h2>
            Loading...
        </h2>
        <span class="progress"></span>
    </div>
</div>

@RenderBody()

<!-- Javascript -->
<script src="~/js/plugins.js"></script>
<script src="~/js/jquery.countdown.min.js"></script>
<script src="~/js/main.js"></script>

</body>
</html>