@model ProductListViewModel

<body>
<h1>@Model.CurrentCategory</h1>

@*Loop through model to get all Candy*@
@foreach (var product in Model.Products)
{
        @* Calling partial view _candyCard and using candy var in Candy model to loop*@
    <partial name="_productCard" model="product" />
}
</body>