@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

@section Styles{
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        function IsTermChecked() {
            if (!$("input:checkbox").is(":checked")) {
                alert("You must agree to the terms of service.");
                return false;
            }
            else
                return true;
        }

    </script>
}

<div class="login login-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image">
            <img src="~/img/background/bg-6.jpg" data-id="login-cover-image" alt="" />
        </div>
        <div class="news-caption">
            <img data-in="fade"
                 data-out="fade"
                 style="width: 100%"
                 src="~/img/Full-Logo-Banner-Website.png"
                 alt="IQ Tech Solutions Full Logo Banner">
        </div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
        <!-- begin login-header -->
        <div class="login-header">
            <div class="brand">
                <img src="~/img/Full-Logo-Banner-Website.png" width="80%" style="padding-top: 10px;" />
            </div>
            <div class="icon">
                <a href=@Url.Action("Index","Home")><i class="fa fa-sign-in"></i></a>
            </div>
        </div>
        <!-- end login-header -->
        <!-- begin login-content -->
        <div class="login-content">
            <form asp-controller="Authentication" asp-action="Login" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="ReturnUrl"/>

                <div class="form-group m-b-15">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control"/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group m-b-15">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="checkbox m-b-30">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="login-buttons">
                    <input type="submit" value="Sign me in" class="btn btn-success btn-block btn-lg" />
                </div>

                <div class="m-t-20">
                    Not a member yet?<a asp-controller="Authentication" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="text-success"> Click here to register.</a><br /><br />
                    Forgot your password?<a asp-controller="Authentication" asp-action="Login" class="text-success"> Click here to reset.</a><br /><br />
                    <a href="@Model.ReturnUrl">Back to Home Page</a>
                </div>
                <hr />
                <p class="text-center text-inverse">
                    &copy; Copyright @DateTime.Now.Year <br /> Created by <a href="https://www.iqtechsolutions.co.za" target="_blank">IQ Tech Solutions</a> <br /> Powered by ASP.NET
                </p>
            </form>
        </div>
        <!-- end login-content -->
    </div>
    <!-- end right-container -->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}