@using Iqt.Base.Interfaces
@inject IApplicationConfiguration Configuration;

@{
    Layout = "Layouts/_Layout";
    ViewBag.Title = "Coming Soon";
    ViewBag.Description = $"This is the construction page for {Configuration.CompanyName}.";
}

<div class="container-fluid h-100 overflow-y">
    <div class="row flex-row h-100">
        <div class="col-12 my-auto">
            <div class="coming-soon mx-auto">
                <div class="logo-centered">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/images/logos/iqtechsolutions-logo.png" alt="logo">
                    </a>
                </div>
                <h1>Coming <span>Soon</span></h1>
                <div class="sub-heading">Website Under Construction</div>
                <div class="row align-items-center justify-content-center">
                    <div id="countdown"></div>
                </div>
                <div class="notify-form">
                    <div class="heading">
                        We will let you know when we are launching
                    </div>
                    <form>
                        <div class="group material-input">
                            <input type="email" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Enter your email address ...</label>
                        </div>
                    </form>
                </div>
                <div class="button text-center">
                    <a href="#" class="btn btn-lg btn-gradient-01">Notify me</a>
                </div>
                <div class="follow-link">
                    <ul class="social-network">
                        <li>
                            <a href="#" class="ico-facebook" title="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="ico-twitter" title="Twitter">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="ico-youtube" title="Youtube">
                                <i class="ion-social-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="ico-linkedin" title="Linkedin">
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Coming Soon -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>