<div class="header-bottom">
<div class="container">
    <div class="header-bottom__content">
        <div class="row">
            <partial name="Menus/_SideBarMenu" />
            <div class="megamenu-hori col-md-9 col-sm-6 col-xs-12 ">
                <partial name="Menus/_MainMenu" />
            </div>
        </div>
    </div>
</div>

</div>