<div class="side-panel-content">

    <div class="close-icon">
        <button><i class="webex-icon-cross"></i></button>
    </div>

    @* Home Welcoming Words *@
    <div>
        <small>Welcome</small>
        <i class="fa fa-home" aria-hidden="true"></i>
    </div>

    <hr />

    <div class="side-info mrb-30">
        <div class="side-panel-element mrb-25">

            <nav id="mobile-menu-ff">
                <ul class="list-items">
                    <li><a asp-area="Home" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="Engage" asp-controller="Engage" asp-action="Index">Engage</a>
                    <li><a asp-area="Digital" asp-controller="Home" asp-action="Index">Digital</a></li>
                    <li><a asp-area="CaseStudies" asp-controller="Home" asp-action="Index">Case Studies</a>
                    <li><a asp-area="FileManager" asp-controller="Home" asp-action="Index">File Manager</a></li>
                    <li><a asp-area="Support" asp-controller="Home" asp-action="Index">Support Tickets</a></li>
                    <li><a asp-area="Faqs" asp-controller="Home" asp-action="Index">Faqs</a></li>
                    @* .User Settings *@
                    <li><a asp-area="" asp-page="/404" style="float:left; margin-top:-2px; ">
                            @User.Identity.Name <i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
                             <span class="sr-only">Loading...</span>
                    </a></li>

                </ul>
            </nav>
            <hr />
            <h4 class="mrb-10">Office Address</h4>
            <div class="side-panel-logo mrb-30">

                <a asp-controller="Home" asp-action="Index">
                    <img src="/images/Rectangular_Olympia_Logo_White.png" alt="" />

                </a>
            </div>
            <ul class="list-items">
                @*<li><span class="fa fa-map-marker-alt mrr-10 text-primary-color"></span>The Vineyards Office Estate, Manor House, 99 Jip De Jager, Bellville</li>*@
                <li><span class="fas fa-envelope mrr-10 text-primary-color"></span>info@olympiahd.com</li>
                <li><span class="fas fa-phone-alt mrr-10 text-primary-color"></span>(+27) 73 008 2739</li>
            </ul>

        </div>
    </div>
    <h4 class="mrb-15">Social List</h4>
    <ul class="social-list">
        <li><a href="https://www.facebook.com/olympia.team" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/olympia.team" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/company/olympia-team" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/Olympiateam1" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
    </ul>
</div>



<script src="https://use.fontawesome.com/d9158b7faf.js"></script>