@model Iqt.Base.Models.ModalModel
<!-- Modal -->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Delete Contact Nr</h4>
        </div>
        <div class="modal-body">
            <h4> @Model.HeaderString </h4>

            <div style="text-align: center; display: none" id="loaderDiv">
                <img src="~/images/loader2.gif" />
            </div>

        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
            <a href="javascript:;" onclick="ConfirmDelete()" class="btn btn-sm btn-primary">Delete</a>
        </div>
    </div>
</div>

<script>
    function ConfirmDelete() {

        $("#loaderDiv").show();

        var contactId = '@Model.EntityId';

        var url = '@Model.ControllerUrl';

        $.ajax({
            type: "POST",
            data: { id: contactId },
            url: url,
            dataType: "JSON",
            success: function (data) {

                $("#ModalPlaceHolder").modal("hide");
                $("#loaderDiv").hide();

                $(".row_" + contactId).remove();
            },
            error: function (xhr, textStatus, err) {

                alert("An error with the following detials occured : "
                    + "\r\n == readyState: " + xhr.readyState
                    + "\r\n == responseText: " + xhr.responseText
                    + "\r\n == status: " + xhr.status
                    + "\r\n == text status: " + textStatus
                    + "\r\n == error: " + err);
            }
        });
    }
</script>