<footer class="bg-dark py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm text-center text-white">
        Copyright &copy; Olympia Holdings
        2017 - 2020 - 
        <a href="/terms" class="text-white">Terms & Conditions</a> - <a href="/privacy" class="text-white">Privacy</a>
      </div>
      <div class="col-sm">
        <a href="https://www.facebook.com/olympia.team"  target="_blank">
          <img style="max-height:40px;max-width: 40px; margin-right:20px;"
          src="/img/facebook.svg"/>
        </a>
        <a href="https://www.instagram.com/olympia.team/" target="_blank">
          <img style="max-height:40px;max-width: 40px;margin-right:20px;"
          src="/img/instagram.svg"/>
        </a>
        <a href="https://www.linkedin.com/company/olympia-team/"  target="_blank">
          <img style="max-height:40px;max-width: 40px;margin-right:20px;"
          src="/img/linkedin.svg"/>
        </a>
        <a href="https://wa.link/8ak50o"  target="_blank">
          <img style="max-height:40px;max-width: 40px;margin-right:20px;"
          src="/img/whatsapp.svg"/>
        </a>
        <a href="https://twitter.com/Olympiateam1"  target="_blank">
          <img style="max-height:40px;max-width: 40px;margin-right:20px;"
          src="/img/twitter.svg"/>
        </a>
        
      </div>
    </div>
  </div>
</footer>