<div class="footer-bottom-block ">
    <div class=" container">
        <div class="row">
            <div class="col-sm-5 copyright-text">
                 &copy; Copyright @DateTime.Now.Year - Created by <a href="https://www.iqtechsolutions.co.za" target="_blank"><strong style="color: blue !important">IQ Tech Solutions</strong></a>
            </div>
            <div class="col-sm-7">
                <div class="block-payment text-right">
                    <img src="~/images/content/paymentImages/VisaLogo.png" alt="" style="height: 28px">
                    <img src="~/images/content/paymentImages/MasterCard_Logo.png" alt="" style="height: 28px">
                    <img src="~/images/content/paymentImages/verified-by-visa.png" alt="" style="height: 28px">
                    <img src="~/images/content/paymentImages/mastercard-securecode.png" alt="" style="height: 28px">
                    <img src="~/images/content/paymentImages/paygate.png" alt="" style="height: 28px">
                    <img src="~/images/content/paymentImages/paypal-logo.png" alt="" style="height: 28px">
                </div>
            </div>
            <div class="col-sm-12">
                <span><a asp-area="" asp-controller="Home" asp-action="Terms"> Terms and Conditions</a></span> |
                <span><a asp-area="" asp-controller="Home" asp-action="Privacy"> Privacy Policy</a></span> |
                <span><a asp-area="" asp-controller="Home" asp-action="CommingSoon"> Affiliates</a></span> |
                <span><a asp-area="Faqs" asp-controller="Home" asp-action="Index"> FAQ</a></span>
            </div>
            <!--Back To Top-->
            <div class="back-to-top"><i class="fa fa-angle-up"></i><span> Top </span></div>

        </div>
    </div>
</div>