<section class="footer-top">
    <div class="container content">
        <div class="row">

            <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <partial name="Widgets/_NewsletterSubscription"/>
            </div>

            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <partial name="SocialMedia/_SocialPageWidget"/>
            </div>

        </div>
    </div>
</section>