@model Grouping.Base.Models.CategoryModel

@{
    ViewData["Title"] = $"Cause Details";
}


<partial name="Sliders/_DefaultSliderPartialView" />

<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-12 text-center to_animate">
            <h2 class="section_header">
                <span class="highlight"><i class="fa fa-exclamation-triangle"></i></span>
                Trouble Shooting
            </h2>
            <p>Solve all your problems by using our extensive trouble shooting manual</p>
        </div>
    </div>
    <div class="col-sm-12">
        <form class="" asp-area="Troubleshooting" asp-controller="Home" asp-action="Index" enctype="multipart/form-data" method="post" style="margin: 0 !important">
            <div class="form-group">
                <label for="searhtext" class="control-label col-md-2"><small>Seperate keywords with comma</small></label>
                <div class="col-md-8">
                    <input id="searhtext" class="form-control" />
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Search Now" class="form-control" />
                </div>
            </div>
        </form>
    </div>
</section>

@if (Model.ChildCategoryCount > 0)
{
    @await Component.InvokeAsync("ProblemCategorySection", new { parentId = Model.Id })
}
else
{
    @await Component.InvokeAsync("ProblemsSection", new { parentId = Model.Id })
}



@section Scripts
{

    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var j = jQuery.noConflict();
        j(document).ready(function () {
            j('#SearchText').autocomplete({
                source: 'https://api.metsi.co.za/api/v1/problems/getProblemAutoComplete'
            });
        });
    </script>
}