@model PhotoAlbumAddEditModel

@{
    ViewData["Title"] = "Create New Photo Album";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/bs-filestyle.css">
}

<form asp-area="Gallery" asp-controller="PhotoAlbum" asp-action="Create" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="PhotoAlbum.Id" />
    <div class="col-md-4">
        <p class="text-left">
            <div class="previewd" style="overflow: hidden">
                <img id="preview" style="width: 100%" class="product-image-zoom" src="~/images/placeholders/NoImageAvailable.jpg" alt="" /><br>
            </div>
        </p>
        <div>
            <input asp-for="CoverUpload" type="file" id="CoverPhoto" onchange="loadFile(event)" />
            <input type="hidden" asp-for="CoverCropSettings.X" />
            <input type="hidden" asp-for="CoverCropSettings.Y" />
            <input type="hidden" asp-for="CoverCropSettings.Width" />
            <input type="hidden" asp-for="CoverCropSettings.Height" />
            <input type="hidden" asp-for="CoverCropSettings.Rotate" />
            <input type="hidden" asp-for="CoverCropSettings.ScaleX" />
            <input type="hidden" asp-for="CoverCropSettings.ScaleY" />
        </div>
    </div>
    <div class="col-md-8" style="padding-bottom: 50px !important">
        <div class="form-horizontal" style="padding-top: 15px">
            <h4>Album Details</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label asp-for="PhotoAlbum.Name" class="control-label"></label>
                <input asp-for="PhotoAlbum.Name" class="form-control" />
                <span asp-validation-for="PhotoAlbum.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhotoAlbum.Description" class="control-label"></label>
                <textarea asp-for="PhotoAlbum.Description" class="form-control"></textarea>
                <span asp-validation-for="PhotoAlbum.Description" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-12 bottommargin text-center">
            <h5>Select Album Images:</h5><br>
            <input asp-for="ImagesUpload" id="input-3" type="file" class="file" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
        </div>
    </div>
    <div class="form-group" style="padding-bottom: 50px">
        <div class="col-md-offset-2 col-md-10 text-right">
            <input type="submit" value="Create" class="btn btn-primary" style="border: transparent" />
            <a asp-area="Blog" asp-controller="Home" asp-action="List" class="btn btn-danger">Cancel</a>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/bs-filestyle.js"></script>

    <script>
        var loadFile = function (event) {
            var output = document.getElementById('coverpreview');
            if (event.target.files.length !== 0) {

                var oldstring = "";
                if (output === null) {
                    oldstring = "/images/placeholders/img_475x320.jpg";
                } else {
                    oldstring = output.src;
                }

                var url = "/Home/CropImage?cropUrl=" + URL.createObjectURL(event.target.files[0]) + "&originalUrl=" + oldstring + "&width=" + 475 + "&height=" + 320
                    + "&aspectRatio=475/320";

                $("#CropModal").load(url,
                    function () {
                        $("#CropModal").modal("show");
                    });
            }
        };
    </script>
}