@model DetailsModel
@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}

<partial name="Headers/_GalleryPageHeader" />

<div class="container">
    <div class="sorting-menu tabulation-menu-wrapper text-center">
        <div class="tabulation-title simple-input">all</div>
        <ul class="tabulation-toggle">
            <li><a class="tab-menu active" data-filter="*">all</a></li>
            <li><a class="tab-menu" data-filter=".filter-1">sport</a></li>
            <li><a class="tab-menu" data-filter=".filter-2">professionals</a></li>
            <li><a class="tab-menu" data-filter=".filter-3">dj</a></li>
            <li><a class="tab-menu" data-filter=".filter-4">relax</a></li>
            <li><a class="tab-menu" data-filter=".filter-5">club</a></li>
        </ul>
    </div>
    <div class="empty-space col-xs-b30 col-sm-b60"></div>
    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item w50 filter-1">
            <div class="gallery-grid-item style-2">
                <img src="img/thumbnail-62.jpg" alt="" />
                <div class="gallery-title">
                    <div class="left">
                        <div class="simple-article size-1 uppercase color col-xs-b5">accessories</div>
                        <h6 class="h6">product title here</h6>
                    </div>
                    <div class="right">
                        <div class="simple-article size-4 dark">$225.00</div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w50 filter-2">
            <div class="gallery-grid-item style-2">
                <img src="img/thumbnail-63.jpg" alt="" />
                <div class="gallery-title">
                    <div class="left">
                        <div class="simple-article size-1 uppercase color col-xs-b5">accessories</div>
                        <h6 class="h6">product title here</h6>
                    </div>
                    <div class="right">
                        <div class="simple-article size-4 dark">$225.00</div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w25 filter-3">
            <div class="gallery-grid-item style-2">
                <img src="img/thumbnail-64.jpg" alt="" />
                <div class="gallery-title">
                    <div class="left">
                        <div class="simple-article size-1 uppercase color col-xs-b5">accessories</div>
                        <h6 class="h6">product title here</h6>
                    </div>
                    <div class="right">
                        <div class="simple-article size-4 dark">$225.00</div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w25 filter-4">
            <div class="gallery-grid-item style-2">
                <img src="img/thumbnail-65.jpg" alt="" />
                <div class="gallery-title">
                    <div class="left">
                        <div class="simple-article size-1 uppercase color col-xs-b5">accessories</div>
                        <h6 class="h6">product title here</h6>
                    </div>
                    <div class="right">
                        <div class="simple-article size-4 dark">$225.00</div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w25 filter-5">
            <div class="gallery-grid-item style-2">
                <img src="img/thumbnail-66.jpg" alt="" />
                <div class="gallery-title">
                    <div class="left">
                        <div class="simple-article size-1 uppercase color col-xs-b5">accessories</div>
                        <h6 class="h6">product title here</h6>
                    </div>
                    <div class="right">
                        <div class="simple-article size-4 dark">$225.00</div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w25 filter-1">
            <div class="gallery-grid-item style-2">
                <img src="img/thumbnail-67.jpg" alt="" />
                <div class="gallery-title">
                    <div class="left">
                        <div class="simple-article size-1 uppercase color col-xs-b5">accessories</div>
                        <h6 class="h6">product title here</h6>
                    </div>
                    <div class="right">
                        <div class="simple-article size-4 dark">$225.00</div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w25 filter-2">
            <div class="gallery-grid-item style-2">
                <img src="img/thumbnail-68.jpg" alt="" />
                <div class="gallery-title">
                    <div class="left">
                        <div class="simple-article size-1 uppercase color col-xs-b5">accessories</div>
                        <h6 class="h6">product title here</h6>
                    </div>
                    <div class="right">
                        <div class="simple-article size-4 dark">$225.00</div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w50 filter-3">
            <div class="gallery-grid-item style-2">
                <img src="img/thumbnail-69.jpg" alt="" />
                <div class="gallery-title">
                    <div class="left">
                        <div class="simple-article size-1 uppercase color col-xs-b5">accessories</div>
                        <h6 class="h6">product title here</h6>
                    </div>
                    <div class="right">
                        <div class="simple-article size-4 dark">$225.00</div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w25 filter-4">
            <div class="gallery-grid-item style-2">
                <img src="img/thumbnail-72.jpg" alt="" />
                <div class="gallery-title">
                    <div class="left">
                        <div class="simple-article size-1 uppercase color col-xs-b5">accessories</div>
                        <h6 class="h6">product title here</h6>
                    </div>
                    <div class="right">
                        <div class="simple-article size-4 dark">$225.00</div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w25 filter-5">
            <div class="gallery-grid-item style-2">
                <img src="img/thumbnail-70.jpg" alt="" />
                <div class="gallery-title">
                    <div class="left">
                        <div class="simple-article size-1 uppercase color col-xs-b5">accessories</div>
                        <h6 class="h6">product title here</h6>
                    </div>
                    <div class="right">
                        <div class="simple-article size-4 dark">$225.00</div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w25 filter-1">
            <div class="gallery-grid-item style-2">
                <img src="img/thumbnail-71.jpg" alt="" />
                <div class="gallery-title">
                    <div class="left">
                        <div class="simple-article size-1 uppercase color col-xs-b5">accessories</div>
                        <h6 class="h6">product title here</h6>
                    </div>
                    <div class="right">
                        <div class="simple-article size-4 dark">$225.00</div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>

    </div>
</div>

<div class="empty-space col-xs-b20 col-sm-b35 col-md-b70"></div>


<!-- masonry -->
<script src="js/isotope.pkgd.min.js"></script>
<script>
        $(window).load(function(){
            var $container = $('.grid').isotope({
                itemSelector: '.grid-item',
                masonry: {
                    columnWidth: '.grid-sizer'
                }
            });
            $('.sorting-menu a').click(function() {
                if($(this).hasClass('active')) return false;
                $(this).parent().parent().find('.active').removeClass('active');
                $(this).addClass('active');
                $(this).closest('.sorting-menu').find('.tabulation-title').text($(this).text());
                var filterValue = $(this).attr('data-filter');
                $container.isotope({ filter: filterValue });
            });

        });
</script>