@model IndexModel
@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<partial name="Headers/_GalleryPageHeader" />

<div class="container">
    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <div class="gallery-grid-item style-1">
                <img src="img/thumbnail-44.jpg" alt="" />
                <div class="gallery-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="h4 light col-xs-b5">image title</h4>
                            <div class="simple-article size-2 light transparent">Quisque rhoncus orci vitae nisl rutrum</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="simple-article size-4 light transparent">$225.00</div>
                        </div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w50">
            <div class="gallery-grid-item style-1">
                <img src="img/thumbnail-45.jpg" alt="" />
                <div class="gallery-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="h4 light col-xs-b5">image title</h4>
                            <div class="simple-article size-2 light transparent">Quisque rhoncus orci vitae nisl rutrum</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="simple-article size-4 light transparent">$225.00</div>
                        </div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w50">
            <div class="gallery-grid-item style-1">
                <img src="img/thumbnail-46.jpg" alt="" />
                <div class="gallery-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="h4 light col-xs-b5">image title</h4>
                            <div class="simple-article size-2 light transparent">Quisque rhoncus orci vitae nisl rutrum</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="simple-article size-4 light transparent">$225.00</div>
                        </div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w50">
            <div class="gallery-grid-item style-1">
                <img src="img/thumbnail-47.jpg" alt="" />
                <div class="gallery-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="h4 light col-xs-b5">image title</h4>
                            <div class="simple-article size-2 light transparent">Quisque rhoncus orci vitae nisl rutrum</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="simple-article size-4 light transparent">$225.00</div>
                        </div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item">
            <div class="gallery-grid-item style-1">
                <img src="img/thumbnail-48.jpg" alt="" />
                <div class="gallery-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="h4 light col-xs-b5">image title</h4>
                            <div class="simple-article size-2 light transparent">Quisque rhoncus orci vitae nisl rutrum</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="simple-article size-4 light transparent">$225.00</div>
                        </div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w50">
            <div class="gallery-grid-item style-1">
                <img src="img/thumbnail-49.jpg" alt="" />
                <div class="gallery-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="h4 light col-xs-b5">image title</h4>
                            <div class="simple-article size-2 light transparent">Quisque rhoncus orci vitae nisl rutrum</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="simple-article size-4 light transparent">$225.00</div>
                        </div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w50">
            <div class="gallery-grid-item style-1">
                <img src="img/thumbnail-50.jpg" alt="" />
                <div class="gallery-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="h4 light col-xs-b5">image title</h4>
                            <div class="simple-article size-2 light transparent">Quisque rhoncus orci vitae nisl rutrum</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="simple-article size-4 light transparent">$225.00</div>
                        </div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
        <div class="grid-item w50">
            <div class="gallery-grid-item style-1">
                <img src="img/thumbnail-51.jpg" alt="" />
                <div class="gallery-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="h4 light col-xs-b5">image title</h4>
                            <div class="simple-article size-2 light transparent">Quisque rhoncus orci vitae nisl rutrum</div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="simple-article size-4 light transparent">$225.00</div>
                        </div>
                    </div>
                </div>
                <a class="gallery-grid-link full-size open-popup-ajax" href="_ajax_gallery.html"></a>
            </div>
        </div>
    </div>
</div>

<div class="empty-space col-xs-b20 col-sm-b35 col-md-b70"></div>


<!-- masonry -->
<script src="js/isotope.pkgd.min.js"></script>
<script>
        $(window).load(function(){
            var $container = $('.grid').isotope({
                itemSelector: '.grid-item',
                masonry: {
                    columnWidth: '.grid-sizer'
                }
            });
        });
</script>


