@using Troubleshooting.Core.ViewComponents
@model CategoryAddEditModel<Question>

@{
    ViewData["Title"] = "Create new FAQ Category";
}

<form asp-area="Faqs" asp-controller="Categories" asp-action="Create" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Entity.Id" />
    <input type="hidden" asp-for="Entity.ParentCategoryId" />
    <input type="hidden" asp-for="ParentId" />
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="form-group">
                <div class="previewd" style="overflow: hidden">
                    <img id="coverpreview" style="width: 100%" src="~/images/placeholders/MetsiPlaceholder-800x533.jpg" alt="Cover Image" />
                </div>
                <input asp-for="CoverUpload" type="file" class="form-control" onchange="loadFile(event)" />
                <input type="hidden" asp-for="CoverCropSettings.X" />
                <input type="hidden" asp-for="CoverCropSettings.Y" />
                <input type="hidden" asp-for="CoverCropSettings.Width" />
                <input type="hidden" asp-for="CoverCropSettings.Height" />
                <input type="hidden" asp-for="CoverCropSettings.Rotate" />
                <input type="hidden" asp-for="CoverCropSettings.ScaleX" />
                <input type="hidden" asp-for="CoverCropSettings.ScaleY" />
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="col-lg-12">
                <div class="form-group">
                    <label asp-for="Entity.Name" class="control-label"></label>
                    <input asp-for="Entity.Name" class="form-control" />
                    <span asp-validation-for="Entity.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Entity.Description" class="control-label"></label>
                    <textarea asp-for="Entity.Description" class="form-control" style="height: 150px"></textarea>
                    <span asp-validation-for="Entity.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Entity.Active" /> Active
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">


                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Entity.Featured" /> @Html.DisplayNameFor(model => model.Entity.Featured)
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <ul class="nav nav-pills">
            <li class="active"><a href="#default-tab-1" data-toggle="tab">Sub-Categories</a></li>
            <li class=""><a href="#default-tab-2" data-toggle="tab">Images</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="default-tab-1">
                @await Component.InvokeAsync(nameof(FaqCategoryList), new { categoryId = @Model.Entity.Id })
            </div>
            <div class="tab-pane fade" id="default-tab-2">
                <div class="row">
                    <div class="col-md-4">
                        <hr />
                        <h4>Icon Image</h4>
                        <hr />
                        <div class="form-group">
                            <div class="previewicon">
                                <img id="iconPreview" style="width: 150px" src="/images/placeholders/iconHolder.png"  alt="Icon Image" />
                            </div>

                            <input asp-for="IconUpload" type="file" class="form-control" onchange="loadIcon(event)" />
                            <input type="hidden" asp-for="IconCropSettings.X" />
                            <input type="hidden" asp-for="IconCropSettings.Y" />
                            <input type="hidden" asp-for="IconCropSettings.Width" />
                            <input type="hidden" asp-for="IconCropSettings.Height" />
                            <input type="hidden" asp-for="IconCropSettings.Rotate" />
                            <input type="hidden" asp-for="IconCropSettings.ScaleX" />
                            <input type="hidden" asp-for="IconCropSettings.ScaleY" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <hr />
                        <h4>Banner Image</h4>
                        <hr />
                        <div class="form-group">
                            <div class="previewbanner">
                                <img id="bannerPreview" style="width: 100%" src="/images/placeholders/MetsiPlaceholder-2100x800.jpg" alt="@Model.Entity.Name Banner" />
                            </div>
                            <input asp-for="BannerUpload" type="file" class="form-control" onchange="loadBanner(event)" />
                            <input type="hidden" asp-for="BannerCropSettings.X" />
                            <input type="hidden" asp-for="BannerCropSettings.Y" />
                            <input type="hidden" asp-for="BannerCropSettings.Width" />
                            <input type="hidden" asp-for="BannerCropSettings.Height" />
                            <input type="hidden" asp-for="BannerCropSettings.Rotate" />
                            <input type="hidden" asp-for="BannerCropSettings.ScaleX" />
                            <input type="hidden" asp-for="BannerCropSettings.ScaleY" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-4">
            <input name="main" type="submit" value="Submit & Create" class="btn btn-primary btn-block"/>
        </div>
        <div class="col-md-4">
            <input name="finnish" type="submit" value="Submit & Finnish" class="btn btn-primary btn-block"/>
        </div>
        <div class="col-md-4">
            @if (Model.Entity.ParentCategoryId == null)
            {
                <a asp-area="Faqs" asp-controller="Categories" asp-action="List" class="btn btn-danger btn-block">Cancel</a>
            }
            else
            {
                <a asp-area="Faqs" asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.Entity.ParentCategoryId" class="btn btn-danger btn-block">Cancel</a>
            }
        </div>
    </div>
    <hr />
</form>

@section Scripts
{
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('coverpreview');
            if (event.target.files.length !== 0) {

                var oldstring = "";
                if (output === null) {
                    oldstring = "/images/placeholders/MetsiPlaceholder-800x533.jpg";
                } else {
                    oldstring = output.src;
                }

                var url = "/Home/CropImage?cropUrl=" + URL.createObjectURL(event.target.files[0]) + "&originalUrl=" + oldstring + "&width=" + 800 + "&height=" + 533
                    + "&previewClass=previewd" + "&uploadProperty=CoverUpload" + "&xTag=CoverCropSettings_X" + "&yTag=CoverCropSettings_Y"
                    + "&widthTag=CoverCropSettings_Width" + "&heightTag=CoverCropSettings_Height" + "&rotateTag=CoverCropSettings_Rotate" + "&scaleXTag=CoverCropSettings_ScaleX"
                    + "&scaleYTag=CoverCropSettings_ScaleY";

                $("#CropModal").load(url,
                    function () {
                        $("#CropModal").modal("show");
                    });
            }
        };

        var loadIcon = function (event) {
            var output = document.getElementById('iconPreview');
            if (event.target.files.length !== 0) {

                var oldstring = "";
                if (output === null) {
                    oldstring = "/images/placeholders/iconHolder.png";
                } else {
                    oldstring = output.src;
                }

                var url = "/Home/CropImage?cropUrl=" + URL.createObjectURL(event.target.files[0]) + "&originalUrl=" + oldstring + "&width=" + 370 + "&height=" + 352
                    + "&aspectRatio=370/352" + "&previewClass=previewicon" + "&uploadProperty=IconUpload" + "&xTag=IconCropSettings_X" + "&yTag=IconCropSettings_Y"
                    + "&widthTag=IconCropSettings_Width" + "&heightTag=IconCropSettings_Height" + "&rotateTag=IconCropSettings_Rotate" + "&scaleXTag=IconCropSettings_ScaleX"
                    + "&scaleYTag=IconCropSettings_ScaleY";

                $("#CropModal").load(url,
                    function () {
                        $("#CropModal").modal("show");
                    });
            }
        };

        var loadBanner = function (event) {
            var output = document.getElementById('bannerPreview');
            if (event.target.files.length !== 0) {

                var oldstring = "";
                if (output === null) {
                    oldstring = "/images/placeholders/MetsiPlaceholder-2100x800.jpg";
                } else {
                    oldstring = output.src;
                }

                var url = "/Home/CropImage?cropUrl=" + URL.createObjectURL(event.target.files[0]) + "&originalUrl=" + oldstring + "&width=" + 600 + "&height=" + 229
                    + "&aspectRatio=2100/800" + "&previewClass=previewbanner" + "&uploadProperty=BannerUpload" + "&xTag=BannerCropSettings_X" + "&yTag=BannerCropSettings_Y"
                    + "&widthTag=BannerCropSettings_Width" + "&heightTag=BannerCropSettings_Height" + "&rotateTag=BannerCropSettings_Rotate" + "&scaleXTag=BannerCropSettings_ScaleX"
                    + "&scaleYTag=BannerCropSettings_ScaleY";

                $("#CropModal").load(url,
                    function () {
                        $("#CropModal").modal("show");
                    });
            }
        };
    </script>
}