@model ShoppingCartViewModel
@*In this view we want to Display the Number of items in the shopping cart*@

@*Check to see if the user has any items in the shopping cart*@
@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    @*Display the actual count of the items*@
    <li>
        <a>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="cart-status">
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>

        </a>
    </li>

}
