@using Iqt.Base.Interfaces
@inject IApplicationConfiguration Configuration

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
                <p>Our friendly and professional representatives can't wait for you to get in touch. Please feel free to contact us now!</p>
            </div>
        </div>
        <div class="row  m-b-lg">
            <div class="col-lg-3  col-lg-offset-3">
                <strong><span class="navy">Relevant Authorities</span></strong><br />
                                                                               <a href="https://www.qcto.org.za/">The Quality Council for Trades and Occupations</a><br />
                                                                                                                                                                    <a href="https://ewseta.org.za/">The Energy & Water Sector Education Training Authority</a><br />
                                                                                                                                                                                                                                                               <a href="https://www.saqa.org.za/">South African Qualifications Authority</a>
            </div>

            <div class="col-lg-4">
                <p class="text-color">
                    Enviro Metsi (Pty) Ltd, a company which, since its founding in 1995, has been dedicated to contribute towards the protection and improvement of our environment through
                    design, operation & Maintenance and Monitoring of Water- and Wastewater Treatment Plants in both the industrial and domestic fields, welcomes you to our website
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a asp-area="Support" asp-controller="Home" asp-action="Create" class="btn btn-primary">Contact</a>
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li>
                        <a href="@Configuration.FacebookUrl"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="@Configuration.TwitterUrl"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="@Configuration.LinkedInUrl"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p style="color:black">&copy; Copyright @DateTime.Now.Year - Created by <a href="https://www.iqtechsolutions.co.za" target="_blank"><strong style="color: blue !important">IQ Tech Solutions</strong></a> All right reserved.</p>
                <p>
                    <span><a asp-area="" asp-controller="Home" asp-action="Terms"> Terms and Conditions</a></span> |
                    <span><a asp-area="" asp-controller="Home" asp-action="Privacy"> Privacy Policy</a></span> |
                    <span><a asp-area="" asp-controller="Home" asp-action="CookieUse"> Cookie Use</a></span> |
                    <span><a asp-area="Faqs" asp-controller="Home" asp-action="Index"> FAQ's</a></span>
                </p>
            </div>
        </div>
    </div>
</section>