@model CategoryAddEditModel<Question>

@{
    ViewData["Title"] = $"Edit {Model.Entity.Name}";
}
<form asp-area="Faqs" asp-controller="Categories" asp-action="Edit" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <img id="preview" style="width: 100%" @*src="@Model.Entity.GetImage().GetImagePathFromAnotherWebsite(FrameworkDI.Configuration["Company:WebUrl"],FrameworkDI.Configuration["Placeholders:CoverImage"])"*@ alt="" />
                <input asp-for="CoverUpload" class="form-control" onchange="loadFile(event)" />
                <span asp-validation-for="CoverUpload" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Entity.Name" class="control-label"></label>
                <input asp-for="Entity.Name" class="form-control" />
                <span asp-validation-for="Entity.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.Description" class="control-label"></label>
                <textarea asp-for="Entity.Description" class="form-control"></textarea>
                <span asp-validation-for="Entity.Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Entity.Id" />
            <input type="hidden" asp-for="Entity.ParentCategoryId" />
            <div class="form-group text-right">
                <input name="main" type="submit" value="Edit Product" class="btn btn-primary" formaction="Edit" formmethod="post" />
                <a asp-area="Faqs" asp-controller="Categories" asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts
    {
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('preview');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
}
