
@model Duplessis_Legal.Areas.WhoWeAre.Views.Home.IndexModel
    <div class="gdlr-page-title-wrapper">
        <div class="gdlr-page-title-overlay"></div>
        <div class="gdlr-page-title-container container">
            <h1 class="gdlr-page-title">Who we are</h1>

        </div>
    </div>
    <!-- is search -->
    <div class="content-wrapper" style="background-color:white; ">
        <div class="gdlr-content">

            <!-- Above Sidebar Section-->
            <!-- Sidebar With Content Section-->
            <div class="main-content-container container gdlr-item-start-content">
                <div class="gdlr-item gdlr-main-content">
                    <div class="gdlr-shortcode-wrapper">
                        <div class="gdlr-process-wrapper gdlr-horizontal-process">
                            <div class="four columns">
                                <div class="gdlr-item gdlr-process-tab" style="min-height: 200px;">
                                    <div class="gdlr-process-icon"><i class="fa fa-rss"></i></div>
                                    <div class="gdlr-process-tab-content">
                                        <h3 class="gdlr-process-title">Vehicula Egestas</h3>
                                        <div class="gdlr-process-caption">Qui ipsorum lingua Celtae, nostra Galli appellantur. Paullum deliquit, ponderibus mod lisque suis ratio utitur. Me non paenitet nullum festivior em excog itasse ad hoc.</div>
                                    </div>
                                    <div class="process-line">
                                        <div class="process-line-divider"></div>
                                        <div class="fa fa-chevron-right"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="four columns">
                                <div class="gdlr-item gdlr-process-tab" style="min-height: 200px;">
                                    <div class="gdlr-process-icon"><i class="fa fa-flag"></i></div>
                                    <div class="gdlr-process-tab-content">
                                        <h3 class="gdlr-process-title">Nocturnum Tempor</h3>
                                        <div class="gdlr-process-caption">Qui ipsorum lingua Celtae, nostra Galli appellantur. Paullum deliquit, ponderibus mod lisque suis ratio utitur. Me non paenitet nullum festivior em excog itasse ad hoc.</div>
                                    </div>
                                    <div class="process-line">
                                        <div class="process-line-divider"></div>
                                        <div class="fa fa-chevron-right"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="four columns">
                                <div class="gdlr-item gdlr-process-tab" style="min-height: 200px;">
                                    <div class="gdlr-process-icon"><i class="fa fa-fire"></i></div>
                                    <div class="gdlr-process-tab-content">
                                        <h3 class="gdlr-process-title">Concilium Totius</h3>
                                        <div class="gdlr-process-caption">Qui ipsorum lingua Celtae, nostra Galli appellantur. Paullum deliquit, ponderibus mod lisque suis ratio utitur. Me non paenitet nullum festivior em excog itasse ad hoc.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <!-- Below Sidebar Section-->

        </div>
        <!-- gdlr-content -->
        <div class="clear"></div>
    </div>
    <!-- content wrapper -->
    <!-- is search -->
    <div class="content-wrapper" style="background-color:white;">
        <div class="gdlr-content">

            <!-- Above Sidebar Section-->
            <!-- Sidebar With Content Section-->
            <div class="with-sidebar-wrapper">
                <section id="content-section-1">
                    <div class="section-container container">
                        <div class="six columns">
                            <div class="gdlr-item gdlr-content-item">
                                <p>
                                    <div class="gdlr-shortcode-wrapper">
                                        <div class="gdlr-process-wrapper gdlr-vertical-process">
                                            <div class="gdlr-item gdlr-process-tab" style="min-height: 360px;">
                                                <div class="gdlr-process-icon"><i class="fa fa-trophy"></i></div>
                                                <div class="gdlr-process-tab-content">
                                                    <h3 class="gdlr-process-title">2011 Growing Business Award</h3>
                                                    <div class="gdlr-process-caption"><span style="line-height: 1.5;">Qui ipsorum lingua Celtae, nostra Galli appellantur. Paullum deliquit, ponderibus modulisque suis ratio utitur. Me non paenitet nullum festiviorem excogitasse ad hoc. Curabitur est gravida et libero vitae dictum.</span>

                                </p>
                                <p>
                            </div>
                        </div>
                        <div class="process-line">
                            <div class="process-line-divider"></div>
                            <div class="fa fa-chevron-down"></div>
                        </div>
                    </div>
                    <div class="gdlr-item gdlr-process-tab" style="min-height: 360px;">
                        <div class="gdlr-process-icon"><i class="fa fa-trophy"></i></div>
                        <div class="gdlr-process-tab-content">
                            <h3 class="gdlr-process-title">2013 National Business Award UK</h3>
                            <div class="gdlr-process-caption">
                                </p>
                                <p>Qui ipsorum lingua Celtae, nostra Galli appellantur. Paullum deliquit, ponderibus modulisque suis ratio utitur. Me non paenitet nullum festiviorem excogitasse ad hoc. Curabitur est gravida et libero vitae dictum.</p>

                                <p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
            </div>
        </div>
        </p>
    </div>
    </div>
    <div class="six columns">
        <div class="gdlr-item gdlr-content-item">
            <p>
                <div class="gdlr-shortcode-wrapper">
                    <div class="gdlr-process-wrapper gdlr-vertical-process">
                        <div class="gdlr-item gdlr-process-tab" style="min-height: 360px;">
                            <div class="gdlr-process-icon"><i class="fa fa-trophy"></i></div>
                            <div class="gdlr-process-tab-content">
                                <h3 class="gdlr-process-title">2014 Australian Business Quality Awards</h3>
                                <div class="gdlr-process-caption">
            </p>
            <p>Qui ipsorum lingua Celtae, nostra Galli appellantur. Paullum deliquit, ponderibus modulisque suis ratio utitur. Me non paenitet nullum festiviorem excogitasse ad hoc. Curabitur est gravida et libero vitae dictum.</p>

            <p>
        </div>
    </div>
    <div class="process-line">
        <div class="process-line-divider"></div>
        <div class="fa fa-chevron-down"></div>
    </div>
    </div>
    <div class="gdlr-item gdlr-process-tab" style="min-height: 360px;">
        <div class="gdlr-process-icon"><i class="fa fa-trophy"></i></div>
        <div class="gdlr-process-tab-content">
            <h3 class="gdlr-process-title">2015 Citi Business Planner Awards</h3>
            <div class="gdlr-process-caption">
                </p>
                <p>Qui ipsorum lingua Celtae, nostra Galli appellantur. Paullum deliquit, ponderibus modulisque suis ratio utitur. Me non paenitet nullum festiviorem excogitasse ad hoc. Curabitur est gravida et libero vitae dictum.</p>

                <p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    </div>
    </div>
    </p>
    </div>
    </div>
    <div class="clear"></div>
    </div>
    </section>
    </div>
    <!-- Below Sidebar Section-->
    </div>
    <!-- gdlr-content -->
    <div class="clear"></div>
    </div>
    <!-- content wrapper -->
