@{
    ViewData["Title"] = "About";
    Layout = "Layouts/_Layout";
}

<partial name="Breadcrumbs/_BreadcrumPartial" />

<!--content-->
<section class="section_offset">
    <main class="container t_align_c">
        <h3 class="color_dark fw_light m_bottom_15 heading_1">Who We Are</h3>
        <p class="m_bottom_35 heading_2"><span>IQ Tech Solutions</span>, if you can dream it we can design, build and code it, as well as manage and maintain it.</p>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 m_xs_bottom_20">
                <img src="~/images/logo/Full-Logo-Colourful.png" class="r_corners" alt="">
            </div>
            <div class="col-lg-6 col-md-6 t_align_l">
                <p class="m_bottom_15 fw_light fs_large">
                    We are based in Cape Town but design and develop websites all over the globe. We look at the outlay and interface from the user or 
                    client’s perspective, and apply our optimization skills to ensure a lot of traffic and good search results.
                </p>
                <p class="m_bottom_25 fw_light fs_large">
                    We value our customers opinions and strive to make their dream website a reality. We know that web development is one of the fastest
                    growing fields in our economy at the moment, and with the rise in petrol prices and the drop in bandwidth costs makes that the sensible
                    way to expand.
                </p>
                <a asp-area="" asp-controller="Home" asp-action="OurTeam" class="button_type_2 color_dark r_corners fs_medium color_blue_hover tr_all f_left m_right_10 m_sm_bottom_10">Meet Our Team</a>
            </div>
        </div>
    </main>
</section>
<div class="section_offset bg_light_2">
    <div class="container">
        <div class="row">
            <section class="col-lg-6 col-md-6 col-sm-6 t_align_l m_xs_bottom_30">
                <h3 class="color_dark fw_light m_bottom_15 heading_1 t_align_c">Why People Choose Us</h3>
                <p class="m_bottom_35 heading_2 t_align_c">Web Design and Data Development company for you. </p>
                <div class="accordion toggle">
                    <dl class="accordion_item active r_corners wrapper m_bottom_5 tr_all">
                        <dt class="accordion_link relative color_dark tr_all">
                            What We Do
                            <span class="icon_wrap_size_1 circle d_block hide">
                                <i class="icon-minus"></i>
                            </span>
                            <span class="icon_wrap_size_1 circle d_block show">
                                <i class="icon-plus"></i>
                            </span>
                        </dt>
                        <dd class="fw_light color_dark">
                            IQ Tech Solutions's qualified Programmers, Designers and Stylers know that the image of your business is of
                            the upper most importance. Our team consists of very profesional and creative web designers and web developers that has you
                            and companies’ true success and interest at heart. As our slogan says: ‘IF YOU CAN DREAM IT, WE WILL DESIGN IT’.
                        </dd>
                    </dl>
                    <dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
                        <dt class="accordion_link relative color_dark tr_all">
                            Company Philosophy
                            <span class="icon_wrap_size_1 circle d_block hide">
                                <i class="icon-minus"></i>
                            </span>
                            <span class="icon_wrap_size_1 circle d_block show">
                                <i class="icon-plus"></i>
                            </span>
                        </dt>
                        <dd class="fw_light color_dark">
                            Our fully customized Websites are created to complement your company branding and enhance the credibility of your company,
                            your website, and your products or information. We will give you the best profesional service and a homepage that will harness
                            your companies marketing potensial. Our platform makes your website available to a very wide range of devices and systems
                            making sure you get optimal use out of your website.
                        </dd>
                    </dl>
                    <dl class="accordion_item r_corners wrapper m_bottom_5 tr_all">
                        <dt class="accordion_link relative color_dark tr_all">
                            Our Mission
                            <span class="icon_wrap_size_1 circle d_block hide">
                                <i class="icon-minus"></i>
                            </span>
                            <span class="icon_wrap_size_1 circle d_block show">
                                <i class="icon-plus"></i>
                            </span>
                        </dt>
                        <dd class="fw_light color_dark">
                            IQ Tech Solutions' mission is to become a market leader by consistently exceeding our Customer’s expectations,
                            providing them with best of breed technology solutions for all of there internet and database needs. We will continually
                            communicate with, and learn from our Customers, in order to improve our products and services. And, we will keep on top of
                            today’s and tommorrow’s technology, no matter how fast it moves, to ensure our Customers always have the best tools available
                            to them.
                        </dd>
                    </dl>
                </div>
            </section>
            <section class="col-lg-6 col-md-6 col-sm-6 t_align_l">
                <h3 class="color_dark fw_light m_bottom_15 heading_1 t_align_c">Our Specialization</h3>
                <p class="m_bottom_35 heading_2 t_align_c">We are simply the best at what we do. </p>
                <ul>
                    <li class="m_bottom_12">
                        <!--progress title-->
                        <p class="m_bottom_5">Web design 90%</p>
                        <!--progress indicator-->
                        <div class="progress_indicator r_corners border_grey" data-value="90">
                            <div class="bg_color_blue"></div>
                        </div>
                    </li>
                    <li class="m_bottom_12">
                        <!--progress title-->
                        <p class="m_bottom_5">Graphic design 80%</p>
                        <!--progress indicator-->
                        <div class="progress_indicator r_corners border_grey" data-value="80">
                            <div class="bg_color_yellow"></div>
                        </div>
                    </li>
                    <li class="m_bottom_12">
                        <!--progress title-->
                        <p class="m_bottom_5">Branding 50%</p>
                        <!--progress indicator-->
                        <div class="progress_indicator r_corners border_grey" data-value="50">
                            <div class="bg_color_pink"></div>
                        </div>
                    </li>
                    <li class="m_bottom_12">
                        <!--progress title-->
                        <p class="m_bottom_5">Programing 90%</p>
                        <!--progress indicator-->
                        <div class="progress_indicator r_corners border_grey" data-value="90">
                            <div class="bg_color_red"></div>
                        </div>
                    </li>
                    <li class="m_bottom_12">
                        <!--progress title-->
                        <p class="m_bottom_5">Marketing 75%</p>
                        <!--progress indicator-->
                        <div class="progress_indicator r_corners border_grey" data-value="75">
                            <div class="bg_color_purple"></div>
                        </div>
                    </li>
                    <li class="m_bottom_12">
                        <!--progress title-->
                        <p class="m_bottom_5">Consulting 40%</p>
                        <!--progress indicator-->
                        <div class="progress_indicator r_corners border_grey" data-value="40">
                            <div class="bg_color_green"></div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
    
@*<partial name="_FeaturedBrandsSliderPartial" />*@

<section class="section_offset image_bg_4">
    <div class="container">
        <div class="row">
            <!--testimonials-->
            <section class="col-lg-6 col-md-6 m_bottom_20" data-appear-animation="fadeInUp">
                <h3 class="color_light t_align_c m_bottom_15 fw_light">Testimonials</h3>
                <p class="m_bottom_35 t_align_c color_grey_light_2">What our customers have to say about our service and products.</p>
                <div class="owl-carousel" data-nav="t_nav_" data-plugin-options='{"autoPlay":false,"autoHeight":true,"transitionStyle": "backSlide"}'>
                    <!--item-->
                    <div>
                        <!--quote-->
                        <blockquote class="r_corners relative type_2 fs_large color_dark m_bottom_20">
                            <p class="m_bottom_15">
                                <i>When I first made contact with Ivan and his team, I was taken with the ‘can-do’ attitude towards our entire project (it was a big one), and their willingness to meet our needs – both creative and budgetary!</i>
                            </p>
                            <p>
                                <i>We had a fairly intense approval process on our end, but the IQ Tech Solutions' team always made working together easy; from new needs popping up, to last minute changes, the overall approach was hard-working but always positive.</i>
                            </p>
                        </blockquote>
                        <div class="d_table w_full">
                            <div class="d_table_cell">
                                <!--author photo-->
                                <div class="d_inline_m circle wrapper m_right_10">
                                    <img src="~/images/testimonials/Teresa.png" alt="">
                                </div>
                                <!--author name-->
                                <div class="d_inline_m">
                                    <b class="fs_large d_block color_light">Teresa Barber</b>
                                    <p class="fs_medium color_grey_light_2">Founder, Afternoon Drinks</p>
                                </div>
                            </div>
                            <div class="d_table_cell t_align_r v_align_m d_mxs_none">
                                <button class="circle icon_wrap_size_5 color_grey_light d_inline_m color_blue_hover m_right_5 tr_all t_nav_prev">
                                    <i class="icon-left-open-big"></i>
                                </button>
                                <button class="circle icon_wrap_size_5 color_grey_light d_inline_m color_blue_hover tr_all t_nav_next">
                                    <i class="icon-right-open-big"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    <div>
                        <!--quote-->
                        <blockquote class="r_corners relative type_2 fs_large color_dark m_bottom_20">
                            <p>
                                <i>I am blessed with having found the best Web Hosting company ever. Great service, great hosting, and the staff are amazing. Everyone I refer to them loves them as much as I do. I have been with them so long I cannot remember when I was not.</i>
                            </p>
                        </blockquote>
                        <div class="d_table w_full">
                            <div class="d_table_cell">
                                <!--author photo-->
                                <div class="d_inline_m circle wrapper m_right_10">
                                    <img src="~/images/testimonials/Amien.png" alt="">
                                </div>
                                <!--author name-->
                                <div class="d_inline_m">
                                    <b class="fs_large d_block color_light">Amien Mohammed</b>
                                    <p class="fs_medium color_grey_light_2">CEO, Brilliant Math Solutions</p>
                                </div>
                            </div>
                            <div class="d_table_cell t_align_r v_align_m d_mxs_none">
                                <button class="circle icon_wrap_size_5 color_grey_light d_inline_m color_blue_hover m_right_5 tr_all t_nav_prev">
                                    <i class="icon-left-open-big"></i>
                                </button>
                                <button class="circle icon_wrap_size_5 color_grey_light d_inline_m color_blue_hover tr_all t_nav_next">
                                    <i class="icon-right-open-big"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    <div>
                        <!--quote-->
                        <blockquote class="r_corners relative type_2 fs_large color_dark m_bottom_20">
                            <p class="m_bottom_15">
                                <i>just wanted to commend IQ Tech Solutions on the exceptional services provided to Chicken City over the last few years.</i>
                            </p>
                            <p>
                                <i>Your support has been instantaneous and simply world-class.</i>
                            </p>
                        </blockquote>
                        <div class="d_table w_full">
                            <div class="d_table_cell">
                                <!--author photo-->
                                <div class="d_inline_m circle wrapper m_right_10">
                                    <img src="~/images/testimonials/Pierre.png" alt="">
                                </div>
                                <!--author name-->
                                <div class="d_inline_m">
                                    <b class="fs_large d_block color_light">Pierre Olivier</b>
                                    <p class="fs_medium color_grey_light_2">CEO, Chicken City</p>
                                </div>
                            </div>
                            <div class="d_table_cell t_align_r v_align_m d_mxs_none">
                                <button class="circle icon_wrap_size_5 color_grey_light d_inline_m color_blue_hover m_right_5 tr_all t_nav_prev">
                                    <i class="icon-left-open-big"></i>
                                </button>
                                <button class="circle icon_wrap_size_5 color_grey_light d_inline_m color_blue_hover tr_all t_nav_next">
                                    <i class="icon-right-open-big"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--our clients-->
            <section class="col-lg-6 col-md-6 t_sm_align_c" data-appear-animation="fadeInUp" data-appear-animation-delay="150">
                <h3 class="color_light t_align_c m_bottom_15 fw_light">Our Clients</h3>
                <p class="m_bottom_35 t_align_c color_grey_light_2">Our customers, you are our family.</p>
                <!--carousel-->
                <div class="owl-carousel m_bottom_15" data-plugin-options='{"pagination":true,"transitionStyle" : "backSlide"}' data-nav="c_nav_">
                    <!--item-->
                    <div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 m_bottom_30">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="#" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/Arctex.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 m_bottom_30">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="#" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/Bellcape.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 m_bottom_30">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="#" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/ChickenCity.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="#" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/GoggaParadys.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="#" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/Pricemakers.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="#" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/EntwinedRoots.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    <div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="#" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/AfternoonDrinks.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 m_bottom_30">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="#" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/BrilliantMath.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 m_bottom_30 m_mxs_bottom_10">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="#" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/CryptoBanker.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 m_mxs_bottom_10">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="#" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/Neefi.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="#" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/PulpCinema.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="#" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/RiverPainters.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    <div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 m_bottom_30">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="javascript:;" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/SouthAfricanSolar.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 m_bottom_30">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="javascript:;" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/WeCreativeOnline.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 m_bottom_30">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="javascript:;" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/Damweld.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="javascript:;" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/YellowCouponCompany.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="javascript:;" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/ChickenCity.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="clients_item db_xs_centered relative wrapper r_corners d_sm_inline_b d_xs_block">
                                    <a href="javascript:;" class="d_block translucent tr_all wrapper r_corners">
                                        <img src="~/images/customers/CryptoBanker.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--clients carousel nav-->
                <div class="d_table w_full clients_nav">
                    <!--paginations container-->
                    <div class="d_table_cell half_column clients_pags_container v_align_m"></div>
                    <!--navigations-->
                    <div class="d_table_cell half_column t_align_r v_align_m">
                        <button class="circle icon_wrap_size_5 color_grey_light d_inline_m color_blue_hover m_right_5 tr_all c_nav_prev">
                            <i class="icon-left-open-big"></i>
                        </button>
                        <button class="circle icon_wrap_size_5 color_grey_light d_inline_m color_blue_hover tr_all c_nav_next">
                            <i class="icon-right-open-big"></i>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
    
<partial name="_ContactUsBanner" />