@{
    ViewBag.Title = "Acceptable Usage Policy";
}

<!--content-->
<div class="section_offset">
<div class="container clearfix">
<div class="row">
<div class="col-sm-2">
    <img src="~/images/content/AcceptableUsage.jpg" alt="">
</div>
<div class="col-sm-10">
    <p>
        This Policy forms part of the Agreement between the Client and IQ Tech Solution and is binding on Clients using IQ Tech Solution’s services. The Acceptable Usage Policy sets out
        in detail what forms of conduct IQ Tech Solution regards as unacceptable on the part of its Clients and the steps which IQ Tech Solution may take in response to unacceptable 
        use of its services. Please take the time to acquaint yourself fully with the provisions of this Policy.
    </p>
</div>
<div class="col-sm-12">

<br/>

<h3>General</h3>
<p>
    By contracting with IQ Tech Solutions for services, the Client agrees, without limitation or qualification, to be bound by this Policy and the terms and conditions it contains, as well 
    as any other additional terms, conditions, rules or policies which are displayed to the Client in connection with the Services.
</p>
<p>
    The purpose of this policy is to:
    <ul>
        <li>ensure compliance with the relevant laws of the Republic</li>
        <li>specify to Clients and users of IQ Tech Solution’s service what activities and online behaviour are considered an unacceptable use of the service</li>
        <li>protect the integrity of IQ Tech Solutions’s network</li>
        <li>specify the consequences that may flow from undertaking such prohibited activities</li>
    </ul>
</p>
<p>
    This document contains a number of legal obligations which the Client will be presumed to be familiar with. As such, IQ Tech Solution encourages the Client to read this document thoroughly and direct any queries to<a href="mailto:aup@iqtechsolutions.co.za"></a> aup@iqtechsolutions.co.za.
</p>
<p>
    IQ Tech Solutions respects the rights of IQ Tech Solutions’s Clients and users of IQ Tech Solutions's services to freedom of speech and expression, access to information, privacy, human dignity, 
    religion, belief and opinion.
</p>

<br/>

<h3>Unacceptable Use</h3>
<p>
    IQ Tech Solutions's services may only be used for lawful purposes and activities. IQ Tech Solutions prohibits any use of its Services including the transmission, storage and distribution of any material or content using IQ Tech Solutions’s network that violates any law or regulation of the Republic. This includes, but is not limited to:
    <ul>
        <li>Any violation of local and international laws prohibiting child pornography, obscenity, discrimination (including racial, gender or religious slurs) and hate speech, or speech designed to incite violence or hatred, or threats to cause bodily harm.</li>
        <li>Any activity designed to defame, abuse, stalk, harass or physically threaten any individual in the Republic or beyond its borders; including any attempt to link to, post, transmit or otherwise distribute any inappropriate or defamatory material.</li>
        <li>Any violation of another's right to privacy, including any effort to collect personal data of third parties without their consent.</li>
        <li>Any fraudulent activity whatsoever, including dubious financial practices, such as pyramid schemes; the impersonation of another client without their consent; or any attempt to enter into a transaction with IQ Tech Solutions on behalf of another client without their consent.</li>
        <li>Any violation of the exchange control laws of the Republic.</li>
        <li>Any activity that results in the sale, transmission or distribution of pirated or illegal software.</li>
    </ul>
</p>

<br/>

<h3>Threats to Network Security</h3>
<p>
    Any activity which threatens the functioning, security and/or integrity of IQ Tech Solutions's network is unacceptable. This includes:
    <ul>
        <li>
            Any efforts to attempt to gain unlawful and unauthorised access to the network or circumvent any of the security measures established by IQ Tech Solutions for this goal.
        </li>
        <li>
            Any effort to use IQ Tech Solutions's equipment to circumvent the user authentication or security of any host, network or account ("cracking" or "hacking").
        </li>
        <li>Forging of any TCP/IP packet headers (spoofing) or any part of the headers of an email or a newsgroup posting.</li>
        <li>Any activity which threatens to disrupt the service offered by IQ Tech Solutions through "denial of service attacks"; flooding of a network, or overloading a service or any unauthorised probes ("scanning" or "nuking") of others' networks.</li>
        <li>Any activity which in any way threatens the security of the network by knowingly posting, transmitting, linking to or otherwise distributing any information or software which contains a virus, trojan horse, worm, malware, botnet or other harmful, destructive or disruptive component.</li>
        <li>Any unauthorised monitoring of data or traffic on the network without IQ Tech Solutions's explicit, written consent.</li>
        <li>Running services and applications with known vulnerabilities and weaknesses, e.g. insufficient anti-automation attacks, any traffic amplification attacks, including recursive DNS attacks, SMTP relay attacks.</li>
        <li>Failing to respond adequately to a denial of service attack (DOS / DDOS).</li>
    </ul>
</p>

<br/>

<h3>Definitions</h3>
<p>
    <ul>
        <li>
            <strong>Throttling</strong><br />
            Throttling limits the throughput of all services and protocols. Regardless of the DSL line speed, a throttled account will only be able to achieve limited throughput in total whilst using that account on their line. The DSL line itself is not affected, and using an unthrottled account will return line performance to normal. throttling is applied on an individual user basis, based on usage over a 30 day rolling window threshold. Throttling is applied only when demand on the network exceeds available network capacity, and is relieved when demand decreases.
        </li>
        <li>
            <strong>Shaping</strong>
            Shaping is the implementation of protocol based priority, to manage demand on the network. When shaping is implemented, realtime, interactive services are given higher priority over non-realtime, non-interactive services, effectively slowing the performance of non-prioritised services in favour of those given priority. Shaping is applied to all users in general (not based on usage thresholds), and the impact to non-priority services is determined by the level of demand and available network capacity. Shaping is applied only when demand on the network exceeds available network capacity, and relieved when demand decreases.
        </li>
    </ul> 
    
</p>

<br/>

<h3>Uncapped Monthly Thresholds, Throttling, Shaping and Bandwidth Priority</h3>
<p>
    Home Uncapped Packages have a threshold (based on a 30 day rolling window) after which speeds could be subject to shaping and throttling based on network demand. Premium and Priority Uncapped Packages may also be subject to shaping when demand on the network is high. Our aim is to apply as little (or no) shaping or throttling to our Uncapped accounts, where network resources allow. In the case of increases in demand, throttling and shaping will be applied to Home Uncapped accounts first, then shaping to Premium Uncapped accounts. Shaping will only be applied to Priority Uncapped accounts in cases of extreme network congestion.
</p>
<p>
    Home Uncapped Packages are subject to throttling only when a user has reached their monthly threshold. Throttling is only applied during peak demand periods, when required, to manage overall network demand. Users who have exceeded their threshold will experience unthrottled speeds during off-peak hours. Premium Uncapped Packages are not subject to throttling or monthly thresholds, and will enjoy full speed real-time services under all normal circumstances, but may be subject to shaping of downloads only if the network is under strain. Priority Uncapped Packages are not generally shaped, but can be subject to shaping, should the network experience high levels of demand. Priority Uncapped accounts also have a user controllable feature via ClientZone to prioritise non-P2P traffic on their account to ensure mission-critical services always get the highest priority.
</p>
<p>
    Home, Premium and Priority Uncapped users will be able to access significant amounts of data, regardless of whether shaping or throttling is applied (as per 1 and 2). For examples of the amount of usage possible, visit the IQ Tech Solutions Uncapped Leaderboard.
</p>
<p>
    <strong>Monthly Thresholds:</strong>
    <ul>
        <li>
            1 Mbps: 20GB
        </li>
        <li>
            2 Mbps: 40GB
        </li>
        <li>
            4 Mbps: 80GB
        </li>
        <li>
            5 Mbps: 80GB
        </li>
        <li>
            8 Mbps: 100GB
        </li>
        <li>
            10 Mbps: 120GB
        </li>
        <li>
            20 Mbps: 200GB
        </li>
        <li>
            40 Mbps: 250GB
        </li>
        <li>
            100 Mbps: 300GB
        </li>
        <li>
            200 Mbps: 600GB
        </li>
        <li>
            1000 Mbps: 1000GB
        </li>
    </ul>
</p>

<br/>

<h3>Contention</h3>
<p>
    Network capacity and performance is subject to contention for services from users. This means that a significant rise in demand can affect the availability of bandwidth to users. 
    IQ Tech Solutions manages contention through the implementation of Quality of Service, Shaping and Throttling (on applicable products). Contention is a function of demand from users and is 
    not strictly within IQ Tech Solutions's direct control, however IQ Tech Solutions will use the provisions of the AUP and Terms and Conditions to manage contention and minimise the impact to 
    performance to offer the best possible experience at all times.
</p>

<br/>

<h3>Spam and Unsolicited Bulk Mail</h3>
<p>
    IQ Tech Solutions regards all unsolicited bulk email (whether commercial in nature or not) as spam, with the following exceptions:
    <ul>
        <li>
            Mail sent by one party to another where there is already a prior relationship between the two parties and the subject matter of the message(s) concerns that relationship;
        </li>
        <li>
            Mail sent by one party to another with the explicit consent of the receiving party.
        </li>
        <li>
            Clients should only receive bulk mail that they have requested and/or consented to receive and/or which they would expect to receive as a result of an existing relationship.
        </li>
    </ul>
</p>
<p>
    IQ Tech Solutions will take swift and firm action against any user engaging in any of the following unacceptable practices:
    <ul>
        <li>Sending unsolicited bulk mail for marketing or any other purposes (political, religious or commercial) to people who have not consented to receiving such mail.</li>
        <li>Using any part of IQ Tech Solutions’s infrastructure for the purpose of unsolicited bulk mail, whether sending, receiving, bouncing, or facilitating such mail.</li>
        <li>
            Operating or maintaining mailing lists without the express permission of all recipients listed. In particular, IQ Tech Solutions does not permit the sending of "opt-out" mail, where the recipient must opt out of receiving mail which they did not request. For all lists, the sender must maintain meaningful records of when and how each recipient requested mail. IQ Tech Solutions will also monitor Clients deemed to be operating “cleaning lists”, which is using illegally obtained email addresses but removing addresses as complaints arise. Should IQ Tech Solutions, at its discretion, believe that this is the case, it will be treated as SPAM.
        </li>
        <li>Failing to promptly remove from lists invalid or undeliverable addresses or addresses of unwilling recipients or a recipient who has indicated s/he wishes to be removed from such list, or failing to provide the recipient with a facility to opt-out.</li>
        <li>Using IQ Tech Solutions's service to collect responses from unsolicited email sent from accounts on other Internet hosts or e-mail services that violate this AUP or the AUP of any other Internet service provider. Advertising any facility on IQ Tech Solutions’s infrastructure in unsolicited bulk mail (e.g. a website advertised in spam).</li>
        <li>Including IQ Tech Solutions's name in the header or by listing an IP address that belongs to IQ Tech Solutions in any unsolicited email whether sent through IQ Tech Solutions's network or not.</li>
        <li>Failure to secure a Client's mail server against public relay as a protection to themselves and the broader Internet community. Public relay occurs when a mail server is accessed by a third party from another domain and utilised to deliver mails, without the authority or consent of the owner of the mail-server. Mail servers that are unsecured against public relay often become abused by unscrupulous operators for spam delivery and upon detection such delivery must be disallowed. IQ Tech Solutions reserves the right to examine users' mail servers to confirm that no mails are being sent from the mail server through public relay and the results of such checks can be made available to the user. IQ Tech Solutions also reserves the right to examine the mail servers of any users using IQ Tech Solutions's mail servers for "smarthosting" (when the user relays its mail via an IQ Tech Solutions mail server to a mail server of its own or vice versa) or similar services at any time to ensure that the servers are properly secured against public relay. All relay checks will be done in strict accordance with IQ Tech Solutions's Privacy Policy and the laws of South Africa.</li>
    </ul>
</p>

<br/>

<h3>Users Outside of South Africa</h3>
<p>
    Where any user resides outside of the Republic, permanently or temporarily, such user will be subject to the laws of the country in which s/he is currently resident and which apply to the user. On presentation of a legal order to do so, or under obligation through an order for mutual foreign legal assistance, IQ Tech Solutions will assist foreign law enforcement agencies (LEAs) in the investigation and prosecution of a crime committed using IQ Tech Solutions's resources, including the provisioning of all personal identifiable data.
</p>

<br/>

<h3>Hosting</h3>
<p>
    <ul>
        <li>
            IQ Tech Solutions offers unlimited bandwidth (web traffic) usage on Shared Hosting platforms. However, this is subject to reasonable and responsible usage, as determined at IQ Tech Solutions's discretion. Shared Hosting is designed for serving personal hosting requirements or that of small enterprises, and not medium to large enterprises. IQ Tech Solutions reserves the right to move Clients deemed to have excessive bandwidth usage to a Cloud product, which will better suit their requirements. Clients will be given notice as such, and will be informed of any cost implications.
        </li>
        <li>
            Disk Space on Shared Hosting may only be used for Website Content, Emails and related System Files. General data storage, archiving or file sharing of documents, files or media not directly related to the website content is strictly prohibited. Unauthorised storage or distribution of copyrighted materials is prohibited, via FTP hosts or any other means.
        </li>
        <li>For Shared Hosting and Managed Dedicated Solutions, IQ Tech Solutions will implement security updates, software patches and other updates or upgrades from time to time, to maintain the best performance, at their sole discretion. These upgrades include, but are not limited to, PHP, MySQL and CPanel release versions. IQ Tech Solutions is under no obligation to effect such upgrades, or to rectify any impact such changes could potentially have to Hosting Clients.</li>
        <li>
            IQ Tech Solutions will not be liable or responsible for the backing up, restoration or loss of data under any circumstances. Clients are solely responsible for ensuring their data is regularly backed up and for restoring such backups in the event of data loss or corruption.
        </li>
        <li>
            IQ Tech Solutions prohibits Clients from doing the following on hosting platforms administered by IQ Tech Solutions:
            <ul>
                <li>Running applications that are not production-ready. Any applications on the hosting platform must be optimised with respect to memory usage and must have appropriate data indexing.</li>
                <li>Running applications with inadequate security controls.</li>
                <li>Generating significant side-channel traffic from an application, whether by design or otherwise. Databases should be stored locally, and remote content should be cached.</li>
                <li>Failure to maintain proper “housekeeping” on a shared server including storing or generating useless content, including comment spam, unused cache files, log file and database entries.</li>
                <li>Storing malicious content, such as malware or links to malware.</li>
                <li>Monopolising server resources, including CPU time, memory, network and disk bandwidth.</li>
                <li>Storing or running back-door shells, mass mailing scripts, proxy servers, web spiders, phishing content, or peer-to-peer software.</li>
                <li>Sending bulk mail of any form, particularly mail that cannot be efficiently delivered due to volume or incorrect addresses.</li>
                <li>Using poor passwords.</li>
                <li>Sharing security credentials with untrusted parties.</li>
                <li>Running TOR (or other Online Anonymity Services).</li>
                <li>Otherwise circumventing the Acceptable Use Policy or intended use of the product.</li>
                <li>The mining of cryptographic currencies on our Physical and Virtual hosting platforms. This causes considerable strain on our hosting resources outside of reasonable limits and is therefore prohibited.</li>
            </ul>
        </li>
    </ul>
</p>

<br/>

<h3>Protection of Minors</h3>
<p>
    IQ Tech Solutions prohibits Clients from using IQ Tech Solutions's service to harm or attempt to harm a minor, including, but not limited to, by hosting, possessing, disseminating, distributing or transmitting material that is unlawful, including child pornography and cyber bullying.
</p>
<p>
    IQ Tech Solutions prohibits Clients from using IQ Tech Solutions’s service to host sexually explicit or pornographic material of any nature.
</p>

<br/>

<h3>Privacy and Confidentiality</h3>
<p>
    IQ Tech Solutions respects the privacy and confidentiality of IQ Tech Solutions’s Clients and users of IQ Tech Solutions’s service. Please review IQ Tech Solutions's Privacy Policy which details how IQ Tech Solutions collects and uses personal information gathered in the course of operating its Services.
</p>

<br/>

<h3>User Responsibilities</h3>
<p>
    Clients are responsible for any misuse of IQ Tech Solutions's services that occurs through the Client's account. It is the Client's responsibility to ensure that unauthorised persons do not gain access to or misuse IQ Tech Solutions's service.
</p>
<p>
    IQ Tech Solutions urges Clients not to reply to unsolicited mail or "spam", not to click on any suggested links provided in the unsolicited mail. Doing so remains the sole responsibility of the Client and IQ Tech Solutions cannot be held liable for the Client being placed on any bulk mailing lists as a result.
</p>
<p>
    Where the Client has authorised a minor to use any of the IQ Tech Solutions's services or access its websites, the Client accepts that as the parent/legal guardian of that minor, the Client is fully responsible for: the online conduct of such minor, controlling the minor's access to and use of any services or websites, and the consequences of any misuse by the minor.
</p>

<br/>

<h3>Complaints Procedure</h3>
<p>
    Complaints relating to the violation of this Acceptable Usage Policy should be submitted in writing to abuse@iqtechsolutions.com. Complaints must be substantiated, and unambiguously state the nature of the problem, and its connection to IQ Tech Solutions’s network and services.
</p>

<br/>

<h3>Action Following Breach of the AUP</h3>
<p>
    Complaints relating to the violation of this AUP should be submitted in writing to abuse@IQ Tech Solutions.com. Complaints must be substantiated, and unambiguously state the nature of the problem, and its connection to IQ Tech Solutions’s network and services.
    <ul>
        <li>
            In the case of Clients, warn the Client, suspend the Client account and/or revoke or cancel the Client’s Service access privileges completely
        </li>
        <li>
            In the case of an abuse emanating from a third party, inform the third party’s network administrator of the incident and request the network administrator or network owner to address the incident in terms of this AUP and/or the ISPA Code of Conduct (if applicable);
        </li>
        <li>
            In severe cases suspend access of the third party’s entire network until abuse can be prevented by appropriate means;
        </li>
        <li>
            In all cases, charge the offending parties for administrative costs as well as for machine and human time lost due to the incident;
        </li>
        <li>
            Assist other networks or website administrators in investigating credible suspicions of any activity listed in this AUP;
        </li>
        <li>
            Institute civil or criminal proceedings;
        </li>
        <li>
            Share information concerning the incident with other Internet access providers, or publish the information, and/or make available the users' details to law enforcement agencies; and/or
        </li>
        <li>
            suspend or terminate the Service as provided for in the Agreement.
        </li>
    </ul>
</p>
<p>
    This policy applies to and will be enforced for intended and unintended (e.g., viruses, worms, malicious code, or otherwise unknown causes) prohibited usage.
</p>

<br/>

<h3>Reservation and Non Waiver of Rights</h3>
<p>
    IQ Tech Solutions reserves the right to amend or alter this policy at any time, and without notice to the Client.
</p>
<p>
    IQ Tech Solutions reserves the right to take action against any individuals, companies or organisations that violate the AUP, or engage in any illegal or unlawful activity while accessing IQ Tech Solutions’s services, to the fullest extent of the law.
</p>
<p>
    IQ Tech Solutions reserves the right, at its sole discretion, to act against other types of abuse not listed in this document and to investigate or prevent illegal activities being committed over IQ Tech Solutions’s network.
</p>
<p>
    IQ Tech Solutions does not waive its right to enforcement of this AUP at any time, or prejudice its right to take subsequent action, should IQ Tech Solutions fail, neglect or elect not to enforce a breach of the AUP at any time.
</p>

<br/>

<h3>The Company Contact Details</h3>
<p>
    Email : <a href="mailto:info@iqtechsolutions.co.za">info@iqtechsolutions.co.za</a>
</p>
<p>Tel : 072 811 7155</p>


</div>
</div>
</div>
</div>