@{
    ViewData["Title"] = "About Us";
}

<partial name="_Breadcrums" />

<!-- Section: About -->
<section class="layer-overlay overlay-white-9">
    <div class="container">
        <div class="section-content text-center">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-uppercase mt-0 text-theme-colored">Welcome To Kingdom <em>Lifestyle</em> Ministries</h2>
                    <h4 class="text-gray-dimgray font-weight-400">Find yourself in the presence of Royalty</h4>
                </div>
            </div>
            <div class="row mt-40">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="~/images/content/ForAllPastors.jpg" alt="">
                    <h3>Pastors & Church Leaders</h3>
                    <p>The message that Kingdom Lifestyle Ministries bring, is different than your typical “guest speaker” message</p>
                    <a asp-area="" asp-controller="Home" asp-action="PastorsInfo" class="btn btn-sm btn-theme-colored">Read more</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mt-sm-30">
                    <img src="~/images/content/Conferences.png" alt="">
                    <h3>Conferences & Meetings</h3>
                    <p>These are the times for teaching, worship, revival, impartation, and ministry by praying and worshiping</p>
                    <a asp-area="Events" asp-controller="Home" asp-action="Index" class="btn btn-sm btn-theme-colored">Read more</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mt-sm-30">
                    <img src="~/images/content/Prayer.png" alt="">
                    <h3>Monday Prayer</h3>
                    <p>Come and join us every Monday evening from 19:00 - 20:00 for prayer & just soaking in his presence and glory</p>
                    <a asp-area="Events" asp-controller="Home" asp-action="Index" class="btn btn-sm btn-theme-colored">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Section: Divider Video -->
<section class="divider layer-overlay overlay-white-8" data-bg-img="/images/content/VideoPlaceHolder.png">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-black-333 font-28 mt-0">
                    Every sermon and event we record is so that everyone can walk and live in their authority as anointed <span class="text-theme-colored">sons</span> and <span class="text-theme-colored">daughters, </span>of<span class="text-theme-colored"> God</span> and to get them to
                    <strong>
                        "... Nothing less than the standard height of Christ's own perfection, the measure of the stature of the fullness of the Christ and the completeness found
                        in Him"
                    </strong>
                </h3>
                <a class="btn btn-theme-colored btn-circled btn-lg mt-20 mb-sm-30" asp-area="Gallery" asp-controller="Video" asp-action="Index">Watch More</a>
            </div>
            <div class="col-md-6">
                <div class="fluid-video-wrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/mQQ8aCavjns" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: About -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-uppercase mt-0 text-theme-colored">Kingdom <em>Lifestyle</em> Ministries</h2>
                <h4 class="text-gray-dimgray font-weight-400">Living a Supernatural Life in a natural world as Manifested Sons of God</h4>
                <img class="pull-left mr-15 thumbnail" src="~/images/content/WillieAnsieDelport.jpg" alt="">
                <p>
                    Willie Delport was born on the 4th of May as direct result of <a href="https://oralroberts.com/oralroberts/">Oral Roberts</a> anointing his mother 
                    with oil and praying for her, due to the fact that it was medically impossible for the to fall pregnant again after the birth of his sister. After 
                    his birth, Willie's father and mother dedicated him to the Lord to go and work for him.
                </p>
                <p>
                    Willie grew up in a pentecostal denomination, the Apostolic Faith Mission of South Africa (AGS), in which his family has very deep roots. He always 
                    knew there was a calling on his life but first went to serve the South African Police Force (SAPS) and then as a permanent member in the South 
                    African Defence Force at the Infantry School in Oudtshoorn. In 1978 God Spoke to him with an audible voice confirming his calling. It was during a 
                    six month border duty in the Caprivi in August 1978 that God placed a final Ultimatum on his calling. It was there, in a trench, that Willie 
                    committed to God and the calling to go and work for Him when he got back from border duty. Willie resigned at th end of January 1979 and started his 
                    ministry walk with a youth outreach team in February of 1979. 
                </p>
                <p>
                    Willie has been involved in ministry since 1979 and has also served as an assistant pastor while still working in secular life. He became a full time 
                    pastor in 1990 until he resigned from his denomination in 1995 to follow God's direction for his ministry outside a denomination. Willie and Ansie 
                    are the founders of Kingdom Lifestyle Ministries. They were led to plant this ministry - trough many prophecies & conformations - in a small rural 
                    town called Porterville, on the 2nd of August 1998. The ministry has changed and affected the lives of many people in our own country as well as 
                    Africa and other continents.
                </p>
                <p>
                    Willie is truly an anointed man of God and functions as a prophet (Eph. 4:11-13). He has the gift of opening up the hidden mysteries in God's Word - 
                    built accurately on the Word of God as the only foundation, and Jesus Christ as the center of the message - and revealing present day truths to help 
                    the saints into a Kingdom Lifestyle and Mentality. Willie got married to Ansie on the 29th of March 1980 and she has served faithfully by his side 
                    through many hardships and persecutions in pioneering their prophetic calling. They have three children, Alesia (married to Dewald van Staden) and 
                    Willem & Hendrik Delport(our twins). Alesia has been involved in ministry and in the administration of this ministry. Willem (married to Leandri) & 
                    Hendrik (married to Ristine) were involved in another big ministry and served on their full time staff for many years. Both Willem and Hendrik are 
                    now serving on the full time staff of Kingdom Lifestyle Ministries as associated pastors.
                </p>
                <p>
                    On the 01st of April 2013, KLSM moved it's offices from Porterville to Mossel Bay to expand the vision of Kingdom Lifestyle Ministries, by planting 
                    a second ministry. Mossel Bay will now be the main offices from where KLSM will operate and where conferences will be held. Porterville will remain 
                    part of KLSM and will function as a satellite ministry were Willie and Ansie will still be ministering on a regular basis. 
                </p>
                <div class="clearfix"></div>
                <h5>Who we Are</h5>
                <p>
                    Kingdom Lifestyle Ministries is challenging the church and preachers to look past church doctrines and old mindsets and to go for truth and back 
                    to the Bible - a Kingdom lifestyle on this earth. Not preparing the church for “flying away, fear, destruction, antichrist taking over, etc.” 
                    mentality BUT to fulfill its God-given mandate which is to rule, reign, take over, heal the sick, everlasting life on this earth, etc. -enforcing 
                    His Kingdom now and not one day in the future.
                </p>
                <p>
                    We are also challenging current religious mindsets and doctrines especially in the rural towns (platteland) where so many people are still clinging 
                    to their church organizations and doctrines, and are so afraid to break loose and break out. So many people - that really love Jesus - are caught 
                    up in so many religious doctrines that have many times little, if any, biblical foundation. They declare that they believe the Bible and that they 
                    have faith, but when challenged on scriptures one can see how a specific church’s doctrine has influenced them in rather believing the doctrine and 
                    not the Bible. Your doctrine must always change to fit the Bible, you cannot change the Bible to fit your doctrine. It is such a pity to see that 
                    people will rather go with the religious crowd or their religious organization\ doctrine than to lose friends or family or having them getting upset 
                    or angry for choosing to go a different direction.
                </p>
                <p>
                    <strong>It’s time for change! </strong>It’s time to understand and believe that there is much more to the Bible, to God, to Jesus, to the Holy 
                    Spirit, than what you think you know. We need to allow those whom God has called, to teach us and equip us to live as sons of God on this earth
                </p>
                <p>
                    <strong>“And His gifts were [varied; He Himself appointed and gave men to us] some to be apostles (special messengers), some prophets …… 
                        His intention was the perfecting and the full equipping of the saints …… that [we might arrive] at really mature manhood (the completeness of 
                        personality which is nothing less than the standard height of Christ’s own perfection), the measure of the stature of the fullness of the Christ 
                        and the completeness found in Him.”(Eph. 4:11-13 Amplified Bible)</strong>
                </p>
                <p>
                    Willie also believes that many preachers miss their calling due to the fact that they are looking to build big churches in the cities, thinking only 
                    numerical growth and financial gains. Success in ministry is not measured by the size of your church or how much your monthly tithes and offerings 
                    are. It is about doing what God has called you to do (building big people) with all your heart. The Word of God says that the whole earth shall be 
                    filled with the knowledge of AND with the Glory of God. This includes the smaller towns - where nobody else wants to go. So, focus should not only 
                    be on "how big is your church" but on building “big” people called “sons of God”.
                </p>
                <div class="separator separator-rouned">
                    <i class="fa fa-cog fa-spin"></i>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="~/images/content/AboutImage1.png" class="img-fullwidth"> </a>
                    </div>
                    <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="~/images/content/AboutImage2.png" class="img-fullwidth"> </a>
                    </div>
                    <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="~/images/content/AboutImage3.png" class="img-fullwidth"> </a>
                    </div>
                    <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="~/images/content/AboutImage4.png" class="img-fullwidth"> </a>
                    </div>
                </div>
                <div class="separator separator-rouned">
                    <i class="fa fa-cog"></i>
                </div>
                <h5>Our Vision & Objectives</h5>
                <p>
                    <strong>To develop a powerful, breakthrough, present truth, Word based church.</strong> To disciple and teach every person coming into the Kingdom and family of God how to live a Kingdom lifestyle (based on God's Word) that is full of God's power filled with signs, wonders, miracles, healings, His presence and glory, and equipping them for their work and calling. To break the spirit of poverty, lack and mediocrity over the lives of people through Biblical principles so that they may manifest that Kingdom life. To establish a Christian School (ACE) - <strong>Kingdom Lifestyle Academy</strong> - in our community and an “Adventure Camp \ Bible School” where young people between 18 - 24 can come for a year to be equipped in the Word and for the secular life.
                </p>
                <p>
                    Not only does Willie have a heart for believers but also for Pastors and Leaders to encourage, uplift and bless them With the message of the
                    Kingdom and revealed truths, to challenge them not to be afraid of change and to help them to breakthrough in their churches, ministries and
                    lives. To distribute books and teaching materials to establish people in their Kingdom life and identity in God through the finished work of
                    the Lord Jesus Christ. To build powerful relationships with the people we minister to. We believe that we have a message that is very essential
                    for the Body of Christ and the world today. The emphasis of the message is to teach people a Kingdom lifestyle here on earth, challenging their
                    thinking to be conformed to the mind of Christ and mind of Christ and not religion or specific doctrine, but getting them to understand the
                    finished work of Jesus Christ and to trust Him that He will do what He has promised. Willie is available for ministry in churches and elsewhere.

                </p>
            </div>
        </div>
    </div>
</section>

<!-- Divider: Call To Action -->
<section class="bg-theme-colored">
    <div class="container pt-0 pb-0">
        <div class="row">
            <div class="call-to-action pt-20 pb-15">
                <div class="col-md-6">
                    <h3 class="mt-5 mb-5 text-white vertical-align-middle"><i class="pe-7s-mail mr-10 font-48 vertical-align-middle"></i> SUBSCRIBE TO OUR NEWSLETTER</h3>
                </div>
                <div class="col-md-6">
                    <!-- Mailchimp Subscription Form Starts Here -->
                    <form id="mailchimp-subscription-form-footer" class="newsletter-form mt-10">
                        <div class="input-group">
                            <input type="email" value="" name="EMAIL" placeholder="Your Email" class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL-footer" style="height: 45px;">
                            <span class="input-group-btn">
                                <button data-height="45px" class="btn bg-gray-dimgray text-white btn-xs m-0 font-14" type="submit">Subscribe</button>
                            </span>
                        </div>
                    </form>
                    <!-- Mailchimp Subscription Form Validation-->
                    <script type="text/javascript">
                        $('#mailchimp-subscription-form-footer').ajaxChimp({
                            callback: mailChimpCallBack,
                            url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
                        });

                        function mailChimpCallBack(resp) {
                            // Hide any previous response text
                            var $mailchimpform = $('#mailchimp-subscription-form-footer'),
                                $response = '';
                            $mailchimpform.children(".alert").remove();
                            if (resp.result === 'success') {
                                $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                            } else if (resp.result === 'error') {
                                $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                            }
                            $mailchimpform.prepend($response);
                        }
                    </script>
                    <!-- Mailchimp Subscription Form Ends Here -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end main-content -->