@{
    ViewData["Title"] = "Partnership";
}

<partial name="_Breadcrums" />

<!-- Section: About -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-uppercase mt-0 text-theme-colored"><em>Sowing</em> & Reaping</h2>
                <h4 class="text-gray-dimgray font-weight-400">To all our partners and friends</h4>
                <p>
                    We are in desperate need to buy our own 8 - 10 ha property on which we want to build an 800 - 1200 seater auditorium with kitchen and restaurant 
                    facilities as well as accommodation facilities (rooms/chalets) that can be used during conferences, as well as a Christian School and Bible 
                    School/Adventure Camp. The cost of realizing this vision will be between R60 mill. And R70 mill. (about $4.5 mill - $5 mill. USD). If you want 
                    to get involved with this vision and want to sow towards it, but also sow for your own property and vision (like we have sown, and still do, into 
                    other's projects and vision) then please make use of the banking details under 
                    <strong>
                        Kingdom Vision Projects
                    </strong> 
                    and for reference use "Vision Donation". 
                    Thank you for standing with us and helping us and helping us to accomplish something awesome for God here in Mossel Bay.
                </p>
                <p>
                    God's Word is separating people from sin and bringing them into a relationship with Him. And for every life that God reaches as a result of this 
                    ministry, our Partners share in the reward. That's what partnership is all about. It is designed to increase the abilities, resources and rewards of 
                    every believer! Partnership first appears in 1 Samuel 30. David and his men were in hot pursuit of the Amalekites who had taken their families captive and stolen their goods (sound familiar?).
                    By the time David caught up with them, 200 of his men were to exhausted to fight, so he instructed them to stay behind and guard the supplies. After 
                    the battle, the fighting men didn't want to share the spoils. But David's wise response saved the day and became the scriptural basis for partnership:
                </p>
                <blockquote>
                    <p>… But as his part is who goes down to the battle, so shall his part be who stays by the supplies; they shall share alike.</p>
                    <footer>The Bible <cite title="1 Samual 30:24">1 Samual 30:24</cite></footer>
                </blockquote>
                <p>
                    When you become partners with this ministry by fighting alongside it in prayer and in giving to help get the Gospel of Jesus Christ preached, you partake of this
                    ministry's anointing and rewards. Partnership means to take part in. That is what the people did in the ministry of the apostle Paul. They fought alongside him in
                    prayer. They supported him in their giving so that he could preach the Gospel, get people healed, delivered, set free, saved, etc. We have many testimonies of people
                    getting their needs met, receiving breakthroughs in circumstances, etc. because of their partnership with this ministry. We in this ministry are committed to pray
                    for our partners that God will bless them and take care of every need they may have. At KLSM we take  partnership very seriously. We appreciate you, but more than
                    that, we believe God for your success. As the apostle Paul wrote, "Not that I seek the gift, but I seek the fruit that abounds to your account...And my God shall
                    supply all your need according to His riches in glory by Christ Jesus." [Phil. 4:17 & 19].
                </p>
                <blockquote>
                    <p>Not that I seek the gift, but I seek the fruit that abounds to your account...And my God shall supply all your need according to His riches in glory by Christ Jesus.</p>
                    <footer>The Bible <cite title="1 Samual 30:24">Philiphines 4:17 & 19</cite></footer>
                </blockquote>
                <p>
                    Partnership also means praying for us so that we may preach the uncompromising Word of God with boldness and for a breakthrough in our area. It is not always easy when
                    challenging doctrines and old religious mindsets with Biblical truth, but the Word however says that the WHOLE earth shall be filled with God's glory. Your partnership
                    and contribution is helping us to fulfill God's commission by having Biblical truths go into ALL the world.
                </p>
                <p>
                    Because we believe in partnership, this ministry is also sowing into other ministries. We are also blessing people who don’t have an income by helping where & when 
                    we can as well as blessing other pastors, as the occasions arise. This ministry therefore practice what it preach and are your contributions helping us to make a 
                    difference in the lives of others.
                </p>
                <p>
                    Although the Gospel is free, it is not cheap. It still costs a lot of money to get the Truth out into the world. Your donations will help us in obtaining a building 
                    where we can host meetings, conferences, etc., running a Christian school where children can be trained and equipped for life by having the Word of God implanted in 
                    their hearts and spirit from a young age, to set up a resource center from where the Gospel can go out via the internet, radio, books, CDs, DVDs, etc. and to take 
                    care of needs in our community (feeding & clothing the poor). If you feel led to become a regular partner with this ministry, or even a once-off donation, then you 
                    are welcome to use the options below or contact us if you need more information.
                </p>
            </div>
        </div>
        <div class="row">
            <h2>Banking Details <small>Just hover on your cause</small></h2>
            <div class="col-md-4">
                <div class="card effect__hover">
                    <div class="card__front bg-theme-colored">
                        <div class="card__text">
                            <div class="display-table-parent">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <div class="icon-box mb-0">
                                            <a href="#" class="icon mb-0"> <i class="text-white pe-7s-users font-72"></i> </a>
                                            <h3 class="icon-box-title text-uppercase text-white">Tithes & Offerings</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__back" data-bg-color="#e0e0e0">
                        <div class="card__text">
                            <div class="display-table-parent p-30">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <h4 class="text-uppercase">Nedbank</h4>
                                        <p>
                                            <ul>
                                                <li>
                                                    <strong>Account Name: </strong> Kingdom Lifestyle Ministries
                                                    <strong>Account Number: </strong> 103 912 2620
                                                    <strong>Branch Code: </strong> 198 765
                                                    <strong>Swift Code: </strong> NED SZ AJJ
                                                </li>
                                            </ul>
                                        </p>
                                        <a asp-area="Donations" asp-controller="Home" asp-action="Create" class="btn btn-default mt-10"> Online Donation </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card effect__hover">
                    <div class="card__front bg-theme-colored">
                        <div class="card__text">
                            <div class="display-table-parent">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <div class="icon-box mb-0">
                                            <a href="#" class="icon mb-0"> <i class="text-white pe-7s-users font-72"></i> </a>
                                            <h3 class="icon-box-title text-uppercase text-white">Priestly Offerings</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__back" data-bg-color="#e0e0e0">
                        <div class="card__text">
                            <div class="display-table-parent p-30">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <h4 class="text-uppercase">Nedbank</h4>
                                        <p>
                                            <ul>
                                                <li>
                                                    <strong>Account Name: </strong> W.H Delport
                                                    <strong>Account Number: </strong> 103 912 2639
                                                    <strong>Branch Code: </strong> 198 765
                                                    <strong>Swift Code: </strong> NED SZ AJJ
                                                </li>
                                            </ul>
                                        </p>
                                        <a asp-area="Donations" asp-controller="Home" asp-action="Create" class="btn btn-default mt-10"> Online Donation </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card effect__hover">
                    <div class="card__front bg-theme-colored">
                        <div class="card__text">
                            <div class="display-table-parent">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <div class="icon-box mb-0">
                                            <a href="#" class="icon mb-0"> <i class="text-white pe-7s-users font-72"></i> </a>
                                            <h3 class="icon-box-title text-uppercase text-white">Kingdom Vision Projects</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__back" data-bg-color="#e0e0e0">
                        <div class="card__text">
                            <div class="display-table-parent p-30">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <h4 class="text-uppercase">Nedbank</h4>
                                        <p>
                                            <ul>
                                                <li>
                                                    <strong>Account Name: </strong> Kingdom Vision Projects
                                                    <strong>Account Number: </strong> 115 311 4046
                                                    <strong>Branch Code: </strong> 198 765
                                                    <strong>Swift Code: </strong> NED SZ AJJ
                                                </li>
                                            </ul>
                                        </p>
                                        <a asp-area="Donations" asp-controller="Home" asp-action="Create" class="btn btn-default mt-10"> Online Donation </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
</section>