@{
    ViewData["Title"] = "Home Page";
}

<!-- Start main-content -->
<div class="main-content">
    <!-- Section: home -->
    <section id="home" class="fullscreen layer-overlay parallax overlay-white-8">
        <div class="display-table text-center">
            <div class="display-table-cell">
                <div class="container pt-0 pb-0">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h1 class="font-weight-300 text-theme-colored font-64 mb-0">Under Construction</h1>
                            <p class="font-16 text-black-333 font-weight-400">Sorry.... We are improving and fixing problems of our website.<br>We will be back very soon....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end main-content -->
</div>

<!-- Footer -->
<footer id="footer" class="footer text-center bg-black-222">
    <div class="container pt-10 pb-10">
        <div class="row">
            <div class="col-md-12">
                <p class="text-white mb-0">copy; Copyright @DateTime.Now.Year - Created by <a target="_blank">IQ Tech Solutions</a> - Powered by ASP.NET</p>
            </div>
        </div>
    </div>
</footer>