@{
    ViewData["Title"] = "Wealth Creation";
}

<partial name="_Breadcrums" />

<section>
    <div class="container mt-30 mb-30 pt-30 pb-30">
        <div class="row ">
            <div class="col-md-12">
                <div class="row">
                    <article class="course-details">
                        <div class="course-title mb-30">
                            <h2 class="mt-0 mb-0">Wealth Creation</h2>
                            <hr/>
                        </div>
                        <!-- Portfolio Item Start -->
                        <div style="background-color:transparent">
                            <iframe style="background-color:transparent" allowtransparency="true"  height="416" src="https://www.youtube.com/embed/_krFL0wNUtI" allowfullscreen></iframe>
                        </div>

                        <!-- Portfolio Item End -->
                        <h3 class="line-bottom">Wisdom & Power</h3>
                        <p>
                            God has given us wisdom and power to lay hold of what belongs to Him and to us as our inheritance. It is time for us as His sons and daughters to take back what 
                            rightfully belongs to us and to His kingdom.
                        </p>
                        <ul class="list theme-colored mb-30">
                            <li>
                                <strong>Prov. 8:18&21 :</strong>"RICHES and honor are with me (Wisdom). Enduring RICHES and righteousness...That I (Wisdom) may cause those who love me (Wisdom)
                                to inherit WEALTH, that I (Wisdom) may fill their treasuries."
                            </li>
                            <li>
                                <strong>Gen. 2:11-12 :</strong>"... the whole land of Havilah, where there is GOLD. And the GOLD of that land is GOOD..."
                            </li>
                            <li>
                                <strong>HAGG. 1:18 :</strong>"The silve is Mine, and the GOLD is Mine, says the lord of hosts."
                            </li>
                            <li>
                                <strong>DEUT. 8:13&18 :</strong>"and when your herds and your flocks multiply, and your silver and your GOLD are MULITIPLIED, and all that you have is multiplied;
                                ...And you shall remember the Lord your God, for it is He who gives you POWER (the force, the ability) to get WEALTH..."
                            </li>
                            <li>
                                <strong>PS. 112:2&3 :</strong>"His descendants will be mighty on earth; The generation of the upright will be blessed. WEALTH and RICHES will be in his house ..."
                            </li>
                        </ul>
                        
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <img src="~/images/WealthCreation/WEALTH-CREATION-INFORMATION-Website.jpg" alt="">
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <img src="~/images/WealthCreation/65768193_2364375047153781_6457112504806756639_n.jpg" alt="">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="~/images/WealthCreation/FB_IMG_1566848321828.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <img src="~/images/WealthCreation/cashgold.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="post media-post clearfix pb-5 mb-20 maxwidth500 border-bottom">
                        <div class="row mt-40">
                            <div class="col-md-12">
                                <h4 class="text-gray-dimgray font-weight-400">For more info on how to save in gold and crypto currency, or if you would like to attend a free presentation, please contact:</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 mb-sm-30 text-center">
                                <h3>Hendrik Delport</h3>
                                <p>Mosselbay & George Area</p>
                                <img src="~/images/WealthCreation/Hendrik.jpg" alt="">

                                <a href="http://www.facebook.co.za/OpulenceGW" target="_blank" class="btn btn-block btn-theme-colored">Read more</a>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 mb-sm-30 text-center">
                                <h3>Jan & Carla Cronjè</h3>
                                <p>Morreesburg, Boland, Swartland Area</p>
                                <img src="~/images/WealthCreation/Jan&Carla.jpg" alt="">

                                <a href="http://www.facebook.co.za/WealthTransfer4All" target="_blank" class="btn btn-block btn-theme-colored">Read more</a>
                            </div>
                        </div>
                        <div class="row mt-40">
                            <div class="col-md-12">
                                <h4 class="text-danger font-weight-400">This is not just another scam or get rich quick scheme. This is about this ministry and its people wanting to see and help others prosper and be blessed</h4>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

        </div>
    </div>
</section>