@model FaqAddEditModel

@{
    ViewData["Title"] = "Create New Question";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entity.Question" class="control-label"></label>
                <input asp-for="Entity.Question" class="form-control" />
                <span asp-validation-for="Entity.Question" class="text-danger"></span>
            </div>

            <h3 class="m-t-10">Answers</h3>
            <hr class="m_bottom_10">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @if (Model.Entity.Answers.Any())
                        {
                            foreach (var item in Model.Entity.Answers)
                            {
                                <ul>
                                    <li>@item.Answer</li>
                                </ul>
                            }
                        }
                        else
                        {
                            <ul>
                                <li>No answers available!</li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
            <hr class="m_bottom_10">

            <input type="hidden" asp-for="Entity.Id" />
            <input type="hidden" asp-for="Entity.ApplicationUserId" />

            <div class="form-group">
                <input name="finnish" type="submit" value="Create" class="btn btn-default" />
                <input name="main" type="submit" value="Save" class="btn btn-default" />
                <a href="javascript:;" onclick="ShowCreateAnswerModel('@Model.Entity.Id')" class="btn btn-info" style="float: right">Create Answer</a>
                <a class="btn btn-danger" href=@Url.Action("Index", "Home")>Cancel</a>
            </div>

        </form>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        function ShowCreateAnswerModel(ff) {

            var url = "/Faqs/Answers/Create?parentId=" + ff;

            $("#ModalPlaceHolder").load(url,
                function () {
                    $("#ModalPlaceHolder").modal("show");
                });
        }

    </script>
}