@{
    Layout = "Layouts/_LayoutDefault";
}

@section Styles
    {
    <!--page injected css-->
    @RenderSection("Styles", required: false)
}

<div class="container-fluid" id="containerHolder">
    <!-- Begin Page Header-->
    <div class="row">
        <div class="page-header">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title">@ViewData["Title"] <small> - IQ Tech Solutions Admin Panel</small></h2>
                <div class="row">
                    <partial name="Breadcrumbs/_AdminBreadcrumPartial" />
                </div>
            </div>
        </div>
    </div>

    <div class="row flex-row">
        <div class="col-12">

            @RenderBody()

        </div>
    </div>
</div>
    
@section Scripts
        {
    @RenderSection("Scripts", required: false)
}
