<footer>
    <!--footer-widgets-wrapper starts-->
    <div class="footer-widgets-wrapper">
        <!--container starts-->
        <div class="container">
            <div class="footer_top">
                <p class="footer-logo">
                    <a href="#"> When Truth &amp; </a>
                    <a href="#"> <img src="/images/footer-logo.png" alt="" title=""> </a>
                    <a href="#"> Justice calls </a>
                </p>
                <ul class="dt-sc-social-icons">
                    <li><a href="#" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#" title="Google Plus"><span class="fa fa-google-plus"></span></a></li>
                    <li><a href="#" title="Twitter"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#" title="Youtube"><span class="fa fa-youtube"></span></a></li>
                    <li><a href="#" title="Linkedin"><span class="fa fa-linkedin"></span></a></li>
                </ul>
            </div>

            <div class="column dt-sc-two-sixth first">
                <aside class="widget widget_text">
                    <div class="widget_text_logo">
                        <img src="/images/footer_text_widget_logo.png" alt="" title="">
                        <h4> State Attorney, LLC </h4>
                        <span><i>It's all about Justice </i></span>
                        <div class="dt-sc-hr-invisible-very-small"></div>
                        <p> State Attorney is an law/justice theme that suits any law/legal business. If you are about to start a business or deciding on improving your business State Attorney has all the features you need. </p>
                        <a href="#"> <strong> Learn more about our Practices <span class="fa fa-angle-double-right"></span> </strong> </a>
                    </div>
                </aside>
            </div>

            <div class="column dt-sc-two-sixth">
                <aside class="widget widget_text">
                    <h3 class="widgettitle">Contact Details</h3>
                    <div class="textwidget">
                        <p class="dt-sc-contact-info"><span><i class="fa fa-phone"></i> Phone: </span> +22 004 324 1124 </p>
                        <p class="dt-sc-contact-info"><span><i class="fa fa-print"></i> Fax: </span> +22 004 324 1124 </p>
                        <p class="dt-sc-contact-info"><span><i class="fa fa-envelope"></i> Email: </span><a href="mailto:yourname@somemail.com"> statelaw@gmail.com </a></p>
                        <p class="dt-sc-contact-info"><i class="fa fa-location-arrow"></i>58, Thomson Street, Edison Avenue, Baltimore, USA</p>
                    </div>
                </aside>
            </div>

            <div class="column dt-sc-one-sixth">
                <aside class="widget widget_text">
                    <h3 class="widgettitle"> Attorneys </h3>
                    <ul>
                        <li> <a href=""> Robert James </a> </li>
                        <li> <a href=""> Craig Thompson </a> </li>
                        <li> <a href=""> Lewi Steve </a> </li>
                        <li> <a href=""> Carl Danny </a> </li>
                    </ul>
                </aside>
            </div>

            <div class="column dt-sc-one-sixth">
                <aside class="widget widget_text">
                    <h3 class="widgettitle"> Overview </h3>
                    <ul>
                        <li> <a href=""> About our Practice </a> </li>
                        <li> <a href=""> Testimonials </a> </li>
                        <li> <a href=""> Our Policies </a> </li>
                    </ul>
                </aside>
            </div>

        </div>
        <!--container ends-->
    </div>
    <!--footer-widgets-wrapper ends-->
    <div class="copyright">
        <div class="container">
            <div class="copyright-info">State Attorney © 2005 - 2014 <a href="http://wedesignthemes.com/" target="_blank"> wedesignthemes.com </a> All Rights Reserved. </div>
            <ul class="footer-links">
                <li><a href="#"> Sitemap </a></li>
                <li><a href="#"> Privacy Policy </a></li>
                <li><a href="#">  Terms &amp; Conditions </a></li>
                <li><a href="#"> Disclaimer </a></li>
            </ul>
            <p> Design by <a href="http://themeforest.net/user/buddhathemes" target="_blank" title="">Buddha Themes</a> </p>
        </div>
    </div>
</footer>