@{
    ViewData["Title"] = "About Olympia";
}

@Html.PartialAsync("PageTitles/Default")

<!-- Service Section Start -->
<section class="serivce-section bg-silver-light pdt-105 pdb-80" data-background="images/bg/abs-bg7.png">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-plan"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Online Business</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-meeting"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Human Resource</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-growth"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Market Research</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-benchmark"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Business Strategy</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-search-1"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Project Managment</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-wallet"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Money Management</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-profits"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Online Marketing</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="service-box">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-medal-1"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <a href="#"><h3>Business Insurance</h3></a>
                            </div>
                            <div class="para">
                                <p>We always provide people a complete solution focused of any business.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End -->
<!-- Team Section Start -->
<section class="pdt-105 pdb-80 bg-silver position-relative z-index-2" data-background="images/bg/abs-bg1.png">
    <div class="section-title text-center">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8 col-xl-6">
                    <div class="section-title-block">
                        <h5 class="text-primary-color anim-box-objects text-underline mrb-15">Meet Our Team</h5>
                        <h2>We Have a Professional Consulting Team</h2>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->
<!-- Clients Section Start -->
<section class="pdt-60 pdb-60 bg-silver-light">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel client-items">
                        <div class="client-item">
                            <img src="images/clients/client1.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client2.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client4.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client5.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client1.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Clients Section End -->