<!-- Sidebar -->
<aside class="col-sm-4 col-md-4 col-lg-3">

    <div class="widget widget_twitter">

        <a class="twitter-timeline" href="https://twitter.com/EnviroMetsi?ref_src=twsrc%5Etfw" data-width="242" data-height="350"><h3 class="widget-title">Tweets by EnviroMetsi</h3></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    @await Component.InvokeAsync("PopularPostsSidebarWidget")

    @await Component.InvokeAsync("BlogCategoriesSidebarWidget")

</aside>
<!-- eof sidebar -->