<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <partial name="Menus/_DefaultMainMenu" />
                </div>
            </div>
        </div>
    </div>
</header>