<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Enviro Metsi</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" style="color: #1ab394; -webkit-text-stroke: 0.5px #1ab394;" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="page-scroll" style="color: #1ab394; -webkit-text-stroke: 0.5px #1ab394;" asp-area="Troubleshooting" asp-controller="Categories" asp-action="Index">Trouble Shooting</a></li>
                    <li><a class="page-scroll" style="color: #1ab394; -webkit-text-stroke: 0.5px #1ab394;" asp-area="Documentation" asp-controller="Home" asp-action="Index">Documents</a></li>

                    @*<li><a class="page-scroll" style="color: #1ab394; -webkit-text-stroke: 0.5px #1ab394;" asp-area="" asp-controller="Home" asp-action="UnderConstruction">Calculations</a></li>*@
                    <li><a class="page-scroll" style="color: #1ab394; -webkit-text-stroke: 0.5px #1ab394;" asp-area="Support" asp-controller="Home" asp-action="Create">Contact</a></li>
                    <li><a class="page-scroll" style="color: #1ab394; -webkit-text-stroke: 0.5px #1ab394;" asp-area="" asp-controller="Home" asp-action="Dashboard">Student Portal</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>