@{
    ViewData["Title"] = "About Olympia";
}

<!-- Contact Section Start -->
<section class="contact-section pdt-110 pdb-95 pdb-lg-90" data-background="images/bg/abs-bg1.png">
    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-xl-5">
                <h5 class="sub-title-side-line text-primary-color mrt-0 mrb-15">Get In Touch</h5>
                <h2 class="faq-title mrb-30">Have Any Questions?</h2>
                <p class="mrb-40">Distinctively exploit revolutionary catalysts for chang the Seamlessly optimal rather than just in web &amp; apps development optimal alignments for intuitive.</p>
                <a asp-area="Faqs" asp-controller="Home" asp-action="Index">


                    <h6 class="cs-btn-one btn-md btn-round btn-primary-color element-shadow">Frequently Asked Quesions</h6>

                </a>
                <br />
                <br />

                <ul class="social-list list-lg list-primary-color list-flat mrb-md-60 clearfix">
                    <li><a href="https://www.facebook.com/olympia.team" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/olympia.team" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/olympia-team" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/Olympiateam1" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-7 col-xl-7">
                <div class="contact-form">

                </div>
            </div>
        </div>
    </div>
</section>

<div class="row" style="        position: relative;
        text-align: center;

        align-content: center;
        padding-top: 80px;
        display: flex;
        justify-content: center;
        position: relative;
       /* top: 50%;*/
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        ">


    <br />
    <br>

    <div class="form-group">
        <input class="btn btn-primary " type="button" id="btnpopu" value="Change Word" onclick="ShowPopup1();" style="margin:10px;" />


        <input class="btn btn-primary" name="finnish" type="submit" value="Upload" style="margin:10px;" />
        <input class="btn btn-primary" name="main" type="submit" value="Save" style="margin:10px;" />
    </div>
    @section Scripts
        {
        <script type="text/javascript">
                function ShowDeleteModal(ff) {
                    var url = "/Support/Home/Delete?id=" + ff;
                    $("#ModalPlaceHolder").load(url,
                        function () {
                            $("#ModalPlaceHolder").modal("show");
                        });
                }
        </script>
    }
    @* Scripts *@

    <script type="text/javascript">
            ShowPopup2 = function () {
                window.open('/Services/Home/Index', "PopupWindow", 'width=1000px,height=500px, bottom=20px,left=20px');
            }
            ShowPopup1 = function () {
                window.open('/CaseStudies/Home/Index', "PopupWindow", 'width=1000px,height=500px, bottom=20px,left=20px');
            }
    </script>
