<div class="footer-form-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-b10 col-lg-b0">
                <div class="cell-view empty-space col-lg-b50">
                    <h3 class="h3 light">dont miss your chance</h3>
                </div>
            </div>
            <div class="col-lg-3 col-xs-b10 col-lg-b0">
                <div class="cell-view empty-space col-lg-b50">
                    <div class="simple-article size-3 light transparent">ONLY 200 PROMO CODES ON DISCOUNT!</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-line-form">
                    <input class="simple-input light" type="text" value="" placeholder="Your email">
                    <div class="button size-2 style-1">
                        <span class="button-wrapper">
                            <span class="icon"><img src="img/icon-1.png" alt=""></span>
                            <span class="text">submit</span>
                        </span>
                        <input type="submit" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
