@{
    Layout = "Layouts/_Layout";
}

@section Styles
{
    <link rel="stylesheet" href="/css/syncfusion/filemanager.css" />
    <script src="/js/syncfusion/filemanager.js"></script>

    @RenderSection("Styles", required: false)
}

@*about-section anim-object pdt-110 pdb-50 pdb-lg-80 col-md-12*@

<section class="">
    <div class="container">
        <div class="row align-items-center">
            <div class="">

                @RenderBody()

            </div>
        </div>
    </div>
</section>

@section Scripts
    {
    <ejs-scripts></ejs-scripts>
    @RenderSection("Scripts", required: false)
}