#activities {
  background-color: rgba(212, 175, 55, 0.5);
  color: #333;
  position: relative;
}

#activities .description, #activities .visualization {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#activities .description {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #fff;
}

#activities .activity {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  min-height: 96px;
  position: relative;
  padding-left: 96px;
  margin-bottom: 16px;
}

#activities .user {
  display: block;
  padding: 0;
  position: absolute;
  left: 16px;
  top: 16px;
}

#activities .details {
  padding-top: 16px;
  padding-right: 16px;
}

#activities .row-1, #activities .row-2 {
  line-height: 16px;
  height: 16px;
  margin-bottom: 8px;
}

#activities .row-1 span, #activities .row-2 span {
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  border-radius: 4px;
}

#activities .row-1 span {
  width: 25%;
  background-color: #bbb;
}

#activities .row-2 span {
  width: 20%;
  background-color: #ddd;
}

#activities .progress-bar {
  animation-name: progress;
  animation-direction: alternate;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#activities .activity-1 .progress-bar {
  animation-delay: 6s;
}

#activities .activity-2 .progress-bar {
  animation-delay: 0s;
}

#activities .activity-3 .progress-bar {
  animation-delay: 8s;
}

#activities .activity-4 .progress-bar {
  animation-delay: 4s;
}

@keyframes progress {
  from {
    width: 0;
    background-color: rgb(240, 173, 78);
  }
  to {
    width: 100%;
    background-color: rgb(92, 184, 92);
  }
}