<footer class="page_footer ds texture_bg section_padding_top_65 section_padding_bottom_65 columns_padding_25 table_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-md-push-4 text-center">
                <div class="widget widget_text">
                    <a href="./" class="logo">
                        <img src="/images/logo-clear.png" alt="">
                    </a>
                    <h3 class="widget-title topmargin_15">Hash Coin</h3>
                    <p class="bottommargin_10">At vero eos et accusam justo duo dolores earebum kasd gureno takimata sanctu ipsum dolor sit amet lorem ipsum.</p>
                    <p class="small-text grey colorlinks"> 2099 Limer St, Ellijay, GA 30540<br> 576-97-3127<br> <a href="mailto:hashcoin@example.com">hashcoin@example.com</a> </p>
                    <p class="topmargin_25"> <a href="#" class="social-icon color-icon rounded-icon border-icon soc-facebook"></a> <a href="#" class="social-icon color-icon rounded-icon border-icon soc-twitter"></a> <a href="#" class="social-icon color-icon rounded-icon border-icon soc-google"></a>									<a href="#" class="social-icon color-icon rounded-icon border-icon soc-linkedin"></a> <a href="#" class="social-icon color-icon rounded-icon border-icon soc-youtube"></a> </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-md-pull-4 text-center">
                <div class="widget widget_recent_entries widget_media_margin">
                    <h3 class="widget-title">Recent Blogs</h3>
                    <ul class="greylinks">
                        <li>
                            <p class="bottommargin_0"> <a href="blog-single-left.html">Lorem ipsum doloamet consetetur sadipscing</a> </p>
                            <p class="inline-content darklinks small-text no-spacing">
                                <a href="blog-single-right.html">
                                    <i class="rt-icon2-calendar4 rightpadding_5 highlight"></i>
                                    <time datetime="2017-10-03T08:50:40+00:00">
                                        22.10.17
                                    </time>
                                </a> <a href="blog-right.html">
                                    <i class="rt-icon2-user rightpadding_5 highlight"></i>
                                    admin
                                </a> <a href="blog-right.html">
                                    <i class="rt-icon2-clip rightpadding_5 highlight"></i>
                                    news
                                </a>
                            </p>
                        </li>
                        <li>
                            <p class="bottommargin_0"> <a href="blog-single-left.html">Eirmod tempor invidunt labore dolo magna </a> </p>
                            <p class="inline-content darklinks small-text no-spacing">
                                <a href="blog-single-right.html">
                                    <i class="rt-icon2-calendar4 rightpadding_5 highlight"></i>
                                    <time datetime="2017-10-03T08:50:40+00:00">
                                        22.10.17
                                    </time>
                                </a> <a href="blog-right.html">
                                    <i class="rt-icon2-user rightpadding_5 highlight"></i>
                                    admin
                                </a> <a href="blog-right.html">
                                    <i class="rt-icon2-clip rightpadding_5 highlight"></i>
                                    news
                                </a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="widget widget_mailchimp widget_media_margin">
                    <h3 class="widget-title">Newsletter</h3>
                    <form class="signup" action="./" method="get">
                        <p class="bottommargin_30">Subscribe to our mailing list to receive new updates and special offers:</p>
                        <div class="form-group-wrap">
                            <div class="form-group"> <label for="footer-mailchimp" class="sr-only">Enter your email here</label> <input name="email" type="email" id="footer-mailchimp" class="mailchimp_email form-control" placeholder="Email Address"> </div> <button type="submit" class="theme_button no_bg_button color1">Subscribe</button>
                        </div>
                        <div class="response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="ls page_copyright section_padding_15">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="small-text thin">&copy; Copyright 2017. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>