<!--who we are-->
<section class="section_offset">
    <div class="container">
        <h3 class="color_dark fw_light m_bottom_15 t_align_c heading_3" data-appear-animation="bounceInLeft">Welcome! We’re a cutting edge design studio specializing in development & design of websites, applications and corporate designs</h3>
        <p class="m_bottom_40 t_align_c heading_4" data-appear-animation="bounceInLeft" data-appear-animation-delay="150">We are a small full-service studio and have a big experience in the whole development cycle - from design to delivery. </p>
        <div data-appear-animation="fadeInUp" data-appear-animation-delay="800">
            <div class="row t_align_c">
                <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
                    <figure data-appear-animation="fadeInUp">
                        <div class="icon_wrap_size_6 type_2 circle color_blue d_inline_m animation_fill relative m_bottom_20">
                            <i class="icon-thumbs-up tr_all"></i>
                        </div>
                        <figcaption>
                            <h5 class="color_dark m_bottom_15">24/7 365 Support</h5>
                            <p class="m_bottom_23">IQ Tech Solutions' profesional technical consultants offer you 24 hour support 7 days a week 365 days a year. You will stay supported. </p>
                            <a asp-area="Support" asp-controller="Home" asp-action="Create" class="button_type_2 color_dark r_corners fs_medium color_blue_hover tr_all d_inline_b">Contact Us</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
                    <figure data-appear-animation="fadeInUp" data-appear-animation-delay="200">
                        <div class="icon_wrap_size_6 type_2 circle color_pink d_inline_m animation_fill relative m_bottom_20">
                            <i class="icon-mobile tr_all"></i>
                        </div>
                        <figcaption>
                            <h5 class="color_dark m_bottom_15">Reliable Network</h5>
                            <p class="m_bottom_23">99.9% uptime gauranteed. Our servers are situated in state of the art Data Centres and backed with a solid fibre infrastructure.  </p>
                            <a asp-area="" asp-controller="Home" asp-action="About" class="button_type_2 color_dark r_corners fs_medium color_pink_hover tr_all d_inline_b">Read More</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <figure data-appear-animation="fadeInUp" data-appear-animation-delay="400">
                        <div class="icon_wrap_size_6 type_2 circle color_purple d_inline_m animation_fill relative m_bottom_20">
                            <i class="icon-infinity tr_all"></i>
                        </div>
                        <figcaption>
                            <h5 class="color_dark m_bottom_15">Custom Solutions</h5>
                            <p class="m_bottom_23">IQ Tech Solutions has your success at the top of our priority list, we offer solutions to suit your personal needs. </p>
                            <a asp-area="" asp-controller="Home" asp-action="UnderConstruction" class="button_type_2 color_dark r_corners fs_medium color_purple_hover tr_all d_inline_b">Templates</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>