
    <div id="menu-container">
        <div class="container">
            <!--nav starts-->
            <nav id="main-menu">
                <div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span class="dt-menu-toggle-icon"></span></div>
                <ul id="menu-main-menu" class="menu">
                    <li class="current_page_item"> <a asp-area="" asp-controller="Home" asp-action="Index"> Home </a> </li>
                    <li> <a asp-area="" asp-controller="Home" asp-action="OurFirm"> Our Firm </a> </li>
                    <li> <a asp-area="" asp-controller="Home" asp-action="OurPractices"> Our Practices </a> </li>
                    <li class="menu-item-megamenu-parent megamenu-4-columns-group menu-item-depth-0">
                        <a asp-area="" asp-controller="Home" asp-action="OurPeople"> Our People </a>
                        <div class="megamenu-child-container">
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area fill-two-columns">
                                    <a href="#"> About </a>
                                    <!--menu-item-widget-area-container starts-->
                                    <div class="menu-item-widget-area-container">
                                        <ul>
                                            <li class="widget widget_text">
                                                <div class="textwidget">
                                                    <div class="image">
                                                        <img src="/images/arrow.png" alt="" title="">
                                                    </div>
                                                    <div class="alignleft">
                                                        <span class="alignleft dt-sc-highlight"> We provide effective and reliable solutions. Looking for legal help?</span>
                                                        <div class="dt-sc-hr-image"></div>
                                                        <div class="dt-sc-hr-invisible-very-small"></div>
                                                        <span class="alignleft dt-sc-highlight"> We let you know the right way. </span>
                                                        <a class="dt-sc-bordered-button first" href="#"> <span class="fa fa-thumbs-o-up"></span> By Direct </a>
                                                        <a class="dt-sc-bordered-button" href="#"> <span class="fa fa-phone"></span> By Phone </a>
                                                    </div>
                                                    <div class="dt-sc-clear"></div>
                                                    <p>  At vero eos et accusamus et iusto odio dignissimos duci blandits quite praesentium voluptatum deleniti atque corrupti dolores et quas molestias excepturi sint occaecati cupiditate non provident.  </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--menu-item-widget-area-container ends-->
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area">
                                    <a href="#"> Latest Blog </a>
                                    <!--menu-item-widget-area-container starts-->
                                    <div class="menu-item-widget-area-container">
                                        <ul>
                                            <li class="widget widget_recent_entries">
                                                <ul>
                                                    <li>
                                                        <div class="entry-meta">
                                                            <p class="date"> <span class="fa fa-calendar-o"></span> 20 June 2014 </p>
                                                            <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                                                        </div>
                                                        <div class="entry-title">
                                                            <h6><a asp-area="" asp-controller="Home" asp-action="NewsDetails"> Free consultation makes you decide to pursue the case </a></h6>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="entry-meta">
                                                            <p class="date"> <span class="fa fa-calendar-o"></span> 20 June 2014 </p>
                                                            <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                                                        </div>
                                                        <div class="entry-title">
                                                            <h6><a asp-area="" asp-controller="Home" asp-action="NewsDetails"> Estimating your Budget in the consultations </a></h6>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="entry-meta">
                                                            <p class="date"> <span class="fa fa-calendar-o"></span> 20 June 2014 </p>
                                                            <a href="#" class="comments"> <span class="fa fa-comment"></span> 16 </a>
                                                        </div>
                                                        <div class="entry-title">
                                                            <h6><a asp-area="" asp-controller="Home" asp-action="NewsDetails"> Accident cases taken under crime divsions </a></h6>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>

                                    </div>
                                    <!--menu-item-widget-area-container ends-->
                                </li>

                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area">
                                    <a href="#"> Testimonials </a>
                                    <!--menu-item-widget-area-container starts-->
                                    <div class="menu-item-widget-area-container">
                                        <ul>
                                            <li class="widget widget_text">
                                                <div class="textwidget">
                                                    <div class="dt-sc-testimonial">
                                                        <blockquote><q> But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces  little more line to make this complete </q></blockquote>
                                                        <div class="author-meta">
                                                            <p> Jason Shane </p>
                                                            <span> Business Consultant / <strong> Magick Wall </strong> </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                    <!--menu-item-widget-area-container ends-->
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area fill-four-columns">
                                    <a href="#"> Our Practices </a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2">
                                            <span class="nolink-menu"></span>
                                            <div class="dt-megamenu-custom-content">
                                                <div class="dt-sc-one-fourth column first">
                                                    <div class="dt-sc-ico-content type1">
                                                        <div class="icon">
                                                            <img src="/images/practice_icon1.png" alt="" title="">
                                                        </div>
                                                        <h5><a href=""> Employment Law </a></h5>
                                                        <span> Anything Related to Employment </span>
                                                    </div>
                                                </div>

                                                <div class="dt-sc-one-fourth column">
                                                    <div class="dt-sc-ico-content type1">
                                                        <div class="icon">
                                                            <img src="/images/practice_icon2.png" alt="" title="">
                                                        </div>
                                                        <h5><a href=""> Discrimination </a></h5>
                                                        <span> Discriminations should end </span>
                                                    </div>
                                                </div>

                                                <div class="dt-sc-one-fourth column">
                                                    <div class="dt-sc-ico-content type1">
                                                        <div class="icon">
                                                            <img src="/images/practice_icon3.png" alt="" title="">
                                                        </div>
                                                        <h5><a href=""> Flsa Overtime </a></h5>
                                                        <span> Need to evaluate your standard </span>
                                                    </div>
                                                </div>

                                                <div class="dt-sc-one-fourth column">
                                                    <div class="dt-sc-ico-content type1">
                                                        <div class="icon">
                                                            <img src="/images/practice_icon4.png" alt="" title="">
                                                        </div>
                                                        <h5><a href=""> Retaliation </a></h5>
                                                        <span> Stop before it causes a big trouble </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <a class="dt-menu-expand">+</a>
                    </li>

                    <li> <a asp-area="" asp-controller="Home" asp-action="NewsEvents"> News &amp; Events </a> </li>
                    <li class="menu-item-simple-parent menu-item-depth-0">
                        <a  asp-area="" asp-controller="Home" asp-action="ShortCodes"> Shortcodes </a>
                        <ul class="sub-menu">
                            <li> <a asp-area="" asp-controller="Home" asp-action="ShortCodes"> Typography </a> </li>
                            <li> <a asp-area="" asp-controller="Home" asp-action="Buttons"> Buttons </a>  </li>
                            <li> <a asp-area="" asp-controller="Home" asp-action="Columns"> Columns </a> </li>
                            <li> <a asp-area="" asp-controller="Home" asp-action="FancyBoxes"> Fancy Boxes </a> </li>
                            <li> <a asp-area="" asp-controller="Home" asp-action="IconBoxes"> Icon Boxes </a> </li>
                            <li> <a asp-area="" asp-controller="Home" asp-action="Lists"> Lists </a> </li>
                            <li> <a asp-area="" asp-controller="Home" asp-action="PricingTables"> Pricing Tables </a>  </li>
                            <li> <a asp-area="" asp-controller="Home" asp-action="ProgressBars"> Progress Bars </a> </li>
                            <li> <a asp-area="" asp-controller="Home" asp-action="Quotes"> Quotes </a> </li>
                            <li> <a asp-area="" asp-controller="Home" asp-action="Tabs"> Tabs &amp; Toggles </a> </li>
                        </ul>
                        <a class="dt-menu-expand">+</a>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Location">Location</a></li>
                </ul>
            </nav>
            <!--nav ends-->
            <form method="get" id="searchform" action="#">
                <input id="s" name="s" type="text" value="Search..." class="text_input" onblur="if(this.value==''){this.value='Search...';}" onfocus="if(this.value =='Search...') {this.value=''; }">
                <input name="submit" type="submit" value="">
            </form>
        </div>
    </div>