@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="error-area vh d-flex" data-background="/images/bg/404.jpg" data-overlay-light="94">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="error-inner text-center">
                    <h1 class="error-title">4<span class="text-primary-color">0</span>4</h1>
                    <h2 class="error-text">Sorry, something went wrong!</h2>
                    <p>This page is temporarily unavailable due to maintenance. We will back very soon thanks for your patien</p>
                    <a class="cs-btn-one btn-md btn-primary-color" href="index.html">Return Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
