@using Iqt.Base.Extensions
@using Iqt.Base.Interfaces
@model IEnumerable<Troubleshooting.Base.ApiModels.CauseResultModel>
@inject IApplicationConfiguration Configuration

<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-12">
            <h5>
                Causes
            </h5>
            <hr />
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <table style="width:100%">
                        <tr>
                            <td><p>@item.Description.TruncateLongString(150) - (@item.CorrectiveActionsCount) Corrective Actions</p></td>
                            <td style="width:100px; float:right; padding-bottom:15px;"><a class="btn btn-primary" asp-area="Troubleshooting" asp-controller="Causes" asp-action="Details" asp-route-id="@item.Id">View</a></td>
                        </tr>
                    </table>
                }
            }
            else
            {
                <h5>There are currently no causes that are associated with this problem.</h5>
            }
        </div>
    </div>
</section>