<header>
    <!--top-bar starts-->
    <div class="top-bar">
        @Html.Partial("Social/_DefaultSocial")
    </div>
    <!--top-bar ends-->
    @Html.Partial("Social/_DefaultLogo")

    @Html.Partial("Menus/_DefaultMenu")

</header>