@{
    Layout = "Layouts/_LayoutAdmin";
}

<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                <form role="search" class="navbar-form-custom" action="http://webapplayers.com/inspinia_admin-v2.0/search_results.html">
                    <div class="form-group">
                        <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                    </div>
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to Enviro Metsi Client Zone.</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">0</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <div class="media-body">
                                    <strong>No new emails available</strong>. <br>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">0</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="mailbox.html">
                                <div>
                                    <i class="fa fa-ban fa-fw"></i> No New Notifications
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Logout">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
                <li>
                    <a class="right-sidebar-toggle">
                        <i class="fa fa-tasks"></i>
                    </a>
                </li>
            </ul>

        </nav>
    </div>
    <partial name="Breadcrumbs/_AdminBreadcrumbPartial" />
    <div class="wrapper wrapper-content  animated fadeInRight" id="Profile">
        
        
        
        <h1>This is my dashboard</h1>
        
        

    </div>
    <div class="footer">
        <div>
            <p style="color:black">&copy; Copyright @DateTime.Now.Year - Created by <a href="https://www.iqtechsolutions.co.za" target="_blank"><strong style="color: blue !important">IQ Tech Solutions</strong></a> All right reserved.
        </div>
    </div>
</div>