@{
    ViewData["Title"] = "Home Page";
    Layout = "Layouts/_LayoutLogin";
}

<div class="middle-box2 text-center animated fadeInDown">
    <img src="~/images/logo/Logo-Enviro-Metsi.png" width="100%" />
    <h1>COMING SOON</h1>
    <h3 class="font-bold">This page is still under construction, please check back later</h3>

    <div class="error-desc">
        This page is still being constructed. We apologize for any inconvenience caused. We will get the page up and running as soon as possible<br/>
        You can go back to main page: <br/><a asp-area="Dashboard" asp-controller="Home" asp-action="Index" class="btn btn-primary m-t">Dashboard</a>
    </div>
</div>