@model IndexModel

@{
    ViewBag.Title = "Index";
    Layout = "_layout";
}


<div class="header-empty-space"></div>

<div class="container">
    <div class="empty-space col-xs-b15 col-sm-b30"></div>
    <div class="breadcrumbs">
        <a href="#">home</a>
        <a href="#">blog</a>
    </div>
    <div class="empty-space col-xs-b15 col-sm-b50 col-md-b100"></div>
    <div class="text-center">
        <div class="simple-article size-3 grey uppercase col-xs-b5">popular products</div>
        <div class="h2">only best products</div>
        <div class="title-underline center"><span></span></div>
    </div>
</div>

<div class="empty-space col-xs-b35 col-md-b70"></div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="blog-shortcode style-3">
                <a class="preview rounded-image simple-mouseover" href="#"><img class="rounded-image" src="img/thumbnail-77.jpg" alt="" /></a>
                <div class="date">
                    <span>25</span> apr / 15
                </div>
                <div class="content">
                    <div class="blog-comments"><i class="fa fa-comment-o" aria-hidden="true"></i> 5 &nbsp;&nbsp;&nbsp;<i class="fa fa-heart-o" aria-hidden="true"></i> 20</div>
                    <h4 class="title h4"><a href="#">Donec dapibus efficitur odio, nec molestie ante tristique vel</a></h4>
                    <div class="description simple-article size-1 grey uppercase"><a class="color" href="#">john wick</a> &nbsp;&nbsp;<a class="color" href="#">Gadgets</a></div>
                    <div class="description-article simple-article size-2">Duis fringilla felis et faucibus semper. Aliquam gravida elit et lectus viverra porta. Proin ultricies, massa eu aliquam tristique, sapien tellus gravida eros, eget sollicitudin nisl mi id tortor. Cras enim elit, convallis at imperdiet at, viverra eget diam consectetur euismod enim</div>
                    <a class="button size-2 style-3" href="#">
                        <span class="button-wrapper">
                            <span class="icon"><img src="img/icon-4.png" alt=""></span>
                            <span class="text">learn more</span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="empty-space col-xs-b35 col-md-b70"></div>

            <div class="blog-shortcode style-3">
                <div class="preview embed-responsive embed-responsive-16by9">
                    <iframe src="https://player.vimeo.com/video/47911018?color=b8cd06&amp;portrait=0"></iframe>
                </div>
                <div class="date">
                    <span>23</span> apr / 15
                </div>
                <div class="content">
                    <div class="blog-comments"><i class="fa fa-comment-o" aria-hidden="true"></i> 5 &nbsp;&nbsp;&nbsp;<i class="fa fa-heart-o" aria-hidden="true"></i> 20</div>
                    <h4 class="title h4"><a href="#">Donec dapibus efficitur odio, nec molestie ante tristique vel</a></h4>
                    <div class="description simple-article size-1 grey uppercase"><a class="color" href="#">john wick</a> &nbsp;&nbsp;<a class="color" href="#">Gadgets</a></div>
                    <div class="description-article simple-article size-2">Duis fringilla felis et faucibus semper. Aliquam gravida elit et lectus viverra porta. Proin ultricies, massa eu aliquam tristique, sapien tellus gravida eros, eget sollicitudin nisl mi id tortor. Cras enim elit, convallis at imperdiet at, viverra eget diam consectetur euismod enim</div>
                    <a class="button size-2 style-3" href="#">
                        <span class="button-wrapper">
                            <span class="icon"><img src="img/icon-4.png" alt=""></span>
                            <span class="text">learn more</span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="empty-space col-xs-b35 col-md-b70"></div>

            <div class="blog-shortcode style-3">
                <div class="preview rounded-image blog-blockquote">
                    <div class="cell-view">
                        <blockquote>
                            <p class="blockquote-title">Nunc ultrices augue ac malesuada finibus. Sed quis egestas. Suspendisse enim nibh gravida quam.</p>
                            <p class="blockquote-author">Dorian gray</p>
                            <p class="blockquote-position">ceo doodle ink.</p>
                        </blockquote>
                    </div>
                </div>
                <div class="date">
                    <span>12</span> apr / 15
                </div>
                <div class="content">
                    <div class="blog-comments"><i class="fa fa-comment-o" aria-hidden="true"></i> 5 &nbsp;&nbsp;&nbsp;<i class="fa fa-heart-o" aria-hidden="true"></i> 20</div>
                    <h4 class="title h4"><a href="#">Donec dapibus efficitur odio, nec molestie ante tristique vel</a></h4>
                    <div class="description simple-article size-1 grey uppercase"><a class="color" href="#">john wick</a> &nbsp;&nbsp;<a class="color" href="#">Gadgets</a></div>
                    <div class="description-article simple-article size-2">Duis fringilla felis et faucibus semper. Aliquam gravida elit et lectus viverra porta. Proin ultricies, massa eu aliquam tristique, sapien tellus gravida eros, eget sollicitudin nisl mi id tortor. Cras enim elit, convallis at imperdiet at, viverra eget diam consectetur euismod enim</div>
                    <a class="button size-2 style-3" href="#">
                        <span class="button-wrapper">
                            <span class="icon"><img src="img/icon-4.png" alt=""></span>
                            <span class="text">learn more</span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="empty-space col-xs-b35 col-md-b70"></div>

            <div class="blog-shortcode style-3">
                <div class="preview">
                    <div class="swiper-container rounded">
                        <div class="swiper-button-prev hidden-xs"></div>
                        <div class="swiper-button-next hidden-xs"></div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="img/thumbnail-78.jpg" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="img/thumbnail-77.jpg" alt="" />
                            </div>
                        </div>
                        <div class="swiper-pagination small visible-xs"></div>
                    </div>
                </div>
                <div class="date">
                    <span>9</span> apr / 15
                </div>
                <div class="content">
                    <div class="blog-comments"><i class="fa fa-comment-o" aria-hidden="true"></i> 5 &nbsp;&nbsp;&nbsp;<i class="fa fa-heart-o" aria-hidden="true"></i> 20</div>
                    <h4 class="title h4"><a href="#">Donec dapibus efficitur odio, nec molestie ante tristique vel</a></h4>
                    <div class="description simple-article size-1 grey uppercase"><a class="color" href="#">john wick</a> &nbsp;&nbsp;<a class="color" href="#">Gadgets</a></div>
                    <div class="description-article simple-article size-2">Duis fringilla felis et faucibus semper. Aliquam gravida elit et lectus viverra porta. Proin ultricies, massa eu aliquam tristique, sapien tellus gravida eros, eget sollicitudin nisl mi id tortor. Cras enim elit, convallis at imperdiet at, viverra eget diam consectetur euismod enim</div>
                    <a class="button size-2 style-3" href="#">
                        <span class="button-wrapper">
                            <span class="icon"><img src="img/icon-4.png" alt=""></span>
                            <span class="text">learn more</span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="empty-space col-xs-b35 col-md-b70"></div>

            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <a class="button size-1 style-5" href="#">
                        <span class="button-wrapper">
                            <span class="icon"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                            <span class="text">prev page</span>
                        </span>
                    </a>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="pagination-wrapper">
                        <a class="pagination active">1</a>
                        <a class="pagination">2</a>
                        <a class="pagination">3</a>
                        <a class="pagination">4</a>
                        <span class="pagination">...</span>
                        <a class="pagination">23</a>
                    </div>
                </div>
                <div class="col-sm-3 hidden-xs text-right">
                    <a class="button size-1 style-5" href="#">
                        <span class="button-wrapper">
                            <span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                            <span class="text">prev page</span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="empty-space col-xs-b35 col-md-b70"></div>

        </div>
        <div class="col-md-3">
            <div class="single-line-form">
                <input class="simple-input small" type="text" value="" placeholder="Enter keyword">
                <div class="submit-icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="submit" />
                </div>
            </div>
            <div class="empty-space col-xs-b25 col-sm-b50"></div>

            <div class="h4 col-xs-b10">categories</div>
            <ul class="categories-menu transparent">
                <li>
                    <a href="#">laptops &amp; computers</a>
                </li>
                <li>
                    <a href="#">video &amp; photo cameras</a>
                </li>
                <li>
                    <a href="#">smartphones</a>
                </li>
                <li>
                    <a href="#">tv &amp; audio</a>
                </li>
                <li>
                    <a href="#">gadgets</a>
                </li>
            </ul>

            <div class="empty-space col-xs-b25 col-sm-b50"></div>

            <div class="h4 col-xs-b25">Popular Tags</div>
            <div class="blog-shortcode style-2">
                <a href="#" class="preview rounded-image simple-mouseover"><img class="rounded-image" src="img/thumbnail-73.jpg" alt="" /></a>
                <div class="title h6"><a href="#">Phasellus rhoncus in nunc sit</a></div>
                <div class="description simple-article size-1 grey uppercase">apr 07 / 15 &nbsp;&nbsp;<a class="color" href="#">john wick</a> &nbsp;&nbsp;<a class="color" href="#">Gadgets</a></div>
            </div>
            <div class="empty-space col-xs-b25"></div>
            <div class="blog-shortcode style-2">
                <a href="#" class="preview rounded-image simple-mouseover"><img class="rounded-image" src="img/thumbnail-74.jpg" alt="" /></a>
                <div class="title h6"><a href="#">Fusce viverra id diam nec</a></div>
                <div class="description simple-article size-1 grey uppercase">apr 07 / 15 &nbsp;&nbsp;<a class="color" href="#">john wick</a> &nbsp;&nbsp;<a class="color" href="#">Gadgets</a></div>
            </div>

            <div class="empty-space col-xs-b25 col-sm-b50"></div>

            <div class="h4 col-xs-b25">Popular Tags</div>
            <div class="tags light clearfix">
                <a class="tag">headphoness</a>
                <a class="tag">accessories</a>
                <a class="tag">new</a>
                <a class="tag">wireless</a>
                <a class="tag">cables</a>
                <a class="tag">devices</a>
                <a class="tag">gadgets</a>
                <a class="tag">brands</a>
                <a class="tag">replacements</a>
                <a class="tag">cases</a>
                <a class="tag">cables</a>
                <a class="tag">professional</a>
            </div>

            <div class="empty-space col-xs-b25 col-sm-b50"></div>

            <div class="h4 col-xs-b25">youtube chanel</div>

            <div class="swiper-container">
                <div class="swiper-button-prev hidden"></div>
                <div class="swiper-button-next hidden"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="blog-shortcode style-2">
                            <a class="preview rounded-image">
                                <img class="rounded-image" src="img/thumbnail-75.jpg" alt="" />
                                <span class="play-button open-video" data-src="https://www.youtube.com/embed/kQT2y3UiosQ?autoplay=1&amp;loop=1&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;color=white&amp;theme=light&amp;wmode=transparent"></span>
                            </a>
                            <div class="title h6"><a href="#">Phasellus rhoncus in nunc sit</a></div>
                            <div class="description simple-article size-1 grey">Duis fringilla felis et faucibus semper. Aliquam gravida elit et lectus viverra porta.</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="blog-shortcode style-2">
                            <a class="preview rounded-image">
                                <img class="rounded-image" src="img/thumbnail-76.jpg" alt="" />
                                <span class="play-button open-video" data-src="https://www.youtube.com/embed/kQT2y3UiosQ?autoplay=1&amp;loop=1&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;color=white&amp;theme=light&amp;wmode=transparent"></span>
                            </a>
                            <div class="title h6"><a href="#">Phasellus rhoncus in nunc sit</a></div>
                            <div class="description simple-article size-1 grey">Duis fringilla felis et faucibus semper. Aliquam gravida elit et lectus viverra porta.</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination relative-pagination-small"></div>
            </div>


            <div class="empty-space col-xs-b25 col-sm-b50"></div>

        </div>
    </div>
</div>

<div class="empty-space col-xs-b35 col-md-b70"></div>

<div class="popup-content video-popup">
    <div class="layer-close"></div>
    <div class="popup-container size-4">
        <div class="embed-responsive embed-responsive-16by9 popup-iframe">

        </div>
        <div class="button-close"></div>
    </div>
</div>

<!-- masonry -->
<script src="js/isotope.pkgd.min.js"></script>
<script>
        $(window).load(function () {
            var $container = $('.grid').isotope({
                itemSelector: '.grid-item',
                masonry: {
                    columnWidth: '.grid-sizer'
                }
            });
        });
</script>

