<header class="header-style-two">
    <div class="header-wrapper">
        <div class="header-top-area bg-gradient-color d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 header-top-left-part">
                        <span class="address"><i class="webexflaticon flaticon-placeholder-1"></i> The Vineyards Office Estate, Manor House, 99 Jip De Jager, Bellville</span>
                        <span class="phone"><i class="webexflaticon flaticon-send"></i> info@olympiahd.com</span>
                    </div>
                    <div class="col-lg-3 header-top-right-part text-right">
                        <ul class="social-links">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                        <div class="language">
                            <a class="language-btn" href="#"><i class="webexflaticon flaticon-internet"></i> English</a>
                            <ul class="language-dropdown">
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bt_blank_nav"></div>
        <div class="header-navigation-area two-layers-header header-middlee bt_stick bt_sticky">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a class="navbar-brand logo f-left mrt-10 mrt-md-0" asp-controller="Home" asp-action="Index">
                            <img id="logo-image" class="img-center" src="/images/Rectangular_Olympia_Logo.png" alt="">
                        </a>
                        <div class="mobile-menu-right"></div>
                        <div class="header-searchbox-style-two d-none d-xl-block">
                            <div class="side-panel side-panel-trigger text-right d-none d-lg-block">
                                <span class="bar1"></span>
                                <span class="bar2"></span>
                                <span class="bar3"></span>
                            </div>
                            <div class="show-searchbox">
                                <a href="#"><i class="webex-icon-Search"></i></a>
                            </div>
                            <div class="toggle-searchbox">
                                <form action="#" id="searchform-all" method="get">
                                    <div>
                                        <input type="text" id="s" class="form-control" placeholder="Search...">
                                        <div class="input-box">
                                            <input type="submit" value="" id="searchsubmit"><i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="side-panel-content">
                            <div class="close-icon">
                                <button><i class="webex-icon-cross"></i></button>
                            </div>
                            <div class="side-panel-logo mrb-30">
                                <a asp-controller="Home" asp-action="Index">
                                    <img src="/images/Rectangular_Olympia_Logo_White.png" alt="" />
                                </a>
                            </div>
                            <div class="side-info mrb-30">
                                <div class="side-panel-element mrb-25">
                                    <h4 class="mrb-10">Office Address</h4>
                                    <ul class="list-items">
                                        <li><span class="fa fa-map-marker-alt mrr-10 text-primary-color"></span>The Vineyards Office Estate, Manor House, 99 Jip De Jager, Bellville</li>
                                        <li><span class="fas fa-envelope mrr-10 text-primary-color"></span>info@olympiahd.com</li>
                                        <li><span class="fas fa-phone-alt mrr-10 text-primary-color"></span>(+27) 73 008 2739</li>
                                    </ul>
                                </div>
                                <div class="side-panel-element mrb-30">
                                    <h4 class="mrb-15">Pintarest</h4>
                                    <ul class="pintarest-list">
                                        <li><a href="#"><img class="img-full" src="http://placehold.it/90x90" alt=""></a></li>
                                        <li><a href="#"><img class="img-full" src="http://placehold.it/90x90" alt=""></a></li>
                                        <li><a href="#"><img class="img-full" src="http://placehold.it/90x90" alt=""></a></li>
                                        <li><a href="#"><img class="img-full" src="http://placehold.it/90x90" alt=""></a></li>
                                        <li><a href="#"><img class="img-full" src="http://placehold.it/90x90" alt=""></a></li>
                                        <li><a href="#"><img class="img-full" src="http://placehold.it/90x90" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h4 class="mrb-15">Social List</h4>
                            <ul class="social-list">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="main-menu f-right">
                            <nav id="mobile-menu-right">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                                    <li><a asp-area="Services" asp-controller="Home" asp-action="Index">Services</a></li>
                                    <li><a asp-area="Blog" asp-controller="Home" asp-action="Index">Blog</a></li>
                                    <li><a asp-area="Support" asp-controller="Home" asp-action="Index">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>