@{
    ViewData["Title"] = "About Olympia";
    Layout = "Layouts/_Layout";
}


<!-- Service Details Section Start -->
<div class="service-details-page pdt-110 pdb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="row">
                    <div class="col-lg-12 col-xl-6">
                        <div class="news-wrapper mrb-30 mrb-sm-40">
                            <div class="news-thumb">
                                <img class="img-full" src="http://placehold.it/375x275" alt="">
                                <div class="news-top-meta">
                                    <span class="entry-category">Business</span>
                                </div>
                            </div>
                            <div class="news-details">
                                <div class="news-description mb-20">
                                    <h4 class="the-title mrb-30"><a href="#">Tech Entrepreneur Credits Paper For Success</a></h4>
                                    <div class="news-bottom-meta">
                                        <span class="entry-date mrr-20"><i class="far fa-calendar-alt mrr-10 text-primary-color"></i>01 Jan, 2020</span>
                                        <span class="entry-author"><i class="far fa-user mrr-10 text-primary-color"></i>Admin</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <nav class="pagination-nav pdt-30">
                            <ul class="pagination-list">
                                <li class="pagination-left-arrow"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li><a href="#">01</a></li>
                                <li><a href="#" class="page-numbers">02</a></li>
                                <li class="active"><a href="#" class="page-numbers">03</a></li>
                                <li><a href="#" class="page-numbers">04</a></li>
                                <li class="pagination-right-arrow"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 sidebar-right">
                <aside class="news-sidebar-widget">
                    <div class="widget sidebar-widget widget-search mrb-30">
                        <form class="search-form">
                            <label>
                                <input type="search" class="search-field" placeholder="Search...">
                            </label>
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="widget sidebar-widget widget-categories">
                        <h4 class="mrb-30 single-blog-widget-title">Categories</h4>
                        <ul class="list">
                            <li><i class="fas fa-caret-right vertical-align-middle text-primary-color mrr-10"></i><a href="#">Business</a><span class="f-right">(08)</span></li>
                            <li><i class="fas fa-caret-right vertical-align-middle text-primary-color mrr-10"></i><a href="#">Consulting</a><span class="f-right">(16)</span></li>
                            <li><i class="fas fa-caret-right vertical-align-middle text-primary-color mrr-10"></i><a href="#">Finance</a><span class="f-right">(20)</span></li>
                            <li><i class="fas fa-caret-right vertical-align-middle text-primary-color mrr-10"></i><a href="#">Corporate</a><span class="f-right">(12)</span></li>
                            <li><i class="fas fa-caret-right vertical-align-middle text-primary-color mrr-10"></i><a href="#">Conference</a><span class="f-right">(06)</span></li>
                            <li><i class="fas fa-caret-right vertical-align-middle text-primary-color mrr-10"></i><a href="#">Economics</a><span class="f-right">(03)</span></li>
                        </ul>
                    </div>
                    <div class="widget sidebar-widget widget-popular-posts">
                        <h4 class="mrb-30 single-blog-widget-title">Popular Posts</h4>
                        <div class="single-post media mrb-20">
                            <div class="post-image mrr-20">
                                <img src="http://placehold.it/70x70" alt="">
                            </div>
                            <div class="post-content media-body align-self-center">
                                <h5 class="mrb-5"><a href="#">Business Solution</a></h5>
                                <span class="post-date"><i class="fa fa-clock-o mrr-5"></i>26 April, 2019</span>
                            </div>
                        </div>
                        <div class="single-post media mrb-20">
                            <div class="post-image mrr-20">
                                <img src="http://placehold.it/70x70" alt="">
                            </div>
                            <div class="post-content media-body align-self-center">
                                <h5 class="mrb-5"><a href="#">Business Solution</a></h5>
                                <span class="post-date"><i class="fa fa-clock-o mrr-5"></i>26 April, 2019</span>
                            </div>
                        </div>
                        <div class="single-post media">
                            <div class="post-image mrr-20">
                                <img src="http://placehold.it/70x70" alt="">
                            </div>
                            <div class="post-content media-body align-self-center">
                                <h5 class="mrb-5"><a href="#">Business Solution</a></h5>
                                <span class="post-date"><i class="fa fa-clock-o mrr-5"></i>26 April, 2019</span>
                            </div>
                        </div>
                    </div>
                    <div class="widget sidebar-widget widget-tags">
                        <h4 class="mrb-30 single-blog-widget-title">Tags</h4>
                        <ul class="list">
                            <li><a href="#">Consulting</a></li>
                            <li><a href="#">Finance</a></li>
                            <li><a href="#">Law</a></li>
                            <li><a href="#">Corporate</a></li>
                            <li><a href="#">Taxes</a></li>
                            <li><a href="#">Meeting</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Investment</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->