@{


    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
}



<section>
    <div class="section-title text-center">
        <div >
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8 col-xl-6">
                    <div class="section-title-block">
                        <h5 class="text-primary-color anim-box-objects line-both-side mrb-15">Text Editor</h5>

                    </div>
                </div>
<<<<<<< Updated upstream
                <div class="col"></div>
            </div>
        </div>
        

        <div id="summernote"></div>


        <div class="form-group" style="display: flex; justify-content: center; position: relative; -ms-transform: translateY(-50%); transform: translateY(-50%);top:50px;">
=======
                <div class="col">

                </div>
            </div>
        </div>

        <div class="newPost">
            <style>

                .newPost {
                    margin: 50px auto;
                    padding: 50px 40px;
                    width: 100%;
                    max-width: 800px;
                    min-width: 480px;
                    background: #FFF;
                    font-family: "Asap", sans-serif;
                }

                    .newPost h3 {
                        margin: 0px 0px 20px 0px;
                        font-size: 30px;
                        color: #2E3641;
                    }

                    .newPost input[type=text] {
                        padding-left: 15px;
                        width: 100%;
                        height: 45px;
                        border: 1px solid #C1CFD9;
                        box-shadow: inset 0px 0px 3px #C1CFD9;
                        outline: none;
                        font-family: "Bree Serif", serif;
                        font-size: 24px;
                        color: #C1CFD9;
                        margin-bottom: 20px;
                    }

                    .newPost .toolbar {
                        background: #2E3641;
                    }

                        .newPost .toolbar button {
                            float: left;
                            width: 45px;
                            height: 45px;
                            background: #2E3641;
                            border: none;
                            border-right: 1px solid #434f5f;
                            color: #C1CFD9;
                            outline: none;
                        }

                            .newPost .toolbar button:hover {
                                background: #394250;
                                color: #b1c3cf;
                            }

                        .newPost .toolbar .customSelect {
                            float: right;
                            position: relative;
                        }

                            .newPost .toolbar .customSelect select {
                                appearance: none;
                                border-radius: 0;
                                border: none;
                                background: #2E3641;
                                height: 45px;
                                padding-left: 10px;
                                padding-right: 25px;
                                color: #C1CFD9;
                                border-left: 1px solid #434f5f;
                                outline: none;
                                font-weight: bold;
                                cursor: pointer;
                            }

                                .newPost .toolbar .customSelect select:hover {
                                    background: #394250;
                                    color: #b1c3cf;
                                }

                            .newPost .toolbar .customSelect:after {
                                content: "";
                                font-family: FontAwesome;
                                color: #C1CFD9;
                                position: absolute;
                                right: 10px;
                                top: 15px;
                            }
>>>>>>> Stashed changes

                        .newPost .toolbar:after {
                            content: "";
                            display: block;
                            clear: both;
                        }

<<<<<<< Updated upstream
            <button class="btn btn-danger" style="margin:10px;">Cancel</button>
            <input class="btn btn-primary" name="finnish" type="submit" value="Save & Close" style="margin:10px;" />
        </div>

        <script>
            $('#summernote').summernote({
                placeholder: 'Edit Headers',
                tabsize: 3,
                height: 100
            });

=======
                    .newPost .editor {
                        min-height: 300px;
                        width: 100%;
                        resize: none;
                        border: 1px solid #C1CFD9;
                        box-shadow: inset 0px 0px 3px #C1CFD9;
                        outline: none;
                        padding: 15px;
                        margin-bottom: 20px;
                        position: relative;
                    }

                        .newPost .editor .saved {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            display: block;
                            width: 45px;
                            height: 45px;
                            line-height: 45px;
                            text-align: center;
                            color: #FFF;
                            text-transform: uppercase;
                            background: #C1CFD9;
                            font-weight: bold;
                            border-top-left-radius: 15px;
                        }

                    .newPost .buttons {
                        float: right;
                    }

                        .newPost .buttons button {
                            float: left;
                            width: 120px;
                            height: 45px;
                            border: none;
                            color: #FFF;
                            text-transform: uppercase;
                            outline: none;
                            margin-right: 20px;
                            font-weight: bold;
                            background: #C1CFD9;
                            text-decoration: none;
                        }

                            .newPost .buttons button:last-of-type {
                                margin-right: 0px;
                                background: #F97E76;
                            }

                                .newPost .buttons button:last-of-type:hover {
                                    background: #fa958e;
                                }

                            .newPost .buttons button:active {
                                box-shadow: inset 0px 4px rgba(0, 0, 0, 0.05);
                            }

                            .newPost .buttons button:hover {
                                background: #d1dbe3;
                            }

                        .newPost .buttons:after {
                            content: "";
                            display: block;
                            clear: both;
                        }

                    .newPost:after {
                        content: "";
                        display: block;
                        clear: both;
                    }
            </style>
            <h3>Add New Post</h3>
            <input type="text" placeholder="Enter title here" />
            <div class="toolbar">
                <button type="button" data-func="bold"><i class="fa fa-bold"></i></button>
                <button type="button" data-func="italic"><i class="fa fa-italic"></i></button>
                <button type="button" data-func="underline"><i class="fa fa-underline"></i></button>
                <button type="button" data-func="justifyleft"><i class="fa fa-align-left"></i></button>
                <button type="button" data-func="justifycenter"><i class="fa fa-align-center"></i></button>
                <button type="button" data-func="justifyright"><i class="fa fa-align-right"></i></button>
                <button type="button" data-func="insertunorderedlist"><i class="fa fa-list-ul"></i></button>
                <button type="button" data-func="insertorderedlist"><i class="fa fa-list-ol"></i></button>
                <div class="customSelect">
                    <select data-func="fontname">
                        <optgroup label="Serif Fonts">
                            <option value="Bree Serif">Bree Serif</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Palatino Linotype">Palatino Linotype</option>
                            <option value="Times New Roman">Times New Roman</option>
                        </optgroup>
                        <optgroup label="Sans Serif Fonts">
                            <option value="Arial">Arial</option>
                            <option value="Arial Black">Arial Black</option>
                            <option value="Asap" selected=selected>Asap</option>
                            <option value="Comic Sans MS">Comic Sans MS</option>
                            <option value="Impact">Impact</option>
                            <option value="Lucida Sans Unicode">Lucida Sans Unicode</option>
                            <option value="Tahoma">Tahoma</option>
                            <option value="Trebuchet MS">Trebuchet MS</option>
                            <option value="Verdana">Verdana</option>
                        </optgroup>
                        <optgroup label="Monospace Fonts">
                            <option value="Courier New">Courier New</option>
                            <option value="Lucida Console">Lucida Console</option>
                        </optgroup>
                    </select>
                </div>
                <div class="customSelect">
                    <select data-func="formatblock">
                        <option value="h1">Heading 1</option>
                        <option value="h2">Heading 2</option>
                        <option value="h4">Subtitle</option>
                        <option value="p" selected=selected>Paragraph</option>
                    </select>
                </div>
            </div>
            <div class="editor" contenteditable=contenteditable></div>
            <div class="buttons">
                <!--<button type="button">save draft</button>-->
                <button data-func="clear" type="button">clear</button>
                <button data-func="save" type="button">save</button>
            </div>
        </div>
        
        @*<div id="summernote">

            <textarea cols="80" rows="10" id="content" name="content">
            &lt;h1&gt;Software <br /> Development&lt;/h1&gt;
            &lt;p&gt;Turn-key solutions for every need&lt;/p&gt;
          </textarea>
        </div>*@


        <div class="form-group" style="display: flex; justify-content: center; position: relative; -ms-transform: translateY(-50%); transform: translateY(-50%);top:50px;">


            <button class="btn btn-danger" style="margin:10px;">Cancel</button>
            <input class="btn btn-primary" name="finnish" type="submit" value="Save & Close" style="margin:10px;" />

        </div>

        <script>
            $('#summernote').summernote({
                placeholder: 'Software  Development',
                //placeholder1: 'Turn-key solutions for every need',
                //placeholder2: 'Get a Quote',
                tabsize: 3,
                height: 100
            });

>>>>>>> Stashed changes
        </script>

</section>
<script>

    $(document).ready(function () {
        $('.summernote').summernote();
    });
    $(".newPost button[data-func]").click(function () {
        document.execCommand($(this).data("func"), false);
    });

    $(".newPost select[data-func]").change(function () {
        var $value = $(this).find(":selected").val();
        document.execCommand($(this).data("func"), false, $value);
    });

    if (typeof Storage !== "undefined") {
        $(".editor").keypress(function () {
            $(this).find(".saved").detach();
        });
        $(".editor").html(localStorage.getItem("wysiwyg"));

        $('button[data-func="save"]').click(function () {
            $content = $(".editor").html();
            localStorage.setItem("wysiwyg", $content);
            $(".editor")
                .append('<span class="saved"><i class="fa fa-check"></i></span>')
                .fadeIn(function () {
                    $(this).find(".saved").fadeOut(500);
                });
        });

        $('button[data-func="clear"]').click(function () {
            $(".editor").html("");
            localStorage.removeItem("wysiwyg");
        });
    }

    
</script>








