@page
@model Olympia.Web.Site.Areas.Engage.Views.Home.IndexModel
@{
}

<section>

    <div class="section-title text-center">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8 col-xl-6">
                    <div class="section-title-block">
                        <h5 class="text-primary-color anim-box-objects line-both-side mrb-15">Engage</h5>

                    </div>
                    <small>With this section you can update the sliding pictures in Homepage</small>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        First Picture
                    </th>
                    <th>
                        Second Picture
                    </th>
                    <th>
                        Third Picture
                    </th>
                    <th>
                        Fourth Picture
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <button class="btn btn-success btn-icon btn-circle" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><i class="fa fa-plus"></i></button>
                        <a class="btn btn-success btn-icon btn-circle" style="padding-right: 10px"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-success btn-icon btn-circle"><i class="fa fa-edit"></i></a>
                        <button type="button" onclick="removeUpload()" class="btn btn-warning btn-icon btn-circle"><i class="fa fa-trash"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-success btn-icon btn-circle" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><i class="fa fa-plus"></i></button>
                        <a class="btn btn-success btn-icon btn-circle" style="padding-right: 10px"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-success btn-icon btn-circle"><i class="fa fa-edit"></i></a>
                        <button type="button" onclick="removeUpload()" class="btn btn-warning btn-icon btn-circle"><i class="fa fa-trash"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-success btn-icon btn-circle" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><i class="fa fa-plus"></i></button>
                        <a class="btn btn-success btn-icon btn-circle" style="padding-right: 10px"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-success btn-icon btn-circle"><i class="fa fa-edit"></i></a>
                        <button type="button" onclick="removeUpload()" class="btn btn-warning btn-icon btn-circle"><i class="fa fa-trash"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-success btn-icon btn-circle" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><i class="fa fa-plus"></i></button>
                        <a class="btn btn-success btn-icon btn-circle" style="padding-right: 10px"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-success btn-icon btn-circle"><i class="fa fa-edit"></i></a>
                        <button type="button" onclick="removeUpload()" class="btn btn-warning btn-icon btn-circle"><i class="fa fa-trash"></i></button>
                    </td>

                    <td>
                    </td>
                </tr>

            </tbody>

        </table>

        <br />
        <br />

        <div class="section-title text-center">
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-lg-8 col-xl-6">

                        <small>Edit Headers that apper with pictures</small>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            First Picture Header Words
                        </th>
                        <th>
                            Second Picture Header Words
                        </th>
                        <th>
                            Third Picture Header Words
                        </th>
                        <th>
                            Fourth Picture Header Words
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <textarea rows="1" placeholder="Messages" class="form-control" label="Type Here"> </textarea>
                        </td>
                        <td>
                            <textarea rows="1" placeholder="Messages" class="form-control" label="Type Here"> </textarea>
                        </td>
                        <td>
                            <textarea rows="1" placeholder="Messages" class="form-control" label="Type Here"> </textarea>
                        </td>
                        <td>
                            <textarea rows="1" placeholder="Messages" class="form-control" label="Type Here"> </textarea>
                        </td>

                        <td>
                        </td>
                    </tr>

                </tbody>

            </table>
            <div class="form-group" style="   position: relative;text-align: center;margin-top:50px;align-content: center;display: flex;justify-content: center;position: relative;-ms-transform: translateY(-50%);transform: translateY(-50%);">
                <input class="btn btn-primary" name="finnish" type="submit" value="Submit" style="margin:10px;" />
                <input class="btn btn-primary" name="main" type="submit" value="Save" style="margin:10px;" />
                <input class="btn btn-primary" name="finnish" type="submit" value="Create" style="margin:10px;" />

                <button class="btn btn-danger" asp-area="Faqs" asp-controller="Home" asp-action="List" style="margin:10px;">Cancel</button>
            </div>

            <div class="card-columns">


            </div>

            <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</section>


