@page
@model Olympia.Web.Site.Areas.Engage.Views.Home.IndexModel
@{
   

}

<!-- Home Slider Start -->
<section class="banner-section">
    <div class="home-carousel owl-theme owl-carousel">
        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/olympiaengage/Slide1.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>What are the benefits</h1>
                            <p>You have nothing to lose and everything to gain. Here’s why Olympia Engage is the performance management system that’s perfect for your business</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/olympiaengage/Slide2.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>What are the benefits</h1>
                            <p>You have nothing to lose and everything to gain. Here’s why Olympia Engage is the performance management system that’s perfect for your business</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" data-background="/images/content/olympiaengage/Slide3.jpg"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-12 col-md-12 content-column">
                        <div class="content-box">
                            <h1>What are the benefits</h1>
                            <p>You have nothing to lose and everything to gain. Here’s why Olympia Engage is the performance management system that’s perfect for your business</p>
                            <div class="btn-box">
                                <a class="cs-btn-one btn-gradient-color">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- Home Slider End -->
<!-- Features Section Start -->
<section class="serivce-section pdt-0 pdb-80 z-index-1 minus-mrt-60 position-relative">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="service-box border-radius-default">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-plan"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <h3>Company Benefits</h3>
                            </div>
                            <div class="para">
                                <p>
                                    Improved Revenue<br />
                                    Greater Employee Retentionv<br />
                                    Increased Customer Satisfaction
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-box border-radius-default">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-meeting"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <h3>Team Benefits</h3>
                            </div>
                            <div class="para">
                                <p>
                                    Optimal Collaboration<br />
                                    Stronger Mentorship<br />
                                    Improved Team Spirit
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-box border-radius-default">
                        <div class="service-icon">
                            <span class="webexflaticon flaticon-growth"></span>
                        </div>
                        <div class="service-content">
                            <div class="title">
                                <h3>Employee Benefits</h3>
                            </div>
                            <div class="para">
                                <p>
                                    Improved Motivation<br />
                                    Maximised Goal Achievement<br />
                                    Enhanced Employee Engagement
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<div class="form-group" style="display: flex; justify-content: center; position: relative; -ms-transform: translateY(-50%); transform: translateY(-50%);bottom:50px;">

    <input class="btn btn-primary " type="button" id="btnpopu" value="Change Word" onclick="ShowPopup1();" style="margin:10px;" />
    <input class="btn btn-primary " type="button" id="btnpopu" value="Upload Picture" onclick="ShowPopup2();" style="margin:10px;" />
    <button class="btn btn-danger" style="margin:10px;">Cancel</button>
    <input class="btn btn-primary" name="finnish" type="submit" value="Submit" style="margin:10px;" />
</div>*@
<!-- Features Section End -->
<!-- About Section Start -->
<section class="about-section anim-object pdb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-xl-12">
                <h2 class="title-under-line mrb-70">Olympia Engage <span class="f-weight-400"> is a </span>Performance Management System <span class="f-weight-400">designed to maximise employee engagement by boosting team participation and morale</span></h2>

                <h5 class="mrb-30 text-primary-color">Trusted Business Consulting Service Provider</h5>
                <p class="mrb-40"><strong>Did you know</strong> that 58% of organisations report that their Performance Management System does not drive employee engagement, while only 20% of employees feel that their Performance Reviews have been beneficial?</p>
            </div>
        </div>
    </div>
    <div class="form-group" style="display: flex; justify-content: center; position: relative; -ms-transform: translateY(-50%); transform: translateY(-50%);top:30px;">

        <input class="btn btn-primary " type="button" id="btnpopu" value="Change Word" onclick="ShowPopup1();" style="margin:10px;" />
        <button class="btn btn-danger" style="margin:10px;">Cancel</button>
        <input class="btn btn-primary" name="finnish" type="submit" value="Submit" style="margin:10px;" />
    </div>
</section>
<!-- About Section End -->
<!-- Project Section Start -->
<section class="bg-silver-light pdt-105 pdb-80" data-background="/images/bg/abs-bg4.png">
    <div class="section-title mrb-30 mrb-md-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <h2 class="mrb-30">What does Olympia Engage include?</h2>
                    <h5 class="mrb-15 text-primary-color sub-title-side-line">Here’s what we offer to create powerful, unstoppable teams and employees…</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="case-study-item mrb-30">
                        <div>
                            <img class="img-full" src="/images/content/olympiaengage/OlympiaLeaderboards.jpg" alt="Olympia Leader boards Image">
                            <div class="p-4">
                                <h4 class="case-study-title">Leaderboards</h4>
                                <h6 class="case-study-category side-line mrb-5">Get in on the action and become a top performer in your team…</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="case-study-item mrb-30">
                        <div>
                            <img class="img-full" src="/images/content/olympiaengage/OlympiaTeams.jpg" alt="Olympia Teams Image">
                            <div class="p-4">
                                <h4 class="case-study-title">Teams</h4>
                                <h6 class="case-study-category side-line mrb-5">Work together to become the top team in the organisation…</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="case-study-item mrb-30">
                        <div>
                            <img class="img-full" src="/images/content/olympiaengage/OlympiaActivities.jpg" alt="Olympia Activities Image">
                            <div class=" p-4">
                                <h4 class="case-study-title">Activities</h4>
                                <h6 class="case-study-category side-line mrb-5">Manage your scheduled and immediate tasks in one place…</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="case-study-item mrb-30">
                        <div>
                            <img class="img-full" src="/images/content/olympiaengage/OlympiaMedia.jpg" alt="Olympia Media Image">
                            <div class=" p-4">
                                <h4 class="case-study-title">Media</h4>
                                <h6 class="case-study-category side-line mrb-5">Share information and motivate teams and users to be their BEST!</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="case-study-item mrb-30">
                        <div>
                            <img class="img-full" src="/images/content/olympiaengage/Olympiacolleague.jpg" alt="Olympia Colleague Image">
                            <div class=" p-4">
                                <h4 class="case-study-title">Colleagues</h4>
                                <h6 class="case-study-category side-line mrb-5">Connect with team members everywhere for easy collaboration…</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="case-study-item mrb-30">
                        <div>
                            <img class="img-full" src="/images/content/olympiaengage/OlympiaAcadamy.jpg" alt="Olympia Acadamy Image">
                            <div class=" p-4">
                                <h4 class="case-study-title">Academy</h4>
                                <h6 class="case-study-category side-line mrb-5">Access ongoing skills development that helps employees be their best…</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" style="display: flex; justify-content: center; position: relative; -ms-transform: translateY(-50%); transform: translateY(-50%);top:30px;">

        <input class="btn btn-primary " type="button" id="btnpopu" value="Change Word" onclick="ShowPopup1();" style="margin:10px;" />
        <input class="btn btn-primary " type="button" id="btnpopu" value="Upload Picture" onclick="ShowPopup2();" style="margin:10px;" />
        <button class="btn btn-danger" style="margin:10px;">Cancel</button>
        <input class="btn btn-primary" name="finnish" type="submit" value="Submit" style="margin:10px;" />
    </div>
</section>
<!-- Project Section End -->
<!-- Divider Section Start -->
<section class="pdt-110 pdb-60" data-background="/images/content/olympiaengage/OlympiaFinancialGrowthBackground.jpg" data-overlay-dark="8">
    <div class="section-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-xl-6">
                    <div class="about-image-block-3 mrr-30 mrb-lg-60">
                        <img class="img-full" src="~/images/content/olympiaengage/OlympiaFinancialGrowth.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-12 col-xl-6">
                    <h5 class="mrb-15 text-white sub-title-side-line">Why Choose Us?</h5>
                    <h2 class="text-white mrb-30">We Help You to Grow <br><span class="f-weight-400">Your Business</span> Quickly</h2>
                    <p class="text-white mrb-60">Distinctively exploit optimal alignments for intuitive. Quickly coordinate business applications through revolutionary cataly technologies rather than development optimal alignments for intuitive.</p>
                    <div class="popup-video-block video-popup" style="padding-top: 100px;">
                        <img class="img-full d-none d-lg-block" src="/images/content/video.jpg" alt="Our video">
                        <a href="https://www.youtube.com/watch?v=ESdc4ruF07c" class="popup-video popup-youtube">
                            <i class="webexflaticon flaticon-play-button-2" aria-hidden="true"></i>
                            <span class="pulse-animation"></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="form-group" style="display: flex; justify-content: center; position: relative; -ms-transform: translateY(-50%); transform: translateY(-50%);top:30px;">

        <input class="btn btn-primary " type="button" id="btnpopu" value="Change Word" onclick="ShowPopup1();" style="margin:10px;" />
        <input class="btn btn-primary " type="button" id="btnpopu" value="Upload Picture" onclick="ShowPopup2();" style="margin:10px;" />
        <button class="btn btn-danger" style="margin:10px;">Cancel</button>
        <input class="btn btn-primary" name="finnish" type="submit" value="Submit" style="margin:10px;" />
    </div>
</section>
<!-- Divider Section End -->
<!-- About Section Start -->
<section class="about-section pdt-165 pdt-lg-100 pdb-100 pdb-sm-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-xl-12">

                <hr />
                <h5 class="mrb-15 text-primary-color sub-title-side-line" style="margin-top: 15px;">Professional Skills</h5>
                <h2 class="mrb-30">We Help You to Grow <br><span class="f-weight-400">Your Business</span> Quickly</h2>
                <p class="mrb-30">Distinctively exploit optimal alignments for intuitive. Quickly coordinate business applications through revolutionary cataly technologies rather than development optimal alignments for intuitive.</p>
                <div class="skills mrb-lg-60">
                    <h3><span class="f-weight-400">We created Olympia Engage to change how Performance Management Systems work. </span></h3>
                    <p class="mrb-40">Olympia Engage is a real time, fully integrated web and mobile performance management system that has been designed to empower business leaders, through the concept of gamification, with the tools that they need to improve employee performance. </p>
                    <h4><span class="f-weight-400">Olympia Engage is easy to use, highly engaging and motivational. It enhances communication while mobilising team participation in their activities.</span></h4>
                    <p class="mrb-40">No matter where your employees are based – whether at the office, on the road, or working from home - Olympia Engage is accessible anywhere. From a computer, a tablet or a phone Olympia Engage keeps your teams connected and constantly driven toward achieving their goals. </p>
                    <p class="mrb-40">The result is improved company-wide performance and business success. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" style="display: flex; justify-content: center; position: relative; -ms-transform: translateY(-50%); transform: translateY(-50%);top:30px;">

        <input class="btn btn-primary " type="button" id="btnpopu" value="Change Word" onclick="ShowPopup1();" style="margin:10px;" />


        <button class="btn btn-danger" style="margin:10px;">Cancel</button>
        <input class="btn btn-primary" name="finnish" type="submit" value="Submit" style="margin:10px;" />
    </div>
</section>





@* Scripts *@

<script type="text/javascript">
    ShowPopup2 = function () {
        window.open('/Services/Home/Index', "PopupWindow", 'width=1000px,height=500px, bottom=20px,left=20px');
    }
    ShowPopup1 = function () {
        window.open('/CaseStudies/Home/Index', "PopupWindow", 'width=1000px,height=500px, bottom=20px,left=20px');
    }
</script>