@{
    ViewData["Title"] = "Olympia Home Page";
}

@Html.PartialAsync("PageTitles/Default")

<!-- Testimonials Section Start -->
<section class="request-a-call-back pdt-110 pdt-sm-50 pdb-110 pdb-lg-70" data-background="images/bg/abs-bg7.png">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="owl-carousel testimonial-items-3col mrb-lg-40">
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>
                        <div class="testimonial-thumb">
                            <img src="http://placehold.it/80x80" alt="">
                        </div>
                        <h4 class="client-name">Aurther Maxwell</h4>
                        <h6 class="client-designation">CEO, Apple Inc.</h6>
                        <div class="testimonial-content">
                            <p class="comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit oluptatibus blanditiis amet optio fugiat nisi est repellendus iusto quis harum laboriosam nostrum unde distinctio</p>
                            <ul class="star-rating">
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-half text-primary-color"></i></li>
                                <li><i class="webex-icon-star-empty text-primary-color"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>
                        <div class="testimonial-thumb">
                            <img src="http://placehold.it/80x80" alt="">
                        </div>
                        <h4 class="client-name">Aurther Maxwell</h4>
                        <h6 class="client-designation">CEO, Apple Inc.</h6>
                        <div class="testimonial-content">
                            <p class="comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit oluptatibus blanditiis amet optio fugiat nisi est repellendus iusto quis harum laboriosam nostrum unde distinctio</p>
                            <ul class="star-rating">
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-half text-primary-color"></i></li>
                                <li><i class="webex-icon-star-empty text-primary-color"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>
                        <div class="testimonial-thumb">
                            <img src="http://placehold.it/80x80" alt="">
                        </div>
                        <h4 class="client-name">Aurther Maxwell</h4>
                        <h6 class="client-designation">CEO, Apple Inc.</h6>
                        <div class="testimonial-content">
                            <p class="comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit oluptatibus blanditiis amet optio fugiat nisi est repellendus iusto quis harum laboriosam nostrum unde distinctio</p>
                            <ul class="star-rating">
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-half text-primary-color"></i></li>
                                <li><i class="webex-icon-star-empty text-primary-color"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>
                        <div class="testimonial-thumb">
                            <img src="http://placehold.it/80x80" alt="">
                        </div>
                        <h4 class="client-name">Aurther Maxwell</h4>
                        <h6 class="client-designation">CEO, Apple Inc.</h6>
                        <div class="testimonial-content">
                            <p class="comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit oluptatibus blanditiis amet optio fugiat nisi est repellendus iusto quis harum laboriosam nostrum unde distinctio</p>
                            <ul class="star-rating">
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-half text-primary-color"></i></li>
                                <li><i class="webex-icon-star-empty text-primary-color"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials Section End -->
<!-- Clients Section Start -->
<section class="pdt-60 pdb-60 bg-silver-light">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel client-items">
                        <div class="client-item">
                            <img src="images/clients/client1.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client2.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client4.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client5.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client1.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Clients Section End -->