@{
    ViewData["Title"] = "Olympia Home Page";
}

@Html.PartialAsync("PageTitles/Default")

<!-- Team Section Start -->
<section class="pdt-105 pdb-80 position-relative z-index-2" data-background="images/bg/abs-bg1.png">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="http://placehold.it/365x385" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Jack Mehoff</a></h4>
                            <h6 class="designation">Engineer</h6>
                            <ul class="social-list vertical-style list-sm">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->
<!-- Divider Section Start -->
<section class="pdt-110 pdb-60" data-background="http://placehold.it/1920x1280" data-overlay-dark="8">
    <div class="section-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-xl-6">
                    <h5 class="mrb-15 text-white sub-title-side-line">Why Choose Us?</h5>
                    <h2 class="text-white mrb-30">We Help You to Grow <br><span class="f-weight-400">Your Business</span> Quickly</h2>
                    <p class="text-white mrb-60">Distinctively exploit optimal alignments for intuitive. Quickly coordinate business applications through revolutionary cataly technologies rather than development optimal alignments for intuitive.</p>
                    <div class="video-popup-left mrb-lg-60">
                        <a class="popup-youtube-left" href="https://www.youtube.com/watch?v=Fvae8nxzVz4"><i class="fas fa-play"></i></a>
                    </div>
                </div>
                <div class="col-md-12 col-xl-6">
                    <div class="about-image-block-3">
                        <img class="img-full" src="http://placehold.it/575x645" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Divider Section End -->
<!-- Pricing Section Start -->
<section class="case-study-section anim-object2 pdt-195">
    <div class="section-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title-left-part mrb-sm-30">
                        <div class="section-left-sub-title mb-20">
                            <h5 class="sub-title text-primary-color">Pricing Area</h5>
                        </div>
                        <h2 class="title">Pricing Plans</h2>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-6">
                    <div class="section-title-right-part">
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos aperiam porro necessitatibus, consequuntur, reiciendis dolore doloribus id repellendus tempora vitae quia voluptas ipsum eligendi hic.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="price-table mrb-30 text-center">
                        <div class="table-header">
                            <h2 class="pricing-plan-name">Basic Plan</h2>
                            <h3 class="price"><span class="price-currency">$</span>8.9<span class="price-duration text-primary-color">/ Per Month</span></h3>
                        </div>
                        <div class="table-content">
                            <ul class="list-items">
                                <li><i class="fa fa-check mrr-10 text-primary-color"></i>Standard Feature</li>
                                <li><i class="fa fa-check mrr-10 text-primary-color"></i>Lifetime free support</li>
                                <li><i class="fa fa-times mrr-10 text-primary-color"></i>Extra features</li>
                                <li><i class="fa fa-check mrr-10 text-primary-color"></i>Upgrate options</li>
                                <li><i class="fa fa-check mrr-10 text-primary-color"></i>Full access</li>
                            </ul>
                        </div>
                        <div class="table-footer">
                            <a href="#" class="cs-btn-one btn-gradient-color">Choose Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="price-table mrb-30 text-center">
                        <div class="table-header">
                            <h2 class="pricing-plan-name">Popular Plan</h2>
                            <h3 class="price"><span class="price-currency">$</span>29.9<span class="price-duration text-primary-color">/ Per Month</span></h3>
                        </div>
                        <div class="table-content">
                            <ul class="list-items">
                                <li><i class="fa fa-check mrr-10 text-primary-color"></i>Standard Feature</li>
                                <li><i class="fa fa-check mrr-10 text-primary-color"></i>Lifetime free support</li>
                                <li><i class="fa fa-times mrr-10 text-primary-color"></i>Extra features</li>
                                <li><i class="fa fa-check mrr-10 text-primary-color"></i>Upgrate options</li>
                                <li><i class="fa fa-check mrr-10 text-primary-color"></i>Full access</li>
                            </ul>
                        </div>
                        <div class="table-footer">
                            <a href="#" class="cs-btn-one btn-gradient-color">Choose Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="price-table mrb-30 text-center">
                        <div class="table-header">
                            <h2 class="pricing-plan-name">Premium Plan</h2>
                            <h3 class="price"><span class="price-currency">$</span>89.9<span class="price-duration text-primary-color">/ Per Month</span></h3>
                        </div>
                        <div class="table-content">
                            <ul class="list-items">
                                <li><i class="fa fa-check mrr-10 text-primary-color"></i>Standard Feature</li>
                                <li><i class="fa fa-check mrr-10 text-primary-color"></i>Lifetime free support</li>
                                <li><i class="fa fa-times mrr-10 text-primary-color"></i>Extra features</li>
                                <li><i class="fa fa-check mrr-10 text-primary-color"></i>Upgrate options</li>
                                <li><i class="fa fa-check mrr-10 text-primary-color"></i>Full access</li>
                            </ul>
                        </div>
                        <div class="table-footer">
                            <a href="#" class="cs-btn-one btn-gradient-color">Choose Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Section End -->
<!-- Testimonials Section Start -->
<section class="request-a-call-back pdt-50 pdt-sm-50 pdb-110 pdb-lg-70" data-background="images/bg/abs-bg7.png">
    <div class="section-title text-center">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-8">
                    <div class="title-box-center">
                        <h5 class="shadow-text">Reviews</h5>
                        <h5 class="sub-title-center text-primary-color line-top-center mrb-30">Testimonials</h5>
                        <h2 class="title">Customers Reviews</h2>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="owl-carousel testimonial-items-3col mrb-lg-40">
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>
                        <div class="testimonial-thumb">
                            <img src="http://placehold.it/80x80" alt="">
                        </div>
                        <h4 class="client-name">Aurther Maxwell</h4>
                        <h6 class="client-designation">CEO, Apple Inc.</h6>
                        <div class="testimonial-content">
                            <p class="comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit oluptatibus blanditiis amet optio fugiat nisi est repellendus iusto quis harum laboriosam nostrum unde distinctio</p>
                            <ul class="star-rating">
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-half text-primary-color"></i></li>
                                <li><i class="webex-icon-star-empty text-primary-color"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>
                        <div class="testimonial-thumb">
                            <img src="http://placehold.it/80x80" alt="">
                        </div>
                        <h4 class="client-name">Aurther Maxwell</h4>
                        <h6 class="client-designation">CEO, Apple Inc.</h6>
                        <div class="testimonial-content">
                            <p class="comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit oluptatibus blanditiis amet optio fugiat nisi est repellendus iusto quis harum laboriosam nostrum unde distinctio</p>
                            <ul class="star-rating">
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-half text-primary-color"></i></li>
                                <li><i class="webex-icon-star-empty text-primary-color"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>
                        <div class="testimonial-thumb">
                            <img src="http://placehold.it/80x80" alt="">
                        </div>
                        <h4 class="client-name">Aurther Maxwell</h4>
                        <h6 class="client-designation">CEO, Apple Inc.</h6>
                        <div class="testimonial-content">
                            <p class="comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit oluptatibus blanditiis amet optio fugiat nisi est repellendus iusto quis harum laboriosam nostrum unde distinctio</p>
                            <ul class="star-rating">
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-half text-primary-color"></i></li>
                                <li><i class="webex-icon-star-empty text-primary-color"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <span class="quote-icon fas fa-quote-right"></span>
                        <div class="testimonial-thumb">
                            <img src="http://placehold.it/80x80" alt="">
                        </div>
                        <h4 class="client-name">Aurther Maxwell</h4>
                        <h6 class="client-designation">CEO, Apple Inc.</h6>
                        <div class="testimonial-content">
                            <p class="comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit oluptatibus blanditiis amet optio fugiat nisi est repellendus iusto quis harum laboriosam nostrum unde distinctio</p>
                            <ul class="star-rating">
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-full text-primary-color"></i></li>
                                <li><i class="webex-icon-star-half text-primary-color"></i></li>
                                <li><i class="webex-icon-star-empty text-primary-color"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials Section End -->
<!-- Clients Section Start -->
<section class="pdt-60 pdb-60 bg-silver-light">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel client-items">
                        <div class="client-item">
                            <img src="images/clients/client1.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client2.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client4.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client5.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client1.png" alt="">
                        </div>
                        <div class="client-item">
                            <img src="images/clients/client6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Clients Section End -->