@{
    ViewData["Title"] = "Olympia Home Page";
}



<!-- Team Section Start -->
<section class="pdt-105 pdb-80 position-relative z-index-2" data-background="/images/bg/abs-bg1.png">
    <h4> Other Branches</h4>
    <div class="section-content">

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-3">

                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="https://envato-shoebox-0.imgix.net/e66c/c82b-4d83-45f4-bfd0-ed9b0592cb0a/670.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1000&s=c61ef942a17fe7346dc45a1f5a6e3d94" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a asp-area="" asp-page="/Index">South Africa</a></h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="https://envato-shoebox-0.imgix.net/46e1/555a-56e8-451e-8789-43d3ab16d3e0/730870.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1000&s=59aa10b5f1323ed721590b083296b056" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="#">USA</a></h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="https://envato-shoebox-0.imgix.net/8eb0/c39c-968e-4f54-85ca-21c96dc7ad67/IMG_1256.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1000&s=4c1256de5c09e7da7b0521517ced3050" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="#">NetherLands</a></h4>

                        </div>
                    </div>
                </div>
                @*<div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="team-block mrb-30">
                            <div class="team-upper-part">
                                <img class="img-full" src="/images/bg/abs-bg1.png" alt="">
                            </div>
                            <div class="team-bottom-part">
                                <h4 class="team-title mrb-5"><a href="page-single-team.html">Other</a></h4>
                                <h6 class="designation">Add</h6>

                            </div>
                        </div>
                    </div>*@

            </div>
        </div>
    </div>
</section>



@*<div class="row ">



    <div class="row">
        <h4 style="        position: relative;
        text-align: center;

        align-content: center;
        padding-top: 80px;
        display: flex;
        justify-content: center;
        position: relative;
       /* top: 50%;*/
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        ">
            Change Locate-us Image
        </h4>

        <br />
        <br>

        <div class="form-group" style="        position: relative;
        text-align: center;

        align-content: center;
        padding-top: 80px;
        display: flex;
        justify-content: center;
        position: relative;
       /* top: 50%;*/
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        ">
            <input class="btn btn-primary" name="finnish" type="submit" value="Upload" style="margin:10px;" />
            <input class="btn btn-primary" name="main" type="submit" value="Save" style="margin:10px;" />
            <input class="btn btn-primary" name="finnish" type="submit" value="Create" style="margin:10px;" />
        
            <button class="btn btn-danger" asp-area="Faqs" asp-controller="Home" asp-action="List" style="margin:10px;">Cancel</button>
        </div>
    </div>

</div>*@

<!-- Team Section End -->
<!-- Divider Section Start -->
<section class="pdt-110 pdb-80" data-background="https://envato-shoebox-0.imgix.net/5261/d267-3438-419c-8f92-9f15a84c2358/_M2_7030.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1000&s=15938bf66a1c94085966d8e9321d5533" data-overlay-dark="8">
    <div class="section-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-16 col-xl-6">
                    <h5 class="mrb-15 text-white sub-title-side-line">Map Section Connected To Fron End</h5>
                    <h2 class="text-white mrb-30">Map Changing</h2>
                    <p class="text-white mrb-60">Map Add Locations For Other Offices.</p>
                    @*<div class="video-popup-left mrb-lg-60">
                            <a class="popup-youtube-left" href="https://www.youtube.com/watch?v=Fvae8nxzVz4"><i class="fas fa-play"></i></a>
                        </div>*@
                </div>
                <div class="form-group" style="        position: relative;
        text-align: center;

        align-content: center;
       /* padding-top: 150px;*/
        display: flex;
        justify-content: center;
        position: relative;
       /* top: 50%;*/
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        ">


                    <input class="btn btn-primary" name="finnish" type="submit" value="Add new location" style="margin:10px;" />
                    <input class="btn btn-primary" name="main" type="submit" value="Save" style="margin:10px;" />

                    <button class="btn btn-danger" asp-area="Faqs" asp-controller="Home" asp-action="List" style="margin:10px;">Cancel</button>
                </div>
                <div class="col-md-12 col-xl-6">
                    <div class="about-image-block-3">
                        <img class="img-full" src="/images/bg/abs-bg1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Divider Section End -->
<!-- Pricing Section Start --
<section class="case-study-section anim-object2 pdt-195">
    <div class="section-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title-left-part mrb-sm-30">
                        
                    </div>
                </div>


                <div class="row ">



                    <div class="row" style="        position: relative;
        text-align: center;

        align-content: center;
        padding-top: 80px;
        display: flex;
        justify-content: center;
        position: relative;
       /* top: 50%;*/
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        ">
                        <h4>
                            Change Locate-us Words
                        </h4>

                        <br />
                        <br>

                        <div class="form-group">
                            <input class="btn btn-primary" name="finnish" type="submit" value="Upload" style="margin:10px;" />
                            <input class="btn btn-primary" name="main" type="submit" value="Save" style="margin:10px;" />
                            @*<input class="btn btn-primary" name="finnish" type="submit" value="Create" style="margin:10px;" />*@
                            @*<a href="javascript:;"  name="finnish"onclick="ShowCreateAnswerModel('@Model.Entity.Id')" class="btn btn-info" style="float: right">Create Answer</a>*@
                            <button class="btn btn-danger" asp-area="Faqs" asp-controller="Home" asp-action="List" style="margin:10px;">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

