@{
    ViewData["Title"] = "Olympia Home Page";
}



<!-- Team Section Start -->
<section class="pdt-105 pdb-80 position-relative z-index-2" data-background="images/bg/abs-bg1.png">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <h4> Other Branches</h4>
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="/images/bg/abs-bg1.png" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">South Africa</a></h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="/images/bg/abs-bg1.png" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">USA</a></h4>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="/images/bg/abs-bg1.png"alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">NetherLands</a></h4>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="team-block mrb-30">
                        <div class="team-upper-part">
                            <img class="img-full" src="/images/bg/abs-bg1.png" alt="">
                        </div>
                        <div class="team-bottom-part">
                            <h4 class="team-title mrb-5"><a href="page-single-team.html">Other</a></h4>
                            <h6 class="designation">Add</h6>
                           
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->
<!-- Divider Section Start -->
<section class="pdt-110 pdb-80" data-background="/images/bg/abs-bg1.png" data-overlay-dark="8">
    <div class="section-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-16 col-xl-6">
                    <h5 class="mrb-15 text-white sub-title-side-line">Map Section Connected To Fron End</h5>
                    <h2 class="text-white mrb-30">Map Changing</h2>
                    <p class="text-white mrb-60">Map Add Locations For Other Offices.</p>
                    <div class="video-popup-left mrb-lg-60">
                        <a class="popup-youtube-left" href="https://www.youtube.com/watch?v=Fvae8nxzVz4"><i class="fas fa-play"></i></a>
                    </div>
                </div>
                <div class="col-md-12 col-xl-6">
                    <div class="about-image-block-3">
                        <img class="img-full" src="/images/bg/abs-bg1.png"alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Divider Section End -->
<!-- Pricing Section Start -->
<section class="case-study-section anim-object2 pdt-195">
    <div class="section-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title-left-part mrb-sm-30">
                        <div class="section-left-sub-title mb-20">
                            <h5 class="sub-title text-primary-color"></h5>
                        </div>
                        <h2 class="title">New Features coming soon</h2>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-6">
                    <div class="section-title-right-part">
                        <p class=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>